Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

rfnoc: Increase Ctrl SeqNum to 8 bits
  host/include/uhd/rfnoc/chdr_types.hpp
  host/lib/rfnoc/chdr_types.cpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/utils/utils_python.hpp
  host/tests/common/chdr_resource/hardcoded_packets.cpp
  host/tests/common/chdr_resource/hardcoded_packets.py
  host/tests/common/chdr_resource/rfnoc_packets_ctrl_mgmt.cpp
  host/tests/common/chdr_resource/rfnoc_packets_ctrl_mgmt.py
  host/tests/ctrlport_endpoint_test.cpp
  host/tests/rfnoc_chdr_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: python API: Expose sleep control op
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Update RFNoC dissectors for 8-bit SeqNum
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
  tools/dissectors/lua/rfnoc.lua
Due: none

fpga: rfnoc: Increase Ctrl SeqNum to 8 bits
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_master.v
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_slave.sv
  fpga/usrp3/lib/rfnoc/core/chdr_to_axis_ctrl.v
  fpga/usrp3/lib/rfnoc/core/rfnoc_axis_ctrl_utils.vh
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils_pkg.sv
  fpga/usrp3/lib/rfnoc/sim/ctrlport_endpoint_tb/ctrlport_endpoint_tb.sv
  fpga/usrp3/sim/rfnoc/PkgCtrlIfaceBfm.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: rfnoc: Increase Ctrl SeqNum to 8 bits
  host/docs/rfnoc/rfnoc_fpga.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: rfnoc: Fix null src sink TB description
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink_all_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Support non-power-of-two SEP buffer sizes
  fpga/usrp3/lib/rfnoc/core/chdr_stream_endpoint.v
  fpga/usrp3/lib/rfnoc/core/chdr_stream_input.v
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
  host/python/uhd/rfnoc_utils/templates/modules/stream_endpoints.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Reclaim byte in SEP input buffer
  fpga/usrp3/lib/rfnoc/core/chdr_stream_input.v
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add sample rate to IQ cal JSON log file name
  host/python/uhd/usrp/cal/iq_dc_compensation.py
  host/python/uhd/utils/uhd_iq_dc_correction.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: disconnect reset from axi_fifo_flop ready path
  fpga/usrp3/lib/fifo/axi_fifo_flop.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update CHANGELOG
  CHANGELOG
Due: none

ci: streaming: generic agent selection by capabilities
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-s175.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-create-pytest-venv.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix compiler warning in db_dbsrx.cpp
  host/lib/usrp/dboard/db_dbsrx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add Ubuntu 26.04 (resolute) build container
  .ci/docker/uhd-builder-ubuntu2604.Dockerfile
  .ci/templates/job-get-latest-uhd-docker.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: upgrade pip before installing python dependencies
  .ci/fpga/templates/job-build-fpga.yml
  .ci/fpga/templates/job-run-testbenches.yml
  .ci/templates/job-rfnoc_modtool-test-testbenches.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/job-uhd-usrp-tests.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
  .ci/templates/steps-rfnoc-block-test.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Replace obsolete pipeline resource
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove `Boost::system` from `UHDConfig.cmake` component list
  host/cmake/Modules/UHDConfig.cmake.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

test: Add spi_core_4000 test
  host/tests/CMakeLists.txt
  host/tests/spi_core_4000_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

extension: Fix set_*x_antenna() and update C++
  host/examples/extension_example/CMakeLists.txt
  host/examples/extension_example/lib/extension_example.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: adapt weekly pipeline
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Enable Ubuntu 26.04
  host/cmake/Modules/UHDBoost.cmake
  host/cmake/Modules/UHDConfig.cmake.in
  host/examples/extension_example/CMakeLists.txt
  host/tests/CMakeLists.txt
  tools/kitchen_sink/CMakeLists.txt
  tools/nirio_programmer/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci/tools: Enable Ubuntu 26.04 build
  .ci/templates/job-get-latest-uhd-docker.yml
  tools/debs/uhd_ubuntu_deb.py
  tools/debs/upload_debs.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Include *.cmake and *.cmake.in detection in changeset analyzer.
  tools/changeset_testlist.yaml
Due: none

ci: don't require inputs for non-mandatory args
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

platform: Move get_page_size so it's shareable
  host/include/uhd/utils/platform.hpp
  host/lib/transport/nirio_link.cpp
  host/lib/transport/nirio_zero_copy.cpp
  host/lib/utils/platform.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add ctrlport endpoints for I2C, UART and high-throughput SPI
  fpga/usrp3/lib/axi/axis_split.v
  fpga/usrp3/lib/control/Makefile.srcs
  fpga/usrp3/lib/control/axis_spi.sv
  fpga/usrp3/lib/control/axis_to_ctrlport.sv
  fpga/usrp3/lib/control/ctrlport_spi_adrv.sv
  fpga/usrp3/lib/control/ctrlport_spi_adrv_pkg.sv
  fpga/usrp3/lib/control/ctrlport_to_axis.sv
  fpga/usrp3/lib/control/ctrlport_to_simple_spi.sv
  fpga/usrp3/lib/control/ctrlport_to_simple_spi_regmap_utils.vh
  fpga/usrp3/lib/control/ctrlport_to_wb_uart.v
  fpga/usrp3/lib/sim/control/ctrlport_spi_adrv_tb/Makefile
  fpga/usrp3/lib/sim/control/ctrlport_spi_adrv_tb/Makefile.srcs
  fpga/usrp3/lib/sim/control/ctrlport_spi_adrv_tb/ctrlport_spi_adrv_all_tb.sv
  fpga/usrp3/lib/sim/control/ctrlport_spi_adrv_tb/ctrlport_spi_adrv_tb.sv
  fpga/usrp3/lib/sim/control/ctrlport_to_ioport2_stream_tb/Makefile
  fpga/usrp3/lib/sim/control/ctrlport_to_ioport2_stream_tb/Makefile.srcs
  fpga/usrp3/lib/sim/control/ctrlport_to_ioport2_stream_tb/ctrlport_to_ioport2_stream_all_tb.sv
  fpga/usrp3/lib/sim/control/ctrlport_to_ioport2_stream_tb/ctrlport_to_ioport2_stream_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add SV wrapper for ctrlport_timer
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_timer.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add scalability to pcie host datapath components
  fpga/usrp3/lib/io_port2/Makefile.srcs
  fpga/usrp3/lib/io_port2/ctrlport_to_ioport2_stream.sv
  fpga/usrp3/lib/io_port2/ioport2_msg_pkg.sv
  fpga/usrp3/lib/io_port2/pcie_lossy_samp_gate.v
  fpga/usrp3/lib/packet_proc/chdr_chunker.v
  fpga/usrp3/lib/packet_proc/chdr_dechunker.v
  fpga/usrp3/lib/rfnoc/xport/Makefile.srcs
  fpga/usrp3/lib/rfnoc/xport/nirio_chdr_adapter.v
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x300/bus_int.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add support for USRP B310
  .ci/fpga/devices/job-build-fpga-b310.yml
  .ci/fpga/templates/job-build-fpga-all.yml
  .ci/templates/job-uhd-devtest-b310.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-rf-tests-b310.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
  host/tests/streaming_performance/setupPCIe.sh
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: pipeline: separate embedded filesystem builds
  .ci/templates/stage-build-uhd-embedded-system-image.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400 add faster ce_clk variant
  fpga/usrp3/top/x400/x4xx.sv
  fpga/usrp3/top/x400/x4xx_core.v
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x420_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: add wideband ddc and duc blocks to default fpga images
  fpga/usrp3/top/x400/x410_CG_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_X4_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_X4_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x420_X4_1000_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_CG_1600_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_1600_rfnoc_image_core.yml
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: dsp: add wideband ddc and duc rfnoc blocks
  host/include/uhd/rfnoc/blocks/ddc.yml
  host/include/uhd/rfnoc/blocks/duc.yml
  host/include/uhd/rfnoc/ddc_block_control.hpp
  host/include/uhd/rfnoc/duc_block_control.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: add Wideband DDC/DUC information to changelog
  CHANGELOG
Due: none
