Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

mpm: rfdc: Enhance converter checks
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

lib: mb_controller: Minor fixes to logging, formatting
  host/include/uhd/rfnoc/mb_controller.hpp
  host/lib/rfnoc/mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix doxygen comments in rfnoc_graph
  host/include/uhd/rfnoc_graph.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: sim: Add 10 GbE with wide CHDR
  fpga/usrp3/top/x400/sim/x4xx_qsfp_wrapper/x4xx_qsfp_wrapper_all_tb.sv
Due: none

fpga: lib: Fix IPv4 CHDR TUSER width
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter.sv
Due: none

mpm: Add support for X440/FBX
  host/docs/usrp_x4xx.dox
  host/lib/ic_reg_maps/CMakeLists.txt
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/usrp/mpmd/mpmd_impl.cpp
  host/lib/usrp/x400/adc_self_calibration.cpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
  mpm/python/tests/run_unit_tests.py
  mpm/python/tests/x440_clock_tests.py
  mpm/python/usrp_mpm/dboard_manager/__init__.py
  mpm/python/usrp_mpm/dboard_manager/fbx.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
  mpm/python/usrp_mpm/periph_manager/common.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_lookup.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_mb_cpld.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_update_cpld.py
  mpm/python/usrp_mpm/rpc_server.py
  mpm/python/x4xx_bist
  mpm/tools/tlv_eeprom/eeprom-pids.c
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Add X440/FBX support
  host/docs/fbx.dox
  host/docs/usrp_x4xx.dox
  host/docs/zbx.dox
  host/include/uhd/features/CMakeLists.txt
  host/include/uhd/features/discoverable_feature.hpp
  host/include/uhd/features/internal_sync_iface.hpp
  host/lib/ic_reg_maps/gen_fbx_regs.py
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/include/uhdlib/usrp/common/x400_rfdc_control.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_constants.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_ctrl.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_expert.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/radio_control_python.hpp
  host/lib/usrp/dboard/CMakeLists.txt
  host/lib/usrp/dboard/fbx/CMakeLists.txt
  host/lib/usrp/dboard/fbx/fbx_ctrl.cpp
  host/lib/usrp/dboard/fbx/fbx_dboard.cpp
  host/lib/usrp/dboard/fbx/fbx_dboard_init.cpp
  host/lib/usrp/dboard/fbx/fbx_expert.cpp
  host/lib/usrp/x400/CMakeLists.txt
  host/lib/usrp/x400/x400_internal_sync.cpp
  host/lib/usrp/x400/x400_internal_sync.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_rfdc_control.cpp
  host/tests/CMakeLists.txt
  host/tests/rfnoc_block_tests/ferrum_radio_block_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! images: add X440 dependencies to manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: add X440 dependencies to manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Fix branches
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
Due: none

utils: Add X4xx ADC threshold query script
  host/utils/x4xx_query_adc_threshold.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Enable publishing to internal server
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/templates/job-package-images.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: x400: Fix DB1 timekeeper strobe
  fpga/usrp3/top/x400/x4xx_core.v
Due: none

host: Add cstdint include to fix gcc-13 compile.
  host/lib/include/uhdlib/utils/compat_check.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Enable X440
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Allow interruption of streaming during overrun handling
  host/lib/include/uhdlib/rfnoc/rfnoc_rx_streamer.hpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: rfnoc: Document RFNoC overrun handling algorithm
  host/include/uhd/rfnoc/radio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Update X440 clock policy
  mpm/python/tests/x440_clock_tests.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_lookup.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

images: bump x4xx fpga images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Optimize clock configuration at init
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

host/docs: Fix link to MSVC Redistributable Package
  host/docs/install.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

python: rfnoc: Add radio_control.get_{ticks,time}_now
  host/lib/rfnoc/radio_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Wrap stream_cmd_t::stream_mode
  host/lib/types/types_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add X440 to default make targets
  fpga/usrp3/top/x400/Makefile
Due: none

python: Add X440 to image builder
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Update X4x0 manual
  fpga/docs/usrp3/build_instructions.md
  host/docs/compat.dox
  host/docs/configuration.dox
  host/docs/mainpage.dox
  host/docs/res/x410_lowres.png
  host/docs/res/x440.png
  host/docs/res/x440_fp_lowres.png
  host/docs/res/x440_front_panel.png
  host/docs/res/x440_lowres.png
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

UBX: Initialize UBX set_tx_freq freq_lo variables to 0.0
  host/lib/usrp/dboard/db_ubx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: add exemptions for x440 python API test
  host/tests/devtest/multi_usrp_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Use device cache for rfnoc_graph::make()
  host/lib/rfnoc/rfnoc_graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: Updated default MCR for X440
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: signal: Add more waveforms to get_continuous_tone()
  host/python/uhd/dsp/signals.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update docker builds to run twice a week
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Make X410 dboard a subpage of the X4xx page
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

python: stream: Overload TxStreamer.recv_async_msg()
  host/lib/stream_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix subdev_spec_t wrapping
  host/lib/usrp/subdev_spec_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Wrap direction_t
  host/lib/types/types_python.hpp
  host/python/uhd/types.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Fix Python warnings in parse_benchmark_rate.py
  host/tests/streaming_performance/parse_benchmark_rate.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Remove internal_temp_sensor
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Add rfdc rate as a sensor to X4xx dboards
  mpm/python/usrp_mpm/dboard_manager/fbx.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/dboard_manager/zbx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml
