Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

cmake: bump min in CMakeRC to work with CMake 4.0
  host/cmake/Modules/CMakeRC.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: update for upcoming Boost 1.88.0
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Check request queue for items before access
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Allow using "Mono Pipeline PR" and "FPGA Pipeline" as source
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Added condition to avoid propagating empty parameters
  .ci/fpga/templates/job-build-fpga-all.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: add reset option for gearboxes
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/common/regmap/common_regs.v
  fpga/usrp3/top/x400/regmap/x410/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/rf/x410/x410_rf_reset_controller.vhd
Due: .ci/uhd-pipeline-pr.yml

mpm: reset ADC & DAC chains after synchronize
  host/lib/ic_reg_maps/gen_x4xx_rfdc_regs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: default to rw regs in get_changed_addrs()
  host/lib/ic_reg_maps/common.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: tx_waveforms: improved comments and help
  host/examples/python/tx_waveforms.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: utils: set fixed dependency versions to avoid breakages
  .ci/utils/requirements.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix escape sequence warnings
  fpga/usrp3/tools/scripts/viv_ip_retarget_subcores.py
  fpga/usrp3/tools/scripts/viv_ip_xci_editor.py
Due: .ci/uhd-pipeline-pr.yml

fpga: tools: Add assert option to synthesis
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml

fpga: lib: Update FFT IP for parallel builds
  fpga/usrp3/lib/ip/xfft_16k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_1k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_2k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_32k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_4k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_64k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_8k_16b/Makefile.inc
Due: .ci/uhd-pipeline-pr.yml

rfnoc: Make e31x the default device for OOT modules
  host/examples/rfnoc-gain/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: re-introduce uhdFpgaArtifactSource parameter for test pipelines
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-rf-tests-pebbles.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/steps-rfnoc-block-test.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: trigger mono pipeline on FPGA changes
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: check the validity of the --target parameter
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix testbenches for OOT modules
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/rfnoc_block_gain_tb.sv
  host/python/uhd/rfnoc_utils/templates/blocktool/rfnoc_block_template_tb.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Restore PkgChdrUtils for compatability
  fpga/usrp3/sim/rfnoc/Makefile.srcs
  fpga/usrp3/sim/rfnoc/PkgChdrUtils.sv
Due: .ci/uhd-pipeline-pr.yml

fpga: lib: Fix pass-through mode in axi_fifo
  fpga/usrp3/lib/fifo/axi_fifo.v
Due: .ci/uhd-pipeline-pr.yml

ci: streamingtest: add timeout to step setup interfaces
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streamingtest: enable verbose logging to interface setup
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: util: b2xx: Extend private init-device function to require SN input
  host/utils/b2xx_fx3_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add initial value to ram_2port
  fpga/usrp3/lib/control/ram_2port.v
  fpga/usrp3/lib/control/ram_2port_impl.vh
Due: .ci/uhd-pipeline-pr.yml

ci: Add modtool tests to FPGA library changes
  tools/changeset_testlist.yaml
Due: none

mpm: xportmgr_udp: Set SNAT rule for outgoing CHDR packets
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest: Use unique agents for x3xx and b2xx devtests
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

deps: Remove BOOST_VERSION checks
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/boost/msgpack_variant.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/boost/string_ref.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

deps: rpclib: Remove dependency on __cplusplus value
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/boost/fusion.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/boost/msgpack_variant.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/boost/optional.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/check_container_size.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/define.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/deque.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/detail/cpp03_define_array.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/detail/cpp03_define_map.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/detail/cpp03_msgpack_tuple.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/list.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/map.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/msgpack_tuple.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/pair.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/set.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/tr1/unordered_map.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/tr1/unordered_set.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/vector.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/cpp_config.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/detail/cpp03_zone.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/fbuffer.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/iterator.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/meta.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/object.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/object_fwd.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/pack.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/sbuffer.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/type.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/unpack.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/versioning.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/vrefbuffer.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/zbuffer.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/zone.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: ZBX: Allow reading top and bottom temperature sensors
  host/docs/zbx.dox
  mpm/python/usrp_mpm/dboard_manager/zbx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: set global pip index by pipeline variable
  .ci/docker/uhd-builder-fedora39.Dockerfile
  .ci/docker/uhd-builder-fedora40.Dockerfile
  .ci/docker/uhd-builder-fedora41.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
  .ci/docker/uhd-builder-ubuntu2404.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py312.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py312.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc oot: Move fpga/ subdir into rfnoc/
  CHANGELOG
  host/cmake/Modules/create_newmod.yml
  host/examples/rfnoc-gain/CMakeLists.txt
  host/examples/rfnoc-gain/README.md
  host/examples/rfnoc-gain/rfnoc/CMakeLists.txt
  host/examples/rfnoc-gain/rfnoc/fpga/gain/CMakeLists.txt
  host/examples/rfnoc-gain/rfnoc/fpga/gain/ip/cmplx_mul/Makefile.inc
  host/examples/rfnoc-gain/rfnoc/fpga/gain/ip/cmplx_mul/cmplx_mul.xci
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/CMakeLists.txt
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/Makefile
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/Makefile.srcs
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/noc_shell_gain.sv
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/rfnoc_block_gain.sv
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/rfnoc_block_gain_all_tb.sv
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/rfnoc_block_gain_tb.sv
  host/python/uhd/rfnoc_utils/image_builder.py
  host/python/uhd/rfnoc_utils/utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

modtool: Add 'log' subcommand
  host/python/uhd/rfnoc_utils/step_executor.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

modtool: Add log statements to 'create' and 'add'
  host/python/uhd/rfnoc_utils/modtool_commands/add.yml
  host/python/uhd/rfnoc_utils/modtool_commands/create.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Add GRC examples dir
  host/examples/rfnoc-gain/gr-rfnoc_gain/examples/grc/.gitignore
  host/examples/rfnoc-gain/gr-rfnoc_gain/examples/grc/rfnoc_rx_gain.grc
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc-gain: Fix bind_oot_file.py in gr-rfnoc_gain
  host/examples/rfnoc-gain/gr-rfnoc_gain/python/rfnoc_gain/bindings/bind_oot_file.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Improve step_executor
  host/python/uhd/rfnoc_utils/step_executor.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Add 'input' and 'fork' commands to StepExecutor
  host/python/uhd/rfnoc_utils/step_executor.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Improve error handling for 'add'
  host/python/uhd/rfnoc_utils/modtool_commands/add.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
