Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

fpga: x400: Use x410_200 image core for x410_100 images
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_100_static_router.hex
Due: none

fpga: x400: Add ifdef to remove QSFP wrappers when unused
  fpga/usrp3/top/x400/x4xx.v
Due: none

fpga: lib: rfnoc: Make RFNoC packet gates removable
  fpga/usrp3/lib/rfnoc/core/chdr_stream_output.v
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_ingress_buff.v
Due: none

fpga: lib: rfnoc: Add resize capability to chdr_stream_endpoint
  fpga/usrp3/lib/rfnoc/core/chdr_stream_endpoint.v
Due: none

fpga: x400: Remove CPU_W parameter
  fpga/usrp3/top/x400/sim/x4xx_qsfp_wrapper/x4xx_qsfp_wrapper_tb.sv
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper.sv
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper_temp.sv
Due: none

rfnoc: Support multiple CHDR widths in RFNoC image builder
  host/include/uhd/rfnoc/core/rfnoc_imagebuilder_args.json
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/templates/modules/chdr_xb_sep_transport.v.mako
  host/python/uhd/imgbuilder/templates/modules/device_transport.v.mako
  host/python/uhd/imgbuilder/templates/modules/rfnoc_block.v.mako
  host/python/uhd/imgbuilder/templates/modules/sep_xb_wires.v.mako
  host/python/uhd/imgbuilder/templates/modules/stream_endpoints.v.mako
  host/python/uhd/imgbuilder/templates/rfnoc_image_core.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Make transport adapter width configurable
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper.sv
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper_temp.sv
Due: none

fpga: lib: rfnoc: Remove redundant packet gate
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_ingress_buff.v
Due: none

fpga: x400: Add support for X4C, C1, and UC variants
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_UC.dts
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.yml
Due: none

fpga: x400: Add 1x64, 2x64, and 1x128 DRAM interconnect
  fpga/usrp3/top/x400/ip/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_1x128_512_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_1x128_512_bd/axi_inter_1x128_512_bd.tcl
  fpga/usrp3/top/x400/ip/axi_inter_1x64_512_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_1x64_512_bd/axi_inter_1x64_512_bd.tcl
  fpga/usrp3/top/x400/ip/axi_inter_2x64_512_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_2x64_512_bd/axi_inter_2x64_512_bd.tcl
  fpga/usrp3/top/x400/x4xx_dram.v
Due: none

mpm: x4xx: Add UC FPGA type
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: tools: Add X410_UC_200 image to X410 package
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: none

fpga: x400: Add CG_200 RFNoC image cores
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_cg_200_static_router.hex
Due: none

fpga: x400: Add X4C_200 RFNoC image cores
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_x4c_200_static_router.hex
Due: none

rfnoc: Fix disconnecting back-edges from graphs
  host/lib/rfnoc/graph.cpp
  host/tests/rfnoc_detailgraph_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Make edge comparison more flexible
  host/include/uhd/rfnoc/graph_edge.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Add X410_UC_200 to manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: add streaming tests for UC_200 bitfile
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/test_raw_udp_streaming.py
  host/tests/pytests/test_streaming.py
  host/tests/pytests/uhd_configs/uhd_dpdk_100GbE_SFP1.conf
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: benchmark_rate improvements
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Remove get_cal_eeprom_spi_node()
  mpm/python/usrp_mpm/dboard_manager/dboard_iface.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: ci: Use different seed for each job attempt
  fpga/.ci/templates/job-build-fpga.yml
Due: none

fpga: Add BUILD_SEED variable
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/n3xx/n3xx_core.v
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x300/bus_int.v
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/global_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_global_regs.v
Due: none

fpga: Additional comment cleanup
  fpga/usrp3/top/x300/x300.v
Due: none

fpga: Delete extra comment line
  fpga/usrp3/top/x300/x300_sfpp_io_core.v
Due: none

mpm: mpmutils: Fix Pylint warning
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Fix argument for uhd_image_loader in E3xx docs
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: ci: Use repeat_fpga_build for pipeline builds
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

ci: increase build timeouts to 90 minutes
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-package-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove Fedora 35 and add Fedora 37
  .ci/docker/uhd-builder-fedora37.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Fix copyright dates in changelog
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix test utilities
  mpm/python/tests/test_utilities.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

test: add delayed streaming start args
  host/tests/streaming_performance/run_benchmark_rate.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: mpmutils: Add parse_multi_device_arg() function
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: Add BUILD_BASE_DIR option to makefiles
  fpga/usrp3/tools/make/diamond_preamble.mak
  fpga/usrp3/tools/make/quartus_preamble.mak
  fpga/usrp3/tools/make/viv_preamble.mak
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

examples: Fix play region in replay_capture.py
  host/examples/python/replay_capture.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Reformat javascript in doc
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
Due: none

MPM: fix GPS lock sensor method name
  mpm/python/usrp_mpm/periph_manager/x4xx_gps_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Demote some de-init DEBUG messages
  host/lib/rfnoc/noc_block_base.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add repeat_fpga_build.py
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none

docs: Fix docstring for get_block_chain()
  host/include/uhd/utils/graph_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
