Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

mpm: e3xx: Fix get_sync_sources() API
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
Due: .ci/oe-x4xx-packages.yml

mpm: PeriphManagerBase: List all sync-related methods
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml

ci: Update commit vcpkg and CMake version
  .ci/docker/uhd-builder-vs2017-v141-x64.Dockerfile
  .ci/docker/uhd-builder-vs2017-v141-x86.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x86.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

tests: Add complex include to resolve build
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix & improve EAL args for DPDK v21.11
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: improve DPDK frame_size error message
  host/lib/transport/udp_dpdk_link.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Add/expose C++ API to reset x300 FW like x300_reset.py
  host/include/uhd/utils/CMakeLists.txt
  host/include/uhd/utils/x300_fw_reset.hpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_eth_mgr.hpp
  host/lib/utils/CMakeLists.txt
  host/lib/utils/x300_fw_reset.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Use PROTOVER and CHDR_W from RFNoC image builder
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e31x/e31x.v
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/e320/e320.v
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/n3xx/dboards/mg/n3xx.v
  fpga/usrp3/top/n3xx/dboards/rh/n3xx.v
  fpga/usrp3/top/n3xx/n3xx_core.v
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x300/bus_int.v
Due: none

fpga: n3xx: Add missing BIST image core headers
  fpga/usrp3/top/n3xx/n300_bist_image_core.v
  fpga/usrp3/top/n3xx/n300_bist_image_core.vh
  fpga/usrp3/top/n3xx/n310_bist_image_core.v
  fpga/usrp3/top/n3xx/n310_bist_image_core.vh
  fpga/usrp3/top/n3xx/n320_bist_image_core.v
  fpga/usrp3/top/n3xx/n320_bist_image_core.vh
Due: none

mpm: x4xx: Fix clock/time source API
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: replay: Add ability to capture and read async info
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/lib/rfnoc/replay_block_control.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: rfnoc: Amend mock nodes with action support
  host/tests/rfnoc_graph_mock_nodes.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: rfnoc: Add new replay block APIs to Python API
  host/lib/rfnoc/replay_block_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Add X4_400 to CI targets default list
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

docs: Move X4x0 GPIO API to be subpage
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

tests: add X410 100GbE tests
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: enable automated streaming tests on X410
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add replay_capture.py
  host/examples/python/CMakeLists.txt
  host/examples/python/replay_capture.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Update all RFNoC images
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.v
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.vh
  fpga/usrp3/top/e31x/e310_static_router.hex
  fpga/usrp3/top/e320/e320_rfnoc_image_core.v
  fpga/usrp3/top/e320/e320_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n300_bist_image_core.v
  fpga/usrp3/top/n3xx/n300_bist_image_core.vh
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n310_bist_image_core.v
  fpga/usrp3/top/n3xx/n310_bist_image_core.vh
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n320_bist_image_core.v
  fpga/usrp3/top/n3xx/n320_bist_image_core.vh
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.vh
  fpga/usrp3/top/x300/x300_rfnoc_image_core.v
  fpga/usrp3/top/x300/x300_rfnoc_image_core.vh
  fpga/usrp3/top/x300/x310_rfnoc_image_core.v
  fpga/usrp3/top/x300/x310_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.vh
Due: none

rfnoc: Remove redundant RFNoC block descriptions
  host/include/uhd/rfnoc/blocks/axi_ram_fifo_2x64.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo_4x64.yml
  host/include/uhd/rfnoc/blocks/radio_1x64.yml
  host/include/uhd/rfnoc/blocks/radio_2x64.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Update image builder to check for deprecated port names
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Make RFNoC device port names consistent
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/core/e310_bsp.yml
  host/include/uhd/rfnoc/core/e320_bsp.yml
  host/include/uhd/rfnoc/core/io_signatures.yml
  host/include/uhd/rfnoc/core/n300_bsp.yml
  host/include/uhd/rfnoc/core/n310_bsp.yml
  host/include/uhd/rfnoc/core/n320_bsp.yml
  host/include/uhd/rfnoc/core/x300_bsp.yml
  host/include/uhd/rfnoc/core/x310_bsp.yml
  host/include/uhd/rfnoc/core/x410_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Update device port names in image core YAML
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.yml
  fpga/usrp3/top/e320/e320_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n300_bist_image_core.yml
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_image_core.yml
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_image_core.yml
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x300_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x310_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.yml
  host/examples/rfnoc-example/icores/x310_rfnoc_image_core.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: uhd_ubuntu_deb: Require --buildpath
  tools/debs/uhd_ubuntu_deb.py
Due: none

docs: add 100GigE documentation
  host/docs/dpdk.dox
  host/docs/transport.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: fix compiler macro ordering
  host/include/uhd/config.h
  host/include/uhd/config.hpp
  host/include/uhd/utils/byteswap.ipp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

config: fix clang fallthrough syntax
  host/include/uhd/config.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: disable x4xx_radio_block_test on macOS
  host/lib/usrp/x400/x400_radio_control.cpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

deps: rpclib: Replace distutils.dir_util with shutil
  host/lib/deps/import_rpclib.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: update git://github.com references to https
  fpga/usrp3/lib/vivado_ipi/axi_dmac/axi_dmac.v
  fpga/usrp3/lib/vivado_ipi/util_axis_fifo/util_axis_fifo.v
  fpga/usrp3/lib/vivado_ipi/util_axis_resize/util_axis_resize.v
  host/cmake/debian/control
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: set dynamic_lookup and flat_namespace
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Use setup from setuptools
  host/utils/setup.py.in
  tools/gr-usrptest/python/setup.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: e320/e31x: Fix lo-lock sensors
  mpm/python/usrp_mpm/dboard_manager/e31x_db.py
  mpm/python/usrp_mpm/dboard_manager/neon.py
Due: .ci/oe-x4xx-packages.yml

dpdk: correct MTU warning message
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix MathJax formulae rendering
  host/docs/Doxyfile.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: build on macOS
  .ci/templates/job-get-latest-uhd-docker.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Add check for SEP with ctrl enabled to rfnoc_image_builder
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: clang-format
  host/lib/usrp/x300/x300_clock_ctrl.cpp
  host/lib/usrp/x300/x300_device_args.hpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_image_loader.cpp
  host/lib/usrp/x300/x300_mb_controller.cpp
  host/lib/usrp/x300/x300_mb_controller.hpp
  host/lib/usrp/x300/x300_mb_eeprom.cpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/lib/usrp/x300/x300_pcie_mgr.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: transport: Check if streamers are connected in send() and recv()
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/tx_streamer_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix block_id::get_tree_root()
  host/lib/rfnoc/block_id.cpp
  host/tests/block_id_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
