Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

rfnoc: Add license checker block controller
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/defaults.hpp
  host/include/uhd/rfnoc/lc_block_control.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/lc_block_control.cpp
  host/lib/rfnoc/lc_block_control_python.hpp
  host/python/pyuhd.cpp
  host/python/uhd/rfnoc.py
  host/tests/CMakeLists.txt
  host/tests/rfnoc_block_tests/lc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Enable blocks with no inputs/outputs
  fpga/usrp3/lib/rfnoc/core/backend_iface.v
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
  host/utils/rfnoc_blocktool/templates/functions.mako
  host/utils/rfnoc_blocktool/templates/noc_shell_template.v.mako
  host/utils/rfnoc_blocktool/templates/rfnoc_block_template.v.mako
  host/utils/rfnoc_blocktool/templates/rfnoc_block_template_tb.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add license checker module
  fpga/usrp3/lib/sec/Makefile.srcs
  fpga/usrp3/lib/sec/license_check.sv
  fpga/usrp3/lib/sim/sec/license_check/Makefile
  fpga/usrp3/lib/sim/sec/license_check/gen_sha256.py
  fpga/usrp3/lib/sim/sec/license_check/license_check_tb.sv
Due: none

utils: License key generator script
  host/utils/gen_license_key.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add cores for SHA256
  fpga/usrp3/lib/sec/Makefile.srcs
  fpga/usrp3/lib/sec/SHA256.md
  fpga/usrp3/lib/sec/sha256.v
  fpga/usrp3/lib/sec/sha256_core.v
  fpga/usrp3/lib/sec/sha256_k_constants.v
  fpga/usrp3/lib/sec/sha256_stream.v
  fpga/usrp3/lib/sec/sha256_w_mem.v
Due: none

fpga: sim: Fix cast in PkgRandom
  fpga/usrp3/sim/packages/PkgRandom.sv
Due: none

fpga: sim: Fix test_status indices in PkgTestExec
  fpga/usrp3/sim/rfnoc/PkgTestExec.sv
Due: none

TEMPORARY: fpga: tools: Allow specifying the BUILD_DIR
  fpga/usrp3/tools/make/viv_preamble.mak
Due: none

rfnoc: Add ofdm.yml
  host/include/uhd/rfnoc/blocks/ofdm.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add OFDM block controller
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/ofdm_block_control.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/ofdm_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

TEMPORARY: fpga: x400: Add FFT blocks to Makefile.x4xx.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

fpga: lib: Add axis_data_if_packetize
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_data_if_packetize.v
Due: none

fpga: rfnoc: Add OFDM block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/axis_ofdm_cyclic_prefix_removal.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/noc_shell_ofdm.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/rfnoc_block_ofdm.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/rfnoc_block_ofdm_tb.sv
Due: none

examples: Add an OFDM Python example
  host/examples/python/CMakeLists.txt
  host/examples/python/ofdm_loopback.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add YAML files for X410 FFT builds
  fpga/usrp3/top/x400/x410_uc_100_fft_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_x4_100_fft_rfnoc_image_core.yml
Due: none

fpga: lib: Add axis_split_bus
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_split_bus.v
Due: none

fpga: lib: Add axis_combine
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_combine.v
Due: none

fpga: ip: Add Xilinx FFT IP for various configurations
  fpga/usrp3/lib/ip/Makefile.inc
  fpga/usrp3/lib/ip/xfft_32k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_32k_16b/xfft_32k_16b.xci
  fpga/usrp3/lib/ip/xfft_4k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_4k_16b/xfft_4k_16b.xci
  fpga/usrp3/lib/ip/xfft_8k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_8k_16b/xfft_8k_16b.xci
Due: none

python: Add OFDM block controller
  host/lib/rfnoc/ofdm_block_control_python.hpp
  host/python/pyuhd.cpp
  host/python/uhd/rfnoc.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add axis_sideband_tuser
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_sideband_tuser.v
Due: none

e320: Ensure consistent sequencing when powering on/off GPSDO
  mpm/python/usrp_mpm/periph_manager/e320_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

e320: Ensure GPSDO is cleanly reset upon radio power-on
  mpm/python/usrp_mpm/periph_manager/e320.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

x300: Add support for reading device DNA
  fpga/usrp3/top/x300/bus_int.v
  host/include/uhd/rfnoc/core/x300_bsp.yml
  host/include/uhd/rfnoc/core/x310_bsp.yml
  host/lib/usrp/x300/x300_defaults.hpp
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/usrp/x300/x300_prop_tree.cpp
  host/lib/usrp/x300/x300_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: Replace Ethernet transport adapter
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/Makefile.srcs
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/constraints/qsfp_10gbe.xdc
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/rfnoc_ta_x4xx_eth.sv
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/rfnoc_ta_x4xx_eth_tb/Makefile
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/rfnoc_ta_x4xx_eth_tb/rfnoc_ta_x4xx_eth_all_tb.sv
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/rfnoc_ta_x4xx_eth_tb/rfnoc_ta_x4xx_eth_tb.sv
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/x4xx_mgt_io_core.sv
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/x4xx_mgt_types.vh
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/x4xx_qsfp_wrapper.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_interface.sv
  fpga/usrp3/tools/utils/testbenches.excludes
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper_temp.sv
  host/include/uhd/rfnoc/transport_adapters/x4xx_eth.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add netlist make flow
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/scripts/viv_secure_synth.tcl
  fpga/usrp3/tools/scripts/viv_utils.tcl
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

fpga/mpm: x4xx: Add device DNA read capability
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_right.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/global_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
  fpga/usrp3/top/x400/x4xx_global_regs.v
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

utils: image builder: Add encrypted secure core support
  host/python/uhd/imgbuilder/builder_config.py
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/templates/Makefile.inc.mako
  host/python/uhd/imgbuilder/templates/modules/secure_image_core_inst.v.mako
  host/python/uhd/imgbuilder/yaml_utils.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add passthru CHDR/DMA transport adapter module
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_chdr_dma/Makefile.srcs
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_chdr_dma/rfnoc_ta_chdr_dma.sv
  host/include/uhd/rfnoc/transport_adapters/chdr_dma.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Add device DNA to prop tree if available
  host/lib/usrp/mpmd/mpmd_prop_tree.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add PPS interface to X410/X440 BSP
  fpga/usrp3/top/x400/x4xx_core.v
  host/include/uhd/rfnoc/core/io_signatures.yml
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: uhd_usrp_probe: Query device DNA
  host/utils/uhd_usrp_probe.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: pybind: Bump min pybind11 version to 2.7 (default on Ubuntu 22)
  host/CMakeLists.txt
  host/lib/CMakeLists.txt
  host/lib/deps/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

CI: Cleanup aquire device via labgrid-client
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add --fpga-dir to repeat_fpga_build
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none
