Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

uhd: Remove all occurences of boost::math::*round()
  host/examples/tx_waveforms.cpp
  host/examples/txrx_loopback_to_file.cpp
  host/lib/convert/convert_with_tables.cpp
  host/lib/include/uhdlib/usrp/common/max287x.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/types/ranges.cpp
  host/lib/usrp/b100/codec_ctrl.cpp
  host/lib/usrp/common/ad9361_driver/ad9361_device.cpp
  host/lib/usrp/cores/dsp_core_utils.cpp
  host/lib/usrp/cores/rx_dsp_core_200.cpp
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/lib/usrp/cores/rx_frontend_core_200.cpp
  host/lib/usrp/cores/rx_frontend_core_3000.cpp
  host/lib/usrp/cores/tx_dsp_core_200.cpp
  host/lib/usrp/cores/tx_dsp_core_3000.cpp
  host/lib/usrp/cores/tx_frontend_core_200.cpp
  host/lib/usrp/dboard/db_dbsrx.cpp
  host/lib/usrp/dboard/db_dbsrx2.cpp
  host/lib/usrp/dboard/db_rfx.cpp
  host/lib/usrp/dboard/db_tvrx2.cpp
  host/lib/usrp/dboard/db_wbx_common.cpp
  host/lib/usrp/dboard/db_wbx_version3.cpp
  host/lib/usrp/dboard/db_wbx_version4.cpp
  host/lib/usrp/dboard/db_xcvr2450.cpp
  host/lib/usrp/dboard/twinrx/twinrx_experts.cpp
  host/lib/usrp/usrp1/codec_ctrl.cpp
  host/lib/usrp/usrp1/io_impl.cpp
  host/lib/usrp/usrp1/usrp1_impl.cpp
  host/lib/usrp/usrp2/clock_ctrl.cpp
  host/lib/usrp/usrp2/dboard_iface.cpp
  host/lib/usrp/usrp2/usrp2_impl.cpp
  host/lib/usrp/x300/x300_clock_ctrl.cpp
  host/lib/usrp/x300/x300_dboard_iface.cpp
  host/tests/gain_group_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove includes of list_of.hpp where appropriate
  host/examples/test_messages.cpp
  host/lib/include/uhdlib/usrp/constrained_device_args.hpp
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/lib/usrp/cores/rx_frontend_core_3000.cpp
  host/lib/usrp/cores/tx_dsp_core_200.cpp
  host/lib/usrp/cores/tx_dsp_core_3000.cpp
  host/lib/usrp/dboard/db_basic_and_lf.cpp
  host/lib/usrp/multi_usrp.cpp
  host/lib/usrp_clock/multi_usrp_clock.cpp
  host/lib/usrp_clock/octoclock/octoclock_eeprom.cpp
  host/tests/addr_test.cpp
  host/tests/buffer_test.cpp
  host/tests/config_parser_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x3xx: Fix x3xx fpga image name
  host/lib/usrp/x300/x300_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix tx frequency tuning in radio loopback
  host/examples/rfnoc_radio_loopback.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: fix finding PkgConfig to work robustly (without CMake warnings)
  host/cmake/Modules/FindLIBUSB.cmake
  host/cmake/Modules/UHDConfig.cmake.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: correctly set and unset any CMAKE_REQUIRED variables
  host/cmake/Modules/FindLIBUSB.cmake
  host/lib/convert/CMakeLists.txt
  host/lib/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: remove redundant include
  host/lib/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

core: remove boost::math in favor of std cmath
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/lib/usrp/cores/rx_frontend_core_3000.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fix typo
  host/include/uhd/types/tune_request.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Add various missing includes
  host/lib/usrp/common/ad936x_manager.cpp
  host/lib/usrp/common/lmx2592.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: Get signal above noise floor when finding optimal gain
  host/utils/usrp_cal_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dbsrx: Fix issue with loop variable
  host/lib/usrp/dboard/db_dbsrx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

b200: Move the B200 radio control core into usrp/b200/
  host/lib/usrp/b200/CMakeLists.txt
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_impl.hpp
  host/lib/usrp/b200/b200_io_impl.cpp
  host/lib/usrp/b200/b200_radio_ctrl_core.cpp
  host/lib/usrp/b200/b200_radio_ctrl_core.hpp
  host/lib/usrp/cores/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix usage of std::abs with template parameters
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: rfnoc: Change reference type for noc_block_base export
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Remove stale information in register map
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/regmap/common_regs.v
Due: none

ci: Add gnuradio gr-ettus to oe builds
  .ci/oe-x4xx-packages.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added -mfpu=neon when on neon architectures
  host/lib/convert/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

n3x0/e3x0: Remove reference to "master FP-GPIO radio"
  host/lib/usrp/dboard/e3xx/e3xx_constants.hpp
  host/lib/usrp/dboard/magnesium/magnesium_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.2-rc1 release
  host/cmake/Modules/UHDVersion.cmake
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cal: Use safe version of set_thread_priority()
  host/utils/usrp_cal_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

test: Fix potential resource leak
  host/tests/isatty_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

N3xx: Fix White Rabbit
  fpga/usrp3/top/n3xx/n3xx_mgt_channel_wrapper.v
Due: none

ci: Refactor installers and add Windows support
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-installer-ubuntu-deb.yml
  .ci/templates/steps-build-uhd-msbuild.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix VS names and use relative for images
  host/CMakeLists.txt
  host/cmake/Modules/UHDPackage.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add static_assert to prevent meta_range_t(0,0)
  host/include/uhd/types/ranges.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/multi_usrp.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
  mpm/lib/mykonos/ad937x_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.2-rc2 release
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: duc: Remove stale references to CORDIC
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/rfnoc_block_duc.v
Due: none

fpga: rfnoc: Fix EOB loss in DUC
  fpga/usrp3/lib/ip/dds_sin_cos_lut_only/dds_sin_cos_lut_only.xci
  fpga/usrp3/lib/rfnoc/Makefile.srcs
  fpga/usrp3/lib/rfnoc/dds_freq_tune_duc.v
  fpga/usrp3/lib/rfnoc/dds_timed.v
  fpga/usrp3/lib/rfnoc/dds_wrapper.v
  fpga/usrp3/lib/rfnoc/sim/dds_timed_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/dds_timed_tb/dds_timed_tb.sv
Due: none

fpga: lib: Clean up and document lib files
  fpga/usrp3/lib/rfnoc/axi_sync.v
  fpga/usrp3/lib/rfnoc/axi_tag_time.v
  fpga/usrp3/lib/rfnoc/dds_freq_tune.v
Due: none

fpga: sim: Add PkgComplex, PkgMath, and PkgRandom
  fpga/usrp3/sim/packages/Makefile.srcs
  fpga/usrp3/sim/packages/PkgComplex.sv
  fpga/usrp3/sim/packages/PkgMath.sv
  fpga/usrp3/sim/packages/PkgRandom.sv
  fpga/usrp3/tools/make/viv_sim_preamble.mak
Due: none

ci: rebuild docker images weekly
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Make implicit typecasts explicit
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Change enum node_type to enum class
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix sc16 to sc12 converter
  fpga/usrp3/lib/vita_200/chdr_16sc_to_12sc.v
Due: none
