Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

ci: remove duplicate type in parameter
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest: removed failing FPGA 'XG' from X310 TWINRX
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Some gcc-15 fixes
  host/include/uhd/features/ref_clk_calibration_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix issues in run_testbenches.py
  fpga/usrp3/tools/utils/run_testbenches.py
Due: .ci/uhd-pipeline-pr.yml

uhd: Add some missing cstdint includes
  host/include/uhd/features/ref_clk_calibration_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: uhd_dump: Remove unused type bool
  tools/uhd_dump/uhd_dump.h
Due: none

host: add semicolon to UHD_SAFE_CALL
  host/include/uhd/utils/safe_call.hpp
  host/lib/include/uhdlib/usrp/common/max287x.hpp
  host/lib/rfnoc/rfnoc_tx_streamer_replay_buffered.cpp
  host/lib/transport/nirio_link.cpp
  host/lib/usrp/b100/fifo_ctrl_excelsior.cpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/cores/rx_dsp_core_200.cpp
  host/lib/usrp/cores/rx_vita_core_3000.cpp
  host/lib/usrp/cores/tx_vita_core_3000.cpp
  host/lib/usrp/dboard/db_xcvr2450.cpp
  host/lib/usrp/dboard_manager.cpp
  host/lib/usrp/usrp1/io_impl.cpp
  host/lib/usrp/usrp2/usrp2_fifo_ctrl.cpp
  host/lib/usrp/usrp2/usrp2_iface.cpp
  host/lib/usrp/x300/x300_adc_ctrl.cpp
  host/lib/usrp/x300/x300_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Remove uhd_dump
  CHANGELOG
  tools/README.md
  tools/uhd_dump/Makefile
  tools/uhd_dump/chdr_log.c
  tools/uhd_dump/uhd_dump.c
  tools/uhd_dump/uhd_dump.h
  tools/uhd_dump/usrp3_regs.h
Due: none

examples: Fix calloc() call in tx_samples_c.c
  host/examples/tx_samples_c.c
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: dpdk: Fix compiler warnings for gcc15
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
  host/tests/dpdk_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add support for Questa
  fpga/usrp3/tools/make/viv_simulator.mak
  fpga/usrp3/tools/scripts/launch_modelsim.sh
  fpga/usrp3/tools/scripts/launch_vcom.sh
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: .ci/uhd-pipeline-pr.yml

fpga: docs: Add Questa to simulation instructions
  fpga/docs/fpga.md
  fpga/docs/usrp3/sim/running_testbenches.md
Due: .ci/uhd-pipeline-pr.yml

fpga: tools: Change -onfinish to final
  fpga/usrp3/tools/scripts/launch_modelsim.sh
Due: .ci/uhd-pipeline-pr.yml

fpga: tools: Disable common simulation warnings
  fpga/usrp3/tools/scripts/modelsim.do
Due: .ci/uhd-pipeline-pr.yml

fpga: rfnoc: Move synthesizable code from sim to lib
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/rfnoc_block_addsub_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_axi_ram_fifo/rfnoc_block_axi_ram_fifo_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/rfnoc_block_ddc_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/rfnoc_block_duc_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/fft_packetize_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/rfnoc_block_fir_filter_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fosphor/rfnoc_block_fosphor_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_keep_one_in_n/rfnoc_block_keep_one_in_n_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/rfnoc_block_license_check_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_logpwr/rfnoc_block_logpwr_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_moving_avg/rfnoc_block_moving_avg_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/rfnoc_block_siggen_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_split_stream/rfnoc_block_split_stream_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_switchboard/rfnoc_block_switchboard_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_vector_iir/rfnoc_block_vector_iir_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_window/rfnoc_block_window_tb.sv
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils_pkg.sv
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn_tb/chdr_crossbar_nxn_tb.sv
  fpga/usrp3/lib/rfnoc/sim/axis_pyld_ctxt_converter_tb/axis_pyld_ctxt_converter_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/chdr_resize_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
  fpga/usrp3/lib/rfnoc/sim/ctrlport_endpoint_tb/ctrlport_endpoint_tb.sv
  fpga/usrp3/lib/rfnoc/sim/eth_ipv4_interface_tb/eth_ipv4_interface_tb.sv
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/rfnoc_ta_x4xx_eth_tb/rfnoc_ta_x4xx_eth_tb.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/eth_ifc_tb.sv
  fpga/usrp3/sim/rfnoc/Makefile.srcs
  fpga/usrp3/sim/rfnoc/PkgAxisCtrlBfm.sv
  fpga/usrp3/sim/rfnoc/PkgChdrBfm.sv
  fpga/usrp3/sim/rfnoc/PkgChdrIfaceBfm.sv
  fpga/usrp3/sim/rfnoc/PkgChdrUtils.sv
  fpga/usrp3/sim/rfnoc/PkgCtrlIfaceBfm.sv
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
  fpga/usrp3/sim/rfnoc/PkgRfnocItemUtils.sv
  fpga/usrp3/sim/rfnoc/test/ChdrIfaceBfm/ChdrIfaceBfm_tb.sv
Due: .ci/uhd-pipeline-pr.yml

host: Increase initial timeout to contain start_time
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: pytest: separate BIST tests
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: bump compat number to 10.0
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_right.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_right.htm
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/common/regmap/common_regs.v
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.sv
Due: .ci/uhd-pipeline-pr.yml

mpm: read ADC/DAC mapping from RFDC memory
  host/lib/ic_reg_maps/gen_x4xx_rfdc_regs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix matrix for X410/X440 FPGA build
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga-all.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: replace ADC/DAC info by RFDC memory
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/common/regmap/common_regs.v
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/regmap/x410_rfdc_regs.v
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/x410_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/regmap/x440_rfdc_regs.v
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/rf/common/axi_rfdc_info_memory.v
  fpga/usrp3/top/x400/rf/common/rfdc_info_memory.sv
  fpga/usrp3/top/x400/rf/common/rfdc_info_pkg.sv
  fpga/usrp3/top/x400/rf/x410/x410_rfdc_memory_content_pkg.sv
  fpga/usrp3/top/x400/rf/x440/x440_rfdc_memory_content_pkg.sv
Due: .ci/uhd-pipeline-pr.yml

mpm: bump FPGA compat number to 10.0
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: apply linting to x4xx_rfdc_regs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: pytest: using sfp0ip environment variable in ats config and devtest
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: apply formatting to base.py
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: fix type error in DB override printout
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: cpld: update projects for new ctrlport modules
  fpga/usrp3/top/x400/cpld/x410/quartus/mb_cpld.qsf
  fpga/usrp3/top/x400/cpld/x440/quartus/mb_cpld.qsf
Due: .ci/uhd-pipeline-pr.yml

fpga: x400: zbx: update projects for new ctrlport modules
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.ldf
  fpga/usrp3/top/x400/dboards/zbx/cpld/quartus/zbx_top_cpld.qsf
Due: .ci/uhd-pipeline-pr.yml

fpga: lib: redirect old ctrlport modules to interface based ones
  fpga/usrp3/lib/rfnoc/core/ctrlport_if.sv
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/ctrlport_clk_cross.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_clk_cross.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_combiner.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_combiner.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_decoder.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_decoder.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_decoder_param.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_decoder_param.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_splitter.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_splitter.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_terminator.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_terminator.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_window.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_window.v
Due: .ci/uhd-pipeline-pr.yml

Add AVX2 support for uhd::convert
  host/lib/convert/CMakeLists.txt
  host/lib/convert/avx2_fc32_to_sc16.cpp
  host/lib/convert/avx2_fc32_to_sc8.cpp
  host/lib/convert/avx2_fc64_to_sc16.cpp
  host/lib/convert/avx2_fc64_to_sc8.cpp
  host/lib/convert/avx2_sc16_to_fc32.cpp
  host/lib/convert/avx2_sc16_to_fc64.cpp
  host/lib/convert/avx2_sc16_to_sc16.cpp
  host/lib/convert/avx2_sc8_to_fc32.cpp
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add back ability to select streaming tests
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x440: bring back TX control remap in RFDC BD
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
Due: .ci/uhd-pipeline-pr.yml

ci: fpga: add FPGA pipeline to execute mono pipeline subset
  .ci/templates/stages-uhd-pipeline.yml
  fpga/.ci/fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: allow FPGA jobs to get cancelled
  .ci/fpga/templates/job-build-fpga.yml
  .ci/fpga/templates/job-build-ip.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add option to skip rule checking, only execute given add tests
  .ci/templates/job-analyze-changeset.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: add option for FPGA compile success rate runs
  .ci/fpga/templates/job-build-fpga.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

viv_utils.tcl: add assertion option
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml

cal: use atomic<bool> to wait until transmitting starts
  host/utils/uhd_cal_rx_iq_balance.cpp
  host/utils/uhd_cal_tx_dc_offset.cpp
  host/utils/uhd_cal_tx_iq_balance.cpp
  host/utils/usrp_cal_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Updating cpld instructions for x4xx
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: add RFNoC block testing to hardware tests
  .ci/fpga/templates/job-build-fpga.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-download-fpga-artifact.yml
  .ci/templates/steps-rfnoc-block-test.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-pipeline-pr.yml
  host/tests/rfnoc_block_tests_on_target/requirements.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
