Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

host: x440: add option for fabric resamplers in bsp
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: add placement constraints
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/constraints/placement/common.xdc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x400: resolving RFDC gearbox issues during start
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x440: add fabric resampling to clock policy
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: x4xx: add notes for dual rate support on X4_200 image
  host/docs/devices/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

image builder: add support for parameters depending on each other
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update CHANGELOG
  CHANGELOG
Due: none

fpga: x440: add fabric resamplers by 3 to 200 MHz variant
  .ci/hwtools/X440/vsmakesettings.py
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/build_x4xx.tcl
  fpga/usrp3/top/x400/constraints/timing/x440_clocks_200.xdc
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/ip/Makefile.inc
  fpga/usrp3/top/x400/ip/fir_dec3_2spc/Makefile.inc
  fpga/usrp3/top/x400/ip/fir_dec3_2spc/fir_dec3_2spc.xci
  fpga/usrp3/top/x400/ip/fir_inp3_1spc/Makefile.inc
  fpga/usrp3/top/x400/ip/fir_inp3_1spc/fir_inp3_1spc.xci
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/README.md
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/rf/200m_x440/Makefile
  fpga/usrp3/top/x400/rf/200m_x440/dac_gearbox_12x4.sv
  fpga/usrp3/top/x400/rf/200m_x440/dac_gearbox_6x4.sv
  fpga/usrp3/top/x400/rf/200m_x440/fir_dec3_2spc_wrapper.sv
  fpga/usrp3/top/x400/rf/200m_x440/fir_inp3_1spc_wrapper.sv
  fpga/usrp3/top/x400/rf/200m_x440/rf_core_200m_x440.sv
  fpga/usrp3/top/x400/rf/200m_x440/rf_core_200m_x440_all_tb.sv
  fpga/usrp3/top/x400/rf/200m_x440/rf_core_200m_x440_tb.sv
  fpga/usrp3/top/x400/rf/200m_x440/rx_dec3.sv
  fpga/usrp3/top/x400/rf/200m_x440/rx_dec3_tb.sv
  fpga/usrp3/top/x400/rf/200m_x440/tx_inp3.sv
  fpga/usrp3/top/x400/rf/200m_x440/tx_inp3_tb.sv
  fpga/usrp3/top/x400/rf/400m/dac_gearbox_6x12.vhd
  fpga/usrp3/top/x400/rf/x440/x440_resampler_reset_controller.vhd
  fpga/usrp3/top/x400/x440_X4_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x4xx.sv
  fpga/usrp3/top/x400/x4xx_bd_modification.tcl
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: fbx: add 200 MHz RF core version check
  mpm/python/usrp_mpm/dboard_manager/fbx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: radio: add TX fixed resampler disable X440_200 rf core
  fpga/usrp3/top/x400/rf/200m_x440/rf_core_200m_x440.sv
  fpga/usrp3/top/x400/x4xx.sv
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Make ref-lock sensor non-sticky
  mpm/python/usrp_mpm/chips/lmk04832.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix linter issues on sample-PLL-related files
  mpm/python/usrp_mpm/chips/lmk04832.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x4xx_bist: nsync_gty: Separately report APLL1 and 2 lock bits
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Improve comments and annotations in clocking code
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Exclude more X4xx-related files from other tests
  tools/changeset_testlist.yaml
Due: none

mpm: x4xx: Add sticky LMK DLD bits back as ref_stable sensor
  host/docs/devices/usrp_x4xx.dox
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove some Boost dependencies
  host/CMakeLists.txt
  host/cmake/Modules/UHDBoost.cmake
  host/cmake/debian/control
  host/lib/CMakeLists.txt
  mpm/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Update linking instructions for client_zero_test
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: Fix exit code on error in uhd_images_downloader
  host/utils/uhd_images_downloader.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Allow resyncing SPLL R-dividers
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix cleanup waterfall memory leak in rx_samples_c
  host/examples/rx_samples_c.c
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Make init clocking sequence more robust
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: Change include to fix boost bind pragma warning
  host/lib/transport/nirio/rpc/rpc_client.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

transport: Include winsock2 for Windows when appropriate
  host/lib/transport/libusb1_base.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: exclude CMake artifacts from Python module install
  host/cmake/Modules/UHDPython.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: x400: Add fail-flag APIs to RFDC control
  host/lib/include/uhdlib/usrp/common/x400_rfdc_control.hpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/x400/x400_rfdc_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fbx/hbx/zbx: Include fail flag in nco_locked sensor
  host/lib/usrp/dboard/fbx/fbx_dboard_init.cpp
  host/lib/usrp/dboard/hbx/hbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/tests/x400_rfdc_control_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: Move find logic into the find_t calls
  host/lib/device.cpp
  host/lib/include/uhdlib/utils/device_filter.hpp
  host/lib/usrp/b100/b100_impl.cpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/mpmd/mpmd_find.cpp
  host/lib/usrp/mpmd/sim_find.cpp
  host/lib/usrp/usrp1/usrp1_impl.cpp
  host/lib/usrp/usrp2/usrp2_impl.cpp
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/tests/CMakeLists.txt
  host/tests/device_filter_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: remove build directory from build info for reproducible builds
  host/cmake/Modules/UHDBuildInfo.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci/tools: Remove Ubuntu 20.04 installer
  .ci/uhd-build-docker-container.yml
  tools/debs/uhd_ubuntu_deb.py
  tools/debs/upload_debs.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use Ubuntu 24.04 builder for source packaging
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: preserves /24 during set IP address
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update meta-ettus-dev branch to scarthgap
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: add executable flags to x4xx_bist
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: bist: fix temp and fan tests for e320, n3xx, x4xx
  mpm/python/e320_bist
  mpm/python/n3xx_bist
  mpm/python/usrp_mpm/bist.py
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: tools: apply clang-format
  mpm/tools/db-dump.c
  mpm/tools/db-id.c
  mpm/tools/db-init.c
  mpm/tools/eeprom-blank.c
  mpm/tools/eeprom-dump.c
  mpm/tools/eeprom-id.c
  mpm/tools/eeprom-init.c
  mpm/tools/eeprom-pids.h
  mpm/tools/eeprom-set-flags.c
  mpm/tools/eeprom.c
  mpm/tools/eeprom.h
  mpm/tools/fan-limits.c
  mpm/tools/tlv_eeprom/crc.c
  mpm/tools/tlv_eeprom/eeprom-dump.c
  mpm/tools/tlv_eeprom/eeprom-id.c
  mpm/tools/tlv_eeprom/eeprom-init.c
  mpm/tools/tlv_eeprom/eeprom-pids.h
  mpm/tools/tlv_eeprom/tlv_eeprom.c
  mpm/tools/tlv_eeprom/tlv_eeprom.h
  mpm/tools/tlv_eeprom/tlv_eeprom_io.c
  mpm/tools/tlv_eeprom/tlv_eeprom_io.h
  mpm/tools/tlv_eeprom/usrp_eeprom.h
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: HwmonTempSensors: fix double listed temp sensors, et. al.
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/sys_utils/sysfs_hwmon.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: tools: Use dts labels for mb, db eeproms
  mpm/tools/CMakeLists.txt
  mpm/tools/eeprom.h
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: sys_utils.i2c_dev: rework, e.g. don't rely on i2c-adapter
  mpm/python/n3xx_bist
  mpm/python/usrp_mpm/dboard_manager/magnesium.py
  mpm/python/usrp_mpm/dboard_manager/rhodium.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/n3xx_periphs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_aux.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/usrp_mpm/sys_utils/i2c_dev.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: gpio: typecast to int before set
  mpm/python/usrp_mpm/sys_utils/gpio_v2_x.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
