Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

mpm: fix override parameter for DB PID
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest/rftest: always release redlocks
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Declare minimum DPDK version as 19.11
  host/cmake/Modules/FindDPDK.cmake
  host/docs/driver_usage/dpdk.dox
  host/lib/include/uhdlib/transport/dpdk/common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: checkout pipeline source commit for analyze stage
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: disable B210 on beauty
  .ci/templates/job-uhd-streaming-tests-beauty.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: add b2xx jobs to weekly pipeline
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: make radio core FIFO output registers optional
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/timed_complex_gain_tb.sv
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/timed_complex_gain_tb_all.sv
  fpga/usrp3/lib/dsp/timed_complex_gain.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
  host/include/uhd/rfnoc/blocks/radio.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: fpga: radio: add output reg to complex gain timestamp FIFO
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/timed_complex_gain_tb.sv
  fpga/usrp3/lib/dsp/timed_complex_gain.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Reworked example and updated documentation
  host/examples/txrx_complex_gain.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: expose X4XX FrontpanelGPIO in periph_manager
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: update documentation of ATR and SPI registers
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/x4xx_gpio_atr.v
  fpga/usrp3/top/x400/x4xx_gpio_spi.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: DioControl: Add support for linear pin mapping
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: gpio: Add argument --offset
  host/examples/gpio.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: correct DIO pin mapping, bump compat number to 10.1
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.sv
  fpga/usrp3/top/x400/x4xx_dio.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: fix GPIO direction signal for PS GPIO source
  fpga/usrp3/top/x400/x4xx.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x410: remove pin mapping in GPIO control
  host/lib/usrp/x400/x400_gpio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Test both PS and MPM GPIO source in x4xx_bist
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx_dio: remove all direction muxes
  fpga/usrp3/top/x400/x4xx_dio.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x410: Fix reading ATR values for radio 1
  host/lib/usrp/x400/x400_gpio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: gpio: fix nr. of loopback bits
  host/examples/gpio.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: spi: remove port mapping from SPI core
  host/lib/include/uhdlib/usrp/cores/gpio_port_mapper.hpp
  host/lib/include/uhdlib/usrp/cores/spi_core_4000.hpp
  host/lib/usrp/cores/spi_core_4000.cpp
  host/lib/usrp/x400/x400_gpio_control.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool add-gr-block: Fix block controller C++ generation
  host/python/uhd/rfnoc_utils/modtool_commands/add-gr-block.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Add unit test support to rfnoc_modtool add
  host/python/uhd/rfnoc_utils/modtool_commands/add.yml
  host/python/uhd/rfnoc_utils/templates/blocktool/template_block_test.cpp.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Added subsection on "UHD Example Programs" to "Getting Started"
  host/docs/01_getting_started.dox
  host/docs/getting_started/gsg_examples.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Create test log artifact for x310 and n3xx rf tests
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix passing CMake arguments on Fedora installer builds
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: add security program command to diamond SVF files
  fpga/usrp3/tools/make/diamond_design_builder.mak
  fpga/usrp3/tools/scripts/diamond_program_security.py
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

multi_usrp: better check bank names in set/get_gpio_attr
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Fix issues around spurious unit tests
  host/cmake/Modules/create_newmod.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fix various formatting and ToC hierarchy issues
  host/docs/devices/usrp2.dox
  host/docs/devices/usrp_x3x0_config.dox
  host/docs/driver_usage/rd_testing.dox
  host/docs/installation/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

cmake: Add MODULE_PATH argument to UHD_ADD_TEST
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc-gain: Preload librfnoc-gain.so for unit tests
  host/examples/rfnoc-gain/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: make is_device_reachable calls async and configurable
  host/docs/driver_usage/configfiles.dox
  host/docs/driver_usage/identification.dox
  host/lib/include/uhdlib/utils/prefs.hpp
  host/lib/usrp/mpmd/mpmd_find.cpp
  host/lib/utils/prefs.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Use a resources file to pass RFNoC OOT source files to Vivado TCL scripts, avoiding ARG_MAX argument list limits.
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/scripts/viv_utils.tcl
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: revert year changes in HTML files
  .ci/hwtools/common.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: rfnoc: reduce FF count in CHDR ingress FIFO
  fpga/usrp3/lib/rfnoc/core/chdr_ingress_fifo.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: pipeline: remove fix version for copy steps
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-msbuild.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

check buffer dtype in send_waveform
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add --include-dir to repeat_fpga_build
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: add dummy connections for front panel GPIO
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.yml
  fpga/usrp3/top/e320/e320_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n300_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x300_HG_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x300_XG_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x310_HG_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x310_XG_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_CG_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_UC_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_X4_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_X4_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_XG_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_CG_1600_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_CG_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_1600_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_400_rfnoc_image_core.yml
  host/tests/rfnoc_block_tests_on_target/x410_fft_block_test.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
