Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

mpm: lmk04832: Move general APIs to base class
  mpm/python/usrp_mpm/chips/lmk04832.py
  mpm/python/usrp_mpm/periph_manager/x4xx_sample_pll.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

MPM: enable Xilinx API for PLL config
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

MPM: Add ability to query enabled state of ADC/DAC blocks
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: rfdc_ctrl: Change latency argument to signed
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: add attempt number to uhd build artifact name on failure
  .ci/templates/job-uhd-build-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: splitup x410 test stage in hardware test dev pipeline
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cpld: Adapt CPLD updater for future X4x0 dboards
  mpm/python/usrp_mpm/periph_manager/x4xx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: lib: Add clock_div module
  fpga/usrp3/lib/control/Makefile.srcs
  fpga/usrp3/lib/control/clock_div.v
Due: none

uhd: x4xx: Refactor ADC self cal
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
  host/lib/usrp/x400/adc_self_calibration.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: x4xx: Add methods to query number of chans, samp rate
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: fix get_product_id in x4xx BIST
  mpm/python/x4xx_bist
  mpm/tools/tlv_eeprom/eeprom-pids.c
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: update switchboard forwarding on property set
  host/lib/rfnoc/switchboard_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Replay buffered TX streamer: Fix gaps in TX
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/axis_replay.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_regs.vh
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/rfnoc_tx_streamer_replay_buffered.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

octoclock: Fix uhd_usrp_probe error
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/utils/octoclock_burn_eeprom.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Mark selected x400_dboard_iface child methods final
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

b200: Fix invalid RF switch positions
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

[feature] добавить приемник USBOWL
  host/lib/usrp/usrp-owl/CMakeLists.txt
  host/lib/usrp/usrp-owl/clock_ctrl.cpp
  host/lib/usrp/usrp-owl/clock_ctrl.hpp
  host/lib/usrp/usrp-owl/codec_ctrl.cpp
  host/lib/usrp/usrp-owl/codec_ctrl.hpp
  host/lib/usrp/usrp-owl/dboard_iface.cpp
  host/lib/usrp/usrp-owl/fw_common.h
  host/lib/usrp/usrp-owl/io_impl.cpp
  host/lib/usrp/usrp-owl/mb_eeprom.cpp
  host/lib/usrp/usrp-owl/n200_image_loader.cpp
  host/lib/usrp/usrp-owl/usrp2_clk_regs.hpp
  host/lib/usrp/usrp-owl/usrp2_fifo_ctrl.cpp
  host/lib/usrp/usrp-owl/usrp2_fifo_ctrl.hpp
  host/lib/usrp/usrp-owl/usrp2_iface.cpp
  host/lib/usrp/usrp-owl/usrp2_iface.hpp
  host/lib/usrp/usrp-owl/usrp2_impl.cpp
  host/lib/usrp/usrp-owl/usrp2_impl.hpp
  host/lib/usrp/usrp-owl/usrp2_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

включить приемник USBOWL
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

добавить регистры для IC
  host/lib/ic_reg_maps/CMakeLists.txt
  host/lib/ic_reg_maps/gen_ad9142a_regs.py
  host/lib/ic_reg_maps/gen_ad9516_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

сменить имя приемника на kintex7sdr
  host/lib/CMakeLists.txt
  host/lib/usrp/CMakeLists.txt
  host/lib/usrp/kintex7sdr/CMakeLists.txt
  host/lib/usrp/kintex7sdr/clock_ctrl.cpp
  host/lib/usrp/kintex7sdr/codec_ctrl.cpp
  host/lib/usrp/kintex7sdr/dboard_iface.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_clk_regs.hpp
  host/lib/usrp/kintex7sdr/kintex7sdr_iface.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_iface.hpp
  host/lib/usrp/kintex7sdr/kintex7sdr_image_loader.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_regs.hpp
  host/lib/usrp/usrp-owl/io_impl.cpp
  host/lib/usrp/usrp-owl/usrp2_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

исправить выравнивание
  host/lib/ic_reg_maps/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

[fix] добавить собственные классы для kintex7sdr
  host/lib/usrp/kintex7sdr/CMakeLists.txt
  host/lib/usrp/kintex7sdr/clock_ctrl.cpp
  host/lib/usrp/kintex7sdr/clock_ctrl.hpp
  host/lib/usrp/kintex7sdr/codec_ctrl.cpp
  host/lib/usrp/kintex7sdr/codec_ctrl.hpp
  host/lib/usrp/kintex7sdr/kintex7sdr_iface.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_iface.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

[fix] добавить зависимость от USRP2
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

удалить неподдерживаемые usrp2
  host/lib/usrp/kintex7sdr/kintex7sdr_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

удалить лишный код, избавиться от предупреждений
  host/lib/usrp/kintex7sdr/clock_ctrl.cpp
  host/lib/usrp/kintex7sdr/codec_ctrl.cpp
  host/lib/usrp/kintex7sdr/dboard_iface.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_clk_regs.hpp
  host/lib/usrp/kintex7sdr/kintex7sdr_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Add MAX_CPU to pool demands
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/job-package-images.yml
  fpga/.ci/templates/job-run-testbenches.yml
Due: none

Обновить kintex7sdr
  host/lib/usrp/kintex7sdr/CMakeLists.txt
  host/lib/usrp/kintex7sdr/io_impl.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_impl.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_impl.hpp
  host/lib/usrp/kintex7sdr/mb_eeprom.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

KINTEX7SDR_CTRL_ID_WAZZUP_DUDE = 'W'
  host/lib/usrp/kintex7sdr/fw_common.h
  host/lib/usrp/kintex7sdr/io_impl.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_iface.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_image_loader.cpp
  host/lib/usrp/kintex7sdr/kintex7sdr_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

[fix] mb_path A
  host/lib/usrp/kintex7sdr/kintex7sdr_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Simplify x4xx_bist nsync_fabric
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: update docker service connection
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-package-src.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: increase win docker image build timeout
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: Rename x410 -> x4xx for common DTS files
  fpga/usrp3/top/x400/.gitignore
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_C1.dts
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_CG.dts
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_UC.dts
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_X1.dts
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_X4.dts
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_X4C.dts
  fpga/usrp3/top/x400/dts/usrp_x410_fpga_XG.dts
  fpga/usrp3/top/x400/dts/x4xx-100gbe-port0.dtsi
  fpga/usrp3/top/x400/dts/x4xx-100gbe-port1.dtsi
  fpga/usrp3/top/x400/dts/x4xx-10gbe-port0-x4.dtsi
  fpga/usrp3/top/x400/dts/x4xx-10gbe-port0.dtsi
  fpga/usrp3/top/x400/dts/x4xx-10gbe-port1-x4.dtsi
  fpga/usrp3/top/x400/dts/x4xx-10gbe-port1.dtsi
  fpga/usrp3/top/x400/dts/x4xx-common.dtsi
  fpga/usrp3/top/x400/dts/x4xx-dma.dtsi
Due: none

test: add proper include
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Update commit vcpkg and CMake version
  .ci/docker/uhd-builder-vs2017-v141-x64.Dockerfile
  .ci/docker/uhd-builder-vs2017-v141-x86.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x86.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

fixup! rfnoc: Enable SEP throttle register
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Add in OpenBSD support to uhd::path_expandvars
  host/lib/utils/pathslib.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Prepare branch for 4.1.0.7 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update to consume correct branch for docker build pipeline
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
