Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

ci: Enable custom CXX flags, enable -Werror
  .ci/templates/steps-build-uhd-make.yml
  .ci/templates/steps-build-uhd-ninja.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Split CI and PR pipelines for mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cal: Use safe version of set_thread_priority()
  host/utils/usrp_cal_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: Get signal above noise floor when finding optimal gain
  host/utils/usrp_cal_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix usage of std::abs with template parameters
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix VS names and use relative for images
  host/CMakeLists.txt
  host/cmake/Modules/UHDPackage.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Refactor installers and add Windows support
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-installer-ubuntu-deb.yml
  .ci/templates/steps-build-uhd-msbuild.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Fix EOB loss in DUC
  fpga/usrp3/lib/ip/dds_sin_cos_lut_only/dds_sin_cos_lut_only.xci
  fpga/usrp3/lib/rfnoc/Makefile.srcs
  fpga/usrp3/lib/rfnoc/dds_freq_tune_duc.v
  fpga/usrp3/lib/rfnoc/dds_timed.v
  fpga/usrp3/lib/rfnoc/dds_wrapper.v
  fpga/usrp3/lib/rfnoc/sim/dds_timed_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/dds_timed_tb/dds_timed_tb.sv
Due: none

fpga: lib: Clean up and document lib files
  fpga/usrp3/lib/rfnoc/axi_sync.v
  fpga/usrp3/lib/rfnoc/axi_tag_time.v
  fpga/usrp3/lib/rfnoc/dds_freq_tune.v
Due: none

ci: enable batch CI
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add custom boost version support
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-make.yml
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

b200: Move the B200 radio control core into usrp/b200/
  host/lib/usrp/b200/CMakeLists.txt
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_impl.hpp
  host/lib/usrp/b200/b200_io_impl.cpp
  host/lib/usrp/b200/b200_radio_ctrl_core.cpp
  host/lib/usrp/b200/b200_radio_ctrl_core.hpp
  host/lib/usrp/cores/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: rfnoc: Change reference type for noc_block_base export
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

n3x0/e3x0: Remove reference to "master FP-GPIO radio"
  host/lib/usrp/dboard/e3xx/e3xx_constants.hpp
  host/lib/usrp/dboard/magnesium/magnesium_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove documentation-only changes from pipeline runs
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: duc: Remove stale references to CORDIC
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/rfnoc_block_duc.v
Due: none

test: Fix potential resource leak
  host/tests/isatty_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dbsrx: Fix issue with loop variable
  host/lib/usrp/dboard/db_dbsrx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Remove stale information in register map
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/regmap/common_regs.v
Due: none

fpga: sim: Add PkgComplex, PkgMath, and PkgRandom
  fpga/usrp3/sim/packages/Makefile.srcs
  fpga/usrp3/sim/packages/PkgComplex.sv
  fpga/usrp3/sim/packages/PkgMath.sv
  fpga/usrp3/sim/packages/PkgRandom.sv
  fpga/usrp3/tools/make/viv_sim_preamble.mak
Due: none

N3xx: Fix White Rabbit
  fpga/usrp3/top/n3xx/n3xx_mgt_channel_wrapper.v
Due: none

lib: rfnoc: Make implicit typecasts explicit
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Expose motherboard regs for debugging
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

lib: rfnoc: Change enum node_type to enum class
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: transport: Initialize _hshake_args_server
  host/lib/transport/nirio/rpc/rpc_client.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

N320: Reduce PLL lock time
  mpm/python/usrp_mpm/dboard_manager/lmk_rh.py
Due: .ci/oe-x4xx-packages.yml

n3xx: Add support for rev 10
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml

python: Add new method bindings to noc_block_base
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Set default part for sim in setupenv.sh
  fpga/usrp3/tools/make/viv_sim_preamble.mak
  fpga/usrp3/top/e31x/setupenv.sh
  fpga/usrp3/top/e320/setupenv.sh
  fpga/usrp3/top/n3xx/setupenv.sh
  fpga/usrp3/top/x300/setupenv.sh
  fpga/usrp3/top/x400/setupenv.sh
Due: none

ci: Add Fedora 34 and remove Fedora 32
  .ci/docker/uhd-builder-fedora34.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add vivado-path to rfnoc_image_builder
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Fix check in link_test
  host/tests/link_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix Xilinx bitfile parser for Python 3
  fpga/usrp3/tools/scripts/xil_bitfile_parser.py
Due: none

rfnoc: duc: Fix frequency range for DUC block
  host/include/uhd/rfnoc/duc_block_control.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Update synchronizer constraint
  fpga/usrp3/top/x300/timing.xdc
Due: none

examples: Show how to use in-tree Verilog header
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain.v
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: tests: Add build-python path to PYTHONPATH
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Add check for libatomic linking requirement
  host/cmake/Modules/UHDAtomics.cmake
  host/lib/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: n3xx: Update synchronizer constraint
  fpga/usrp3/top/n3xx/mb_timing.xdc
Due: none

uhd: Remove Boost version checks for Boost 1.61
  host/lib/utils/paths.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
