Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

fpga: lib: create new URAM and large AXI FIFO
  fpga/usrp3/lib/fifo/Makefile.srcs
  fpga/usrp3/lib/fifo/axi_fifo_large.sv
  fpga/usrp3/lib/fifo/axi_fifo_uram.sv
  fpga/usrp3/lib/sim/fifo/Makefile
  fpga/usrp3/lib/sim/fifo/axi_fifo/Makefile
  fpga/usrp3/lib/sim/fifo/axi_fifo/axi_fifo_tb.sv
  fpga/usrp3/lib/sim/fifo/axi_fifo_large/axi_fifo_large_tb.sv
  fpga/usrp3/lib/sim/fifo/axi_fifo_tb_all.sv
  fpga/usrp3/lib/sim/fifo/axi_fifo_uram/axi_fifo_uram_tb.sv
  fpga/usrp3/tools/utils/testbenches.excludes
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x420: restore default crossbar optimize parameter
  host/include/uhd/rfnoc/core/x420_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: add calculation of URAM instances for Ultrascale devices
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/templates/modules/stream_endpoints.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x420: double CG_1000 image endpoint buffer size
  fpga/usrp3/top/x400/x420_CG_1000_rfnoc_image_core.yml
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: rfnoc: remove deprecated FIFO modules
  fpga/usrp3/lib/rfnoc/Makefile.srcs
  fpga/usrp3/lib/rfnoc/chdr_fifo_large.v
  fpga/usrp3/lib/rfnoc/core/Makefile.srcs
  fpga/usrp3/lib/rfnoc/core/chdr_ingress_fifo.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: gps_ctrl: Remove usage of Boost time methods
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: radio: Add control FIFO size parameter
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/noc_shell_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

modtool: Use localparam for the control FIFO depth
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/ctrlport_modules_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/noc_shell_template.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Expose control FIFO size parameter in radio.yml
  host/include/uhd/rfnoc/blocks/radio.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: nirio: Remove boost::thread usage
  host/lib/include/uhdlib/transport/nirio/niriok_proxy.h
  host/lib/include/uhdlib/transport/nirio/rpc/rpc_client.hpp
  host/lib/include/uhdlib/transport/nirio/rpc/usrprio_rpc_client.hpp
  host/lib/transport/nirio/niriok_proxy.cpp
  host/lib/transport/nirio/rpc/rpc_client.cpp
  host/lib/transport/nirio/rpc/usrprio_rpc_client.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Deprecate set_thread_name() for Boost threads
  host/include/uhd/utils/thread.hpp
  host/lib/utils/CMakeLists.txt
  host/lib/utils/thread.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix DRAM utils reconnect with DDC/DUC
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Extend DPDK config file documentation
  host/docs/driver_usage/dpdk.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: docs: installation: update ubuntu dep "libncurses"
  host/docs/installation/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

x300: Remove Boost time functions
  host/lib/usrp/x300/x300_fw_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

nirio: Remove usage of Boost time functions
  host/lib/transport/nirio/niusrprio_session.cpp
  host/lib/transport/nirio_zero_copy.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x410: fix critical timing path in adc_gearbox
  fpga/usrp3/top/x400/rf/400m/adc_gearbox_8x4.v
  fpga/usrp3/top/x400/rf/sim/tb_adc_gearbox_8x4.vhd
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: rfnoc: Adding two entry cache for CHDR crossbar
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn.sv
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_ingress_buff.v
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_routing_table.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: enable X420 configuration file to run chdr_stream_endpoint_tb
  .ci/hwtools/X420/vsmakesettings.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: adjust chdr stream endpoint testbenches due to changed timing
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add max latency arbitration scheme to axi_mux
  fpga/usrp3/lib/fifo/Makefile.srcs
  fpga/usrp3/lib/fifo/axi_mux.sv
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn.sv
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_routing_table.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: enable printing of all Vivado messages
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

modtool: Use localparam for the control output FIFO depth
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/ctrlport_modules_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/noc_shell_template.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x420: increase radio ctrl fifo size
  fpga/usrp3/top/x400/x420_CG_1000_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x420_X4_1000_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x420_X4_200_rfnoc_image_core.yml
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: radio: Add control output FIFO size parameter
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/noc_shell_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  fpga/usrp3/lib/rfnoc/core/ctrlport_endpoint.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Expose control output FIFO size parameter in radio.yml
  host/include/uhd/rfnoc/blocks/radio.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

modtool: set default value for output FIFO depth
  host/python/uhd/rfnoc_utils/templates/blocktool/noc_shell_template.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: x420: add s175 stage for rf & dev tests
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-s156.yml
  .ci/templates/tests/job-uhd-x420-hardware-tests-s156.yml
  .ci/templates/tests/job-uhd-x420-hardware-tests-s175.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove usage of boost::optional
  CHANGELOG
  host/include/uhd/cal/pwr_cal.hpp
  host/include/uhd/rfnoc/actions.hpp
  host/include/uhd/rfnoc/ddc_block_control.hpp
  host/include/uhd/rfnoc/duc_block_control.hpp
  host/include/uhd/rfnoc/mock_block.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/include/uhd/utils/graph_utils.hpp
  host/include/uhd/utils/log.hpp
  host/include/uhd/utils/msg_task.hpp
  host/lib/cal/cal_python.hpp
  host/lib/cal/pwr_cal.cpp
  host/lib/include/uhdlib/rfnoc/topo_graph.hpp
  host/lib/include/uhdlib/usrp/common/io_service_args.hpp
  host/lib/rfnoc/actions.cpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/ddc_block_control_python.hpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/rfnoc/duc_block_control_python.hpp
  host/lib/rfnoc/link_stream_manager.cpp
  host/lib/rfnoc/register_iface_holder.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_impl.hpp
  host/lib/usrp/b200/b200_io_impl.cpp
  host/lib/usrp/mpmd/mpmd_find.cpp
  host/lib/usrp/mpmd/mpmd_image_loader.cpp
  host/lib/usrp/mpmd/mpmd_impl.hpp
  host/lib/usrp/mpmd/mpmd_mboard_impl.cpp
  host/lib/utils/graph_utils.cpp
  host/lib/utils/log.cpp
  host/lib/utils/tasks.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Remove spurious boost/thread.hpp include
  host/tests/time_spec_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

octoclock: Replace Boost usage with standard C++
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/lib/usrp_clock/octoclock/octoclock_uart.cpp
  host/lib/usrp_clock/octoclock/octoclock_uart.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: debian: Adapt patch to comment format changes
  host/cmake/debian/patches/host-paths-return-uhd-build_info-install_prefix-as-p.patch
  host/cmake/debian/patches/series
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

log: Replace boost::posix_time with std::chrono
  host/include/uhd/utils/log.hpp
  host/include/uhd/utils/log_add.hpp
  host/include/uhd/utils/log_add_impl.hpp
  host/lib/utils/log.cpp
  host/tests/log_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Add missing includes
  host/lib/include/uhdlib/transport/nirio/niriok_proxy.h
  host/lib/usrp/common/admv1420.cpp
  host/lib/usrp/dboard/hbx/hbx_lo_pd.cpp
  host/lib/usrp/dboard/zbx/zbx_lo_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: parameterize osmium duts where possible
  .ci/templates/job-uhd-devtest-x310-obx.yml
  .ci/templates/job-uhd-rf-tests-x310-obx.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: rftest: obx: fix skipped rftest execution
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Enable PR trigger for docs
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix FPGA readme (Doxygen link)
  fpga/README.md
  host/docs/installation/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Adding streaming to general x4xx doc
  host/docs/devices/usrp_x4xx.dox
  host/docs/driver_usage/transport.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
