Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

host: Fix NIPC calculation in ddc/duc
  fpga/usrp3/top/x400/x410_X4_100_rfnoc_image_core.yml
  host/include/uhd/rfnoc/blocks/ddc.yml
  host/include/uhd/rfnoc/blocks/duc.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: b310: cleanup implementation
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Mention B310 in release highlights
  CHANGELOG
Due: none

ci: Integrate SBOM upload stage into mono pipeline stage list
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: hardware dev test: Add sbom upload stage
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: Improve windows docker build speed and stability
  .ci/docker/uhd-builder-vs2022-v143-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py312.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64.Dockerfile
  .ci/docker/uhd-builder-vs2026-v145-x64.Dockerfile
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: Enable support for partial docker pipelines
  .ci/templates/job-get-latest-uhd-docker.yml
  .ci/utils/derive_docker_image_matrix.py
  .ci/utils/tests/test_derive_docker_image_matrix.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Improve pipeline unit test test_derive_docker_image_matrix
  .ci/utils/derive_docker_image_matrix.py
  .ci/utils/tests/inputs/DockerImageNames/DockerImageNames
  .ci/utils/tests/test_derive_docker_image_matrix.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

b300: search for FPGA images if not provided
  host/lib/usrp/b300/b300_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: change demand to super high CPU per thread
  .ci/fpga/templates/job-build-fpga.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: mpmd based uhd_image_loader: fallback to .bin file
  host/lib/usrp/mpmd/mpmd_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: l device only supports "bin" file extension for FPGA
  mpm/python/usrp_mpm/components.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: support new L variants in x4xx_update_cpld
  mpm/python/usrp_mpm/periph_manager/x4xx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: handle bootgen generated .bin files
  mpm/python/usrp_mpm/components.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: tlv_eeprom: added eeprom IDs for X4XX L variants
  mpm/tools/tlv_eeprom/eeprom-pids.c
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: add l variant PIDs
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: print error if loading FPGA bitstream failed
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/sys_utils/CMakeLists.txt
  mpm/python/usrp_mpm/sys_utils/sysfs_fpga_manager.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: tlv_eeprom: print addtl. info in eeprom-id
  mpm/tools/tlv_eeprom/eeprom-id.c
  mpm/tools/tlv_eeprom/eeprom-pids.c
  mpm/tools/tlv_eeprom/eeprom-pids.h
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: add bootgen_wrapper script
  mpm/python/usrp_mpm/CMakeLists.txt
  mpm/python/usrp_mpm/bootgen_wrapper.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: expose customizable_fpga flag
  mpm/python/usrp_mpm/discovery.py
  mpm/python/usrp_mpm/mpmtypes.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x440: add 800 MHz images
  fpga/usrp3/top/x400/x440_CG_800_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_800_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x4xx.sv
  host/include/uhd/rfnoc/core/x440_bsp.yml
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: add clock watch circuit
  fpga/usrp3/lib/control/Makefile.srcs
  fpga/usrp3/lib/control/clocking_watchdog.sv
  fpga/usrp3/lib/sim/control/clocking_watchdog/Makefile
  fpga/usrp3/lib/sim/control/clocking_watchdog/clocking_watchdog_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add 800 MHz X440 images to pipeline builds
  .ci/templates/stages-uhd-pipeline.yml
  fpga/.ci/fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add missing rpc cmds in proto file
  host/lib/usrp/common/mpm_server.proto
  host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_hbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

adrv9032: fix licensing notices
  host/lib/usrp/common/adrv903x_driver/LICENSE.pdf
  host/lib/usrp/common/adrv903x_driver/LICENSE.txt
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/private/include/adrv903x_cpu.h
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/private/include/adrv903x_platform_byte_order.h
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/private/src/adrv903x_cpu.c
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/include/adi_adrv903x_cals.h
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/include/adi_adrv903x_cpu.h
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/include/adi_adrv903x_radioctrl.h
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/include/adi_adrv903x_rx.h
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/include/adi_adrv903x_tx.h
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/src/adi_adrv903x_cals.c
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/src/adi_adrv903x_cpu.c
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/src/adi_adrv903x_radioctrl.c
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/src/adi_adrv903x_rx.c
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/src/adi_adrv903x_tx.c
  host/lib/usrp/common/adrv903x_driver/devices/adrv903x/public/src/adi_adrv903x_utilities.c
  host/lib/usrp/common/adrv903x_driver/platforms/adi_platform.c
  host/lib/usrp/common/adrv903x_driver/platforms/adi_platform_impl_types.h
  host/lib/usrp/common/adrv903x_driver/platforms/adi_platform_types.h
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add simulator install locations
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fpga: Update simulator install location
  host/docs/fpga/usrp3/build_instructions.md
  host/docs/fpga/usrp3/sim/running_testbenches.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: Ensure constant initial phase of dds phase accumulator between bursts
  fpga/usrp3/lib/rfnoc/dds_ms.sv
  fpga/usrp3/lib/rfnoc/sim/dds_ms_tb/dds_ms_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Fix double driver in clocking_watchdog_tb
  fpga/usrp3/lib/sim/control/clocking_watchdog/clocking_watchdog_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: b300: update jesd signal naming
  fpga/usrp3/top/b300/b310.sv
  fpga/usrp3/top/b300/netlists/b310_jesd204b.edf
  fpga/usrp3/top/b300/netlists/b310_jesd204b.vhd
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: b310: removed unused revision reg
  fpga/usrp3/top/b300/core/basic_regs.sv
  fpga/usrp3/top/b300/doc/B310_FPGA.htm
  fpga/usrp3/top/b300/regmap/basic_regs_regmap_utils.vh
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cores: restrict spi_core_adrv build for b300
  host/lib/usrp/cores/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: duc: only include TS in first packet of burst
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/rfnoc_block_duc_ms/rfnoc_block_duc_ms_channel.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/rfnoc_block_duc_ms/rfnoc_block_duc_ms_tb.sv
  fpga/usrp3/lib/sim/rfnoc/axi_rate_change/ms/axi_rate_change_ms_all_tb.sv
  fpga/usrp3/lib/sim/rfnoc/axi_rate_change/ms/axi_rate_change_ms_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: add TS-on-first-only option to axi_rate_change_ms
  fpga/usrp3/lib/rfnoc/axi_rate_change_ms.sv
  fpga/usrp3/lib/sim/rfnoc/axi_rate_change/ms/axi_rate_change_ms_all_tb.sv
  fpga/usrp3/lib/sim/rfnoc/axi_rate_change/ms/axi_rate_change_ms_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: Revert docker build improvements
  .ci/docker/uhd-builder-vs2022-v143-x64.Dockerfile
  .ci/docker/uhd-builder-vs2026-v145-x64.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Prepare for 4.11.0.0 RC1
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/libuhd4.11.0.install
  host/cmake/debian/rules
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Add licenses for b310 sources
  host/cmake/debian/copyright
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: b310: add CPLD jtag constraints
  fpga/usrp3/top/b300/constraints/timing.xdc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: b310: update jtag prescalar
  fpga/usrp3/top/b300/core/b310_core.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: move ctrlport_to_jtag to lib sirectory
  .ci/hwtools/X410/vsmakesettings.py
  fpga/usrp3/lib/control/Makefile.srcs
  fpga/usrp3/lib/control/ctrlport_to_jtag.v
  fpga/usrp3/lib/control/jtag_regmap_utils.vh
  fpga/usrp3/top/b300/Makefile.b310.inc
  fpga/usrp3/top/x400/cpld/x410/quartus/mb_cpld.qsf
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
