Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

mpm: apply ni-python-styleguide fix to *_bist
  mpm/python/e320_bist
  mpm/python/n3xx_bist
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: refactor thermal/fan sensor handling with unified hwmon/sysfs abstraction
  mpm/python/usrp_mpm/dboard_manager/fbx.py
  mpm/python/usrp_mpm/dboard_manager/hbx.py
  mpm/python/usrp_mpm/dboard_manager/zbx.py
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/usrp_mpm/sys_utils/sysfs_hwmon.py
  mpm/python/usrp_mpm/sys_utils/sysfs_thermal.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: rfnoc: Update use of data in AXIS-Ctrl
  host/docs/rfnoc/rfnoc_fpga.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

tools: Support block control ops in LUA RFNoC dissector
  tools/dissectors/lua/rfnoc.lua
Due: none

fpga: rfnoc: Support remaining AXIS-Ctrl opcodes
  fpga/usrp3/lib/rfnoc/core/Makefile.srcs
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_master.v
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_slave.sv
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_slave.v
  fpga/usrp3/lib/rfnoc/core/chdr_to_axis_ctrl.v
  fpga/usrp3/lib/rfnoc/core/ctrlport_endpoint.v
  fpga/usrp3/lib/rfnoc/core/rfnoc_axis_ctrl_utils.vh
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils_pkg.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/chdr_resize_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
  fpga/usrp3/lib/rfnoc/sim/ctrlport_endpoint_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/ctrlport_endpoint_tb/ctrlport_endpoint_tb.sv
  fpga/usrp3/sim/rfnoc/PkgChdrUtils.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Update C++ version for RFNoC dissector
  tools/dissectors/epan/rfnoc/CMakeLists.txt
Due: none

rfnoc: Bump RFNoC version to 2.0
  host/include/uhd/rfnoc/constants.hpp
  host/python/uhd/rfnoc_utils/common.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Update block testbenches to use block/burst ctrl
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/rfnoc_block_fir_filter_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Ensure ctrlport responses come in expected order
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Add block and burst support to CtrlBfm
  fpga/usrp3/sim/rfnoc/PkgCtrlIfaceBfm.sv
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Fix chdr_traffic_source in Questa
  fpga/usrp3/lib/rfnoc/crossbar/crossbar_tb/chdr_traffic_source_sim.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Check endianness with CMake
  tools/dissectors/CMakeLists.txt
Due: none

tools: Support block control ops in C++ RFNoC dissector
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
Due: none

fpga: sim: Add to DESIGN_SRCS rather than replace
  fpga/usrp3/export/x300/radio/Makefile
  fpga/usrp3/lib/axi4s_sv/axi4s_add_bytes_tb/Makefile
  fpga/usrp3/lib/axi4s_sv/axi4s_remove_bytes_tb/Makefile
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn_tb/Makefile
  fpga/usrp3/lib/rfnoc/crossbar/crossbar_tb/Makefile
  fpga/usrp3/lib/rfnoc/crossbar/crossbar_tb/axis_ctrl_crossbar_nxn_tb/Makefile
  fpga/usrp3/lib/rfnoc/crossbar/crossbar_tb/chdr_crossbar_nxn_tb/Makefile
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/Makefile
  fpga/usrp3/lib/sim/axi/axis_shift_register/Makefile
  fpga/usrp3/lib/sim/axi_packet_gate/Makefile
  fpga/usrp3/lib/sim/dsp/mult_add_clip/Makefile
  fpga/usrp3/lib/sim/dsp/variable_delay_line/Makefile
  fpga/usrp3/lib/sim/fifo/Makefile
  fpga/usrp3/lib/sim/io_cap_gen/cap_pattern_verifier/Makefile
  fpga/usrp3/top/e31x/sim/dram_test/Makefile
  fpga/usrp3/top/e31x/sim/e310_io_tb/Makefile
  fpga/usrp3/top/n3xx/sim/arm_to_sfp_loopback/Makefile
  fpga/usrp3/top/n3xx/sim/aurora_loopback/Makefile
  fpga/usrp3/top/n3xx/sim/dram_fifo/Makefile
  fpga/usrp3/top/n3xx/sim/dram_fifo_bist/Makefile
  fpga/usrp3/top/n3xx/sim/one_gig_eth_loopback/Makefile
  fpga/usrp3/top/n3xx/sim/ten_gig_eth_loopback/Makefile
  fpga/usrp3/top/x300/sim/aurora_loopback/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo_bist/Makefile
  fpga/usrp3/top/x300/sim/x300_pcie_int/Makefile
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/Makefile
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Support remaining control opcodes
  host/include/uhd/rfnoc/chdr_types.hpp
  host/include/uhd/rfnoc/mock_block.hpp
  host/include/uhd/rfnoc/multichan_register_iface.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/include/uhd/utils/chdr/chdr_packet.ipp
  host/lib/include/uhdlib/rfnoc/chdr_packet_writer.hpp
  host/lib/rfnoc/chdr_types.cpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/register_iface_holder.cpp
  host/lib/rfnoc/rfnoc_python.hpp
  host/lib/utils/utils_python.hpp
  host/tests/common/chdr_resource/hardcoded_packets.cpp
  host/tests/common/chdr_resource/hardcoded_packets.py
  host/tests/common/chdr_resource/rfnoc_packets_ctrl_mgmt.cpp
  host/tests/common/chdr_resource/rfnoc_packets_ctrl_mgmt.py
  host/tests/ctrlport_endpoint_test.cpp
  host/tests/rfnoc_chdr_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Display versions when there's a mismatch
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: rfnoc: Clarify RemDstPort and RemDstEPID usage
  host/docs/rfnoc/rfnoc_fpga.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

tests: Make RFNoC RSSI prop test log-level independent
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: remove synth target
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/make/viv_preamble.mak
  fpga/usrp3/tools/scripts/viv_synth.tcl
  fpga/usrp3/tools/scripts/viv_utils.tcl
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e31x/build_e31x.tcl
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/e320/build_e320.tcl
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/n3xx/build_n3xx.tcl
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x300/build_x300.tcl
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/build_x4xx.tcl
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: hbx: Use burst_poke for IQ coefficients
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_expert.hpp
  host/lib/usrp/dboard/hbx/hbx_dboard_init.cpp
  host/lib/usrp/dboard/hbx/hbx_expert.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: cal: Use burst_poke to write IQ coeffs
  host/python/uhd/usrp/cal/iq_dc_compensation.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fix bug which overwrites the most significant word with zeros from the cache. Fix makes behaviour consistent with lines 154-156.
  fpga/usrp3/lib/rfnoc/utils/ctrlport_reg_rw.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix line endings
  host/examples/python/rfnoc_rx_replay_samples_to_file.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: examples: correct port configuration in one example
  host/examples/python/rfnoc_rx_replay_samples_to_file.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: hbx: add support for fabric resamplers
  mpm/python/usrp_mpm/dboard_manager/hbx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add X420_XX_400 bitfiles to pipeline
  .ci/templates/stages-uhd-pipeline.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x420: add 400 MHz variant
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/constraints/timing/x420_clocks_400.xdc
  fpga/usrp3/top/x400/x420_CG_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x420_X4_400_rfnoc_image_core.yml
  host/include/uhd/rfnoc/core/x420_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Enable parallel initialization
  host/docs/devices/usrp_x4xx.dox
  host/lib/usrp/mpmd/mpmd_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: tag per-mboard logs with indexed logger IDs
  host/lib/usrp/mpmd/mpmd_impl.cpp
  host/lib/usrp/mpmd/mpmd_impl.hpp
  host/lib/usrp/mpmd/mpmd_mboard_impl.cpp
  host/lib/usrp/mpmd/mpmd_prop_tree.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: propagate mb_idx to dependent classes and update per-board logging
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.hpp
  host/lib/usrp/mpmd/mpmd_mboard_impl.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_mock.hpp
  host/tests/rfnoc_block_tests/hbx_radio_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: autogenerate rfdc_timing_regmap
  fpga/usrp3/top/x400/regmap/rfdc_timing_regmap_utils.vh
  fpga/usrp3/top/x400/rfdc_timing_control.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Temporarily drop default init_threads to 1
  host/lib/usrp/mpmd/mpmd_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x4xx: Improve docs on external clocking
  host/docs/devices/octoclock.dox
  host/docs/devices/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: lib: rfnoc: Don't clear cache until safe
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_ingress_buff.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: optimize CHDR crossbar for area
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add gRPC build and CI integration
  .ci/docker/uhd-builder-fedora42.Dockerfile
  .ci/docker/uhd-builder-fedora43.Dockerfile
  .ci/docker/uhd-builder-fedora44.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
  .ci/docker/uhd-builder-ubuntu2404.Dockerfile
  .ci/docker/uhd-builder-ubuntu2510.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py312.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py312.Dockerfile
  .ci/docker/vcpkg/vcpkg-vs2026.json
  .ci/docker/vcpkg/vcpkg.json
  .ci/templates/job-uhd-usrp-tests-uhdlvtest.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: temporary disable MPMD for macOS homebrew build
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: remove critical path from destination cache
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_ingress_buff.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
