Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline.yml: any of: host, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.1 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Fix DBSRX support on USRP1
  host/lib/usrp/dboard/db_dbsrx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Replace boost::thread::id with std::thread::id
  host/include/uhd/utils/log.hpp
  host/lib/rfnoc/chdr_ctrl_endpoint.cpp
  host/lib/utils/log.cpp
  host/lib/utils/log_c.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

lib: Add various missing includes
  host/lib/usrp/common/ad936x_manager.cpp
  host/lib/usrp/common/lmx2592.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

host: Add static_assert to prevent meta_range_t(0,0)
  host/include/uhd/types/ranges.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/multi_usrp.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
  mpm/lib/mykonos/ad937x_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: fix block id check to allow underscore
  host/include/uhd/rfnoc/constants.hpp
  host/tests/block_id_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Fix typo in ZBX Block Diagram
  host/docs/res/ZBX_simplified_blockdiagram.svg
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: enable batch CI
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Split CI and PR pipelines for mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

utils: Get signal above noise floor when finding optimal gain
  host/utils/usrp_cal_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: allow find_blocks to search by device number or block count.
  host/include/uhd/rfnoc/constants.hpp
  host/lib/rfnoc/block_id.cpp
  host/tests/block_id_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

dbsrx: Fix issue with loop variable
  host/lib/usrp/dboard/db_dbsrx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

b200: Move the B200 radio control core into usrp/b200/
  host/lib/usrp/b200/CMakeLists.txt
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_impl.hpp
  host/lib/usrp/b200/b200_io_impl.cpp
  host/lib/usrp/b200/b200_radio_ctrl_core.cpp
  host/lib/usrp/b200/b200_radio_ctrl_core.hpp
  host/lib/usrp/cores/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Working around a modelsim PE bug
  fpga/usrp3/lib/axi4s_sv/axi4s_width_conv.sv
Due: none

uhd: Update version, manifest, and changelogs
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Remove documentation-only changes from pipeline runs
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Add custom boost version support
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-make.yml
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

uhd: Fix usage of std::abs with template parameters
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: rfnoc: Change reference type for noc_block_base export
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

another modelsim pe workaround
  fpga/usrp3/lib/axi4s_sv/axi4s_fifo.sv
Due: none

ci: Update template to use checkout_meta_ettus
  .ci/oe-for-host.yml
  .ci/oe-x4xx-packages.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: Update recommended HDL header guideline
  fpga/CODING.md
Due: none

fpga: lib: Update register comments in eth_regs.vh
  fpga/usrp3/lib/rfnoc/xport_sv/eth_regs.vh
Due: none

fpga: sim: Add slave_idle() to PkgAxiStreamBfm.sv
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: none

usrp2: Fix Boost headers
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: tests: Add lib/ to library load path
  mpm/python/tests/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml

uhd: Add missing channel parameter when reading power ref keys
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

usrp2: Apply minor cleanups to Boost usage in usrp2
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Fix python3-ruamel.yaml name on RPM based OS
  host/docs/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Fix typos
  host/include/uhd/property_tree.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

usrp2: Replace boost::math::iround/math::sign with std::lround
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

usrp2: Use explicit template type for std::min<T>
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

x3xx: Improve image loader
  host/lib/usrp/x300/x300_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

transport: Fix compiler warning in nirio_link
  host/lib/transport/nirio_link.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Use chain's block channel to get power ref keys
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cal: add more error number for ADC overload
  host/python/uhd/usrp/cal/ni_rf_instr.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cal: Remove silent capture of TypeError
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cal: ensure proper range handling
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

b200: temporary change to remove stream restart after overflow
  host/lib/usrp/b200/b200_io_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

b200: flush receive buffer after getting an overflow
  host/lib/usrp/b200/b200_io_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml
