Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

e3xx: add support for power calibration api
  host/docs/usrp_e3xx.dox
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.cpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_init.cpp
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: add x310 raw udp tests
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/test_raw_udp_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

FPGA: Fix overflows in DDC
  fpga/usrp3/lib/rfnoc/ddc.v
Due: none

FPGA: Restore FIR filter in rx_frontend_gen3
  fpga/usrp3/lib/control/fe_control.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rx_frontend_gen3.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rx_frontend_gen3_tb/rx_frontend_gen3_tb.sv
  fpga/usrp3/top/n3xx/n3xx_db_fe_core.v
  fpga/usrp3/top/x300/x300_core.v
  host/docs/res/twinrx_alias.png
  host/docs/twinrx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

FPGA: Fix warnings in dds_freq_tune module
  fpga/usrp3/lib/rfnoc/dds_freq_tune.v
Due: none

fpga: Update copyright
  fpga/usrp3/lib/control/fe_control.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rx_frontend_gen3.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rx_frontend_gen3_tb/rx_frontend_gen3_tb.sv
  fpga/usrp3/lib/rfnoc/ddc.v
  fpga/usrp3/top/n3xx/n3xx_db_fe_core.v
  fpga/usrp3/top/x300/x300_core.v
Due: none

Prepare branch for 4.4.0.0 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/libuhd4.4.0.install
  host/cmake/debian/rules
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Fix checksum for X410 FPGA image
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

minor doc fix, '-a' is outdated, should be '--args'
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

UHD 4.4.0.0 Release
  CHANGELOG
  host/cmake/debian/changelog
  host/cmake/debian/control
  images/manifest.txt
  tools/debs/upload_debs.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: increase build timeouts to 90 minutes
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-package-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: mpmutils: Add parse_multi_device_arg() function
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: mpmutils: Fix Pylint warning
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Always prefer register-based time access
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix argument for uhd_image_loader in E3xx docs
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

examples: rx_samples_to_file: multi_streamer option
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix docstring for get_block_chain()
  host/include/uhd/utils/graph_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix play region in replay_capture.py
  host/examples/python/replay_capture.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove Fedora 35 and add Fedora 37
  .ci/docker/uhd-builder-fedora37.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add BUILD_SEED variable
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/n3xx/n3xx_core.v
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x300/bus_int.v
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/global_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_global_regs.v
Due: none

fpga: ci: Use repeat_fpga_build for pipeline builds
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: tools: Add repeat_fpga_build.py
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none

MPM: fix GPS lock sensor method name
  mpm/python/usrp_mpm/periph_manager/x4xx_gps_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

test: add delayed streaming start args
  host/tests/streaming_performance/run_benchmark_rate.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix test utilities
  mpm/python/tests/test_utilities.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Demote some de-init DEBUG messages
  host/lib/rfnoc/noc_block_base.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add BUILD_BASE_DIR option to makefiles
  fpga/usrp3/tools/make/diamond_preamble.mak
  fpga/usrp3/tools/make/quartus_preamble.mak
  fpga/usrp3/tools/make/viv_preamble.mak
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

fpga: Reformat javascript in doc
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
Due: none

tools: Remove fpga directory from Debian build
  tools/debs/upload_debs.sh
Due: none

debian: Fix copyright dates in changelog
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Update upload_debs.sh script
  tools/debs/upload_debs.sh
Due: none

fpga: rfnoc: Add DEVICE_FAMILY to stream endpoint
  fpga/usrp3/lib/rfnoc/core/chdr_stream_endpoint.v
  fpga/usrp3/lib/rfnoc/core/chdr_stream_input.v
Due: none

fpga: rfnoc: Add ULTRASCALE to chdr_ingress_fifo
  fpga/usrp3/lib/rfnoc/core/chdr_ingress_fifo.v
Due: none

rfnoc: Set DEVICE_FAMILY on stream endpoints
  host/python/uhd/imgbuilder/templates/modules/stream_endpoints.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Support parallel jobs for IP builds
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: Update RFNoC YAML copyright
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.yml
  fpga/usrp3/top/e320/e320_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n300_bist_image_core.yml
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_image_core.yml
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_image_core.yml
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x300_rfnoc_image_core.yml
  fpga/usrp3/top/x300/x310_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.yml
  host/examples/rfnoc-example/icores/x310_rfnoc_image_core.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add options for RFNoC image core headers
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/templates/rfnoc_image_core.v.mako
  host/python/uhd/imgbuilder/templates/rfnoc_image_core.vh.mako
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Add X410_UC_200 to release pipeline
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: Update all RFNoC image core files
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.v
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.vh
  fpga/usrp3/top/e320/e320_rfnoc_image_core.v
  fpga/usrp3/top/e320/e320_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n300_bist_image_core.v
  fpga/usrp3/top/n3xx/n300_bist_image_core.vh
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n310_bist_image_core.v
  fpga/usrp3/top/n3xx/n310_bist_image_core.vh
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n320_bist_image_core.v
  fpga/usrp3/top/n3xx/n320_bist_image_core.vh
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.vh
  fpga/usrp3/top/x300/x300_rfnoc_image_core.v
  fpga/usrp3/top/x300/x300_rfnoc_image_core.vh
  fpga/usrp3/top/x300/x310_rfnoc_image_core.v
  fpga/usrp3/top/x300/x310_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.vh
Due: none

fpga: lib: rfnoc: Support multiple port widths on crossbar
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn.v
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn_tb/Makefile
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn_tb/chdr_crossbar_nxn_all_tb.sv
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn_tb/chdr_crossbar_nxn_tb.sv
  fpga/usrp3/lib/rfnoc/crossbar/crossbar_tb/crossbar_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
Due: none
