Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

mpm: x4xx: Prepare clock management for multi-mcr
  mpm/python/usrp_mpm/periph_manager/CMakeLists.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

MPM: Disable PRC to DB if not required
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_sample_pll.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: rfdc: Pull fabric words value from registers
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Refactor x4xx_rfdc_ctrl
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: utils: Add LogWrapper
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: ci: Add X410_UC_200 to default bitfiles
  fpga/.ci/fpga-pipeline-pr.yml
Due: none

mpm: x4xx: Enable MMCM configuration based on policy
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Separate RFDC and MMCM resets
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Shut down tiles on tear_down()
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Enable MPM sync API for X410
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Improve Doxygen for sync calls
  host/include/uhd/rfnoc/mb_controller.hpp
  host/include/uhd/rfnoc_graph.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix sync calls for multi-timekeeper operation
  host/lib/rfnoc/mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: Refactor MB CPLD code for future devices
  fpga/usrp3/top/x400/cpld/Makefile
  fpga/usrp3/top/x400/cpld/Makefile.cpld.inc
  fpga/usrp3/top/x400/cpld/common/common.sdc
  fpga/usrp3/top/x400/cpld/common/ctrlport_to_spi.v
  fpga/usrp3/top/x400/cpld/common/pl_cpld_regs.v
  fpga/usrp3/top/x400/cpld/common/ps_cpld_regs.v
  fpga/usrp3/top/x400/cpld/common/ps_power_regs.v
  fpga/usrp3/top/x400/cpld/common/pwr_supply_clk_gen.v
  fpga/usrp3/top/x400/cpld/common/quartus/ps_cs_analysis.tcl
  fpga/usrp3/top/x400/cpld/common/quartus/raw_conversion.cof
  fpga/usrp3/top/x400/cpld/common/reconfig_engine.v
  fpga/usrp3/top/x400/cpld/common/reset_generator.v
  fpga/usrp3/top/x400/cpld/common/spi_slave.v
  fpga/usrp3/top/x400/cpld/common/spi_slave_to_ctrlport_master.v
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmi.vhd
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmiWrapper.vhd
  fpga/usrp3/top/x400/cpld/regmap/i2c_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/mb_cpld_ps_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/pl_cpld_base_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/ps_cpld_base_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/ps_power_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/reconfig_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/spi_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/x410/constants_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/x410/mb_cpld_pl_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/sim/led_control_tb.v
  fpga/usrp3/top/x400/cpld/x410/ctrlport_to_jtag.v
  fpga/usrp3/top/x400/cpld/x410/db_spi_shared_constants.sdc
  fpga/usrp3/top/x400/cpld/x410/mb_cpld.sdc
  fpga/usrp3/top/x400/cpld/x410/mb_cpld.v
  fpga/usrp3/top/x400/cpld/x410/quartus/mb_cpld.qpf
  fpga/usrp3/top/x400/cpld/x410/quartus/mb_cpld.qsf
Due: none

images: Update X410 manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Separate RFDC reset from its configuration
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Separate RFDC clock and tile reset
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Add additional args parsing in init()
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: add multiple latency detect iterations
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

lib: Mark select x400_dboard_iface methods as const
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

UBX: Shift IF for RX frequencies <100 MHz
  host/lib/usrp/dboard/db_ubx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add ctrl_port_to_wb_i2c module
  fpga/usrp3/lib/control/ctrlport_to_wb_i2c.v
  fpga/usrp3/lib/sim/control/ctrlport_i2c/ctrlport_to_i2c_tb.v
  fpga/usrp3/lib/sim/wishbone/i2c/i2c_slave_model.v
  fpga/usrp3/lib/sim/wishbone/i2c/tst_bench_top.v
  fpga/usrp3/lib/sim/wishbone/i2c/wb_master_model.v
  fpga/usrp3/lib/wishbone/i2c_master.vh
Due: none

Revert "mpm: x4xx: Separate RFDC clock and tile reset"
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Fixed chdr path not to be taken if using a different MAC with sampe IP/Port
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_dispatch.sv
Due: none

Modifying to allow length to be passed into addudp
  fpga/usrp3/lib/rfnoc/xport_sv/chdr_xport_adapter.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_add_udp.sv
Due: none

mpm: x4xx: Add logging for metal and rfdc versions
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: multi_usrp: Support multiple timekeepers on rfnoc devices
  host/include/uhd/usrp/multi_usrp.hpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Make sysref_delay part of clock policy
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_sample_pll.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: ci: Include modified manifest in artifacts
  fpga/.ci/templates/job-package-images.yml
Due: none

MPM: X4xx: Change reset strategy to cover all X4xx
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

multi_usrp: rfnoc: Added warning when handling tune_request
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix the chocolately version to use
  .ci/docker/uhd-builder-vs2017-v141-x64.Dockerfile
  .ci/docker/uhd-builder-vs2017-v141-x86.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x86.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

fixup! MPM: X4xx: Change reset strategy to cover all X4xx
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Default to internal fileserver for FPGA images
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Enable DBs to have updateable_components
  mpm/python/usrp_mpm/components.py
  mpm/python/usrp_mpm/dboard_manager/base.py
  mpm/python/usrp_mpm/dboard_manager/zbx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Move SPLL sync before RFDC config
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Improve SPLL comments
  mpm/python/usrp_mpm/periph_manager/x4xx_sample_pll.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

MPM: Demote sync_tiles() error to warning
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: lib: Fix Vivado warnings
  fpga/usrp3/lib/axi/axis_data_swap.v
  fpga/usrp3/lib/axi4s_sv/axi4s_packet_gate.sv
  fpga/usrp3/lib/control/map/cam_priority_encoder.v
  fpga/usrp3/lib/rfnoc/core/axis_data_to_chdr.v
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn.v
  fpga/usrp3/lib/rfnoc/crossbar/gen_node_to_coord_mapping.py
  fpga/usrp3/lib/rfnoc/crossbar/mesh_node_mapping.vh
  fpga/usrp3/lib/rfnoc/dds_freq_tune_duc.v
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_internal.sv
Due: none

mpm: Add LogRuntimeError class
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
