Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * WED,SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: build_image_linux
    displayName: Build Docker Image
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
      - agent.os -equals Linux
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

fpga: Remove dupes from DESIGN_SRCS
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/make/viv_preamble.mak
Due: none

fpga: tools: Spruce up launch_vivado.py
  fpga/usrp3/tools/scripts/launch_vivado.py
Due: none

fpga: x410: Add dev_config.json
  fpga/usrp3/top/x400/dev_config.json
Due: none

ci: Raise timeout for x4xx hardware tests from 90 to 120 min
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fixed bugs observing cmd argument -c in remote_rx.py example
  host/examples/python/remote_rx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Remove irrelevant critical warning
  fpga/usrp3/top/x300/dev_config.json
  fpga/usrp3/top/x300/ip/ddr3_32bit/Makefile.inc
Due: none

fpga: x300: sfpp: Fix warning about duplicate reg
  fpga/usrp3/top/x300/x300_sfpp_io_core.v
Due: none

Update x300_dac_ctrl.cpp
  host/lib/usrp/x300/x300_dac_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Update PS DRAM speed bin
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/x410_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
Due: none

cpack: Update the package contact email
  host/cmake/Modules/UHDPackage.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: uhd_images_downloader: Direct users to use the mailing list
  host/utils/uhd_images_downloader.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Add information about NI SRM
  CONTRIBUTING.md
Due: none

ci: pebbles: Set sfp0 IP: Added dynamic wait until sfp0 is reachable.
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add x440 saison phase sync ATS
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: variable timeoutInMinutes
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: docs: Bump minimum Python version to 3.6
  fpga/docs/usrp3/build_instructions.md
Due: none

host: add octoclock python api
  host/lib/usrp_clock/multi_usrp_clock_python.cpp
  host/lib/usrp_clock/multi_usrp_clock_python.hpp
  host/python/CMakeLists.txt
  host/python/pyuhd.cpp
  host/python/uhd/__init__.py
  host/python/uhd/usrp_clock/__init__.py
  host/python/uhd/usrp_clock/multi_usrp_clock.py
  host/tests/devtest/multi_usrp_clock_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Fix documentation format
  host/include/uhd/rfnoc/noc_block_base.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Add X440 details to documentation
  host/docs/fbx.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: use vcpkg manifest mode
  .ci/docker/uhd-builder-vs2017-v141-x64.Dockerfile
  .ci/docker/uhd-builder-vs2017-v141-x86.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x86.Dockerfile
  .ci/docker/vcpkg/vcpkg.json
  .ci/docker/vcpkg/vcpkg.txt
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-msbuild.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: remove parallel job limit for docker image builds
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: multi_usrp_clock_python.cpp remove unnecessary comments
  host/lib/usrp_clock/multi_usrp_clock_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: remove redundant download step
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: run x4xx tests if x4xx ci changes are made
  tools/changeset_testlist.yaml
Due: none

ci: move warm up after boot
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use UHD version for docker tags
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Добавить dboard kintex7sdr
  host/lib/usrp/dboard/db_kintex7sdr/CMakeLists.txt
  host/lib/usrp/dboard/db_kintex7sdr/db_kintex7sdr.cpp
  host/lib/usrp/dboard/db_kintex7sdr/db_kintex7sdr.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Собирать dboard kintex7sdr
  host/lib/usrp/dboard/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Build linux targets for mpm changes
  tools/changeset_testlist.yaml
Due: none

mpm: Fix MTS skip for dual-rate
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Fix warning about different converter rates
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Use the new e320 in rhombus
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix setting start_time having no effect
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Add version API calls
  host/lib/version_python.hpp
  host/python/pyuhd.cpp
  host/python/uhd/__init__.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x3xx: Adding a comment that the DAC runs with an interpolation factor of 4
  host/lib/usrp/x300/x300_dac_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: refactor streaming steps
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/conftest.py
  host/tests/pytests/test_raw_udp_streaming.py
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add x440 streaming step
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
  host/tests/pytests/conftest.py
  host/tests/pytests/test_raw_udp_streaming.py
  host/tests/pytests/test_streaming.py
  host/tests/pytests/uhd_configs/uhd_dpdk_100GbE_x440.conf
  host/tests/streaming_performance/setup100gbe.sh
  host/tests/streaming_performance/setup10gbe.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: fix build with new DPDK 23.11
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add pybind11 to Linux build dockers
  .ci/docker/uhd-builder-fedora36.Dockerfile
  .ci/docker/uhd-builder-fedora37.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

ci: skip building installer for Ubuntu 18.04
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-ubuntu-deb.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
