Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

mpm: Add revF support to zbx_update_cpld
  mpm/python/usrp_mpm/dboard_manager/zbx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

max287x: allow for output port selection during set frequency
  host/lib/include/uhdlib/usrp/common/max287x.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Fix deprecated usage of yaml.load()
  host/python/uhd/imgbuilder/yaml_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve handling of include paths
  host/python/uhd/imgbuilder/builder_config.py
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/utils.py
  host/python/uhd/imgbuilder/yaml_utils.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add axis_combine
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_combine.v
Due: none

fpga: lib: Add axis_sideband_tuser
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_sideband_tuser.v
Due: none

fpga: ip: Add Xilinx FFT IP for various configurations
  fpga/usrp3/lib/ip/Makefile.inc
  fpga/usrp3/lib/ip/xfft_16k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_16k_16b/xfft_16k_16b.xci
  fpga/usrp3/lib/ip/xfft_32k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_32k_16b/xfft_32k_16b.xci
  fpga/usrp3/lib/ip/xfft_4k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_4k_16b/xfft_4k_16b.xci
  fpga/usrp3/lib/ip/xfft_64k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_64k_16b/xfft_64k_16b.xci
  fpga/usrp3/lib/ip/xfft_8k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_8k_16b/xfft_8k_16b.xci
Due: none

fpga: lib: Add axis_split_bus
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_split_bus.v
Due: none

fpga: rfnoc: Add new FFT block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/cp_insertion_ctrl.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/cp_removal.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/fft_core.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/fft_core_regs_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/noc_shell_ofdm.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/rfnoc_block_ofdm.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/rfnoc_block_ofdm_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/xfft_config_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/xfft_wrapper.sv
Due: none

fpga: lib: Add axis_data_if_packetize
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_data_if_packetize.v
Due: none

doc: Remove build warnings
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

rfnoc: Add new FFT block controller
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/ofdm_block_control.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/ofdm_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Add new FFT block controller
  host/lib/rfnoc/ofdm_block_control_python.hpp
  host/python/pyuhd.cpp
  host/python/uhd/rfnoc.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add ofdm.yml
  host/include/uhd/rfnoc/blocks/ofdm.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add FFT loopback Python example
  host/examples/python/CMakeLists.txt
  host/examples/python/ofdm_loopback.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

TEMPORARY: fpga: x400: Add YAML files for X410 FFT builds
  fpga/usrp3/top/x400/x410_uc_200_fft_ddc_duc_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_x4_200_fft_ddc_duc_rfnoc_image_core.yml
Due: none

TEMPORARY: fpga: tools: Allow specifying the BUILD_DIR
  fpga/usrp3/tools/make/viv_preamble.mak
Due: none

SelfCal: Run channels in parallel
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Add windows dll import logic
  host/python/CMakeLists.txt
  host/python/copy_python_module.cmake
  host/python/uhd/__init__.py
  host/python/uhd/__init__.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: update instructions for windows DLL loading
  host/docs/pythonapi.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

dboard: add coercer for bandwidth range
  host/lib/usrp/dboard/db_sbx_common.cpp
  host/lib/usrp/dboard/db_twinrx.cpp
  host/lib/usrp/dboard/db_ubx.cpp
  host/lib/usrp/dboard/db_wbx_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: use coerced bandwidth for display
  host/examples/rx_ascii_art_dft.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

[imgbuilder] fixup: Do not fail on dynamically generated version-info.dtsi files.
  host/python/uhd/imgbuilder/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

[fpga] [ci] Ensure imgbuilder changes trigger PR fpga pilepine builds.
  fpga/.ci/templates/changeset_build_list.yaml
Due: none

fpga: ci: always export build artifact directory variable
  fpga/.ci/templates/job-build-fpga.yml
Due: none

image builder: always put transport adapter last
  host/python/uhd/imgbuilder/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x440: refactor rf_core_full to use parameters on ports
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/ip/Makefile.inc
  fpga/usrp3/top/x400/ip/adc_full_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/adc_full_bd/adc_full_bd.tcl
  fpga/usrp3/top/x400/ip/adc_full_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/rf/full/Makefile.srcs
  fpga/usrp3/top/x400/rf/full/rf_core_full.sv
  fpga/usrp3/top/x400/rf/full/rf_core_full.v
  fpga/usrp3/top/x400/x4xx.sv
Due: none

fpga: x440: correct crossbar replay port comments
  fpga/usrp3/top/x400/x440_X4_1600_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_400_rfnoc_image_core.yml
Due: none

fpga: ci: forward intermediate file control
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: ci: x300: fix default artifact name
  fpga/.ci/devices/job-build-x300.yml
Due: none

fpga: x440: fix conditional timing constraints
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

fpga: x400: add register in 100G Eth TX path for timing
  fpga/usrp3/top/x400/ip/eth_100g_bd/eth_100g.sv
Due: none

cmake: Selectively disable rfnoc utils in abscence of ruamel.yaml
  host/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Make UHDPython.cmake available to OOTs
  host/CMakeLists.txt
  host/cmake/Modules/UHDBoost.cmake
  host/cmake/Modules/UHDMinDepVersions.cmake
  host/cmake/Modules/UHDPython.cmake
  host/docs/build.dox.in
  host/examples/extension_example/CMakeLists.txt
  host/examples/init_usrp/CMakeLists.txt
  host/examples/rfnoc-example/CMakeLists.txt
  host/examples/rfnoc-example/cmake/Modules/UHDPython.cmake
  host/examples/rfnoc-example/python/CMakeLists.txt
  host/python/CMakeLists.txt
  mpm/CMakeLists.txt
  mpm/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Add gain property
  host/examples/rfnoc-gain/include/rfnoc/gain/gain_block_control.hpp
  host/examples/rfnoc-gain/lib/gain_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Rename imgbuilder to rfnoc_utils
  host/python/CMakeLists.txt
  host/python/setup.py.in
  host/python/uhd/rfnoc_utils/__init__.py
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/grc.py
  host/python/uhd/rfnoc_utils/image_builder.py
  host/python/uhd/rfnoc_utils/templates/Makefile.inc.mako
  host/python/uhd/rfnoc_utils/templates/device_tree.dts.mako
  host/python/uhd/rfnoc_utils/templates/keyfile.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/chdr_xb_sep_transport.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/connect_clk_domains.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/connect_io_ports.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/ctrl_crossbar.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/device_io_ports.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/device_transport.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/drive_unused_ioports.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/drive_unused_ports.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/module.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/rfnoc_block.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/secure_image_core_inst.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/sep_xb_wires.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/static_router.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/stream_endpoints.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/transport_adapter.v.mako
  host/python/uhd/rfnoc_utils/templates/rfnoc_image_core.sv.mako
  host/python/uhd/rfnoc_utils/templates/rfnoc_image_core.vh.mako
  host/python/uhd/rfnoc_utils/templates/secure_image_core.sv.mako
  host/python/uhd/rfnoc_utils/utils.py
  host/python/uhd/rfnoc_utils/yaml_utils.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ic_reg_maps: Add/repair array functionality
  host/lib/ic_reg_maps/gen_x4xx_rfdc_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
