Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: ninja
  ...

uhd: Prepare branch for 4.1.0.0 release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: ci: Add testbench pipeline
  fpga/.ci/hwtools/root.py
  fpga/.ci/oss_testbenches.yml
Due: none

tests: add missing header, required by some compilers
  host/tests/tx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Add CLA assistant
  .github/workflows/EttusCLA.md
  .github/workflows/cla.yml
Due: none

#WIP
  .github/workflows/EttusCLA.md
Due: none

Update README.md
  README.md
Due: none

WIP
  .github/workflows/EttusCLA.md
Due: none

#WIP
  README.md
Due: none

fixup! ci: Add CLA assistant
  .github/workflows/EttusCLA.md
  .github/workflows/cla.yml
Due: none

cmake: remove redundant include
  host/lib/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cmake: fix finding PkgConfig to work robustly (without CMake warnings)
  host/cmake/Modules/FindLIBUSB.cmake
  host/cmake/Modules/UHDConfig.cmake.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cmake: correctly set and unset any CMAKE_REQUIRED variables
  host/cmake/Modules/FindLIBUSB.cmake
  host/lib/convert/CMakeLists.txt
  host/lib/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

core: remove boost::math in favor of std cmath
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/lib/usrp/cores/rx_frontend_core_3000.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

x300: Fix sfpp_io_core tuser width
  fpga/usrp3/top/x300/x300_sfpp_io_core.v
Due: none

mpm: max10_cpld_flash_ctrl: improve programming log
  mpm/python/usrp_mpm/chips/max10_cpld_flash_ctrl.py
Due: .ci/oe-x4xx-packages.yml

mpm: Update usrp_update_fs to support X410
  mpm/python/usrp_update_fs
Due: .ci/oe-x4xx-packages.yml

mpm: zbx: Fix revision compat check
  mpm/python/usrp_mpm/dboard_manager/zbx.py
Due: .ci/oe-x4xx-packages.yml

ci: Change base branch to UHD-4.1
  .ci/oe-for-host.yml
  .ci/oe-x4xx-packages.yml
  .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline.yml
  .ci/x4xx-devtests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: x4xx: Update information on CPLD updating
  host/docs/usrp_x4xx.dox
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: fix typo
  host/include/uhd/types/tune_request.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Skip DTS compatibility check if DTS is not being updated.
  mpm/python/usrp_mpm/components.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: remove obsolete constant
  host/include/uhd/rfnoc/constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Add clang as a compiler to all Fedora and Ubuntu containers
  .ci/docker/uhd-builder-fedora32.Dockerfile
  .ci/docker/uhd-builder-fedora33.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Enable custom CXX flags, enable -Werror
  .ci/templates/steps-build-uhd-make.yml
  .ci/templates/steps-build-uhd-ninja.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Let make keep building upon failure
  .ci/templates/steps-build-uhd-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: usrp_x4xx: improve filesystem update instructions
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline.yml: any of: host, .ci/uhd-pipeline.yml
