Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

rfnoc: Ignore errors in ctrlport response packets if ACKs not wanted
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: rfnoc: Add get_property bindings
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: eeprom: Improve E320 and N3x0 EEPROM code/comments
  mpm/python/usrp_mpm/eeprom.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml

fpga: n3xx: rh: cpld: Refactor CPLD build process
  fpga/usrp3/top/n3xx/dboards/rh/cpld/.gitignore
  fpga/usrp3/top/n3xx/dboards/rh/cpld/Makefile
  fpga/usrp3/top/n3xx/dboards/rh/cpld/Makefile.cpld.inc
  fpga/usrp3/top/n3xx/dboards/rh/cpld/quartus/rhodium_top.qpf
  fpga/usrp3/top/n3xx/dboards/rh/cpld/quartus/rhodium_top.qsf
  fpga/usrp3/top/n3xx/dboards/rh/cpld/rhodium_top.v
Due: none

fpga: docs: Add B205mini FPGA info
  fpga/docs/usrp3/build_instructions.md
Due: none

ci: Propagate downloader errors and lower timeout
  .ci/templates/steps-build-uhd-msbuild.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: zbx: cpld: Bump ZBX regmap copyright
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_right.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/atr_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/basic_regs_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/db_control_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/dsa_setup_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/gpio_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/led_setup_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/lo_control_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/power_regs_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/spi_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/switch_setup_regmap_utils.vh
Due: none

images: Remove references to N230
  fpga/usrp3/tools/utils/image_package_mapping.py
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: xportmgr_udp: Match DNAT arguments to manpage
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: Fix spelling in property resolution error message
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x310: Remove reference to ORC
  host/docs/usrp_x3x0_config.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Upload devtest logs as artifact
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Increase PR pipeline timeout
  fpga/.ci/x4xx-pr-check.yml
Due: none

ci: Add gnuradio deps to images
  .ci/docker/uhd-builder-fedora33.Dockerfile
  .ci/docker/uhd-builder-fedora34.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

mpm: Fix units for DRAM BIST
  mpm/python/e320_bist
  mpm/python/n3xx_bist
  mpm/python/usrp_mpm/bist.py
Due: .ci/oe-x4xx-packages.yml

tests: Modularize x4xx_radio_mock to use it in other tests
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add embedded builds to uhd mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Bump copyright
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/core_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/cpld_interface_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/dio_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/global_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/pl_cpld_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/radio_ctrlport_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/rfdc_timing_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
Due: none

fpga: rfnoc: Change AWIDTH default for axi_ram_fifo
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_axi_ram_fifo/rfnoc_block_axi_ram_fifo.v
Due: none

docs: Add shim Sphinx config for readthedocs
  .readthedocs.yaml
  host/docs/sphinx/.gitignore
  host/docs/sphinx/Makefile
  host/docs/sphinx/environment.yml
  host/docs/sphinx/source/conf.py
  host/docs/sphinx/source/index.rst
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Make uhdSrcDir directly reference Build.SourcesDirectory
  .ci/templates/job-uhd-build-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Remove noc_shell_regs.vh and sim_rfnoc_lib.svh
  fpga/usrp3/lib/rfnoc/Makefile.srcs
  fpga/usrp3/lib/rfnoc/noc_shell_regs.vh
  fpga/usrp3/lib/sim/arm_deframer/Makefile
  fpga/usrp3/lib/sim/arm_deframer/arm_deframer_tb.sv
  fpga/usrp3/sim/rfnoc/Makefile.srcs
  fpga/usrp3/sim/rfnoc/sim_rfnoc_lib.svh
Due: none

rfnoc: Update the MTU forwarding property for some blocks
  host/lib/rfnoc/addsub_block_control.cpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/dmafifo_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/rfnoc/null_block_control.cpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/split_stream_block_control.cpp
  host/lib/rfnoc/switchboard_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove libatomic check on macOS
  host/cmake/Modules/UHDAtomics.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: expose uhd::dict and fs_path with UHD_API_HEADER
  host/include/uhd/property_tree.hpp
  host/include/uhd/types/dict.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Demote WARNING on minor compat mismatch to DEBUG
  host/lib/utils/compat_check.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add SPDX license identifier
  fpga/usrp3/lib/io_port2/LvFpga_Chinch_Interface.v
Due: none

ci: Build gnuradio and gr-ettus
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-gnuradio-make.yml
  .ci/templates/steps-build-gr-ettus-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: Add space to rfnoc_image_builder help
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add support for Ubuntu 22.04
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
  .ci/uhd-build-docker-container.yml
  tools/debs/uhd_ubuntu_deb.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Change yaml dependency to ruamel
  .ci/docker/uhd-builder-fedora34.Dockerfile
  .ci/docker/uhd-builder-fedora35.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

cmake: added libatomic check for boost/lockfree/queue.hpp
  host/cmake/Modules/UHDAtomics.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Generate installed binaries for downstream use
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Enable building of init_usrp
  .ci/templates/steps-build-uhd-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: n3xx: Fix DRAM FIFO address alignment
  fpga/usrp3/top/n3xx/n300_bist_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_image_core.yml
Due: none

ci: Remove Fedora 33 and add Fedora 35
  .ci/docker/uhd-builder-fedora35.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: set UHD_API_HEADER on property_t
  host/include/uhd/config.h
  host/include/uhd/config.hpp
  host/include/uhd/rfnoc/property.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: uhdboost: Fix check for UHD_BOOST_REQUIRED being set
  host/cmake/Modules/UHDBoost.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add mpm folder to triggers
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

RFNoC: Cache and re-use host endpoints
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
