Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

ci: Fix testlist variable name
  .ci/fpga/devices/job-build-fpga-e31x.yml
  .ci/fpga/devices/job-build-fpga-e320.yml
  .ci/fpga/devices/job-build-fpga-n3xx.yml
  .ci/fpga/devices/job-build-fpga-x300.yml
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Allow mono pipeline to skip HW tests
  .ci/templates/job-analyze-changeset.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Allow forcibly skipping all HW stages in mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: changeset_testlist: Allow removing test patterns
  tools/changeset_testlist.py
Due: none

tools: Apply linter issues changeset_testlist.py
  tools/changeset_testlist.py
Due: none

fpga: lib: Fix trailing bytes in eth_ipv4_chdr_adapter
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter.sv
Due: .ci/uhd-pipeline-pr.yml

fpga: lib: Enable TUSER in eth_ipv4_interface_wrapper
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_interface_wrapper.sv
Due: .ci/uhd-pipeline-pr.yml

ci: Move cleanup of FPGA dir above download step
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add source commit to analyze changelist call
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Merge all FPGA stages into one
  .ci/fpga/devices/job-build-fpga-e31x.yml
  .ci/fpga/devices/job-build-fpga-e320.yml
  .ci/fpga/devices/job-build-fpga-n3xx.yml
  .ci/fpga/devices/job-build-fpga-x300.yml
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga.yml
  .ci/fpga/templates/job-build-ip.yml
  .ci/fpga/templates/job-guarantee-artifacts.yml
  .ci/fpga/templates/job-package-images.yml
  .ci/fpga/templates/jobs-provide-fpga-artifacts.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove skip_analyze_changeset parameter
  .ci/fpga/templates/stages-fpga-pipeline.yml
  .ci/templates/job-analyze-changeset.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: describe updating filesystem using SD card on Windows
  host/docs/usrp_e3xx.dox
  host/docs/usrp_n3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Fix top-level paths for X4xx FPGA builds
  .ci/fpga/devices/job-build-fpga-x400.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: analyze changeset: Setup venv in extra step
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: analyze changeset: compare against version which provides artifacts
  .ci/templates/job-analyze-changeset.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "ci: Add source commit to analyze changelist call"
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fix error when selecting resources on manual pipeline run
  .ci/fpga/templates/job-guarantee-artifacts.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Factor out FPGA-build pipeline steps into own YAML file
  .ci/fpga/templates/job-build-fpga-all.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add provide_*_fpga_images_stage to weekly and HW pipelines
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use script instead of bash for platform independency
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove skip_all_hw_tests from various stages
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Manage all build-fpga-target flags in analyzer step
  .ci/fpga/devices/job-build-fpga-e31x.yml
  .ci/fpga/devices/job-build-fpga-e320.yml
  .ci/fpga/devices/job-build-fpga-n3xx.yml
  .ci/fpga/devices/job-build-fpga-x300.yml
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga-all.yml
  .ci/templates/job-analyze-changeset.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: changeset analyzer: Add --add-test flag
  tools/changeset_testlist.py
Due: none

ci: Make skip_all_hw_tests available to PR pipeline
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix comparison for skip-hw-tests
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix FPGA job dependency references
  .ci/fpga/devices/job-build-fpga-e31x.yml
  .ci/fpga/devices/job-build-fpga-e320.yml
  .ci/fpga/devices/job-build-fpga-n3xx.yml
  .ci/fpga/devices/job-build-fpga-x300.yml
  .ci/fpga/devices/job-build-fpga-x400.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: analyze changset: use PR commit ID for PR-based runs
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: analyze changeset: Fix diff command when using commit ids
  tools/changeset_testlist.py
Due: none

fpga: tools: Reformat run_testbenches.py
  fpga/usrp3/tools/utils/run_testbenches.py
Due: .ci/uhd-pipeline-pr.yml

fpga: tools: Fix CSV reporting in run_testbenches.py
  fpga/usrp3/tools/utils/run_testbenches.py
Due: .ci/uhd-pipeline-pr.yml

ci: Fix FPGA job dependency references (2)
  .ci/fpga/devices/job-build-fpga-x400.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add new FPGA parameters to fft.yml
  host/include/uhd/rfnoc/blocks/fft.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: fft: Add support for multiple samples per clock
  host/include/uhd/rfnoc/fft_block_control.hpp
  host/lib/rfnoc/fft_block_control.cpp
  host/lib/rfnoc/fft_block_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: fft: Add FFT packetize modules
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_depacketize.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/fft_packetize_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/fft_packetize_tb.sv
Due: .ci/uhd-pipeline-pr.yml

examples: Add 400 MHz FFT to fft_loopback
  host/examples/python/fft_loopback.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add FFT parameters to on-target test
  host/tests/rfnoc_block_tests_on_target/x410_fft_block_test.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: fft: Support multiple samples per cycle
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/cp_removal.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_core.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_core_regs_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_depacketize.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_pipeline.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_pipeline_wrapper.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_post_processing.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_reorder.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/noc_shell_fft.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft_tb.sv
Due: .ci/uhd-pipeline-pr.yml

tools: changeset_testlist: Align add-test and remove-test
  tools/changeset_testlist.py
Due: none

ci: add parameters for adding and removing modules
  .ci/templates/job-analyze-changeset.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove stages-fpga-pipeline.yml
  .ci/fpga/templates/stages-fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
