Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

examples: benchmark_rate: Properly use --tx_spp
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: tx streamer: Default spp to multiple of CHDR width
  host/lib/rfnoc/rfnoc_graph.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_graph: Add get_chdr_width() API call
  host/include/uhd/rfnoc_graph.hpp
  host/lib/rfnoc/rfnoc_graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Updated CHANGELOG
  CHANGELOG
Due: none

doc: Updated images manifest with new default fpga resources
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: deb: Raise debhelper compatibility version to 12
  host/cmake/debian/compat
  host/cmake/debian/control
  host/cmake/debian/rules
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Prepare branch for 4.8.0.0 release
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/copyright
  host/cmake/debian/libuhd4.8.0.install
  host/cmake/debian/rules
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: tx streamer: Remove warning regarding alignment with CHDR width
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: increase timeout for windows builds
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: update filesystems to v4.8.0.0-rc1
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Fix download directory for uhd_images_downloader
  host/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: make usrp_update_fs support all embedded devices
  mpm/python/usrp_update_fs
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: linting of usrp_update_fs
  mpm/python/usrp_update_fs
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

host: modify return type of get_eeprom for pybind
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: enable CI/PR trigger on release branches
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: add PID check to zbx_update_cpld
  mpm/python/usrp_mpm/dboard_manager/zbx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: linting of zbx_update_cpld
  mpm/python/usrp_mpm/dboard_manager/zbx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: x400: add CMAC placement constraints
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/constraints/qsfp_100gbe_port0.xdc
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/constraints/qsfp_100gbe_port1.xdc
  host/include/uhd/rfnoc/transport_adapters/x4xx_eth.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming test: fix call of uhd_usrp_probe
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: fft: Fix tready on magnitude path
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_post_processing.sv
Due: none

ci: Use NSIS installer from Python enabled build
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add readme and license file to poetry python builds
  host/python/CMakeLists.txt
  host/python/pyproject.toml.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fixed mailing list URL in readme
  host/README.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: updated information for Python support under Windows
  host/docs/build.dox.in
  host/docs/install.dox
  host/docs/pythonapi.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

doc: Update usrp_x4xx.dox with table for supported sample rate examples and links to KB and X440 Spec.
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

doc: Update configuration.dox with table showing OTW formats
  host/docs/configuration.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: fixed python version for wheel build to >=3.10 and <=3.12 (win)
  host/python/pyproject.toml.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Correct grammar in copyright string
  host/cmake/Modules/UHDLIBUSB.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest: fix wrong channel number
  host/tests/devtest/devtest_n3x0.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Generate pyproject.toml only for Windows
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
