Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * WED,SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: build_image_linux
    displayName: Build Docker Image
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
      - agent.os -equals Linux
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

python: Add pyproject.toml with black line length
  host/python/pyproject.toml
  mpm/python/pyproject.toml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Add .pre-commit-config.yaml
  .pre-commit-config.yaml
  CODING.md
Due: none

fpga: x400: Place SPI into IOB on X440
  fpga/usrp3/top/x400/constraints/timing/x440.xdc
Due: none

ubx: write output power to correct LO
  host/lib/usrp/dboard/db_ubx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ubx: update ubx xcvr mode options
  host/lib/usrp/dboard/db_ubx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fix compilation with boost 1.85.0
  host/lib/usrp/mpmd/mpmd_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host/include/uhd/types/bye_vector.hpp: include cstdint
  host/include/uhd/types/byte_vector.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: fir filter: Enable newer revisions
  host/include/uhd/rfnoc/defaults.hpp
  host/include/uhd/rfnoc/fir_filter_block_control.hpp
  host/lib/rfnoc/fir_filter_block_control.cpp
  host/lib/rfnoc/registry_factory.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Allow vectors of NoC-IDs in registry
  host/include/uhd/rfnoc/registry.hpp
  host/lib/rfnoc/registry_factory.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: reverse FIR filter coefficients to get embedded in DSPE48
  fpga/usrp3/lib/rfnoc/axi_fir_filter.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/noc_shell_fir_filter.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/rfnoc_block_fir_filter_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/rfnoc_fir_filter_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/rfnoc_fir_filter_regs.vh
  fpga/usrp3/lib/rfnoc/fir_filter_slice.v
  host/include/uhd/rfnoc/blocks/fir_filter.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Fix RFNoC graph action queue lockup on action exceptions
  host/lib/rfnoc/graph.cpp
  host/tests/actions_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: give better error message for zero devices found
  host/lib/usrp/mpmd/mpmd_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add volk build steps for gnuradio 3.10 builds
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-gnuradio-make.yml
  .ci/templates/steps-build-volk-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add gnuradio 3.10 dependencies to docker build images
  .ci/docker/uhd-builder-fedora37.Dockerfile
  .ci/docker/uhd-builder-fedora38.Dockerfile
  .ci/docker/uhd-builder-fedora39.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
  .ci/docker/uhd-builder-ubuntu2404.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

fpga: ci: Fix image core for X410_UC_200 image
  fpga/.ci/devices/job-build-x400.yml
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

mpm: rpc_server: cast get_device_info/get_mbeeprom params to n/a
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: get_mender_artifact: fix obsolete command
  mpm/python/usrp_mpm/sys_utils/filesystem_status.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: ci: Clean out rfnoc_image_builder install
  fpga/.ci/templates/job-build-fpga.yml
Due: none

ci: only publish build-installed gnuradio artifacts
  .ci/templates/job-gnuradio-grettus-build-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: specify required gnuradio cmake components
  .ci/templates/steps-build-gnuradio-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add probe to streaming tests
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add clang-format to changeset analyzer
  .ci/templates/job-analyze-changeset.yml
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Fix test_status indices in PkgTestExec
  fpga/usrp3/sim/rfnoc/PkgTestExec.sv
Due: none

fpga: sim: Fix cast in PkgRandom
  fpga/usrp3/sim/packages/PkgRandom.sv
Due: none

cmake: Fix Python path corruption from pybind11
  host/cmake/Modules/UHDPython.cmake
  host/examples/rfnoc-example/cmake/Modules/UHDPython.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

max287x: add ability to set aux output power
  host/lib/include/uhdlib/usrp/common/max287x.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

max287x: add set_reg function for max2871 and expose get/set
  host/lib/ic_reg_maps/gen_max2871_regs.py
  host/lib/include/uhdlib/usrp/common/max287x.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: add unit test for max2871 chip
  host/lib/ic_reg_maps/gen_max2871_regs.py
  host/tests/CMakeLists.txt
  host/tests/max287x_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ic_reg_maps: apply python black formatting
  host/lib/ic_reg_maps/common.py
  host/lib/ic_reg_maps/gen_ad5623_regs.py
  host/lib/ic_reg_maps/gen_ad7922_regs.py
  host/lib/ic_reg_maps/gen_ad9510_regs.py
  host/lib/ic_reg_maps/gen_ad9522_regs.py
  host/lib/ic_reg_maps/gen_ad9777_regs.py
  host/lib/ic_reg_maps/gen_ad9862_regs.py
  host/lib/ic_reg_maps/gen_adf4350_regs.py
  host/lib/ic_reg_maps/gen_adf4351_regs.py
  host/lib/ic_reg_maps/gen_adf4360_regs.py
  host/lib/ic_reg_maps/gen_adf5355_regs.py
  host/lib/ic_reg_maps/gen_adf5356_regs.py
  host/lib/ic_reg_maps/gen_ads62p44_regs.py
  host/lib/ic_reg_maps/gen_ads62p48_regs.py
  host/lib/ic_reg_maps/gen_fbx_regs.py
  host/lib/ic_reg_maps/gen_lmk04816_regs.py
  host/lib/ic_reg_maps/gen_lmk04828_regs.py
  host/lib/ic_reg_maps/gen_lmx2572_regs.py
  host/lib/ic_reg_maps/gen_lmx2592_regs.py
  host/lib/ic_reg_maps/gen_max2112_regs.py
  host/lib/ic_reg_maps/gen_max2118_regs.py
  host/lib/ic_reg_maps/gen_max2829_regs.py
  host/lib/ic_reg_maps/gen_max2870_regs.py
  host/lib/ic_reg_maps/gen_max2871_regs.py
  host/lib/ic_reg_maps/gen_mgcpld_regs.py
  host/lib/ic_reg_maps/gen_rhcpld_regs.py
  host/lib/ic_reg_maps/gen_tda18272hnm_regs.py
  host/lib/ic_reg_maps/gen_tuner_4937di5_regs.py
  host/lib/ic_reg_maps/gen_x4xx_rfdc_regs.py
  host/lib/ic_reg_maps/gen_zbx_cpld_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fixed error in lmx2572 regmap
  host/lib/ic_reg_maps/gen_lmx2572_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add error for recurring TA node inst values
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: add ability for defining custom register spaces
  host/include/uhd/rfnoc/mock_block.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/lib/rfnoc/register_iface_holder.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: clang-format changes
  host/lib/include/uhdlib/usrp/common/adf535x.hpp
  host/tests/actions_test.cpp
  host/tests/adf535x_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dboard_iface: Allow dboard define custom register space
  host/include/uhd/usrp/dboard_iface.hpp
  host/lib/usrp/x300/x300_dboard_iface.cpp
  host/lib/usrp/x300/x300_dboard_iface.hpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Implement custom register space for ctrlport endpoint
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/tests/CMakeLists.txt
  host/tests/custom_reg_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix VHDL and Verilog types in modify_bdtcl
  fpga/usrp3/tools/scripts/viv_ip_utils.tcl
Due: none

fpga: x400: zbx: Set Locale for ZBX Lattice build
  fpga/usrp3/tools/make/diamond_design_builder.mak
Due: none

rfnoc: image builder: Allow NoC blocks with no ports
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/templates/modules/rfnoc_block.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add module for reading Xilinx device DNA
  fpga/usrp3/lib/hwutils/Makefile.srcs
  fpga/usrp3/lib/hwutils/device_dna.v
  fpga/usrp3/lib/hwutils/device_dna_ctrlport.v
  fpga/usrp3/lib/sim/hwutils/dna/Makefile
  fpga/usrp3/lib/sim/hwutils/dna/device_dna_tb.sv
Due: none

fpga/rfnoc: Add license checker block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/noc_shell_license_check.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/rfnoc_block_license_check.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/rfnoc_block_license_check_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/rfnoc_block_license_check_tb.sv
  fpga/usrp3/lib/sec/license_check.sv
  host/include/uhd/rfnoc/blocks/license_check.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
