Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make_trace
  ...

tests: Fix rfnoc_graph mock nodes stop-stream command
  host/tests/rfnoc_graph_mock_nodes.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add CHDR width to make args
  host/include/uhd/rfnoc/noc_block_base.hpp
  host/include/uhd/rfnoc/noc_block_make_args.hpp
  host/lib/rfnoc/mock_block.cpp
  host/lib/rfnoc/noc_block_base.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Make chdr_w_to_bits() C++11-compatible
  host/include/uhd/rfnoc/rfnoc_types.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: mgmt_portal: Fix order of validity checks
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Use cmul for gain block in-tree IP example
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain.v
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Remove skip_dram from streaming performance test script
  host/tests/streaming_performance/run_X3xx_max_rate_tests.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Several minor manual improvements
  host/docs/configuration.dox
  host/docs/multiple.dox
  host/docs/usrp_e3xx.dox
  host/docs/usrp_n3xx.dox
  host/docs/usrp_x3x0.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: Add ability to get time from Radio block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
Due: none

multi_usrp_rfnoc: Reduce latency of get_time_now()
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add ability to get time from Radio block
  host/include/uhd/rfnoc/radio_control.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Fix async message handling channel checks
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: add streaming setup script for performance enhancements
  host/tests/streaming_performance/setup.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: add automated streaming tests
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
  host/tests/pytests/conftest.py
  host/tests/pytests/test_length_utils.py
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: blocks: Minor cleanup (whitespace, typos)
  host/include/uhd/rfnoc/fir_filter_block_control.hpp
  host/include/uhd/rfnoc/siggen_block_control.hpp
  host/include/uhd/rfnoc/split_stream_block_control.hpp
  host/include/uhd/rfnoc/switchboard_block_control.hpp
  host/include/uhd/rfnoc/vector_iir_block_control.hpp
  host/include/uhd/rfnoc/window_block_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Collect all RFNoC block controllers in a module in the manual
  host/docs/group_defs.dox
  host/include/uhd/rfnoc/addsub_block_control.hpp
  host/include/uhd/rfnoc/block_control.hpp
  host/include/uhd/rfnoc/ddc_block_control.hpp
  host/include/uhd/rfnoc/dmafifo_block_control.hpp
  host/include/uhd/rfnoc/duc_block_control.hpp
  host/include/uhd/rfnoc/fft_block_control.hpp
  host/include/uhd/rfnoc/fir_filter_block_control.hpp
  host/include/uhd/rfnoc/fosphor_block_control.hpp
  host/include/uhd/rfnoc/keep_one_in_n_block_control.hpp
  host/include/uhd/rfnoc/logpwr_block_control.hpp
  host/include/uhd/rfnoc/null_block_control.hpp
  host/include/uhd/rfnoc/radio_control.hpp
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/include/uhd/rfnoc/siggen_block_control.hpp
  host/include/uhd/rfnoc/split_stream_block_control.hpp
  host/include/uhd/rfnoc/switchboard_block_control.hpp
  host/include/uhd/rfnoc/vector_iir_block_control.hpp
  host/include/uhd/rfnoc/window_block_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Increase UHD-side MTU cap for 10 GbE and 1 GbE
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
  mpm/python/usrp_mpm/discovery.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: x4xx: Document configuring eth0 static IP
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Add set_rx_spp()
  host/lib/usrp/multi_usrp_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

B200: Re-sync times
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Fix rfnoc dissector build
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
Due: none

fpga: tools: Add Quartus build utilities
  fpga/usrp3/tools/make/quartus_design_builder.mak
  fpga/usrp3/tools/make/quartus_ip_builder.mak
  fpga/usrp3/tools/make/quartus_preamble.mak
Due: none

fpga: x400: cpld: Add manufacturing support
  fpga/usrp3/top/x400/cpld/Makefile
  fpga/usrp3/top/x400/cpld/mb_cpld.v
  fpga/usrp3/top/x400/cpld/regmap/constants_regmap_utils.vh
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
Due: none

fpga: x400: Refactor CPLDs build process
  fpga/usrp3/tools/utils/image_package_mapping.py
  fpga/usrp3/top/x400/cpld/Makefile
  fpga/usrp3/top/x400/cpld/Makefile.cpld.inc
  fpga/usrp3/top/x400/cpld/ip/Makefile.inc
  fpga/usrp3/top/x400/cpld/ip/clkctrl/Makefile.inc
  fpga/usrp3/top/x400/cpld/ip/on_chip_flash/.gitignore
  fpga/usrp3/top/x400/cpld/ip/on_chip_flash/Makefile.inc
  fpga/usrp3/top/x400/cpld/ip/on_chip_flash/on_chip_flash.qsys
  fpga/usrp3/top/x400/cpld/mb_cpld.v
  fpga/usrp3/top/x400/cpld/quartus/mb_cpld.qpf
  fpga/usrp3/top/x400/cpld/quartus/mb_cpld.qsf
  fpga/usrp3/top/x400/cpld/quartus/ps_cs_analysis.tcl
  fpga/usrp3/top/x400/cpld/quartus/raw_conversion.cof
  fpga/usrp3/top/x400/cpld/reconfig_engine.v
  fpga/usrp3/top/x400/cpld/regmap/constants_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/reconfig_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile.zbx_cpld.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_right.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/Makefile.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/clkctrl/.gitignore
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/clkctrl/Makefile.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/clkctrl/clkctrl.qsys
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/on_chip_flash/.gitignore
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/on_chip_flash/Makefile.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/on_chip_flash/on_chip_flash.qsys
  fpga/usrp3/top/x400/dboards/zbx/cpld/ip/osc/Makefile.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/quartus/raw_conversion.cof
  fpga/usrp3/top/x400/dboards/zbx/cpld/quartus/zbx_top_cpld.qpf
  fpga/usrp3/top/x400/dboards/zbx/cpld/quartus/zbx_top_cpld.qsf
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/basic_regs.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/basic_regs_regmap_utils.vh
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
Due: none

examples: Improve rfnoc_rx_to_file
  host/examples/rfnoc_rx_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add more comments to rfnoc_graph
  host/include/uhd/rfnoc_graph.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix issue in uhd::rfnoc::connect_through_blocks()
  host/lib/utils/graph_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: replay block: Disable prop and action propagation
  host/lib/rfnoc/replay_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add default length for automated streaming tests
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Update manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Remove usage of CHDR_MAX_LEN_HDR
  host/include/uhd/rfnoc/defaults.hpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Clarify usage of MTU vs. max payload size, remove DEFAULT_SPP
  host/include/uhd/rfnoc/defaults.hpp
  host/include/uhd/rfnoc/noc_block_base.hpp
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/lib/include/uhdlib/rfnoc/chdr_rx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/chdr_tx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/tx_streamer_impl.hpp
  host/lib/rfnoc/chdr_rx_data_xport.cpp
  host/lib/rfnoc/chdr_tx_data_xport.cpp
  host/lib/rfnoc/noc_block_base.cpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/lib/rfnoc/siggen_block_control.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
  host/tests/rfnoc_block_tests/siggen_block_test.cpp
  host/tests/rx_streamer_test.cpp
  host/tests/streamer_benchmark.cpp
  host/tests/tx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
