Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

rfnoc: ddc: Improve unit tests and documentation
  host/include/uhd/rfnoc/ddc_block_control.hpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Fix sfpp_io_core tuser width
  fpga/usrp3/top/x300/x300_sfpp_io_core.v
Due: none

fpga: tools: Add UHD_FPGA_DIR definition to synthesis
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/make/viv_simulator.mak
  fpga/usrp3/tools/scripts/viv_sim_project.tcl
Due: none

cmake: remove duplicate entry in LIBUHD_PYTHON_GEN_SOURCE
  host/lib/ic_reg_maps/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: mpm: Expose filesystem version information on MPM tree
  host/lib/usrp/mpmd/mpmd_prop_tree.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: transport: Mark typecast as intended
  host/lib/transport/nirio/rpc/rpc_client.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add x400/x410 target to RFNoC example
  host/examples/rfnoc-example/cmake/Modules/run_testbench.sh.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: add X410 support for 250e6 master clock rate
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml

ci: Device wait to redlock scope for Vivado close
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Fix overloaded function definition
  host/lib/usrp/multi_usrp_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Replace CMAKE_{SOURCE,BINARY}_DIR with UHD_*_DIR
  host/CMakeLists.txt
  host/cmake/Modules/CMakeRC.cmake
  host/cmake/Modules/CodeCoverage.cmake
  host/cmake/Modules/UHDPackage.cmake
  host/cmake/Modules/UHDUnitTest.cmake
  host/cmake/Modules/UHDVersion.cmake
  host/docs/CMakeLists.txt
  host/docs/Doxyfile.in
  host/examples/rfnoc-example/CMakeLists.txt
  host/examples/rfnoc-example/apps/CMakeLists.txt
  host/examples/rfnoc-example/lib/CMakeLists.txt
  host/lib/CMakeLists.txt
  host/lib/cal/CMakeLists.txt
  host/lib/transport/nirio/lvbitx/CMakeLists.txt
  host/python/CMakeLists.txt
  host/tests/CMakeLists.txt
  host/tests/common/CMakeLists.txt
  host/tests/devtest/CMakeLists.txt
  mpm/CMakeLists.txt
  mpm/lib/CMakeLists.txt
  mpm/lib/catalina/CMakeLists.txt
  mpm/lib/chips/CMakeLists.txt
  mpm/lib/mykonos/CMakeLists.txt
  mpm/python/CMakeLists.txt
  mpm/python/usrp_mpm/chips/ic_reg_maps/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Update help message for setupenv.sh
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: none

rh: Fix auto DC-offset correction and auto-IQ balance APIs
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

X300: Initialize struct variable before using it
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Update example constraint in synchronizer
  fpga/usrp3/lib/control/synchronizer.v
Due: none

fpga: Remove stale references to UHD_FPGA_DIR
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_logpwr/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_vector_iir/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_window/Makefile
  fpga/usrp3/top/x400/rf/sim/Makefile
Due: none

x300: Fix MAX_RATE_1GIGE value
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x410: Fix info on loading SD card images with bmaptool
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Fix issues in send_waveform()
  host/examples/python/tx_waveforms.py
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Remove unused variables in x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix rfnoc-example (CMake paths)
  host/examples/rfnoc-example/CMakeLists.txt
  host/examples/rfnoc-example/apps/CMakeLists.txt
  host/examples/rfnoc-example/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix issues with static builds and CMRC
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

bug: fix channel indexing when reading USRP power
  host/examples/python/usrp_power_meter.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dissectors: Fix inclusion of glib.h and Python version
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
  tools/dissectors/epan/zpu/packet-zpu.c
  tools/dissectors/make-plugin-reg.py
Due: none

docs: Improve docs for rx_streamer::recv() on overruns
  host/include/uhd/stream.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: sync: Update page on synchronization
  host/docs/sync.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

images: Update image packager script for Python 3
  images/create_imgs_package.py
Due: none

dissectors: Fix whitespace formatting in CMake files
  tools/dissectors/CMakeLists.txt
  tools/dissectors/epan/rfnoc/CMakeLists.txt
Due: none

devtest: Add receive stability test to B2xx devtest
  host/tests/devtest/devtest_b2xx.py
  host/tests/devtest/python_rx_stability_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

libusb: Remove unused context variable
  host/lib/transport/libusb1_zero_copy.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: use LooseVersion to ensure correct version comparisons
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix GPIO documentation example
  host/docs/gpio_api.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ad9361: Modify set-tx-gain procedure to update gain in one go
  host/lib/usrp/common/ad9361_driver/ad9361_device.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: rfdc: Tear down RFDC on teardown
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml

examples: Improve txrx_loopback_to_file (late recv, Boost, timing)
  host/examples/txrx_loopback_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Fix issues with recv_num_samps()
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Remove all remaining usage of boost::numeric::bounds<>
  host/lib/usrp/cores/dsp_core_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: mgmt_portal: Remove two unused variables
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

X300: Fix error message for wrong reference frequency
  host/lib/usrp/x300/x300_clock_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: Clarify data type in multi_usrp_test::send_waveform()
  host/tests/devtest/multi_usrp_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
