Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

fpga: n3xx: Fix async clocks relationship
  fpga/usrp3/top/n3xx/mb_timing.xdc
Due: none

fpga: sim: Workaround Vivado bug in ChdrIfaceBfm_tb
  fpga/usrp3/sim/rfnoc/test/ChdrIfaceBfm/ChdrIfaceBfm_all_tb.sv
  fpga/usrp3/sim/rfnoc/test/ChdrIfaceBfm/ChdrIfaceBfm_tb.sv
Due: none

fpga: tools: Add utility to upgrade TCL-based BD
  fpga/usrp3/tools/scripts/launch_vlint.sh
  fpga/usrp3/tools/scripts/setupenv_base.sh
  fpga/usrp3/tools/scripts/viv_ip_utils.tcl
Due: none

fpga: lib: Upgrade to Vivado 2021.1
  fpga/usrp3/lib/axi4s_sv/axi4s_add_bytes.sv
  fpga/usrp3/lib/hls/addsub_hls/addsub_hls.cpp
  fpga/usrp3/lib/ip/axi_fft/axi_fft.xci
  fpga/usrp3/lib/ip/axi_hb31/axi_hb31.xci
  fpga/usrp3/lib/ip/axi_hb47/axi_hb47.xci
  fpga/usrp3/lib/ip/complex_multiplier/complex_multiplier.xci
  fpga/usrp3/lib/ip/complex_multiplier_dds/complex_multiplier_dds.xci
  fpga/usrp3/lib/ip/complex_to_magphase/complex_to_magphase.xci
  fpga/usrp3/lib/ip/complex_to_magphase_int16_int24/complex_to_magphase_int16_int24.xci
  fpga/usrp3/lib/ip/complex_to_magphase_int32/complex_to_magphase_int32.xci
  fpga/usrp3/lib/ip/cordic_rotate_int24/cordic_rotate_int24.xci
  fpga/usrp3/lib/ip/cordic_rotate_int24_int16/cordic_rotate_int24_int16.xci
  fpga/usrp3/lib/ip/cordic_rotator/cordic_rotator.xci
  fpga/usrp3/lib/ip/cordic_rotator24/cordic_rotator24.xci
  fpga/usrp3/lib/ip/dds/dds.xci
  fpga/usrp3/lib/ip/dds_sin_cos_lut_only/dds_sin_cos_lut_only.xci
  fpga/usrp3/lib/ip/divide_int16/divide_int16.xci
  fpga/usrp3/lib/ip/divide_int16_int32/divide_int16_int32.xci
  fpga/usrp3/lib/ip/divide_int24/divide_int24.xci
  fpga/usrp3/lib/ip/divide_int32/divide_int32.xci
  fpga/usrp3/lib/ip/divide_uint32/divide_uint32.xci
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/rfnoc_block_addsub_tb.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/Makefile
  fpga/usrp3/lib/sim/io_cap_gen/cat_io_lvds_dual_mode_tb/Makefile
Due: none

fpga: docs: Upgrade to Vivado 2021.1
  fpga/docs/usrp3/build_instructions.md
Due: none

fpga: n3xx: Upgrade to Vivado 2021.1
  fpga/usrp3/top/n3xx/ip/aurora_64b66b_pcs_pma/aurora_64b66b_pcs_pma.xci
  fpga/usrp3/top/n3xx/ip/axi3_to_axi4lite_protocol_converter/axi3_to_axi4lite_protocol_converter.xci
  fpga/usrp3/top/n3xx/ip/axi4_to_axi3_protocol_converter_32/axi4_to_axi3_protocol_converter_32.xci
  fpga/usrp3/top/n3xx/ip/axi4_to_axi3_protocol_converter_64/axi4_to_axi3_protocol_converter_64.xci
  fpga/usrp3/top/n3xx/ip/axi64_4k_2clk_fifo/axi64_4k_2clk_fifo.xci
  fpga/usrp3/top/n3xx/ip/axi64_8k_2clk_fifo/axi64_8k_2clk_fifo.xci
  fpga/usrp3/top/n3xx/ip/axi_eth_dma/axi_eth_dma.xci
  fpga/usrp3/top/n3xx/ip/axi_interconnect/axi_interconnect.xci
  fpga/usrp3/top/n3xx/ip/axis_fifo_to_axi4lite/axis_fifo_to_axi4lite.xci
  fpga/usrp3/top/n3xx/ip/fifo_4k_2clk/fifo_4k_2clk.xci
  fpga/usrp3/top/n3xx/ip/fifo_short_2clk/fifo_short_2clk.xci
  fpga/usrp3/top/n3xx/ip/hb47_1to2/hb47_1to2.xci
  fpga/usrp3/top/n3xx/ip/hb47_2to1/hb47_2to1.xci
  fpga/usrp3/top/n3xx/ip/misc_clock_gen/misc_clock_gen.xci
  fpga/usrp3/top/n3xx/ip/n310_ps_bd/n310_ps_bd.tcl
  fpga/usrp3/top/n3xx/ip/one_gig_eth_pcs_pma/one_gig_eth_pcs_pma.xci
  fpga/usrp3/top/n3xx/ip/ten_gig_eth_pcs_pma/ten_gig_eth_pcs_pma.xci
  fpga/usrp3/top/n3xx/setupenv.sh
  fpga/usrp3/top/n3xx/sim/dram_fifo/Makefile
  fpga/usrp3/top/n3xx/sim/dram_fifo_bist/Makefile
Due: none

fpga: tools: Allow IP renaming with viv_ip_xci_editor.py
  fpga/usrp3/tools/scripts/viv_ip_xci_editor.py
Due: none

fpga: x400: Upgrade to Vivado 2021.1
  fpga/usrp3/top/x400/ip/adc_100m_bd/adc_100m_bd.tcl
  fpga/usrp3/top/x400/ip/adc_400m_bd/adc_400m_bd.tcl
  fpga/usrp3/top/x400/ip/axi64_4k_2clk_fifo/axi64_4k_2clk_fifo.xci
  fpga/usrp3/top/x400/ip/axi_eth_dma_bd/axi_eth_dma_bd.tcl
  fpga/usrp3/top/x400/ip/axi_inter_2x128_512_bd/axi_inter_2x128_512_bd.tcl
  fpga/usrp3/top/x400/ip/axi_inter_4x64_512_bd/axi_inter_4x64_512_bd.tcl
  fpga/usrp3/top/x400/ip/axi_interconnect_app_bd/axi_interconnect_app_bd.tcl
  fpga/usrp3/top/x400/ip/axi_interconnect_dma_bd/axi_interconnect_dma_bd.tcl
  fpga/usrp3/top/x400/ip/axi_interconnect_eth_bd/axi_interconnect_eth_bd.tcl
  fpga/usrp3/top/x400/ip/dac_100m_bd/dac_100m_bd.tcl
  fpga/usrp3/top/x400/ip/dac_400m_bd/dac_400m_bd.tcl
  fpga/usrp3/top/x400/ip/ddr4_64bits/ddr4_64bits.xci
  fpga/usrp3/top/x400/ip/eth_100g_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/eth_100g_bd/eth_100g.sv
  fpga/usrp3/top/x400/ip/eth_100g_bd/eth_100g_bd.tcl
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/Makefile
  fpga/usrp3/top/x400/ip/fifo_4k_2clk/fifo_4k_2clk.xci
  fpga/usrp3/top/x400/ip/fifo_short_2clk/fifo_short_2clk.xci
  fpga/usrp3/top/x400/ip/hb47_1to2/hb47_1to2.xci
  fpga/usrp3/top/x400/ip/hb47_2to1/hb47_2to1.xci
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x4xx_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/ip/xge_pcs_pma/Makefile.inc
  fpga/usrp3/top/x400/ip/xge_pcs_pma/ten_gige_phy.v
  fpga/usrp3/top/x400/ip/xge_pcs_pma/xge_pcs_pma.xci
  fpga/usrp3/top/x400/ip/xge_pcs_pma/xge_pcs_pma_wrapper.v.patch
  fpga/usrp3/top/x400/setupenv.sh
  fpga/usrp3/top/x400/sim/x4xx_qsfp_wrapper/x4xx_qsfp_wrapper_tb.sv
Due: none

fpga: lib: Fix addsub_hls
  fpga/usrp3/lib/hls/addsub_hls/addsub_hls.cpp
Due: none

fpga: e31x: Fix IP dependencies
  fpga/usrp3/top/e31x/Makefile
Due: none

fpga: Fix target dependencies in Makefile.xxx.inc
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

mpm: bump x4xx fpga compat
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

images: update fpgas for vivado 2021.1 upgrade
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: e320: Support advanced transport adapter
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/e320/e320.v
  fpga/usrp3/top/e320/e320_mgt_io_core.v
  fpga/usrp3/top/e320/e320_sfp_wrapper.v
  fpga/usrp3/top/e320/n3xx_sfp_wrapper.v
Due: none

fpga: sim: Support unused tkeep in AxiStreamPacket::dump_bytes()
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: none

fpga: lib: Add advanced features to IPv4 SV transport adapter
  fpga/usrp3/lib/rfnoc/xport_sv/chdr_xport_adapter.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_interface.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_regs.vh
  mpm/python/usrp_mpm/xports/CMakeLists.txt
  mpm/python/usrp_mpm/xports/__init__.py
  mpm/python/usrp_mpm/xports/xport_adapter_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: lib: Add chdr_strip_header module
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/chdr_strip_header.sv
Due: none

fpga: lib: Add eth_ipv4_interface_tb
  fpga/usrp3/lib/rfnoc/sim/eth_ipv4_interface_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/eth_ipv4_interface_tb/eth_ipv4_interface_all_tb.sv
  fpga/usrp3/lib/rfnoc/sim/eth_ipv4_interface_tb/eth_ipv4_interface_tb.sv
  fpga/usrp3/tools/utils/testbenches.excludes
Due: none

fpga: e320: Bump FPGA compat to 6.1
  fpga/usrp3/top/e320/e320_core.v
Due: none

fpga: n3xx: Bump FPGA compat to 8.1
  fpga/usrp3/top/n3xx/n3xx_core.v
Due: none

fpga: lib: Add support for length in tuser in eth_ipv4_add_udp
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_add_udp.sv
Due: none

fpga: n3xx: Support advanced transport adapter
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/n3xx/dboards/mg/n3xx.v
  fpga/usrp3/top/n3xx/dboards/rh/n3xx.v
  fpga/usrp3/top/n3xx/n3xx_mgt_channel_wrapper.v
  fpga/usrp3/top/n3xx/n3xx_mgt_wrapper.v
Due: none

fpga: lib: Add verilog-compatible wrapper for eth_ipv4_interface
  fpga/usrp3/lib/rfnoc/xport_sv/Makefile.srcs
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_interface_wrapper.sv
Due: none

fpga: x400: Fix transport adapter PROTOVER
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper_temp.sv
Due: none

fpga: x400: Fix NODE_INST for transport adapters
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper.sv
  fpga/usrp3/top/x400/x4xx_qsfp_wrapper_temp.sv
Due: none

fpga: x400: Bump FPGA compat to 7.9
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
Due: none

fpga: lib: Add NET_CHDR_W parameter to transport adapters
  fpga/usrp3/lib/rfnoc/xport_sv/chdr_xport_adapter.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_interface.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_internal.sv
Due: none

fpga: lib: Fix NODE_INST parameter in eth_internal
  fpga/usrp3/lib/rfnoc/xport/eth_internal.v
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_internal.sv
Due: none

fpga: lib: Add RegPort SystemVerilog interface
  fpga/usrp3/lib/control/Makefile.srcs
  fpga/usrp3/lib/control/regport_if.sv
Due: none

fpga: lib: Add compat to Verilog transport adapter
  fpga/usrp3/lib/rfnoc/xport/eth_interface.v
Due: none

extension: Add extension framework
  host/cmake/Modules/UHDConfig.cmake.in
  host/examples/extension_example/.gitignore
  host/include/uhd/CMakeLists.txt
  host/include/uhd/extension/CMakeLists.txt
  host/include/uhd/extension/extension.hpp
  host/include/uhd/usrp/multi_usrp.hpp
  host/lib/CMakeLists.txt
  host/lib/extension/CMakeLists.txt
  host/lib/extension/extension.cpp
  host/lib/include/uhdlib/extension/extension_factory.hpp
  host/lib/usrp/multi_usrp.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

extension: Add extension example
  host/examples/extension_example/CMakeLists.txt
  host/examples/extension_example/include/CMakeLists.txt
  host/examples/extension_example/include/extension_example/extension_example.hpp
  host/examples/extension_example/lib/CMakeLists.txt
  host/examples/extension_example/lib/extension_example.cpp
  host/examples/extension_example/lib/extension_example.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

extension: Add Extension Framework documentation
  host/docs/devices.dox
  host/docs/extension.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

mpm: bump fpga compat for raw udp streaming
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Add topology graph object
  host/lib/include/uhdlib/rfnoc/topo_graph.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/topo_graph.cpp
  host/tests/CMakeLists.txt
  host/tests/rfnoc_topograph_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Enable opt-in transport adapter control
  mpm/python/usrp_mpm/xports/xport_adapter_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Enable transport manager adapter
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd/mpm: Add API to set remote routes
  host/lib/include/uhdlib/rfnoc/mb_iface.hpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.hpp
  host/lib/usrp/x300/x300_impl.hpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: e320: Enable raw UDP streaming
  mpm/python/usrp_mpm/periph_manager/e320.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Transition stream managers and mgmt_portal to topo_graph_t
  host/lib/include/uhdlib/rfnoc/graph_stream_manager.hpp
  host/lib/include/uhdlib/rfnoc/link_stream_manager.hpp
  host/lib/include/uhdlib/rfnoc/mgmt_portal.hpp
  host/lib/rfnoc/graph_stream_manager.cpp
  host/lib/rfnoc/link_stream_manager.cpp
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
