Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

images: update FPGA images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: add: Add option to run make-yaml wizard
  CHANGELOG
  host/python/uhd/rfnoc_utils/modtool_commands/add.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Add make-yaml command
  host/python/uhd/rfnoc_utils/modtool_commands/make-yaml.yml
  host/python/uhd/rfnoc_utils/templates/blocktool/descriptor.yml.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: enable publishing of internal files
  fpga/.ci/fpga-pipeline.yml
Due: .ci/uhd-pipeline-pr.yml

ci: run rfnoc block tests before mender tests
  .ci/templates/steps-rfnoc-block-test.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x410: Fix NCO reset mechanism
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/x410_ps_rfdc_bd.tcl
Due: .ci/uhd-pipeline-pr.yml

ci: added Fedora 42 builder
  .ci/docker/uhd-builder-fedora42.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: removed Fedora 39 builder
  .ci/docker/uhd-builder-fedora39.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use agent env vars for some devices in rhombus
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Make members accessible in RfnocBlockCtrlBfm
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
Due: .ci/uhd-pipeline-pr.yml

fpga: lib: Add synchronizer_sync_in module
  fpga/usrp3/lib/control/Makefile.srcs
  fpga/usrp3/lib/control/synchronizer_sync_in.sv
Due: .ci/uhd-pipeline-pr.yml

ci: streaming: refactor streaming tests and utils
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/conftest.py
  host/tests/pytests/test_raw_udp_streaming.py
  host/tests/pytests/test_streaming.py
  host/tests/pytests/util_test_length.py
  host/tests/pytests/util_test_nic.py
  host/tests/streaming_performance/batch_run_benchmark_rate.py
  host/tests/streaming_performance/parse_benchmark_rate.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fix list of devices that use a dedicated RFIC
  host/docs/calibration.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

rfnoc_image_builder: Improve connection checking
  host/python/uhd/rfnoc_utils/connections.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: updated help description and doc string
  host/examples/python/benchmark_rate.py
  host/examples/python/curses_fft.py
  host/examples/python/fft_loopback.py
  host/examples/python/remote_rx.py
  host/examples/python/replay_capture.py
  host/examples/python/rx_to_file.py
  host/examples/python/tx_waveforms.py
  host/examples/python/usrp_power_meter.py
  host/examples/python/x440_L_band_capture.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

github: update template so it works with the UI
  .github/ISSUE_TEMPLATE/issue-template.md
Due: none

ci: pytest: fix masked pytest return code
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/templates/tests/templates/step-uhd-run-pytest-on-host.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Provide Python-only versions of some API calls
  host/python/CMakeLists.txt
  host/python/uhd/__init__.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: image_builder: Use path APIs instead of @CONFIG_PATH@
  host/python/uhd/rfnoc_utils/image_builder.py
  host/utils/CMakeLists.txt
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Amend modtool tests to also build image cores
  .ci/templates/job-rfnoc_modtool-test-sw.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Apply formatting rules to __init__.py.in
  host/python/uhd/__init__.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Use GNUInstallDirs in CMake
  host/examples/rfnoc-gain/CMakeLists.txt
  host/examples/rfnoc-gain/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Use GNUInstallDirs instead of hand-crafted code
  host/CMakeLists.txt
  host/docs/build.dox.in
  host/include/CMakeLists.txt
  host/include/uhd/CMakeLists.txt
  host/include/uhd/cal/CMakeLists.txt
  host/include/uhd/experts/CMakeLists.txt
  host/include/uhd/extension/CMakeLists.txt
  host/include/uhd/features/CMakeLists.txt
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/rf_control/CMakeLists.txt
  host/include/uhd/transport/CMakeLists.txt
  host/include/uhd/types/CMakeLists.txt
  host/include/uhd/usrp/CMakeLists.txt
  host/include/uhd/usrp_clock/CMakeLists.txt
  host/include/uhd/utils/CMakeLists.txt
  host/include/uhd/utils/chdr/CMakeLists.txt
  host/lib/CMakeLists.txt
  host/lib/utils/CMakeLists.txt
  host/uhd.pc.in
  host/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: cmake: Use GNUInstallDirs
  mpm/CMakeLists.txt
  mpm/include/mpm/CMakeLists.txt
  mpm/include/mpm/ad9361/CMakeLists.txt
  mpm/include/mpm/ad937x/CMakeLists.txt
  mpm/include/mpm/chips/CMakeLists.txt
  mpm/include/mpm/dboards/CMakeLists.txt
  mpm/include/mpm/i2c/CMakeLists.txt
  mpm/include/mpm/rfdc/CMakeLists.txt
  mpm/include/mpm/spi/CMakeLists.txt
  mpm/include/mpm/types/CMakeLists.txt
  mpm/python/CMakeLists.txt
  mpm/tools/CMakeLists.txt
  mpm/tools/tlv_eeprom/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

if_addrs: revert address and mask cast back to ulong
  host/lib/transport/if_addrs.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add CHDR max lengths
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils.vh
Due: .ci/uhd-pipeline-pr.yml

fpga: sim: Print timestamp in hex
  fpga/usrp3/sim/rfnoc/PkgChdrBfm.sv
Due: .ci/uhd-pipeline-pr.yml

fpga: sim: Add peek methods to RfnocBlockCtrlBfm
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
Due: .ci/uhd-pipeline-pr.yml

cmake: Remove reference to UHD_RFNOC_FOUND
  host/CMakeLists.txt
  host/cmake/Modules/UHDConfig.cmake.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix modtool test paths
  .ci/templates/job-rfnoc_modtool-test-testbenches.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Fix paths
  host/cmake/Modules/create_newmod.yml
  host/python/uhd/rfnoc_utils/modtool_commands/add.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: x300: Remove usage of boost::thread_group
  host/lib/usrp/x300/x300_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add AXI-Stream bus monitor
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_monitor.sv
Due: .ci/uhd-pipeline-pr.yml

fpga: rfnoc: Add CHDR bus monitor
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/chdr_monitor.sv
Due: .ci/uhd-pipeline-pr.yml

python: step_executor: Add run_subprocess and find_executable
  host/python/uhd/rfnoc_utils/rfnoc_modtool.py
  host/python/uhd/rfnoc_utils/step_executor.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Add add-groot command
  host/python/uhd/rfnoc_utils/modtool_commands/add-groot.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Fix Doxygen warnings
  host/docs/usrp_n3xx.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

uhd: Remove usage of std::stoul() on user input
  host/examples/benchmark_rate.cpp
  host/lib/rfnoc/mgmt_portal.cpp
  host/lib/transport/udp_dpdk_link.cpp
  host/lib/usrp/common/io_service_args.cpp
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: cast: Add from_str<size_t>
  host/include/uhd/utils/cast.hpp
  host/lib/utils/cast.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Remove mdata_sig line from all block YAMLs
  host/include/uhd/rfnoc/blocks/addsub.yml
  host/include/uhd/rfnoc/blocks/ddc.yml
  host/include/uhd/rfnoc/blocks/duc.yml
  host/include/uhd/rfnoc/blocks/fft.yml
  host/include/uhd/rfnoc/blocks/fir_filter.yml
  host/include/uhd/rfnoc/blocks/fosphor.yml
  host/include/uhd/rfnoc/blocks/keep_one_in_n.yml
  host/include/uhd/rfnoc/blocks/logpwr.yml
  host/include/uhd/rfnoc/blocks/moving_avg.yml
  host/include/uhd/rfnoc/blocks/null_src_sink.yml
  host/include/uhd/rfnoc/blocks/replay.yml
  host/include/uhd/rfnoc/blocks/siggen.yml
  host/include/uhd/rfnoc/blocks/vector_iir.yml
  host/include/uhd/rfnoc/blocks/window.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
