Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

tools: changeset_testlist.py skips comments
  tools/changeset_testlist.py
  tools/changeset_testlist.yaml
Due: none

host: Fix Windows RC version numbers
  host/lib/CMakeLists.txt
  host/lib/uhd.rc.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fixed warnings
  host/docs/install.dox
  host/docs/sphinx/source/conf.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

deps: rpclib: support detection of arm64 architecture for Windows
  host/lib/deps/rpclib/include/rpc/msgpack/predef/architecture/arm.h
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: dsp: Refactor dsp_core_utils
  host/lib/include/uhdlib/usrp/cores/dsp_core_utils.hpp
  host/lib/usrp/cores/CMakeLists.txt
  host/lib/usrp/cores/dsp_core_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: fix lua parser stream status message status field
  tools/dissectors/lua/rfnoc.lua
Due: none

ci: x4xx: Switched devtests to use sfp0 interface like N3xx
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: add additional temperature sensor readings for x4xx
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

deb: Move content of /usr/share into uhd-host
  host/cmake/debian/libuhd4.7.0.install
  host/cmake/debian/uhd-host.install
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Update rfnoc_image_builder man page
  host/docs/rfnoc_image_builder.1
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

deb: Make python3-uhd a dependency of uhd-host
  host/cmake/debian/control
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add manpages for uhd_adc_self_cal and rfnoc_image_builder
  host/docs/CMakeLists.txt
  host/docs/rfnoc_image_builder.1
  host/docs/uhd_adc_self_cal.1
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

cmake: Fix install-utils check to also work on BSD and Hurd
  host/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

all: use uhd.maintainer@emerson.com as new maintainer email
  host/cmake/Modules/UHDPackage.cmake
  host/cmake/debian/control
  host/examples/rfnoc-gain/gr-rfnoc_gain/MANIFEST.yml
  host/examples/rfnoc-gain/python/setup.py.in
  host/python/setup.py.in
  mpm/python/setup.py.in
  tools/debs/convert_changelog.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Improve documentation of functions in paths.hpp
  host/include/uhd/utils/paths.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Purge all hard-coded references the share/uhd
  host/include/uhd/utils/paths.hpp
  host/lib/usrp/usrp2/usrp2_iface.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/lib/utils/paths.cpp
  host/tests/paths_test.cpp
  host/utils/uhd_config_info.cpp
  host/utils/uhd_images_downloader.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: add pkg_data_dir() to build_info
  host/include/uhd/build_info.hpp
  host/lib/build_info.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Add uhd::find_uhd_command()
  host/lib/include/uhdlib/utils/paths.hpp
  host/lib/usrp/usrp2/usrp2_iface.cpp
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/lib/utils/paths.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Bump minimum Boost version to 1.66
  host/cmake/Modules/UHDMinDepVersions.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: Update CMake to 1.66 on the Ubuntu 18.04 builder
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

ci: restructure windows builds
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Windows builders: drop VS2017 support, update CMake + Python
  .ci/docker/uhd-builder-vs2017-v141-x86.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py312.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x86.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py312.Dockerfile
  .ci/docker/vcpkg/vcpkg-vs2022.json
  .ci/docker/vcpkg/vcpkg.json
  .ci/docker/vcpkg/vcpkg.txt
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Enable Python API support only if min version is satisfied.
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Add get_pkg_(data_)path() APIs
  host/lib/utils/paths_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Bump minimum CMake from 3.8 to 3.12
  host/CMakeLists.txt
  host/cmake/Modules/UHDMinDepVersions.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove all references to PythonInterp and PythonLibs
  host/cmake/Modules/UHDPython.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: python: Add pyproject.toml to enable poetry builds
  host/cmake/Modules/UHDPython.cmake
  host/python/CMakeLists.txt
  host/python/build.py
  host/python/pyproject.toml.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: windows build: build wheel after building installer
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: modtool: Fix various issues with block creation
  host/cmake/Modules/create_newmod.yml
  host/examples/rfnoc-gain/CMakeLists.txt
  host/python/uhd/rfnoc_utils/modtool_commands/add.yml
  host/python/uhd/rfnoc_utils/step_executor.py
  host/python/uhd/rfnoc_utils/templates/blocktool/CMakeLists.txt.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/Makefile.srcs.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_chdr_connect_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_chdr_wires_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_data_connect_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_pyld_ctxt_connect_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_pyld_ctxt_modules_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_pyld_ctxt_wires_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/template_block_control.cpp.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/template_block_control_python.hpp.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Fix include path handling
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Use new 'q' filter
  host/examples/rfnoc-gain/rfnoc/blocks/gain.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Rename .v to .sv
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/Makefile.srcs
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/noc_shell_gain.sv
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/rfnoc_block_gain.sv
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Remove deprecated FindUnixCommands
  host/examples/rfnoc-gain/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Provide a wrapper around mako.template
  host/python/uhd/rfnoc_utils/image_builder.py
  host/python/uhd/rfnoc_utils/step_executor.py
  host/python/uhd/rfnoc_utils/template.py
  host/python/uhd/rfnoc_utils/utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add 'quote' (or 'q') filter
  host/python/uhd/rfnoc_utils/template.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve error message for missing YAML
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Output JUnit XML for testbench run
  fpga/.ci/templates/job-run-testbenches.yml
Due: none

fpga: tools: Add JUnit XML support to run_testbenches
  fpga/usrp3/tools/utils/requirements.txt
  fpga/usrp3/tools/utils/run_testbenches.py
Due: none

docs: Add information about data size restriction in transport
  host/docs/transport.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
