Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

fpga: x400: Regenerate register maps
  fpga/usrp3/top/x400/dboards/fbx/regmap/clock_en_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/fbx/regmap/led_atr_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/fbx/regmap/rf_atr_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/dsa_setup_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/led_setup_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/switch_setup_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/zbx_spi_regmap_utils.vh
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/regmap/x410_rfdc_regs.v
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/regmap/x440_rfdc_regs.v
  fpga/usrp3/top/x400/regmap/dig_ifc_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/gpio_atr_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x410/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/x410/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/x440/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: add flop after RX radio core cmd FIFO
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_regs.vh
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: allow tx_frontend connection to be reconfigured
  host/lib/usrp/x300/x300_dboard_iface.cpp
  host/lib/usrp/x300/x300_dboard_iface.hpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove xilinxLocation and rely on the agent .path file
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-s175.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: limit analyze changeset checkout to merge commit only
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Moving the pebbles lagrid files to a private repo
  .ci/templates/tests/pebbles-labgrid/crossbar/places.yaml
  .ci/templates/tests/pebbles-labgrid/device-configs/pebbles-n310-0.yml
  .ci/templates/tests/pebbles-labgrid/docker-compose.yml
  .ci/templates/tests/pebbles-labgrid/exporter-conf/exporter.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: simulate an enter to clear some of the screen
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fixup the pythonpath for pebbles tests
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/tests/templates/step-uhd-run-pytest-on-host.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Use a venv for n310 RF pytests and update dependencies
  .ci/templates/job-uhd-rf-tests.yml
  .ci/utils/requirements_312.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use the ettus-rts version of the labgrid files
  .ci/templates/job-uhd-rf-tests-pebbles.yml
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: the redis lock isn't necessary to use
  .ci/templates/job-uhd-rf-tests-pebbles.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Use the pipelineAgent parameter like the x4xx
  .ci/templates/job-uhd-rf-tests-pebbles.yml
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: fix wrong substitution in README.md
  host/cmake/Modules/create_newmod.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: image builder: search constraints files in top directory
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: correct cmake command in README
  host/examples/rfnoc-gain/README.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add handshake_latch module
  fpga/usrp3/lib/control/Makefile.srcs
  fpga/usrp3/lib/control/handshake_latch.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add CHDR channel demultiplexer module
  fpga/usrp3/lib/rfnoc/sim/chdr_channel_demux_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/chdr_channel_demux_tb/chdr_channel_demux_all_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_channel_demux_tb/chdr_channel_demux_tb.sv
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/chdr_channel_demux.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add CHDR channel multiplexer module
  fpga/usrp3/lib/rfnoc/sim/chdr_channel_mux_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/chdr_channel_mux_tb/chdr_channel_mux_all_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_channel_mux_tb/chdr_channel_mux_tb.sv
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/chdr_channel_mux.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add register on radio's digital loopback path
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_core.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: examples: Align names of some python examples
  host/examples/python/CMakeLists.txt
  host/examples/python/replay_capture.py
  host/examples/python/rfnoc_rx_replay_samples_to_file.py
  host/examples/python/rfnoc_txrx_fft_block_loopback.py
  host/examples/python/rx_spectrum_to_asciiplot.py
  host/examples/python/rx_to_remote_udp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: pin gcc version to 15.0.1 for Fedora 42 builder
  .ci/docker/uhd-builder-fedora42.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

ci: docker: add setuptools to Ubuntu 25.04 builder
  .ci/docker/uhd-builder-ubuntu2504.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

ci: docker: upgrade Windows container to ltsc2025
  .ci/docker/uhd-builder-vs2019-v142-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py312.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py312.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_image_builder: Fix path selection for IP build dir
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: debs: support Ubuntu 25.04 (plucky) installer creation
  tools/debs/uhd_ubuntu_deb.py
  tools/debs/upload_debs.sh
Due: none

ci: dev: added pipeline stage for LabVIEW based USRP tests
  .ci/templates/job-uhd-usrp-tests-uhdlvtest.yml
  .ci/templates/job-uhd-usrp-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: Adapt test_raw_udp_... to python example name change
  host/tests/pytests/test_raw_udp_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: fix critical path in DUC hierarchy
  fpga/usrp3/lib/rfnoc/axi_tag_time.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: fix critical paths in DDC hierarchy
  fpga/usrp3/lib/rfnoc/axi_drop_partial_packet.v
  fpga/usrp3/lib/rfnoc/axi_rate_change.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: fix complex multiplier parameter description
  fpga/usrp3/lib/dsp/complex_multiply.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: add register map check
  .ci/fpga/scripts/run_setup.sh
  .ci/fpga/templates/job-regmap.yml
  .ci/hwtools/.gitignore
  .ci/hwtools/X410/vsmakesettings.py
  .ci/hwtools/X440/vsmakesettings.py
  .ci/hwtools/build.py
  .ci/hwtools/common.py
  .ci/hwtools/root.py
  .ci/templates/stages-uhd-pipeline.yml
  fpga/.ci/fpga-pipeline.yml
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Move node_accessor into public API space
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/node_accessor.hpp
  host/lib/rfnoc/block_container.cpp
  host/lib/rfnoc/graph.cpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/tests/actions_test.cpp
  host/tests/rfnoc_block_tests/addsub_block_test.cpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_mock.hpp
  host/tests/rfnoc_block_tests/fft_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test_v2.cpp
  host/tests/rfnoc_block_tests/fir_filter_block_test.cpp
  host/tests/rfnoc_block_tests/fosphor_block_test.cpp
  host/tests/rfnoc_block_tests/keep_one_in_n_test.cpp
  host/tests/rfnoc_block_tests/lc_block_test.cpp
  host/tests/rfnoc_block_tests/logpwr_block_test.cpp
  host/tests/rfnoc_block_tests/moving_average_block_test.cpp
  host/tests/rfnoc_block_tests/null_block_test.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
  host/tests/rfnoc_block_tests/siggen_block_test.cpp
  host/tests/rfnoc_block_tests/split_stream_block_test.cpp
  host/tests/rfnoc_block_tests/switchboard_block_test.cpp
  host/tests/rfnoc_block_tests/vector_iir_block_test.cpp
  host/tests/rfnoc_block_tests/window_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
  host/tests/rfnoc_detailgraph_test.cpp
  host/tests/rfnoc_graph_mock_nodes.hpp
  host/tests/rfnoc_node_test.cpp
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Install UHDUnitTest.cmake
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Allow non-API tests to set custom definitions
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Move RFNoC mock nodes to public headers
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/mock_nodes.hpp
  host/tests/actions_test.cpp
  host/tests/rfnoc_block_tests/addsub_block_test.cpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test_v2.cpp
  host/tests/rfnoc_block_tests/fir_filter_block_test.cpp
  host/tests/rfnoc_block_tests/fosphor_block_test.cpp
  host/tests/rfnoc_block_tests/keep_one_in_n_test.cpp
  host/tests/rfnoc_block_tests/lc_block_test.cpp
  host/tests/rfnoc_block_tests/logpwr_block_test.cpp
  host/tests/rfnoc_block_tests/moving_average_block_test.cpp
  host/tests/rfnoc_block_tests/null_block_test.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
  host/tests/rfnoc_block_tests/siggen_block_test.cpp
  host/tests/rfnoc_block_tests/split_stream_block_test.cpp
  host/tests/rfnoc_block_tests/switchboard_block_test.cpp
  host/tests/rfnoc_block_tests/vector_iir_block_test.cpp
  host/tests/rfnoc_block_tests/window_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_detailgraph_test.cpp
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: rfnoc: Move detail::graph_t into public API
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/detail/CMakeLists.txt
  host/include/uhd/rfnoc/detail/graph.hpp
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/rfnoc/graph.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/tests/CMakeLists.txt
  host/tests/actions_test.cpp
  host/tests/rfnoc_block_tests/addsub_block_test.cpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test_v2.cpp
  host/tests/rfnoc_block_tests/fir_filter_block_test.cpp
  host/tests/rfnoc_block_tests/fosphor_block_test.cpp
  host/tests/rfnoc_block_tests/keep_one_in_n_test.cpp
  host/tests/rfnoc_block_tests/lc_block_test.cpp
  host/tests/rfnoc_block_tests/logpwr_block_test.cpp
  host/tests/rfnoc_block_tests/moving_average_block_test.cpp
  host/tests/rfnoc_block_tests/null_block_test.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
  host/tests/rfnoc_block_tests/siggen_block_test.cpp
  host/tests/rfnoc_block_tests/split_stream_block_test.cpp
  host/tests/rfnoc_block_tests/switchboard_block_test.cpp
  host/tests/rfnoc_block_tests/vector_iir_block_test.cpp
  host/tests/rfnoc_block_tests/window_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_detailgraph_test.cpp
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Add unit tests
  host/examples/rfnoc-gain/CMakeLists.txt
  host/examples/rfnoc-gain/tests/CMakeLists.txt
  host/examples/rfnoc-gain/tests/gain_block_test.cpp
  host/examples/rfnoc-gain/tests/gain_math_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: check for cmake on macOS agents
  .ci/templates/job-uhd-build-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: windows: Add additional agent demand to improve build success rate
  .ci/templates/job-uhd-build-installer.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: n3xx: update section on filesystem update
  host/docs/usrp_n3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
