Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

fixup! ci: propagate testLength to RF ATS
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: init device with gpsdo sources in query_gpsdo_sensors
  host/utils/query_gpsdo_sensors.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MR Review updates
  host/CMakeLists.txt
  host/examples/tx_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: pps_sync cleanup
  fpga/usrp3/top/x400/x4xx_pps_sync.v
Due: none

fpga: x440: remove extra synchronizer
  fpga/usrp3/top/x400/x4xx_pps_sync.v
Due: none

fpga: x400: propagate pps_sync changes
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_right.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/global_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
  fpga/usrp3/top/x400/x4xx_global_regs.v
  fpga/usrp3/top/x400/x4xx_pps_sync.v
Due: none

fpga: rfnoc: Add clock info to backend ifc
  fpga/usrp3/lib/rfnoc/core/backend_iface.v
  fpga/usrp3/lib/rfnoc/core/rfnoc_backend_iface.vh
  host/utils/rfnoc_blocktool/templates/noc_shell_template.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: image builder: Add clock index support to image builder
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/core/rfnoc_imagebuilder_args.json
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/templates/modules/connect_clk_domains.v.mako
  host/python/uhd/imgbuilder/templates/modules/rfnoc_block.v.mako
  host/python/uhd/imgbuilder/templates/rfnoc_image_core.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: radio: Add clock index parameters
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/noc_shell_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
Due: none

fpga: lib: Allow buffering in eth_ipv4_chdr_adapter
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter.sv
Due: none

fpga: x400: Add CE clock
  fpga/usrp3/top/x400/constraints/timing/common.xdc
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_1600_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_1600_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_400_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: n3xx: Add CE clock
  fpga/usrp3/top/n3xx/dboards/mg/n3xx.v
  fpga/usrp3/top/n3xx/dboards/rh/n3xx.v
  fpga/usrp3/top/n3xx/mb_clocks.xdc
  fpga/usrp3/top/n3xx/n300_bist_image_core.v
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n310_bist_image_core.v
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n320_bist_image_core.v
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n3xx_clocking.v
  fpga/usrp3/top/n3xx/n3xx_core.v
  host/include/uhd/rfnoc/core/n300_bsp.yml
  host/include/uhd/rfnoc/core/n310_bsp.yml
  host/include/uhd/rfnoc/core/n320_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add X440 200 MHz variant
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/x440_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_200_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x440_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_200_static_router.hex
Due: none

Remove duplicates
  firmware/kintex7sdr/kintex7sdr/CMakeLists.txt
  firmware/kintex7sdr/kintex7sdr/eth_phy.h
  firmware/kintex7sdr/kintex7sdr/ethernet.c
  firmware/kintex7sdr/kintex7sdrp/eth_phy.h
  firmware/kintex7sdr/kintex7sdrp/ethernet.c
  firmware/kintex7sdr/lib/eth_mac.c
Due: none

Add verbose
  firmware/kintex7sdr/CMakeLists.txt
  firmware/kintex7sdr/apps/txrx_uhd.c
Due: none

lib: rfnoc: Add clock info fields to client zero
  host/lib/include/uhdlib/rfnoc/client_zero.hpp
  host/lib/rfnoc/client_zero.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Add support for auto-clock discovery
  host/include/uhd/rfnoc/defaults.hpp
  host/lib/include/uhdlib/rfnoc/mb_iface.hpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.hpp
  host/lib/usrp/x300/x300_impl.hpp
  host/lib/usrp/x300/x300_mb_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add LUT for def. MCR per DSP bandwidth
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

x4xx: Add support for auto clock ID
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_d_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_1600_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_1600_d_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_1600_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_1600_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_400_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_400_d_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_400_rfnoc_image_core.yml
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: replace deprecated ruamel.yaml methods
  tools/changeset_testlist.py
Due: none

fpga: x400: Split DRAM interface into two banks
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_d_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_d_static_router.hex
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_cg_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_x4c_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_1600_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_1600_d_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_1600_d_static_router.hex
  fpga/usrp3/top/x400/x440_1600_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_400_d_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_400_d_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_400_d_static_router.hex
  fpga/usrp3/top/x400/x440_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_dram.v
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x440: Add X440_X4_200 to image flavors
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: tools: Add X440_X4_200 to X440 package
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: none

fpga: ci: Add X440_X4_200 to pipelines
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: x400: Split DRAM interface on X440_X4_200
  fpga/usrp3/top/x400/x440_200_rfnoc_image_core.v
Due: none

mpm: Disable MTS completely for dual rate
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: x400: update signals to run on two domains
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/rfdc_timing_control.v
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
Due: none

fpga: x400: bump minor revision
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_right.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
Due: none

Add verbose
  firmware/kintex7sdr/apps/txrx_uhd.c
  firmware/kintex7sdr/kintex7sdrp/bootloader_utils.c
  firmware/kintex7sdr/kintex7sdrp/ethernet.c
  firmware/kintex7sdr/kintex7sdrp/udp_fw_update.c
  firmware/kintex7sdr/lib/eth_mac.c
  firmware/kintex7sdr/lib/net_common.c
  firmware/kintex7sdr/lib/nonstdio.c
  firmware/kintex7sdr/lib/nonstdio.h
  firmware/kintex7sdr/lib/pkt_ctrl.c
Due: none

Fix unknown error
  firmware/kintex7sdr/apps/txrx_uhd.c
  firmware/kintex7sdr/kintex7sdrp/udp_fw_update.c
  host/lib/usrp/kintex7sdr/kintex7sdr_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Удалить лишный вывод
  firmware/kintex7sdr/apps/txrx_uhd.c
Due: none

Возможность загрузки только FW
  host/lib/usrp/kintex7sdr/kintex7sdr_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Убрать лишный вывод
  firmware/kintex7sdr/apps/txrx_uhd.c
  firmware/kintex7sdr/kintex7sdrp/bootloader_utils.c
Due: none

Изменить verbose вывод
  firmware/kintex7sdr/apps/txrx_uhd.c
  firmware/kintex7sdr/kintex7sdrp/ethernet.c
  firmware/kintex7sdr/lib/eth_mac.c
  firmware/kintex7sdr/lib/net_common.c
  firmware/kintex7sdr/lib/pkt_ctrl.c
Due: none

Установить VERBOSE_PACKET по умолчанию
  firmware/kintex7sdr/CMakeLists.txt
  firmware/kintex7sdr/kintex7sdrp/ethernet.c
Due: none

images: bump x4xx fpga images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x400: match HDL PPS updates
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

lib: x4xx: Use auto clock ID in x400_radio_control
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: L band capture example using dual rate
  host/examples/python/CMakeLists.txt
  host/examples/python/x440_L_band_capture.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: update non-x4xx images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
