Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make_trace
  ...

ci: Generate installed binaries for downstream use
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x4xx: gpio: Properly unmap FPGA GPIO values
  host/lib/usrp/x400/x400_gpio_control.cpp
  host/lib/usrp/x400/x400_gpio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Align get/set_gpio_src mappings with HDMI pinouts
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
Due: .ci/oe-x4xx-packages.yml

fpga: x400: Bump copyright
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/core_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/cpld_interface_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/dig_ifc_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/dio_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/global_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/gpio_atr_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/pl_cpld_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/radio_ctrlport_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/radio_dio_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/rfdc_timing_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
Due: none

fpga: x400: Add SPI bus support for GPIO ports
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/dig_ifc_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/radio_dio_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
  fpga/usrp3/top/x400/x4xx_gpio_atr.v
  fpga/usrp3/top/x400/x4xx_gpio_spi.v
Due: none

fpga: x400: Expand PS GPIO port for DIO control
  fpga/usrp3/top/x400/dboards/zbx/cpld/quartus/zbx_top_cpld.qsf
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/synthstub/x4xx_ps_rfdc_bd.vhd
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x4xx_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
Due: none

fpga: x400: Connect Radio Blocks to DIO
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/ctrlport_window.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/quartus/zbx_top_cpld.qsf
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/radio_ctrlport_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/rfdc_timing_control.v
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
Due: none

fpga: x400: Add GPIO control via ATR and DB state
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/doc/x4xx_core_common_buses.svg
  fpga/usrp3/top/x400/regmap/core_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/dio_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/gpio_atr_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/radio_dio_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
  fpga/usrp3/top/x400/x4xx_dio.v
  fpga/usrp3/top/x400/x4xx_gpio_atr.v
  host/docs/res/x4xx_dio_source_muxes.svg
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: x400: cpld: Bump copyright
  fpga/usrp3/top/x400/cpld/regmap/constants_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/jtag_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/mb_cpld_pl_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/mb_cpld_ps_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/pl_cpld_base_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/ps_cpld_base_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/ps_power_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/reconfig_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/spi_regmap_utils.vh
Due: none

images: Make get_images_dir return absolute path
  images/populate_images.py
Due: none

uhd: Demote WARNING on minor compat mismatch to DEBUG
  host/lib/utils/compat_check.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Modularize x4xx_radio_mock to use it in other tests
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Build gnuradio and gr-ettus
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-gnuradio-make.yml
  .ci/templates/steps-build-gr-ettus-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add gnuradio deps to images
  .ci/docker/uhd-builder-fedora33.Dockerfile
  .ci/docker/uhd-builder-fedora34.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: Remove noc_shell_regs.vh and sim_rfnoc_lib.svh
  fpga/usrp3/lib/rfnoc/Makefile.srcs
  fpga/usrp3/lib/rfnoc/noc_shell_regs.vh
  fpga/usrp3/lib/sim/arm_deframer/Makefile
  fpga/usrp3/lib/sim/arm_deframer/arm_deframer_tb.sv
  fpga/usrp3/sim/rfnoc/Makefile.srcs
  fpga/usrp3/sim/rfnoc/sim_rfnoc_lib.svh
Due: none

fpga: n3xx: rh: cpld: Refactor CPLD build process
  fpga/usrp3/top/n3xx/dboards/rh/cpld/.gitignore
  fpga/usrp3/top/n3xx/dboards/rh/cpld/Makefile
  fpga/usrp3/top/n3xx/dboards/rh/cpld/Makefile.cpld.inc
  fpga/usrp3/top/n3xx/dboards/rh/cpld/quartus/rhodium_top.qpf
  fpga/usrp3/top/n3xx/dboards/rh/cpld/quartus/rhodium_top.qsf
  fpga/usrp3/top/n3xx/dboards/rh/cpld/rhodium_top.v
Due: none

cmake: uhdboost: Fix check for UHD_BOOST_REQUIRED being set
  host/cmake/Modules/UHDBoost.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

RFNoC: Cache and re-use host endpoints
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: docs: Add B205mini FPGA info
  fpga/docs/usrp3/build_instructions.md
Due: none

rfnoc: set UHD_API_HEADER on property_t
  host/include/uhd/config.h
  host/include/uhd/config.hpp
  host/include/uhd/rfnoc/property.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: expose uhd::dict and fs_path with UHD_API_HEADER
  host/include/uhd/property_tree.hpp
  host/include/uhd/types/dict.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update N32x CPLD manifest
  fpga/usrp3/top/n3xx/dboards/rh/cpld/quartus/rhodium_top.qsf
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: added libatomic check for boost/lockfree/queue.hpp
  host/cmake/Modules/UHDAtomics.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix _set_subdev_spec() helper function
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Remove further references to rfnoc_num_blocks
  mpm/python/usrp_mpm/bist.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: Add post_init() method to noc_block_base
  host/include/uhd/rfnoc/noc_block_base.hpp
  host/lib/rfnoc/noc_block_base.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Set the default MTU forwarding policy to ONE_TO_ONE.
  host/include/uhd/rfnoc/noc_block_base.hpp
  host/lib/rfnoc/noc_block_base.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Update the MTU forwarding property for some blocks
  host/lib/rfnoc/addsub_block_control.cpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/dmafifo_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/rfnoc/null_block_control.cpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/split_stream_block_control.cpp
  host/lib/rfnoc/switchboard_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add shim Sphinx config for readthedocs
  .readthedocs.yaml
  host/docs/sphinx/.gitignore
  host/docs/sphinx/Makefile
  host/docs/sphinx/environment.yml
  host/docs/sphinx/source/conf.py
  host/docs/sphinx/source/index.rst
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: rfnoc: Add get_property bindings
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Enable building of init_usrp
  .ci/templates/steps-build-uhd-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Make uhdSrcDir directly reference Build.SourcesDirectory
  .ci/templates/job-uhd-build-src.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add x410 test to mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: zbx: Expose tuning table on property tree
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_expert.hpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix units for DRAM BIST
  mpm/python/e320_bist
  mpm/python/n3xx_bist
  mpm/python/usrp_mpm/bist.py
Due: .ci/oe-x4xx-packages.yml

mpm: Add x4xx DRAM BIST
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml

mpm: Use receiving socket for sending response
  mpm/python/usrp_mpm/discovery.py
Due: .ci/oe-x4xx-packages.yml

ci: Add libuhd python dependencies to macOS
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x4xx: Fix some warnings on mac OS
  host/lib/usrp/x400/x400_gpio_control.cpp
  host/lib/usrp/x400/x400_gpio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
