Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

Prepare branch for 4.1.0.7 release
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Minor preparations to x4xx.py for X440 support
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Refactor LMK04832X4xx and LMK03328X4xx
  mpm/python/usrp_mpm/chips/lmk04832.py
  mpm/python/usrp_mpm/periph_manager/CMakeLists.txt
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_types.py
  mpm/python/usrp_mpm/periph_manager/x4xx_reference_pll.py
  mpm/python/usrp_mpm/periph_manager/x4xx_sample_pll.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: update to build docker builds for all release branches
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: updates for new E320 in devtest system
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Update clocking theory of operations for X4xx
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

uhd: Update changelog with 4.1.0.x releases
  CHANGELOG
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

github: Fix URL for mailing list
  .github/ISSUE_TEMPLATE.md
Due: none

mpm: x4xx: Move all clock control to single class
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Extend x4xx_rfdc_regs
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Move enable_iq_swap to x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

experts: Add force_dirty() call
  host/include/uhd/experts/expert_nodes.hpp
  host/tests/expert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Bump minimum gcc version to 7.3.0
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix ZBX CPLD updater
  mpm/python/usrp_mpm/dboard_manager/zbx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

FPGA: Add time changed pulse to timekeeper
  fpga/usrp3/lib/rfnoc/utils/timekeeper.v
Due: none

FPGA: Synchronize X300 RX frontends on time change
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/n3xx_core.v
  fpga/usrp3/top/x300/bus_int.v
  fpga/usrp3/top/x300/x300_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
Due: none

images: Update manifest for SEP throttling
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Fix logic in can_connect_device_to_device()
  host/lib/include/uhdlib/rfnoc/link_stream_manager.hpp
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

b200: Fix invalid RF switch positions
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix disconnecting back-edges from graphs
  host/lib/rfnoc/graph.cpp
  host/tests/rfnoc_detailgraph_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

extension: windows: Fixed linking extension example to uhd.lib
  host/docs/extension.dox
  host/examples/extension_example/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

octoclock: Fix uhd_usrp_probe error
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/utils/octoclock_burn_eeprom.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Make edge comparison more flexible
  host/include/uhd/rfnoc/graph_edge.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

UBX: Add VCO band calibration and map access
  host/docs/dboards.dox
  host/lib/include/uhdlib/usrp/common/max287x.hpp
  host/lib/usrp/dboard/db_ubx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: Fix usrp2_recovery.py for Python3
  host/utils/usrp2_recovery.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix auto-detection of Python install directory
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x4xx: Update BIST to match clocking refactoring
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Introduce X4xxClockPolicy
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/periph_manager/CMakeLists.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

BuildSystem: Update RPath and version handling
  host/CMakeLists.txt
  host/cmake/Modules/FindDPDK.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

BuildSystem: Minor Formatting
  host/CMakeLists.txt
  host/cmake/Modules/UHDConfig.cmake.in
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: Fix a few compiler warnings
  host/examples/rx_samples_to_file.cpp
  host/include/uhd/rfnoc/chdr_types.hpp
  host/include/uhd/rfnoc/filter_node.hpp
  host/lib/include/uhdlib/usrp/common/max287x.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
  host/lib/utils/thread.cpp
  host/utils/latency/lib/Responder.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Example: Implement n-times repeated transmission
  host/examples/tx_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: rfdc: Remove set_sample_rate() API call
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Trust the clock policy's default MCR
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Rename 'both' argument to 'all'
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Factor clock control out of X4xxClockManager
  mpm/python/usrp_mpm/periph_manager/CMakeLists.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Check for tear_down()'s existence
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Let RFDC control use clock policy
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

examples: Remove default --ref and --pps values
  host/examples/rfnoc_radio_loopback.cpp
  host/examples/rfnoc_replay_samples_from_file.cpp
  host/examples/rx_ascii_art_dft.cpp
  host/examples/rx_samples_to_file.cpp
  host/examples/rx_samples_to_udp.cpp
  host/examples/test_dboard_coercion.cpp
  host/examples/tx_bursts.cpp
  host/examples/tx_samples_from_file.cpp
  host/examples/tx_waveforms.cpp
  host/examples/txrx_loopback_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: rfdc: Add get_converter_rate() API
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
