Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

uhd: Deprecate UHD_FALLTHROUGH
  host/include/uhd/config.hpp
  host/lib/usrp/usrp1/soft_time_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove Boost from config.hpp, remove BOOST_MSVC
  host/include/uhd/config.hpp
  host/include/uhd/utils/byteswap.ipp
  host/lib/utils/log.cpp
  host/lib/utils/paths.cpp
  host/lib/utils/pathslib.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Rebased add custom clock instantiation and connection. Removed get_config_path from builder.
  host/include/uhd/rfnoc/core/rfnoc_imagebuilder_args.json
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/templates/modules/user_clocks.v.mako
  host/python/uhd/rfnoc_utils/templates/rfnoc_image_core.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added a catch for checkpoint generation in order to continue if failed since isn't critical
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added bypass for clock connection check if using user_clock
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Step added to new mod test to run from read-only sources, adding a change of permission on copied files.
  host/cmake/Modules/create_newmod.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Use a resources file to pass RFNoC OOT source files to Vivado TCL scripts, avoiding ARG_MAX argument list limits.
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/scripts/viv_utils.tcl
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: fix reachability flag check in find
  host/lib/usrp/mpmd/mpmd_find.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: lvtest: upgrade uhd package
  .ci/templates/job-uhd-usrp-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: byteswap: Add templated byteswap routines
  host/include/uhd/utils/byteswap.hpp
  host/include/uhd/utils/byteswap.ipp
  host/tests/byteswap_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: byteswap: Use UHD_FORCE_INLINE consistently
  host/include/uhd/utils/byteswap.ipp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "ci: pipeline: remove fix version for copy steps"
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-msbuild.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Add runtime dispatch for avx2 converters and converter benchmark
  host/examples/CMakeLists.txt
  host/examples/convert_benchmark.cpp
  host/lib/convert/CMakeLists.txt
  host/lib/convert/avx2_fc32_to_sc16.cpp
  host/lib/convert/avx2_fc32_to_sc8.cpp
  host/lib/convert/avx2_fc64_to_sc16.cpp
  host/lib/convert/avx2_fc64_to_sc8.cpp
  host/lib/convert/avx2_sc16_to_fc32.cpp
  host/lib/convert/avx2_sc16_to_fc64.cpp
  host/lib/convert/avx2_sc16_to_sc16.cpp
  host/lib/convert/avx2_sc8_to_fc32.cpp
  host/lib/convert/convert_common.hpp
  host/lib/convert/convert_impl.cpp
  host/lib/convert/simd_features.hpp
  host/lib/convert/sse2_fc32_to_sc16.cpp
  host/lib/convert/sse2_fc32_to_sc8.cpp
  host/lib/convert/sse2_fc64_to_sc16.cpp
  host/lib/convert/sse2_fc64_to_sc8.cpp
  host/lib/convert/sse2_sc16_to_fc32.cpp
  host/lib/convert/sse2_sc16_to_fc64.cpp
  host/lib/convert/sse2_sc16_to_sc16.cpp
  host/lib/convert/sse2_sc8_to_fc32.cpp
  host/lib/convert/sse2_sc8_to_fc64.cpp
  host/lib/convert/ssse3_pack_sc12.cpp
  host/lib/convert/ssse3_unpack_sc12.cpp
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: optimizations for zero/symmetric coefficients for static FIR
  fpga/usrp3/lib/dsp/axi_fir_multisample_filter.sv
  fpga/usrp3/lib/dsp/sim/axi_fir_multisample_filter_tb/axi_fir_multisample_filter_tb.sv
  fpga/usrp3/lib/dsp/sim/axi_fir_multisample_filter_tb/axi_fir_multisample_filter_tb_wrapper.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

pre-commit: disable linting for mpm
  .pre-commit-config.yaml
Due: none

mpm: guard sections from re-formatting using "# fmt: off"
  mpm/python/usrp_mpm/aurora_control.py
  mpm/python/usrp_mpm/chips/max10_cpld_flash_ctrl.py
  mpm/python/usrp_mpm/cores/nijesdcore.py
  mpm/python/usrp_mpm/dboard_manager/adc_rh.py
  mpm/python/usrp_mpm/dboard_manager/dac_rh.py
  mpm/python/usrp_mpm/ethdispatch.py
  mpm/python/usrp_mpm/periph_manager/common.py
  mpm/python/usrp_mpm/periph_manager/e31x_periphs.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/e320_periphs.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/n3xx_periphs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_lookup.py
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
  mpm/python/usrp_mpm/periph_manager/x4xx_mb_cpld.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_update_cpld.py
  mpm/python/usrp_mpm/xports/xport_adapter_ctrl.py
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: force building of all artifacts in CI pipeline runs
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: ddc/duc: Fix logging for stream command forwarding
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rpc: Fix operators in object class
  host/lib/deps/rpclib/include/rpc/msgpack/object.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rpc: Use perfect forwarding in rpc code
  host/lib/deps/rpclib/include/rpc/client.inl
  host/lib/deps/rpclib/include/rpc/detail/call.h
  host/lib/deps/rpclib/include/rpc/detail/log.h
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/detail/cpp11_msgpack_tuple.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/detail/cpp11_zone.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

md5 FIPS fix, usedforsecurity=False
  fpga/usrp3/lib/io_port2/create-lvbitx.py
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Ensure mcr is taken as variable
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix bash syntax error in docker sources for Ubuntu 20/22
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

ci: fpga: avoid FPGA rebuild on doc update
  tools/changeset_testlist.yaml
Due: none

rfnoc: Fix payload size calculation for ctrl packets
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: rfnoc spec: Add section on ACKs
  host/docs/rfnoc/rfnoc_fpga.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

lib: Fix ctrl_payload.to_string()
  host/lib/rfnoc/chdr_types.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add unit test for ctrlport_endpoint
  host/tests/CMakeLists.txt
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add get_stats() API call to register_iface
  host/include/uhd/rfnoc/mock_block.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/register_iface_holder.cpp
  host/lib/rfnoc/rfnoc_python.hpp
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Improve logging of ctrlport_endpoint
  host/lib/include/uhdlib/rfnoc/ctrlport_endpoint.hpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix buffer fullness tracking in ctrlport_endpoint
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add SKIP_WR_ACK_WAIT mode to axis_ctrl_master
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_master.v
  fpga/usrp3/lib/rfnoc/core/ctrlport_endpoint.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add SKIP_WR_ACK_WAIT parameter to radio
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/noc_shell_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  host/include/uhd/rfnoc/blocks/radio.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

transport: buffer_pool: Replace boost::shared_array
  host/lib/transport/buffer_pool.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

transport: buffer_pool: Drop virtual interface
  host/include/uhd/transport/buffer_pool.hpp
  host/lib/transport/buffer_pool.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x410: fix 100m version by widening RFDC data paths to 8 SPC
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/hwtools/X410/vsmakesettings.py
  .ci/uhd-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/ip/adc_100m_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/adc_100m_bd/adc_100m_bd.tcl
  fpga/usrp3/top/x400/ip/adc_100m_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/dac_100m_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/dac_100m_bd/dac_100m_bd.tcl
  fpga/usrp3/top/x400/ip/dac_100m_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/common/regmap/common_regs.v
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/x410_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/regmap/x410/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/x410/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/x440/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/rf/100m/Makefile.srcs
  fpga/usrp3/top/x400/rf/100m/adc_gearbox_2x1.v
  fpga/usrp3/top/x400/rf/100m/adc_gearbox_8x1.v
  fpga/usrp3/top/x400/rf/100m/clock_mux.vhd
  fpga/usrp3/top/x400/rf/100m/dac_8_1_clk_converter.vhd
  fpga/usrp3/top/x400/rf/100m/rf_core_100m.v
  fpga/usrp3/top/x400/rf/200m/rf_core_200m.v
  fpga/usrp3/top/x400/rf/400m/rf_core_400m.v
  fpga/usrp3/top/x400/rf/sim/Makefile
  fpga/usrp3/top/x400/rf/sim/rf_all_tb.sv
  fpga/usrp3/top/x400/rf/sim/tb_adc_gearbox_2x1.vhd
  fpga/usrp3/top/x400/rf/sim/tb_adc_gearbox_8x1.vhd
  fpga/usrp3/top/x400/x410_X4_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x4xx.sv
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: bump zbx 100 MHz version
  mpm/python/usrp_mpm/dboard_manager/zbx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Update documentation for chdr_packet_writer* classes
  host/lib/include/uhdlib/rfnoc/chdr_packet_writer.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
