Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

example: cpp: Enhanced documentation for tx_* examples
  host/examples/tx_samples_from_file.cpp
  host/examples/tx_timed_samples.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: add xsim simulation job
  .ci/fpga/templates/job-run-testbenches.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: update Vivado simulator exclusions
  fpga/usrp3/tools/utils/testbenches.excludes
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: enable chdr_channel_demux_tb to run in Vivado
  fpga/usrp3/lib/rfnoc/sim/chdr_channel_demux_tb/chdr_channel_demux_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Use LooseVersion for Python version comparison
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ic_reg_maps: Use r-strings for regex patterns
  host/lib/ic_reg_maps/common.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: dma_fifo_core_3000: Fix exponential notation
  host/lib/usrp/cores/dma_fifo_core_3000.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Add missing includes
  host/lib/usrp/common/lmx2592.cpp
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/lib/usrp/cores/rx_frontend_core_3000.cpp
  host/lib/usrp/dboard/rhodium/rhodium_bands.cpp
  host/lib/usrp/dboard/rhodium/rhodium_constants.hpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_ctrl_cpld.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_ctrl_init.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_ctrl_lo.cpp
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Replaced deprecated usage of boost timer with std::chrono
  host/utils/converter_benchmark.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: include chrono to files using chrono_literals and other components
  host/lib/deps/rpclib/include/rpc/client.inl
  host/lib/include/uhdlib/transport/nirio/nirio_fifo.ipp
  host/lib/include/uhdlib/transport/udp_common.hpp
  host/lib/rfnoc/client_zero.cpp
  host/lib/rfnoc/rfnoc_tx_streamer_replay_buffered.cpp
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
  host/lib/usrp/b100/usb_zero_copy_wrapper.cpp
  host/lib/usrp/dboard/fbx/fbx_ctrl.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control_cpld.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/dboard/zbx/zbx_lo_ctrl.cpp
  host/tests/dpdk_port_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_block_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Turn off cs_server version check
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Fix lint warnings about oversized constants
  fpga/usrp3/lib/axi/axi_dma_fifo.v
  fpga/usrp3/lib/dsp/add_then_mac.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Add CHDR reset to Ctrl-only BFM
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Enable passing CMake arguments
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-installer-ubuntu-deb.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
  .ci/templates/steps-build-uhd-make.yml
  .ci/templates/steps-build-uhd-msbuild.yml
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: improved getting started content
  host/docs/getting_started/gsg_devices.dox
  host/docs/getting_started/gsg_rfnoc.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: increase fpga build timeout for X440 variants
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Split waiting for buffer from issue_stream_cmd()
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Specify tests for ad936x-based devices
  tools/changeset_testlist.yaml
Due: none

lib: ad9361: fix rounding bug on RF PLL tuning calculations
  host/lib/usrp/common/ad9361_driver/ad9361_device.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Apply minor formatting fixes
  host/python/uhd/dsp/signals.py
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: cpp: Enhanced documentation for rx_* examples
  host/examples/rx_ascii_art_dft.cpp
  host/examples/rx_multi_samples.cpp
  host/examples/rx_samples_to_file.cpp
  host/examples/rx_samples_to_udp.cpp
  host/examples/rx_timed_samples.cpp
  host/examples/tx_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: cpp: Enhanced doc for txrx_loopback_to_file.cpp example
  host/examples/txrx_loopback_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: cpp: Enhanced documentation for rfnoc_* examples
  host/examples/rfnoc_nullsource_ce_rx.cpp
  host/examples/rfnoc_radio_loopback.cpp
  host/examples/rfnoc_replay_samples_from_file.cpp
  host/examples/rfnoc_rx_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add finite source mode to NSS block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Increase NSS throttle to 20 bits
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink.v
  host/lib/rfnoc/null_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added bypass for clock connection check if using user_clock
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added a catch for checkpoint generation in order to continue if failed since isn't critical
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Rebased add custom clock instantiation and connection. Removed get_config_path from builder.
  host/include/uhd/rfnoc/core/rfnoc_imagebuilder_args.json
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/templates/modules/user_clocks.v.mako
  host/python/uhd/rfnoc_utils/templates/rfnoc_image_core.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: rfnoc: Add support for NSS finite mode
  host/include/uhd/rfnoc/null_block_control.hpp
  host/lib/rfnoc/null_block_control.cpp
  host/tests/rfnoc_block_tests/null_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Cal: Fix default E320 LO offset to keep signal within passband
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Cal: Fix support for non-default sampling rate when using USRP as signal source
  host/python/uhd/usrp/cal/meas_device.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Cal: Fix missing input power clamp during RX power calibration
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add CLAUDE.md for AI assistant guidance
  CLAUDE.md
Due: none

docs: Add RFNoC specification to the UHD manual.
  host/docs/07_rfnoc.dox
  host/docs/DoxygenLayout.xml
  host/docs/driver_usage/transport.dox
  host/docs/getting_started/gsg_rfnoc.dox
  host/docs/res/rfnoc_blk_anat.png
  host/docs/res/rfnoc_fg_FPGA_sw.png
  host/docs/res/rfnoc_fg_init.png
  host/docs/res/rfnoc_fg_typ.png
  host/docs/res/rfnoc_fg_x310.png
  host/docs/res/rfnoc_td_ctrl_read.png
  host/docs/res/rfnoc_td_ctrl_write.png
  host/docs/res/rfnoc_td_head.png
  host/docs/res/rfnoc_td_head_ts.png
  host/docs/res/rfnoc_td_head_ts_meta.png
  host/docs/res/rfnoc_td_head_ts_meta_gap.png
  host/docs/res/rfnoc_td_read_compl.png
  host/docs/res/rfnoc_td_time_base_reconf.png
  host/docs/res/rfnoc_td_timed_write.png
  host/docs/res/rfnoc_td_two_packets.png
  host/docs/res/rfnoc_toolflow_ov.png
  host/docs/rfnoc/rfnoc_fpga.md
  host/docs/rfnoc/rfnoc_gsg.dox
  host/docs/rfnoc/rfnoc_intro.md
  host/docs/rfnoc/rfnoc_specification.dox
  host/docs/rfnoc/rfnoc_sw.md
  host/docs/rfnoc/rfnoc_tools.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: Add SDR board project plan for X410 clone
  docs/sdr_board_project_plan.md
Due: none

docs: Convert ASCII diagrams to Mermaid format
  docs/sdr_board_project_plan.md
Due: none

docs: Update SDR board plan with QDMA, ZU19EG, and revised schedule
  docs/sdr_board_project_plan.md
Due: none

ci: lvtest: add filesystem and fpga update
  .ci/templates/job-uhd-usrp-tests-uhdlvtest.yml
  .ci/templates/job-uhd-usrp-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest: add x310-4 to s175-devtests
  .ci/templates/job-uhd-devtest-s175.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
