Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

lib: usb: Remove Boost time functions
  host/lib/transport/libusb1_zero_copy.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add rfnoc complex gain tests
  .ci/templates/steps-download-fpga-artifact.yml
  .ci/templates/steps-rfnoc-block-test.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: set ZBX_LO_LOCK_TIMEOUT_MS to 50 ms
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: fix stale ACK handling in ctrlport_endpoint
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docs: Breakout doxygen build check into py script
  .ci/templates/job-uhd-build-manual.yml
  .ci/utils/check_doxygen_build.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: Prepare NMEA replies by stripping line endings
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: Validate NMEA sentence checksum format
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: Add NMEA parsing unit tests
  host/tests/CMakeLists.txt
  host/tests/gps_ctrl_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: Make NMEA parsing talker ID agnostic
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: python: Expose ref_clk_calibration feature
  host/lib/rfnoc/rfnoc_python.hpp
  host/tests/devtest/devtest_x410.py
  host/tests/devtest/devtest_x420.py
  host/tests/devtest/devtest_x440.py
  host/tests/devtest/ref_clk_calibration_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: devtest: Fix YAML dumper
  host/tests/devtest/uhd_test_base.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

pre-commit: Add Doxygen comment format check
  .pre-commit-config.yaml
  tools/check_doxygen_format.py
Due: none

coding guidelines: Add information on documentation
  CODING.md
Due: none

host: hbx: Rebalance TX gain tables
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: Fix regular expression
  mpm/tools/check-filesystem
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x4xx: More selective triggering in experts
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_expert.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_expert.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

transport: match Linux UDP ICMP error behavior on Windows
  host/lib/transport/udp_simple.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Sign binaries for Windows builds
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Merge Windows signing stage with the installers build
  .ci/templates/job-uhd-build-installer-signing.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix compiler warnings with GCC 16 / Python 3.14
  host/lib/transport/nirio/rpc/usrprio_rpc_client.cpp
  host/lib/usrp/mpmd/sim_find.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: suppress GCC 16 false positive -Warray-bounds warning
  host/tests/client_zero_test.cpp
  host/tests/mb_controller_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: move chdr_ctrl_xport::make() out of header
  host/lib/include/uhdlib/rfnoc/chdr_ctrl_xport.hpp
  host/lib/rfnoc/chdr_ctrl_xport.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x4xx_bist: Change retval for tests not running
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Add note about mgmt_addr
  host/docs/devices/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

mpm: hbx: Handle PG glitch on power-up
  mpm/python/usrp_mpm/dboard_manager/hbx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: temporarily exclude py313 Windows builder
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docker: Replace Fedora 41 builder with Fedora 44
  .ci/docker/uhd-builder-fedora44.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove Boost usage from bounded_buffer
  host/include/uhd/transport/bounded_buffer.ipp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

log: Add missing direct include of <map>
  host/lib/utils/log.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Remove spurious boost includes
  host/lib/convert/convert_fc32_item32.cpp
  host/lib/usrp/b100/fifo_ctrl_excelsior.hpp
  host/lib/usrp/dboard_eeprom.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Flag manifest.txt as CMAKE_CONFIGURE_DEPENDS
  host/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

udp: Reduce Boost usage
  host/lib/transport/udp_simple.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update README.md
  README.md
Due: none

MPM: Fix log typo for metadata output
  mpm/python/usrp_mpm/components.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fix exit code on error in uhd_images_downloader
  host/utils/uhd_images_downloader.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove more superfluous includes
  host/examples/test_dboard_coercion.cpp
  host/examples/tx_bursts.cpp
  host/examples/tx_timed_samples.cpp
  host/lib/image_loader.cpp
  host/lib/include/uhdlib/usrp/common/ad936x_manager.hpp
  host/lib/include/uhdlib/usrp/common/adf435x.hpp
  host/lib/include/uhdlib/usrp/common/lmx2592.hpp
  host/lib/include/uhdlib/usrp/cores/i2c_core_200.hpp
  host/lib/include/uhdlib/usrp/cores/time64_core_200.hpp
  host/lib/include/uhdlib/usrp/cores/user_settings_core_200.hpp
  host/lib/rfnoc/link_stream_manager.cpp
  host/lib/transport/nirio/lvbitx/template_lvbitx.cpp
  host/lib/types/tune_c.cpp
  host/lib/usrp/common/ad936x_manager.cpp
  host/lib/usrp/common/io_service_args.cpp
  host/lib/usrp/common/lmx2592.cpp
  host/lib/usrp/cores/time64_core_200.cpp
  host/lib/usrp/dboard/db_cbx.cpp
  host/lib/usrp/dboard/db_wbx_common.cpp
  host/lib/usrp/dboard/db_wbx_common.hpp
  host/lib/usrp/dboard/db_wbx_simple.cpp
  host/lib/usrp/dboard/db_wbx_version2.cpp
  host/lib/usrp/dboard/db_wbx_version3.cpp
  host/lib/usrp/dboard/db_wbx_version4.cpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_init.cpp
  host/lib/usrp/dboard/fbx/fbx_dboard_init.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control_gain.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/usrp2/usrp2_fifo_ctrl.hpp
  host/lib/usrp/usrp2/usrp2_iface.hpp
  host/lib/usrp/usrp2/usrp2_impl.cpp
  host/lib/usrp/x300/x300_mb_eeprom_iface.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/utils/thread_priority_c.cpp
  host/lib/version.cpp
  host/utils/latency/lib/Responder.cpp
  host/utils/uhd_cal_tx_iq_balance.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Deboostify twinrx_freq_hopping
  host/examples/twinrx_freq_hopping.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Redirect log_test to log_add_impl.hpp
  host/tests/log_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: Improve RPC error propagation and deduplicate wrapper handling
  host/lib/include/uhdlib/utils/rpc.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Move ctrlport endpoint sleep out of boost
  host/lib/rfnoc/chdr_ctrl_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
