Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

ci: devtest: fix wrong channel number
  host/tests/devtest/devtest_n3x0.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Generate pyproject.toml only for Windows
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Appended changelog for UHD 4.8 release
  CHANGELOG
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Update manifest to refer to 4.8.0.0 release filesystem
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: simplify timing in pulse stretch
  fpga/usrp3/lib/control/pulse_stretch.v
Due: none

cmake: Set build type before package find
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add --build-dir to repeat_fpga_build
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none

fpga: ci: adding repeat script to dependency
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
Due: none

fpga: ci: switch to latest hwtools
  fpga/.ci/hwtools/root.py
  fpga/.ci/scripts/run_setup.sh
  fpga/.ci/templates/setup_steps.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: tools: mark hash dirty with staged changes
  fpga/usrp3/tools/scripts/git-hash.sh
Due: none

rfnoc_modtool: Remove reliance on @CONFIG_PATH@
  host/python/uhd/rfnoc_utils/rfnoc_modtool.py
  host/utils/CMakeLists.txt
  host/utils/rfnoc_modtool.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Provide populated __init__.py for ENABLE_PYMOD_UTILS=On
  host/python/CMakeLists.txt
  host/python/uhd/__init__.py.in-pymod
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update macOSVersionDemand to 15
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: allow for reading FPGA temperature sensor
  host/docs/usrp_x3x0.dox
  host/lib/usrp/x300/x300_mb_controller.cpp
  host/lib/usrp/x300/x300_mb_controller.hpp
  host/lib/usrp/x300/x300_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use python version directory for gr artifact
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Improve CMake for Python module
  host/examples/rfnoc-gain/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Require NumPy component in FindPython3
  host/cmake/Modules/UHDPython.cmake
  mpm/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: self cal: Improve log message
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: refactor 100GEth LBUS to AXI interface
  fpga/usrp3/top/x400/ip/eth_100g_bd/eth_100g.sv
  fpga/usrp3/top/x400/ip/eth_100g_bd/eth_100g_lbus2axis.sv
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/lbus_axi_tb.sv
Due: none

host/python/uhd/imgbuilder/image_builder.py: Do not use os.system, as it encodes the return value
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Get rid of unnecessary bash wrappers in subprocesses.Popen
  fpga/usrp3/tools/utils/repeat_fpga_build.py
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: apply linting on x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x400: add SYSREF rate as dependency for PRC calculation
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: copy source distribution (tar.gz) to artifacts
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: fft: Fix scaling factor property type
  host/lib/rfnoc/fft_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: n3xx: Add warnings when coercing clock/time source
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: fix typo in set_rx_tune_args docstring
  host/include/uhd/rfnoc/rf_control/core_iface.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add register stage in ipv4 chdr adapter
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_dispatch.sv
Due: none

TEMPORARY: fpga: x400: Add YAML files for X410 FFT builds
  fpga/usrp3/top/x400/x410_CG_400_8k_fft_4ch_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_UC_200_16k_fft_4ch_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_X4_200_16k_fft_4ch_rfnoc_image_core.yml
Due: none

fpga: tools: Add support for Questa Visualizer
  fpga/usrp3/tools/make/viv_simulator.mak
  fpga/usrp3/tools/scripts/launch_modelsim.sh
Due: none

fpga: rfnoc: fft: Add FFT packetize modules
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_depacketize.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/fft_packetize_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_packetize_tb/fft_packetize_tb.sv
Due: none

fpga: sim: Remove unused stall arguments
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: none

fpga: rfnoc: Add CHDR_HEADER_W constant
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils.vh
Due: none

fpga: lib: Add TO_SIGNED to usrp_utils.svh
  fpga/usrp3/lib/control/usrp_utils.svh
Due: none

fpga: lib: Add AXI-Stream load split and merge modules
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_load_merge.sv
  fpga/usrp3/lib/axi/axis_load_split.sv
  fpga/usrp3/lib/sim/axi/axis_load_split_merge/Makefile
  fpga/usrp3/lib/sim/axi/axis_load_split_merge/axis_load_split_merge_all_tb.sv
  fpga/usrp3/lib/sim/axi/axis_load_split_merge/axis_load_split_merge_tb.sv
Due: none

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
