Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

python: cmake: Detect python virtual environments
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix first arg in calls to $fatal()
  fpga/usrp3/lib/axi4s_sv/AxiStreamIf.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_add_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_fifo.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_packet_gate.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_remove_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_width_conv.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/eth_ifc_tb.sv
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
  fpga/usrp3/top/x400/ip/eth_100g_bd/eth_100g.sv
Due: none

usrp2: Remove unused code segments
  host/lib/usrp/usrp2/io_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: DPDK Linux kernel underruns solution
  host/docs/dpdk.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

features: Make all feature headers install
  host/include/uhd/features/CMakeLists.txt
  host/include/uhd/features/adc_self_calibration_iface.hpp
  host/include/uhd/features/discoverable_feature.hpp
  host/include/uhd/features/discoverable_feature_getter_iface.hpp
  host/include/uhd/features/gpio_power_iface.hpp
  host/include/uhd/features/ref_clk_calibration_iface.hpp
  host/include/uhd/features/spi_getter_iface.hpp
  host/include/uhd/features/trig_io_mode_iface.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! mpm: Add CompatNumber utility class
  host/python/CMakeLists.txt
  mpm/python/usrp_mpm/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rx_samples_c: Use error_code instead of return_code
  host/examples/rx_samples_c.c
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add n310 rf tests to monopipeline
  .ci/templates/job-uhd-hardware-tests.yml
  .ci/templates/job-uhd-rf-tests-pebbles.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/pebbles-labgrid/crossbar/places.yaml
  .ci/templates/tests/pebbles-labgrid/device-configs/pebbles-n310-0.yml
  .ci/templates/tests/pebbles-labgrid/docker-compose.yml
  .ci/templates/tests/pebbles-labgrid/exporter-conf/exporter.yaml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-python-hardware-tests.yml
  .ci/utils/format_devtest_junitxml.py
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare for 4.2.0.1-rc1 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove Fedora 34 and add Fedora 36
  .ci/docker/uhd-builder-fedora36.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tune_map: Publish and simplify zbx_tune_map
  host/include/uhd/usrp/CMakeLists.txt
  host/include/uhd/usrp/zbx_tune_map_item.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_expert.hpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: multi_usrp.cpp remove commented out code
  host/lib/usrp/multi_usrp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare for 4.2.0.1 release
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update pythonapi.dox
  host/docs/pythonapi.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: x400: zbx: Revision Bump
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_right.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/basic_regs.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/basic_regs_regmap_utils.vh
Due: none

fpga: tools: Lattice build flow clean-up
  fpga/usrp3/tools/make/diamond_design_builder.mak
  fpga/usrp3/tools/scripts/dmd_design_build.tcl
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/build.tcl
Due: none

images: Update ZBX CPLD image in manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.6-rc2 release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Edit version number
  host/cmake/Modules/UHDVersion.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Mark SucceededWithIssues as failure
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Setup isolated processors to use performance governor
  host/tests/streaming_performance/setup.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added s8 and sc8 format
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Mutex graph on set_property
  host/include/uhd/rfnoc/node.hpp
  host/include/uhd/rfnoc/node.ipp
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/include/uhdlib/rfnoc/node_accessor.hpp
  host/lib/rfnoc/graph.cpp
  host/lib/rfnoc/node.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix error from pybind11 2.10 update
  host/lib/rfnoc/radio_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: update to pybind11 for Python 3.11
  host/lib/deps/pybind11/LICENSE
  host/lib/deps/pybind11/README.md
  host/lib/deps/pybind11/include/pybind11/attr.h
  host/lib/deps/pybind11/include/pybind11/buffer_info.h
  host/lib/deps/pybind11/include/pybind11/cast.h
  host/lib/deps/pybind11/include/pybind11/chrono.h
  host/lib/deps/pybind11/include/pybind11/complex.h
  host/lib/deps/pybind11/include/pybind11/detail/class.h
  host/lib/deps/pybind11/include/pybind11/detail/common.h
  host/lib/deps/pybind11/include/pybind11/detail/descr.h
  host/lib/deps/pybind11/include/pybind11/detail/init.h
  host/lib/deps/pybind11/include/pybind11/detail/internals.h
  host/lib/deps/pybind11/include/pybind11/detail/type_caster_base.h
  host/lib/deps/pybind11/include/pybind11/detail/typeid.h
  host/lib/deps/pybind11/include/pybind11/eigen.h
  host/lib/deps/pybind11/include/pybind11/embed.h
  host/lib/deps/pybind11/include/pybind11/eval.h
  host/lib/deps/pybind11/include/pybind11/functional.h
  host/lib/deps/pybind11/include/pybind11/gil.h
  host/lib/deps/pybind11/include/pybind11/iostream.h
  host/lib/deps/pybind11/include/pybind11/numpy.h
  host/lib/deps/pybind11/include/pybind11/operators.h
  host/lib/deps/pybind11/include/pybind11/options.h
  host/lib/deps/pybind11/include/pybind11/pybind11.h
  host/lib/deps/pybind11/include/pybind11/pytypes.h
  host/lib/deps/pybind11/include/pybind11/stl.h
  host/lib/deps/pybind11/include/pybind11/stl/filesystem.h
  host/lib/deps/pybind11/include/pybind11/stl_bind.h
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Enable radio loopback for a single radio
  host/examples/rfnoc_radio_loopback.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: e320: Upgrade to Vivado 2021.1
  fpga/usrp3/top/e320/ip/aurora_64b66b_pcs_pma/aurora_64b66b_pcs_pma.xci
  fpga/usrp3/top/e320/ip/axi64_4k_2clk_fifo/axi64_4k_2clk_fifo.xci
  fpga/usrp3/top/e320/ip/axi64_8k_2clk_fifo/axi64_8k_2clk_fifo.xci
  fpga/usrp3/top/e320/ip/axi_eth_dma/axi_eth_dma.xci
  fpga/usrp3/top/e320/ip/e320_ps_bd/e320_ps_bd.tcl
  fpga/usrp3/top/e320/ip/fifo_4k_2clk/fifo_4k_2clk.xci
  fpga/usrp3/top/e320/ip/fifo_short_2clk/fifo_short_2clk.xci
  fpga/usrp3/top/e320/ip/one_gig_eth_pcs_pma/one_gig_eth_pcs_pma.xci
  fpga/usrp3/top/e320/ip/ten_gig_eth_pcs_pma/ten_gig_eth_pcs_pma.xci
  fpga/usrp3/top/e320/setupenv.sh
Due: none

fpga: x300: Upgrade to Vivado 2021.1
  fpga/usrp3/top/x300/ip/aurora_64b66b_pcs_pma/aurora_64b66b_pcs_pma.xci
  fpga/usrp3/top/x300/ip/axi4_dualport_sram/axi4_dualport_sram.xci
  fpga/usrp3/top/x300/ip/axi64_4k_2clk_fifo/axi64_4k_2clk_fifo.xci
  fpga/usrp3/top/x300/ip/axi64_8k_2clk_fifo/axi64_8k_2clk_fifo.xci
  fpga/usrp3/top/x300/ip/bootram/bootram.xci
  fpga/usrp3/top/x300/ip/bus_clk_gen/bus_clk_gen.xci
  fpga/usrp3/top/x300/ip/fifo_4k_2clk/fifo_4k_2clk.xci
  fpga/usrp3/top/x300/ip/fifo_short_2clk/fifo_short_2clk.xci
  fpga/usrp3/top/x300/ip/input_sample_fifo/input_sample_fifo.xci
  fpga/usrp3/top/x300/ip/one_gig_eth_pcs_pma/one_gig_eth_pcs_pma.xci
  fpga/usrp3/top/x300/ip/pcie_clk_gen/pcie_clk_gen.xci
  fpga/usrp3/top/x300/ip/radio_clk_gen/radio_clk_gen.xci
  fpga/usrp3/top/x300/ip/radio_clk_gen/radio_clk_gen.xdc.patch
  fpga/usrp3/top/x300/ip/ten_gig_eth_pcs_pma/ten_gig_eth_pcs_pma.xci
  fpga/usrp3/top/x300/setupenv.sh
  fpga/usrp3/top/x300/sim/aurora_loopback/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo_bist/Makefile
Due: none

fpga: ci: Upgrade to Vivado 2021.1
  fpga/.ci/hwtools/root.py
  fpga/.ci/scripts/run_setup.sh
Due: none

fpga: Use AR76780 patch for fir_compiler
  fpga/.ci/scripts/run_setup.sh
  fpga/usrp3/lib/ip/axi_hb31/axi_hb31.xci
  fpga/usrp3/lib/ip/axi_hb47/axi_hb47.xci
  fpga/usrp3/top/n3xx/ip/hb47_1to2/hb47_1to2.xci
  fpga/usrp3/top/n3xx/ip/hb47_2to1/hb47_2to1.xci
  fpga/usrp3/top/n3xx/setupenv.sh
  fpga/usrp3/top/x400/ip/adc_100m_bd/adc_100m_bd.tcl
  fpga/usrp3/top/x400/ip/adc_400m_bd/adc_400m_bd.tcl
  fpga/usrp3/top/x400/ip/dac_100m_bd/dac_100m_bd.tcl
  fpga/usrp3/top/x400/ip/dac_400m_bd/dac_400m_bd.tcl
  fpga/usrp3/top/x400/ip/hb47_1to2/hb47_1to2.xci
  fpga/usrp3/top/x400/ip/hb47_2to1/hb47_2to1.xci
  fpga/usrp3/top/x400/setupenv.sh
Due: none

fpga: e31x: Upgrade to Vivado 2021.1
  fpga/usrp3/top/e31x/ip/axi_inter_2x64_128_bd/axi_inter_2x64_128_bd.tcl
  fpga/usrp3/top/e31x/ip/e31x_ps_bd/e31x_ps_bd.tcl
  fpga/usrp3/top/e31x/ip/fifo_4k_2clk/fifo_4k_2clk.xci
  fpga/usrp3/top/e31x/ip/fifo_short_2clk/fifo_short_2clk.xci
  fpga/usrp3/top/e31x/setupenv.sh
Due: none

fpga: sim: Update struct enum initialization
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
  fpga/usrp3/lib/rfnoc/sim/ctrlport_endpoint_tb/ctrlport_endpoint_tb.sv
  fpga/usrp3/lib/sim/rfnoc/axi_rate_change/axi_rate_change_tb.sv
  fpga/usrp3/sim/rfnoc/PkgCtrlIfaceBfm.sv
Due: none

fpga: x400: Fix link status detection of 10 GbE IP
  fpga/usrp3/top/x400/ip/xge_pcs_pma/ten_gige_phy.v
Due: none

fpga: n3xx: Add BUFG to SPI output line to ease timing
  fpga/usrp3/top/n3xx/dboards/mg/n3xx.v
Due: none

fpga: tools: Fix HLS IP builder for Vivado 2021.1
  fpga/usrp3/tools/make/viv_hls_ip_builder.mak
  fpga/usrp3/tools/scripts/launch_vlint.sh
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: none
