Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make_trace
  ...

convert: Minor cleanup
  host/lib/convert/convert_impl.cpp
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: fix negligible copy/paste typos in rhodium radio control
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: replay: Add atomic item size property
  host/lib/rfnoc/replay_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: replay: Improve rfnoc_replay_samples_from_file
  host/examples/rfnoc_replay_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Use receiving socket for sending response
  mpm/python/usrp_mpm/discovery.py
Due: .ci/oe-x4xx-packages.yml

host: test: Add GPIO DDR register to x4xx mock
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: window: Set window size register after loading coefficients
  host/lib/rfnoc/window_block_control.cpp
  host/tests/rfnoc_block_tests/window_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

N310: Deactivate frontend components on radio shutdown
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.hpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control_cpld.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: fix ref_locked sensor on n320
  mpm/python/usrp_mpm/dboard_manager/rhodium.py
Due: .ci/oe-x4xx-packages.yml

mpm: rh: Minor linter cleanup
  mpm/python/usrp_mpm/dboard_manager/rhodium.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: Refactor ctrlport_endpoint; fix MT issues
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: benchmark_rate improvements
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add SPI Controller Info register
  fpga/usrp3/top/x400/doc/X4XX_FPGA_left.htm
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/dig_ifc_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_gpio_spi.v
Due: none

fpga: x400: Adjust SPI engine strobes alignment
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_gpio_spi.v
Due: none

utils: Fix comment in noc_shell Mako template
  host/utils/rfnoc_blocktool/templates/noc_shell_template.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Regenerate noc_shells
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/noc_shell_addsub.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_axi_ram_fifo/noc_shell_axi_ram_fifo.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/noc_shell_ddc.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/noc_shell_duc.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/noc_shell_fft.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/noc_shell_fir_filter.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fosphor/noc_shell_fosphor.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_keep_one_in_n/noc_shell_keep_one_in_n.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_logpwr/noc_shell_logpwr.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_moving_avg/noc_shell_moving_avg.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/noc_shell_null_src_sink.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/noc_shell_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/noc_shell_replay.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/noc_shell_siggen.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_split_stream/noc_shell_split_stream.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_switchboard/noc_shell_switchboard.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_vector_iir/noc_shell_vector_iir.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_window/noc_shell_window.v
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/noc_shell_gain.v
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix block buffer sizes referring to MTU
  host/include/uhd/rfnoc/blocks/ddc.yml
  host/include/uhd/rfnoc/blocks/duc.yml
  host/include/uhd/rfnoc/blocks/keep_one_in_n.yml
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/blocks/radio_1x64.yml
  host/include/uhd/rfnoc/blocks/radio_2x64.yml
  host/include/uhd/rfnoc/blocks/replay.yml
  host/include/uhd/rfnoc/blocks/siggen.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Change AXI XB for DRAM to 512-bit
  fpga/usrp3/top/x400/ip/axi_inter_2x128_512_bd/axi_inter_2x128_512_bd.tcl
Due: none

docs: x4xx: Add new FPGA image descriptions
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Fix strobe probability in radio simulator
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/sim_radio_gen.sv
Due: none

fpga: x400: Add support for DRAM with 400 MHz BW
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/x4xx_core.v
Due: none

fpga: x400: Cleanup FPGA Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

tests: Atomicize counters in benchmark_rate
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

magnesium: Correctly report RF tuned frequency
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

n320: fix issue that occasionally prevents lo_locked upon first set_freq
  host/lib/ic_reg_maps/gen_lmx2592_regs.py
  host/lib/usrp/common/lmx2592.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Fix converter benchmark disable on Boost <1.68
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Apply clang-format to convert_test
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Explicitly set MTU forwarding policy to DROP
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add SPDX license identifier
  fpga/usrp3/lib/io_port2/LvFpga_Chinch_Interface.vh
Due: none

fpga: rfnoc: Make Replay packet length independent of burst size
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/axis_replay.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_tb.sv
Due: none

fgpa: rfnoc: Set Replay memory transactions to 2 KiB
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/axis_replay.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay.v
Due: none

docs: n3xx: Add info on customizable band edges and gain profiles
  host/docs/usrp_n3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Fix PPS edge detection
  fpga/usrp3/lib/rfnoc/utils/timekeeper.v
Due: none

images: Update manifest and compat number for X410
  images/manifest.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: stream_args: Clarify usage of stream_args_t::channels
  host/include/uhd/stream.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Remove UHD3-API usages
  host/examples/rfnoc_replay_samples_from_file.cpp
  host/include/uhd/stream.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: test: Add UHD_UNITTEST_LOG_LEVEL override
  host/include/uhd/utils/log.hpp
  host/lib/utils/log.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: rdtesting: Remove invalid rate configuration
  host/docs/rd_testing.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Fix reference to RFNoC documentation
  host/docs/coding.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

host: Create meta_range_t::as_monotonic
  host/include/uhd/types/ranges.hpp
  host/lib/types/ranges.cpp
  host/tests/ranges_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
