Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

doc: Update User Manual Binary Installation section for Windows
  CHANGELOG
  host/docs/install.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: Update B2xx User Manual section with external document references
  host/docs/usrp_b200.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: devtest: update for ruamel yaml load and dump changes
  host/tests/devtest/uhd_test_base.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: devtest: added comments and minor fix
  host/tests/devtest/uhd_test_base.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: win: Add winusbdriver packages for NI branded B-Series devices
  host/cmake/msvc/erllc_uhd.cat
  host/cmake/msvc/erllc_uhd_b100.inf
  host/cmake/msvc/erllc_uhd_b200.inf
  host/cmake/msvc/erllc_uhd_b205mini.inf
  host/cmake/msvc/erllc_uhd_b206mini.inf
  host/cmake/msvc/erllc_uhd_makecat.cdf
  host/cmake/msvc/erllc_uhd_ni29xx.inf
  host/cmake/msvc/erllc_uhd_usrp1.inf
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: deb: add patch to fix UHD package path
  host/cmake/debian/patches/host-paths-return-uhd-build_info-install_prefix-as-p.patch
  host/cmake/debian/patches/series
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: fixed warning when uhd.dll was not found
  host/python/uhd/__init__.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: Fixed order of import in rfnoc_gain example
  host/examples/rfnoc-gain/examples/rx_gain_estimate_power.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Enable building of uhd-rfnoc-dev
  host/cmake/debian/README.Debian
  host/cmake/debian/control
  host/cmake/debian/copyright
  host/cmake/debian/rules
  host/cmake/debian/uhd-rfnoc-dev.install
  tools/debs/uhd_ubuntu_deb.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Adjust the UHD_VERSION check to work with cmake 4.1
  host/CMakeLists.txt
  host/cmake/Modules/UHDVersion.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Rework USRP X4x0 Getting Started Guide
  host/docs/res/x4x0_KitContents.svg
  host/docs/res/x4x0_NetworkMode.svg
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: utils: Update winusb_drv file mapping in image_package_mapping.py
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Prepare for 4.9.0.0 RC2
  CHANGELOG
  README.md
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix Device or resource busy bug in pipeline
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Correct checksum for re-generated component.
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fix b206 seri pdf link in manual
  host/docs/usrp_b200.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: cmake: fix patch version used for packaging
  host/cmake/Modules/UHDPackage.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Skip more files when staging usrp3 HDL sources
  host/cmake/Modules/stage_rfnoc_dev_sources.py
  host/cmake/debian/control
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix shebang in tx_waveforms.py
  host/examples/python/tx_waveforms.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Fix missing 'out' line in data outputs section
  host/python/uhd/rfnoc_utils/templates/blocktool/descriptor.yml.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: align install files to Debian/Ubuntu official
  host/cmake/debian/libuhd-dev.install
  host/cmake/debian/libuhd4.9.0.install
  host/cmake/debian/patches/rfnoc-blocks-track-runtime-abi
  host/cmake/debian/patches/series
  host/cmake/debian/uhd-host.install
  host/cmake/debian/uhd-rfnoc-dev.install
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update to final 4.9.0.0 release candidate
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: align install files to Debian/Ubuntu official (2)
  host/cmake/debian/not-installed
  host/cmake/debian/rules
  host/cmake/debian/uhd-host.dirs
  host/cmake/debian/uhd-host.install
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Enable usage of UHD:: module
  host/CMakeLists.txt
  host/cmake/Modules/UHDConfig.cmake.in
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: init_usrp: Make use of UHD::uhd target
  host/examples/init_usrp/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_image_builder: Fix GRC import with empty default target
  host/python/uhd/rfnoc_utils/grc.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: support absolute paths for install dirs in pkg-config
  host/CMakeLists.txt
  host/uhd.pc.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: updated B206 LoV and tutorial links
  host/docs/usrp_b200.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: e31x: fix GPIO direction signal
  fpga/usrp3/top/e31x/e31x.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: e3xx, n3xx: fix comments on LUT contents
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/n3xx_core.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add names and descriptions to all RFNoC blocks and modules
  host/include/uhd/rfnoc/blocks/addsub.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo.yml
  host/include/uhd/rfnoc/blocks/ddc.yml
  host/include/uhd/rfnoc/blocks/duc.yml
  host/include/uhd/rfnoc/blocks/fft.yml
  host/include/uhd/rfnoc/blocks/fir_filter.yml
  host/include/uhd/rfnoc/blocks/fosphor.yml
  host/include/uhd/rfnoc/blocks/keep_one_in_n.yml
  host/include/uhd/rfnoc/blocks/license_check.yml
  host/include/uhd/rfnoc/blocks/logpwr.yml
  host/include/uhd/rfnoc/blocks/moving_avg.yml
  host/include/uhd/rfnoc/blocks/null_src_sink.yml
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/blocks/replay.yml
  host/include/uhd/rfnoc/blocks/siggen.yml
  host/include/uhd/rfnoc/blocks/split_stream.yml
  host/include/uhd/rfnoc/blocks/switchboard.yml
  host/include/uhd/rfnoc/blocks/vector_iir.yml
  host/include/uhd/rfnoc/blocks/window.yml
  host/include/uhd/rfnoc/modules/device_dna.yml
  host/include/uhd/rfnoc/transport_adapters/chdr_dma.yml
  host/include/uhd/rfnoc/transport_adapters/x4xx_eth.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: zbx: Only update pwr in default gain profile
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Remove fallback for non-existing EEPROM
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: raise RuntimeError if symbol lookup failed
  mpm/python/usrp_mpm/sys_utils/udev.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: allow daughterboards to set dboard clock rate
  host/include/uhd/usrp/dboard_iface.hpp
  host/lib/usrp/dboard/db_obx.cpp
  host/lib/usrp/dboard/db_ubx.cpp
  host/lib/usrp/dboard/twinrx/twinrx_ctrl.cpp
  host/lib/usrp/x300/x300_clock_ctrl.cpp
  host/lib/usrp/x300/x300_clock_ctrl.hpp
  host/lib/usrp/x300/x300_dboard_iface.cpp
  host/lib/usrp/x300/x300_dboard_iface.hpp
  host/lib/usrp/x300/x300_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: gpio: Fix code example for setting GPIO output value manually
  host/docs/gpio_api.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

cmake: More specifically reference linking dependencies
  host/CMakeLists.txt
  host/examples/CMakeLists.txt
  host/lib/CMakeLists.txt
  host/tests/CMakeLists.txt
  host/utils/CMakeLists.txt
  host/utils/latency/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_image_builder: Fix slicing notation
  host/python/uhd/rfnoc_utils/connections.py
  host/python/uhd/rfnoc_utils/templates/modules/connect_io_ports.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix Boost settings for static builds
  host/cmake/Modules/UHDBoost.cmake
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
