Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

docs: Improve documentation for the recv() call
  host/docs/driver_usage/general.dox
  host/include/uhd/stream.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: extend .gitignore for hwtools generated files
  .ci/hwtools/.gitignore
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Use md5 FIPS fix, usedforsecurity=False
  fpga/usrp3/lib/io_port2/create-lvbitx.py
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: refactor condition for year change revert in regmap files
  .ci/hwtools/common.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: update FPGA CPLD communication constants
  fpga/usrp3/top/x400/constraints/timing/shared_constants.sdc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: update to latest version of hwtools
  .ci/fpga/scripts/run_setup.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: add SPI BFM
  fpga/usrp3/sim/control/spi_if.sv
  fpga/usrp3/sim/control/spi_slave_bfm_pkg.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: ddc/duc: fix valid decim/interp calculation
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: sim: add reset behaviour options for axis bfm
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: python API: Fix get_tree() call
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: add usrp4-hw tests as part of mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
  fpga/.ci/fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rpc: Use perfect forwarding in rpc code
  host/lib/deps/rpclib/include/rpc/client.inl
  host/lib/deps/rpclib/include/rpc/detail/call.h
  host/lib/deps/rpclib/include/rpc/detail/log.h
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/detail/cpp11_msgpack_tuple.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/detail/cpp11_zone.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rpc: Fix operators in object class
  host/lib/deps/rpclib/include/rpc/msgpack/object.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Amend DDC/DUC unit tests
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Improve set_thread_name() capabilities
  host/lib/utils/CMakeLists.txt
  host/lib/utils/thread.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Add MinGW support
  host/cmake/Modules/UHDBoost.cmake
  host/lib/CMakeLists.txt
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Add explicit underlying storage types to enums
  host/include/uhd/rfnoc/graph_edge.hpp
  host/include/uhd/types/serial.hpp
  host/include/uhd/types/stream_cmd.hpp
  host/include/uhd/usrp/dboard_iface.hpp
  host/lib/usrp/b100/codec_ctrl.hpp
  host/lib/usrp/b200/b200_iface.hpp
  host/lib/usrp/usrp1/codec_ctrl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Correctly use _WIN32 vs. UHD_MSVC
  host/lib/usrp/b100/codec_ctrl.hpp
  host/lib/utils/paths.cpp
  host/lib/utils/pathslib.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: installer: Optimize external repo checkout
  .ci/templates/job-uhd-build-installer.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: add follow mode to replay block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/axis_replay.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: rfnoc: add follow mode to replay block
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/replay_block_control_python.hpp
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update volk to 3.2.0
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: remove gnuradio-3-8 repository
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fixed reference leaks by clearing references to bound methods
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool add: Create loopback by default
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_chdr_loopback_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_data_loopback_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_pyld_ctxt_loopback_template.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/rfnoc_block_template.sv.mako
  host/python/uhd/rfnoc_utils/templates/blocktool/rfnoc_block_template_tb.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: enable HBX CPLD build
  .ci/fpga/templates/job-build-cpld.yml
  .ci/fpga/templates/job-regmap.yml
  .ci/fpga/templates/job-run-testbenches.yml
  .ci/fpga/templates/setup_steps.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Make int sync feature independent of FBX
  host/include/uhd/features/internal_sync_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_ctrl.hpp
  host/lib/usrp/x400/x400_internal_sync.cpp
  host/lib/usrp/x400/x400_internal_sync.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: add SV wrapper files for ctrlport interface
  fpga/usrp3/top/x400/cpld/common/spi_slave_to_ctrlport_if_master.sv
  fpga/usrp3/top/x400/dboards/ctrlport_if_byte_deserializer.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add a catch for checkpoint generation
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: make: Use a resources file for RFNOC_OOT_SRCS
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/scripts/viv_utils.tcl
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: depend exit status on test result for check-filesystem
  mpm/tools/check-filesystem
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: cmake: fix mpm make test
  mpm/python/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add SPI BFM to Makefile
  fpga/usrp3/sim/control/Makefile.srcs
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

test: Update mpm mocks for updated RPC
  host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x4xx: Enable sub-channels
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/include/uhdlib/usrp/common/x4xx_ch_modes.hpp
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_constants.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/usrp/dboard/fbx/fbx_dboard.cpp
  host/lib/usrp/dboard/fbx/fbx_dboard_init.cpp
  host/lib/usrp/dboard/fbx/fbx_expert.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
  host/lib/usrp/mpmd/mpmd_impl.cpp
  host/lib/usrp/x400/adc_self_calibration.cpp
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Enable sub-channels per channel
  host/lib/ic_reg_maps/gen_x4xx_rfdc_regs.py
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Prepare RFDC memory for subchannels
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/regmap/x410/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/x410/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/PkgRFDC_REGS_REGMAP.vhd
  fpga/usrp3/top/x400/regmap/x440/rfdc_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/rf/common/Makefile.srcs
  fpga/usrp3/top/x400/rf/common/rfdc_info_pkg.sv
  fpga/usrp3/top/x400/rf/x410/x410_rfdc_memory_content_pkg.sv
  fpga/usrp3/top/x400/rf/x440/x440_rfdc_memory_content_pkg.sv
  fpga/usrp3/top/x400/rf/x440/x440_rfdc_tx_control_remap.v
  fpga/usrp3/top/x400/x4xx.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: util: Update ADC threshold util for sub-chan
  host/utils/x4xx_query_adc_threshold.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Restructure ADC self-cal
  host/docs/devices/usrp_x4xx.dox
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/usrp/x400/adc_self_calibration.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
