Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

mpm: cmake: Remove installation of non-relevant EEPROM tools
  mpm/tools/CMakeLists.txt
  mpm/tools/tlv_eeprom/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml

ci: Add displayNames to parameters
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Update n3xx tuning notes
  host/docs/usrp_n3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

rfnoc: Fix _set_subdev_spec() helper function
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: cpld: Bump copyright
  fpga/usrp3/top/x400/cpld/regmap/constants_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/jtag_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/mb_cpld_pl_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/mb_cpld_ps_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/pl_cpld_base_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/ps_cpld_base_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/ps_power_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/reconfig_regmap_utils.vh
  fpga/usrp3/top/x400/cpld/regmap/spi_regmap_utils.vh
Due: none

systemd: enable tx flow control automatically
  mpm/systemd/network/sfp0.network
  mpm/systemd/network/sfp1.network
Due: .ci/oe-x4xx-packages.yml

ci: flash fpga on x410 ATS runs
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add x410 test to mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! cmake: Replace distutils.sysconfig with sysconfig
  host/python/CMakeLists.txt
  mpm/python/CMakeLists.txt
  tools/gr-usrptest/cmake/Modules/GrPython.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Remove FSRU-related files
  fpga/usrp3/top/n3xx/setupenv.sh
  host/lib/usrp/dboard/CMakeLists.txt
  mpm/python/usrp_mpm/dboard_manager/CMakeLists.txt
  mpm/python/usrp_mpm/dboard_manager/__init__.py
  mpm/python/usrp_mpm/dboard_manager/eiscat.py
  mpm/python/usrp_mpm/dboard_manager/lmk_eiscat.py
  mpm/python/usrp_mpm/dboard_manager/unknown.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Remove further references to rfnoc_num_blocks
  mpm/python/usrp_mpm/bist.py
Due: .ci/oe-x4xx-packages.yml

fpga: x400: cpld: Bump CMI wrapper copyright
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmi.vhd
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmiWrapper.vhd
Due: none

images: Make get_images_dir return absolute path
  images/populate_images.py
Due: none

images: Add utilization report files to B2xx image files
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: none

ci: Enable ctest on macOS builds
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add x4xx DRAM BIST
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml

ci: Add libuhd python dependencies to macOS
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: Add support for DPDK 18.11 API
  host/cmake/Modules/FindDPDK.cmake
  host/docs/dpdk.dox
  host/lib/CMakeLists.txt
  host/lib/include/uhdlib/transport/dpdk/common.hpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

log: Add DPDK version to system info
  host/lib/utils/log.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

n320: fix issue that occasionally prevents lo_locked upon first set_freq
  host/lib/ic_reg_maps/gen_lmx2592_regs.py
  host/lib/usrp/common/lmx2592.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

FPGA: Replay block version 1.1
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/axis_replay.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/rfnoc_block_replay_tb.sv
Due: none

uhd: Replay block version 1.1
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/lib/rfnoc/replay_block_control.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: mpm: Skip installing binaries for SIM
  mpm/python/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml

host: SPI: Read number of supported SPI slaves from device
  host/examples/spi.cpp
  host/lib/include/uhdlib/usrp/cores/spi_core_4000.hpp
  host/lib/usrp/cores/spi_core_4000.cpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.hpp
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add timed commands support for all radio ctrlport endpoints
  fpga/usrp3/top/x400/dboards/db_gpio_interface.v
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/rfdc_timing_control.v
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
Due: none

fpga: ci: Add stages-based pipeline
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/oss_testbenches.yml
  fpga/.ci/scripts/refresh_ip.sh
  fpga/.ci/scripts/run_setup.sh
  fpga/.ci/templates/check_clean_repo_steps.yml
  fpga/.ci/templates/fpga_build.yml
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/job-package-images.yml
  fpga/.ci/templates/job-run-testbenches.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
  fpga/.ci/x4xx-pr-check.yml
Due: none

images: Update manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Update builds to macOS 12 Monterey
  .ci/templates/job-uhd-build-src.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix test_timed_commands for RFNoC devices
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix gain testbench name
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain_tb.sv
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Update commit vcpkg and CMake version
  .ci/docker/uhd-builder-vs2017-v141-x64.Dockerfile
  .ci/docker/uhd-builder-vs2017-v141-x86.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x86.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

tests: Add complex include to resolve build
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: streaming tests setup
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/conftest.py
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Update control and package building
  host/cmake/debian/README.Debian
  host/cmake/debian/control
  host/cmake/debian/copyright
  host/cmake/debian/libuhd-dev.install
  host/cmake/debian/python3-uhd.install
  host/cmake/debian/rules
  host/cmake/debian/uhd-doc.doc-base
  host/cmake/debian/uhd-doc.install
  host/cmake/debian/uhd-host.dirs
  host/cmake/debian/uhd-host.install
  host/cmake/debian/uhd-images.dirs
  host/cmake/debian/watch
  mpm/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Update version number to 4.2.0
  host/cmake/debian/README.Debian
  host/cmake/debian/control
  host/cmake/debian/libuhd4.2.0.install
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: e31x: Update information on GPIO pin header
  host/docs/gpio_api.dox
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: x400: Increase replay SEP buffer sizes
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
Due: none

multi_usrp_rfnoc: Add TX buffering using Replay
  host/docs/configuration.dox
  host/docs/general.dox
  host/lib/include/uhdlib/rfnoc/rfnoc_tx_streamer_replay_buffered.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/rfnoc_tx_streamer_replay_buffered.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: graph: Allow property forwarding on back-edges
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Modify prop. propagation algorithm (back-edge resolution)
  host/docs/properties.dox
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/rfnoc/graph.cpp
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
