Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}

zbx: Remove stray include
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: Remove usrp_e3x0_network_mode
  host/utils/usrp_e3x0_network_mode.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add b210 hardware to rhombus
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Change order of GPIO banks
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add devtests to hardware-test-dev
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Run multiple fpgas per job
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/utils/format_devtest_junitxml.py
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: gpio: output before end of stream
  host/examples/gpio.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Always retain order of properties
  host/include/uhd/rfnoc/node.hpp
  host/lib/rfnoc/noc_block_base.cpp
  host/lib/rfnoc/node.cpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/tests/rfnoc_node_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Make get_chdr_link_types() more generic
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

x300: Add protover and chdr_width regs to x300_mb_iface
  fpga/usrp3/top/x300/bus_int.v
  host/include/uhd/rfnoc/rfnoc_types.hpp
  host/lib/usrp/x300/x300_fw_common.h
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/usrp/x300/x300_impl.hpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/lib/usrp/x300/x300_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Point meta-ettus repo ref to v4.2.0.0
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: streamers: Fix AIS/spp calculation
  host/lib/include/uhdlib/rfnoc/rfnoc_rx_streamer.hpp
  host/lib/include/uhdlib/rfnoc/rfnoc_tx_streamer.hpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Rename `skip_property_propagation` to `is_back_edge`
  host/include/uhd/rfnoc_graph.hpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtests: fix knownhost entry
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Increase devtest job timeout to 90 minutes
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add n310 into devtests
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/rhombus-labgrid/crossbar/places.yaml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-n310-0.yml
  .ci/templates/tests/rhombus-labgrid/docker-compose.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: refactor get_all_addrs to remove duplicates
  host/lib/ic_reg_maps/gen_zbx_cpld_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix block of block_initializer friend statement
  host/include/uhd/rfnoc/noc_block_base.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix warnings in replay_block_control
  host/lib/rfnoc/replay_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Make image_loader::image_loader_args_t regular struct
  host/include/uhd/image_loader.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

usrp2: Remove unused code segments
  host/lib/usrp/usrp2/io_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "rfnoc: streamers: Fix AIS/spp calculation"
  host/lib/include/uhdlib/rfnoc/rfnoc_rx_streamer.hpp
  host/lib/include/uhdlib/rfnoc/rfnoc_tx_streamer.hpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: flash x310 fpga
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add LUA based dissector
  tools/dissectors/lua/color_rules.rfnoc
  tools/dissectors/lua/rfnoc.lua
Due: none

docs: DPDK Linux kernel underruns solution
  host/docs/dpdk.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Build init_usrp example for Windows
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-msbuild.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Only include rpm files in the Fedora installer artifacts
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Make Windows installer job self-contained
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Build init_usrp example for macOS
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: cmake: Detect python virtual environments
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add n321 to devtest
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/tests/rhombus-labgrid/crossbar/places.yaml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-n321-0.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Enable root privileges for non-DPDK streaming tests
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix first arg in calls to $fatal()
  fpga/usrp3/lib/axi4s_sv/AxiStreamIf.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_add_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_fifo.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_packet_gate.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_remove_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_width_conv.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/eth_ifc_tb.sv
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
  fpga/usrp3/top/x400/ip/eth_100g_bd/eth_100g.sv
Due: none

fpga: x400: Fix AXI/LBUS testbench names
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/axi_lbus_tb.sv
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/lbus_axi_tb.sv
Due: none

ci: Mark devtest as failure on SucceededWithIssues
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Set n310 and n321 to specific agents
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add build support for Python API on VS2019x64
  .ci/templates/job-get-latest-uhd-docker.yml
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-package-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
  .ci/templates/steps-build-uhd-msbuild.yml
  .ci/uhd-build-docker-container.yml
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: zbx: Add support for XO3 CPLD variant.
  fpga/usrp3/tools/make/diamond_design_builder.mak
  fpga/usrp3/tools/make/diamond_preamble.mak
  fpga/usrp3/top/x400/cpld/reconfig_engine.v
  fpga/usrp3/top/x400/dboards/ctrlport_byte_deserializer.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/.gitignore
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile.zbx_cpld.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_left.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_right.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/build.tcl
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll.ipx
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll.lpc
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll_tmpl.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.ldf
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.lpf
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.sty
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/basic_regs.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/dsa_control.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/led_control.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/switch_control.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/basic_regs_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/zbx_top_cpld.v
Due: none

fpga: lib: Add read-only strategy for port B in 2-port RAM
  fpga/usrp3/lib/control/ram_2port.v
  fpga/usrp3/lib/control/ram_2port_impl.vh
Due: none

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
