Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

ci: fix unzipping custom boost if provided as .tar.gz file
  .ci/templates/steps-build-uhd-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Update ASIO usage to modern style, compatible with Boost 1.87
  host/examples/network_relay.cpp
  host/include/uhd/transport/nirio/rpc/rpc_client.hpp
  host/lib/deps/rpclib/include/rpc/detail/async_writer.h
  host/lib/deps/rpclib/include/rpc/detail/server_session.h
  host/lib/deps/rpclib/lib/rpc/client.cc
  host/lib/deps/rpclib/lib/rpc/detail/server_session.cc
  host/lib/deps/rpclib/lib/rpc/server.cc
  host/lib/include/uhdlib/transport/udp_boost_asio_link.hpp
  host/lib/include/uhdlib/transport/udp_common.hpp
  host/lib/include/uhdlib/utils/eeprom_utils.hpp
  host/lib/transport/dpdk_simple.cpp
  host/lib/transport/if_addrs.cpp
  host/lib/transport/nirio/rpc/rpc_client.cpp
  host/lib/transport/udp_boost_asio_link.cpp
  host/lib/transport/udp_simple.cpp
  host/lib/transport/udp_wsa_zero_copy.cpp
  host/lib/transport/udp_zero_copy.cpp
  host/lib/usrp/cores/xport_adapter_ctrl.cpp
  host/lib/usrp/usrp1/mb_eeprom.cpp
  host/lib/usrp/usrp2/io_impl.cpp
  host/lib/usrp/usrp2/mb_eeprom.cpp
  host/lib/usrp/x300/x300_mb_eeprom.cpp
  host/lib/usrp_clock/octoclock/octoclock_eeprom.cpp
  host/tests/eeprom_utils_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix boost::detail::atomic_count header
  host/include/uhd/transport/zero_copy.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: win build: refresh vcpkg dependencies using manifest
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: vcpkg: add pkgconf as dependency
  .ci/docker/vcpkg/vcpkg.json
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

ci: streaming tests: fix DPDK version shown in display name
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: python: Add version check for UHD Python bindings
  host/python/uhd/__init__.py.in
  host/python/uhd/utils/version_check.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: hardware test: clean repositories on checkout
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Added MSVC_VERSION definition for VC2022.
  host/cmake/Modules/UHDPackage.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: win: installer: Use feature -DENABLE_EXTEND_WIN_PACKAGING=ON
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Extend Windows Installer w libusb dll & erllc_uhd_winusb_driver
  host/CMakeLists.txt
  host/cmake/Modules/LIBUSB_LICENSE.in
  host/cmake/Modules/NSIS.template.in
  host/cmake/Modules/UHDComponent.cmake
  host/cmake/Modules/UHDLIBUSB.cmake
  host/cmake/Modules/UHDPackage.cmake
  host/docs/install.dox
  host/docs/transport.dox
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Set classifiers in pyproject.toml
  host/cmake/Modules/UHDVersion.cmake
  host/python/CMakeLists.txt
  host/python/pyproject.toml.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: addsub: Fix USE_IMPL rendering for addsub
  host/include/uhd/rfnoc/blocks/addsub.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host/python/uhd/imgbuilder/image_builder.py: Do not use os.system, as it encodes the return value
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Get rid of unnecessary bash wrappers in subprocesses.Popen
  fpga/usrp3/tools/utils/repeat_fpga_build.py
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add usrp_utils.svh with common macros
  fpga/usrp3/lib/control/usrp_utils.svh
Due: none

fpga: lib: Add complex_to_magphase_int17 IP
  fpga/usrp3/lib/ip/Makefile.inc
  fpga/usrp3/lib/ip/complex_to_magphase_int17/Makefile.inc
  fpga/usrp3/lib/ip/complex_to_magphase_int17/complex_to_magphase_int17.xci
Due: none

fpga: lib: Add axis_sideband_tuser
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_sideband_tuser.v
Due: none

fpga: rfnoc: Add new FFT block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/axis_cp_list.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/cp_removal.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_core.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_core_regs_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_post_processing.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_reorder.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_reorder_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_reorder_tb/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_reorder_tb/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_reorder_tb/fft_reorder_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_reorder_tb/fft_reorder_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/noc_shell_fft.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/xfft_config_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/xfft_wrapper.sv
Due: none

rfnoc: Add fft.yml for new FFT block
  host/include/uhd/rfnoc/blocks/fft.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: added a on-target test for the new FFT block
  host/tests/rfnoc_block_tests_on_target/conftest.py
  host/tests/rfnoc_block_tests_on_target/test_fft_block_data.py
  host/tests/rfnoc_block_tests_on_target/test_fft_block_interface.py
  host/tests/rfnoc_block_tests_on_target/x410_fft_block_test.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Cleanup axi_demux module
  fpga/usrp3/lib/fifo/axi_demux.v
Due: none

examples: added fft_loopback example
  host/examples/python/CMakeLists.txt
  host/examples/python/fft_loopback.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add axis_combine
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_combine.v
Due: none

fpga: rfnoc: Add SV packages for use with RFNoC
  fpga/usrp3/lib/rfnoc/core/Makefile.srcs
  fpga/usrp3/lib/rfnoc/core/ctrlport_pkg.sv
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils.vh
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils_pkg.sv
Due: none

test: Extend existing FFT test to cover addition features from new FFT
  host/tests/CMakeLists.txt
  host/tests/rfnoc_block_tests/fft_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test_v2.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: adopted fft block controller for new FFT
  host/include/uhd/rfnoc/defaults.hpp
  host/include/uhd/rfnoc/fft_block_control.hpp
  host/lib/rfnoc/fft_block_control.cpp
  host/lib/rfnoc/fft_block_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add Xilinx FFT IP for various configurations
  fpga/usrp3/lib/ip/Makefile.inc
  fpga/usrp3/lib/ip/xfft_16k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_16k_16b/xfft_16k_16b.xci
  fpga/usrp3/lib/ip/xfft_1k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_1k_16b/xfft_1k_16b.xci
  fpga/usrp3/lib/ip/xfft_2k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_2k_16b/xfft_2k_16b.xci
  fpga/usrp3/lib/ip/xfft_32k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_32k_16b/xfft_32k_16b.xci
  fpga/usrp3/lib/ip/xfft_4k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_4k_16b/xfft_4k_16b.xci
  fpga/usrp3/lib/ip/xfft_64k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_64k_16b/xfft_64k_16b.xci
  fpga/usrp3/lib/ip/xfft_8k_16b/Makefile.inc
  fpga/usrp3/lib/ip/xfft_8k_16b/xfft_8k_16b.xci
Due: none

fpga: lib: Add axis_data_if_packetize
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_data_if_packetize.v
Due: none

fpga: lib: Add axis_split_bus
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_split_bus.v
Due: none

image builder: print build directories used after build
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: create build(...) directories in the current directory
  host/docs/rfnoc_image_builder.1
  host/python/uhd/rfnoc_utils/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fix MultiUSRP python object creation
  host/docs/mpm.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Use /dev/zero for disk rate check
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: remove deprecated setName usage
  host/examples/python/benchmark_rate.py
  host/python/uhd/usrp/cal/tone_gen.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: update python formatting
  host/examples/python/benchmark_rate.py
  host/python/uhd/usrp/cal/tone_gen.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: oot: Fix regex for capturing HDL source files
  host/examples/rfnoc-gain/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Cleanup UHD Python utilities
  host/cmake/Modules/UHDPython.cmake
  host/python/setup.py.in
  host/python/uhd/utils/convert_cal_data.py
  host/python/uhd/utils/uhd_power_cal.py
  host/utils/CMakeLists.txt
  host/utils/uhd_power_cal.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Rename build.py to uhd_build.py
  host/python/CMakeLists.txt
  host/python/pyproject.toml.in
  host/python/uhd_build.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add patch version number to poetry version
  host/cmake/Modules/UHDVersion.cmake
  host/python/pyproject.toml.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
