Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * WED,SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: build_image_linux
    displayName: Build Docker Image
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
      - agent.os -equals Linux
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

ci: streaming tests: don't use hardcoded dutMgmtAddr
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Update FPGA CI pipelines to match new image builder
  fpga/.ci/devices/job-build-x300.yml
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/templates/job-build-fpga.yml
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none

python: Update pyuhd wrapper functions to make freq tuning use timedcmds
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: hardware dev test: use kirkstone branch
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Add info about global section in config file
  host/docs/configfiles.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

example: python: Make use of timespec consistent in MultiUSRP and RFNoC use cases
  host/examples/python/tx_waveforms.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Force write when saving Vivado project file
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: none

mpm: tdc: fix compatibility with Python >= 3.9.0
  mpm/python/usrp_mpm/cores/tdc_sync.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: usrp_update_fs: correct outdated mender command in prints
  mpm/python/usrp_update_fs
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fbx: Add guided mode for X440
  host/include/uhd/experts/expert_factory.hpp
  host/include/uhd/utils/cast.hpp
  host/include/uhd/utils/log.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_expert.hpp
  host/lib/include/uhdlib/utils/log.hpp
  host/lib/include/uhdlib/utils/prefs.hpp
  host/lib/usrp/dboard/fbx/fbx_dboard_init.cpp
  host/lib/usrp/dboard/fbx/fbx_expert.cpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/utils/cast.cpp
  host/lib/utils/prefs.cpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add --build-ip-dir option
  fpga/usrp3/tools/make/viv_preamble.mak
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga/usrp3: Fix DC truncation bias by adding rounding to DDC chain.
  fpga/usrp3/lib/dsp/ddc_chain.v
  fpga/usrp3/lib/dsp/hb_dec.v
  fpga/usrp3/lib/dsp/small_hb_dec.v
Due: none

ci: Cleanup acquire device via labgrid-client (2)
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: cpp: Fix bug error lo_locked.to_bool()
  host/examples/tx_waveforms.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: python: Changed setting frequency to use time commands
  host/examples/python/tx_waveforms.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: avoid importing from rpc_server when importing usrp_mpm
  mpm/python/usrp_hwd.py
  mpm/python/usrp_mpm/__init__.py.in
  mpm/python/usrp_mpm/components.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/sim.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/rpc_server.py
  mpm/python/usrp_mpm/rpc_utils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Host: Add Python Bindings for time_spec
  host/lib/types/time_spec_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: build filesystem from kirkstone branch
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: cpp: Changed setting frequency to use time commands
  host/examples/tx_waveforms.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Docu: Clarify usage of usrp_update_fs
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

mpm: deactivate Duplicate Address Detection (DAD) on int0 interface
  mpm/systemd/network/int0.network
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

images: update x4xx/x3xx/n3xx/e3xx/b2xx fpga images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fix bibary file reading in bin_to_coe.py
  firmware/usrp3/utils/bin_to_coe.py
Due: none

lib: Bump version to 4.7.0.0
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/README.Debian
  host/cmake/debian/control
  host/cmake/debian/libuhd4.7.0.install
  host/cmake/debian/rules
  tools/debs/upload_debs.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: CHANGELOG: Added change log for UHD 4.7.0.0
  CHANGELOG
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: update x4xx/n3xx/e3xx filesystem images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! fpga: rfnoc: Add OFDM block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/rfnoc_block_ofdm.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ofdm/rfnoc_block_ofdm_tb.sv
Due: none

fixup! fpga: lib: Add axis_data_if_packetize
  fpga/usrp3/lib/axi/axis_data_if_packetize.v
Due: none

mpm: don't print iptables errors when setting up forwarding
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: discovery: demote log level of ECHO send error
  mpm/python/usrp_mpm/discovery.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fbx: Fix guided mode messages
  host/lib/usrp/dboard/fbx/fbx_expert.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Initialize test_status
  fpga/usrp3/sim/rfnoc/PkgTestExec.sv
Due: none

fpga: ci: Run pipelines when simulations change
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
Due: none

fpga: ci: switching to latest hwtools version
  fpga/.ci/hwtools/root.py
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/job-run-testbenches.yml
Due: none

examples: Consistently comment out sections in rx_samples_to_file
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: remove superfluous usage of const in return values
  host/examples/extension_example/lib/extension_example.hpp
  host/include/uhd/experts/expert_nodes.hpp
  host/include/uhd/rfnoc/chdr_types.hpp
  host/include/uhd/rfnoc/rf_control/core_iface.hpp
  host/include/uhd/types/ranges.hpp
  host/include/uhd/utils/chdr/chdr_packet.hpp
  host/include/uhd/utils/chdr/chdr_packet.ipp
  host/lib/convert/convert_common.hpp
  host/lib/include/uhdlib/rfnoc/chdr_packet_writer.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/rfnoc/chdr_types.cpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/types/ranges.cpp
  host/lib/usrp/dboard/e3xx/e31x_radio_control_impl.hpp
  host/lib/usrp/dboard/e3xx/e320_radio_control_impl.hpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.hpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.hpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.hpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control_lo.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.hpp
  host/lib/utils/chdr/chdr_packet.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Use config.family instead of hardcoded dev type
  host/include/uhd/rfnoc/blocks/license_check.yml
  host/include/uhd/rfnoc/modules/device_dna.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Harmonize x410_X4_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_X4_400_rfnoc_image_core.yml
Due: none

rfnoc: Add BSP checks to X4x0 BSP YAMLs
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add improved error checking
  host/python/uhd/imgbuilder/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
