Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

ci: remove the testOS parameter for jobs using x4xx-hardware-tests
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use the agent environment to specify the Xilinx location
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use a requirements file for the devtests
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  host/tests/devtest/requirements.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: updates for Ubuntu 24.04 on sdr-test0
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Make setproctitle optional
  mpm/python/usrp_mpm/discovery.py
  mpm/python/usrp_mpm/mpmutils.py
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: update LMK04832 SYSREF configuration for X4xx
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_sample_pll.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x400: bump FPGA compat version to 9.0
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: x400: bump FPGA compat version to 9.0
  fpga/usrp3/top/x400/regmap/x410/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/regmap/x440/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.sv
Due: none

fpga: x400: Update SYSREF Delay and capture mechanism
  fpga/usrp3/top/x400/constraints/timing/x410.xdc
  fpga/usrp3/top/x400/constraints/timing/x440.xdc
  fpga/usrp3/top/x400/rf/common/capture_sysref.v
Due: none

mpm: x400: apply linting to x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Add missing include files
  mpm/include/mpm/ad937x/ad937x_ctrl.hpp
  mpm/include/mpm/dboards/magnesium_manager.hpp
  mpm/include/mpm/i2c/i2c_iface.hpp
  mpm/include/mpm/spi/spi_iface.hpp
  mpm/include/mpm/tests/tests_spi_iface.hpp
  mpm/include/mpm/types/log_buf.hpp
  mpm/include/mpm/types/mmap_regs_iface.hpp
  mpm/lib/i2c/i2cdev_iface.cpp
  mpm/lib/mykonos/config/ad937x_config_t.hpp
  mpm/lib/spi/spidev_iface.cpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Remove usage of boost::noncopyable
  mpm/include/mpm/CMakeLists.txt
  mpm/include/mpm/ad9361/ad9361_ctrl.hpp
  mpm/include/mpm/ad937x/ad937x_ctrl.hpp
  mpm/include/mpm/i2c/i2c_iface.hpp
  mpm/include/mpm/noncopyable.hpp
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/include/mpm/spi/spi_iface.hpp
  mpm/include/mpm/types/lockable.hpp
  mpm/include/mpm/types/log_buf.hpp
  mpm/include/mpm/types/mmap_regs_iface.hpp
  mpm/include/mpm/types/regs_iface.hpp
  mpm/lib/mykonos/ad937x_device.hpp
  mpm/lib/mykonos/config/ad937x_config_t.hpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Purge references to boost::filesystem
  mpm/lib/mykonos/ad937x_device.hpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Remove references to boost::shared_ptr
  mpm/include/mpm/ad9361/ad9361_ctrl.hpp
  mpm/include/mpm/dboards/neon_manager.hpp
  mpm/lib/dboards/e31x_db_manager.cpp
  mpm/python/pyusrp_periphs/e31x/pyusrp_periphs.cpp
  mpm/python/pyusrp_periphs/e320/pyusrp_periphs.cpp
  mpm/python/pyusrp_periphs/n3xx/pyusrp_periphs.cpp
  mpm/python/pyusrp_periphs/x4xx/pyusrp_periphs.cpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

utils: image_builder: use yaml default target if no target specified via argument.
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Add get methods for stall probability
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
Due: none

fpga: rfnoc: fft: Use DEFAULT on reset in axis_cp_list
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/axis_cp_list.sv
Due: none

fpga: sim: Remove unused stall arguments
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: none

fpga: lib: Add TO_SIGNED to usrp_utils.svh
  fpga/usrp3/lib/control/usrp_utils.svh
Due: none

fpga: rfnoc: Add CHDR_HEADER_W constant
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_utils.vh
Due: none

fpga: sim: Allow DATA_WIDTH that's not a multiple of 8
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: none

fpga: x400: refactor RFDC block diagrams and timing constraints
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/constraints/timing/x410.xdc
  fpga/usrp3/top/x400/constraints/timing/x440.xdc
  fpga/usrp3/top/x400/constraints/timing/x440_clocks.xdc
  fpga/usrp3/top/x400/constraints/timing/x440_clocks_1600.xdc
  fpga/usrp3/top/x400/constraints/timing/x440_clocks_200.xdc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/x410_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/x4xx.sv
Due: none

fpga: x440: fix refactored rf_core_full
  fpga/usrp3/top/x400/rf/full/rf_core_full.sv
Due: none

fpga: rfnoc: lib: add AXI FIR filter for >1 SPC
  fpga/usrp3/lib/dsp/Makefile.srcs
  fpga/usrp3/lib/dsp/axi_fir_multisample_filter.sv
  fpga/usrp3/lib/dsp/sim/axi_fir_multisample_filter_tb/Makefile
  fpga/usrp3/lib/dsp/sim/axi_fir_multisample_filter_tb/axi_fir_multisample_filter_tb.sv
  fpga/usrp3/lib/dsp/sim/axi_fir_multisample_filter_tb/axi_fir_multisample_filter_tb_wrapper.sv
Due: none

ci: streaming/hw tests: fix issue with increased FPGA compat num
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove boost dependency from uhd::exception
  host/include/uhd/exception.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: don't use runtime expansion in displayName
  .ci/templates/job-rfnoc_modtool-test-sw.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: build the rfnoc stage if the corresponding ci files change
  tools/changeset_testlist.yaml
Due: none

mpm: cmake: Fix Boost components
  mpm/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Reduce boost::format footprint
  mpm/include/mpm/exception.hpp
  mpm/lib/mykonos/adi_ctrl.cpp
  mpm/lib/spi/spidev_iface.cpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: n3xx: fix force_reinit flag to re-init clock and time sources
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: logging: Add console output to junit files and publish artifacts
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: lib: introduce ctrl-port interface and BFM
  fpga/usrp3/lib/rfnoc/core/Makefile.srcs
  fpga/usrp3/lib/rfnoc/core/ctrlport_if.sv
  fpga/usrp3/lib/rfnoc/core/ctrlport_pkg.sv
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_clk_cross.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_combiner.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_decoder.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_splitter.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_terminator.sv
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_window.sv
  fpga/usrp3/sim/rfnoc/Makefile.srcs
  fpga/usrp3/sim/rfnoc/ctrlport_bfm_pkg.sv
Due: none

fpga: Ensure RX radio command FIFO does not overflow
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
Due: none

ci: fix usrp-hwd status test for FPGA compat number increase
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add AXI-Stream load split and merge modules
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_load_merge.sv
  fpga/usrp3/lib/axi/axis_load_split.sv
  fpga/usrp3/lib/sim/axi/axis_load_split_merge/Makefile
  fpga/usrp3/lib/sim/axi/axis_load_split_merge/axis_load_split_merge_all_tb.sv
  fpga/usrp3/lib/sim/axi/axis_load_split_merge/axis_load_split_merge_tb.sv
Due: none

fpga: lib: Add zero-length option to axi_fifo
  fpga/usrp3/lib/fifo/axi_fifo.v
Due: none

host: add missing includes to chrono
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

DUMMY CHANGE DONT MERGE
  README.md
Due: none

BuildSystem: Update RPath and version handling
  host/CMakeLists.txt
  host/cmake/Modules/FindDPDK.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
