Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make_trace
  ...

mpmd: Add MTU plausibility check
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: update mboard_max_rev
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

uhd: add support for max10 variants
  mpm/python/usrp_mpm/chips/max10_cpld_flash_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml

uhd: update manifest for x410 cpld
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Change default block behaviour
  host/lib/rfnoc/block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

multi_usrp_rfnoc: Revert "Reduce latency of get_time_now()"
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Revert "Add ability to get time from Radio block"
  host/include/uhd/rfnoc/radio_control.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Revert "Add ability to get time from Radio block"
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
Due: none

uhd: Prepare branch for 4.1.0.5-rc1 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove superfluous boost/bind.hpp includes
  host/lib/transport/nirio/rpc/rpc_client.cpp
  host/tests/chdr_parse_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

max287x: Fix key in table of freq ranges
  host/lib/include/uhdlib/usrp/common/max287x.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Improve documentation for properties and -propagation
  host/docs/coding.dox
  host/docs/group_defs.dox
  host/docs/properties.dox
  host/docs/rfnoc_docs.dox
  host/include/uhd/rfnoc/noc_block_base.hpp
  host/include/uhd/rfnoc/node.hpp
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/include/uhd/rfnoc_graph.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Enable drop counter on chdr_ctrl_endpoint
  host/lib/include/uhdlib/rfnoc/chdr_ctrl_endpoint.hpp
  host/lib/rfnoc/chdr_ctrl_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Add checks before accessing self.dio_control
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

mpm: x4xx: Remove superfluous import
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

uhd: Prepare branch for 4.1.0.5-rc2 release
  CHANGELOG
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: disable warnings for using an experimental feature
  host/lib/transport/udp_dpdk_link.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Update DPDK documentation
  host/docs/dpdk.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

tests: Remove non-functional DPDK test
  host/tests/dpdk_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: Upgrade to DPDK 19.11 API
  host/cmake/Modules/FindDPDK.cmake
  host/lib/CMakeLists.txt
  host/lib/include/uhdlib/transport/dpdk/arp.hpp
  host/lib/include/uhdlib/transport/dpdk/common.hpp
  host/lib/include/uhdlib/transport/dpdk/udp.hpp
  host/lib/include/uhdlib/transport/dpdk_io_service.hpp
  host/lib/include/uhdlib/transport/udp_dpdk_link.hpp
  host/lib/transport/dpdk_simple.cpp
  host/lib/transport/udp_dpdk_link.cpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
  host/tests/dpdk_port_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: OR ATR signals going into db_control
  fpga/usrp3/top/x300/x300_core.v
Due: none

rfnoc: Fix noc_shell direction comments
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/noc_shell_addsub.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_axi_ram_fifo/noc_shell_axi_ram_fifo.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/noc_shell_ddc.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/noc_shell_duc.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/noc_shell_fft.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/noc_shell_fir_filter.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fosphor/noc_shell_fosphor.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_keep_one_in_n/noc_shell_keep_one_in_n.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_logpwr/noc_shell_logpwr.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_moving_avg/noc_shell_moving_avg.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/noc_shell_null_src_sink.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/noc_shell_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_replay/noc_shell_replay.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/noc_shell_siggen.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_split_stream/noc_shell_split_stream.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_switchboard/noc_shell_switchboard.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_vector_iir/noc_shell_vector_iir.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_window/noc_shell_window.v
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/noc_shell_gain.v
  host/utils/rfnoc_blocktool/templates/modules/axis_data_wires_template.mako
  host/utils/rfnoc_blocktool/templates/modules/axis_pyld_ctxt_wires_template.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix RuntimeError: dictionary changed size during iteration
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Read number of ports from grc file in image builder
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

github: Amend PR template with a checkbox for compat numbers
  .github/pull_request_template.md
Due: none

docs: Remove obsolete man pages
  host/docs/CMakeLists.txt
  host/docs/octoclock_firmware_burner.1
  host/docs/usrp_x3xx_fpga_burner.1
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: tools: Update Vivado scripts to use python3
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: none

fpga: usrp2: update build tools to use python3
  fpga/usrp2/top/extract_usage.py
  fpga/usrp2/top/python/check_inout.py
Due: none

cmake: tests: Conditionally compile tests for X400
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Add missing fields to CHDR dissector
  host/include/uhd/rfnoc/chdr_types.hpp
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add ops pending to management op
  host/include/uhd/rfnoc/chdr_types.hpp
  host/lib/rfnoc/chdr_types.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e3xx: Remove unused constant
  host/lib/usrp/dboard/e3xx/e3xx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Fix typos and small things
  host/include/uhd/rfnoc/rf_control/core_iface.hpp
  host/lib/include/uhdlib/experts/expert_nodes.hpp
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Add log message for older DIO boards
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
Due: .ci/oe-x4xx-packages.yml

mpm: x4xx: Move DioControl into its own module
  mpm/python/usrp_mpm/periph_manager/CMakeLists.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

tests: Add replay-back-edge test
  host/tests/rfnoc_block_tests/replay_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
