Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

Revert "cmake: remove Boost from dyn libs for tests on Apple"
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Bump minimum Boost version to 1.71
  host/cmake/Modules/UHDMinDepVersions.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove Boost version hacks from UHDBoost
  host/cmake/Modules/UHDBoost.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: support building with custom boost version on macos
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: add boost library path when running python based unittest
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove Boost::system from component list
  host/CMakeLists.txt
  host/cmake/Modules/UHDBoost.cmake
  host/lib/CMakeLists.txt
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix Boost settings for static builds
  host/cmake/Modules/UHDBoost.cmake
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Remove SKIP_BENCHMARK_CHECK hack
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: More specifically reference linking dependencies
  host/CMakeLists.txt
  host/examples/CMakeLists.txt
  host/lib/CMakeLists.txt
  host/tests/CMakeLists.txt
  host/utils/CMakeLists.txt
  host/utils/latency/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

usrp: obx: fix unused-private-field warning
  host/lib/usrp/dboard/db_obx.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ranges: Recreate original behaviour for braced-init
  host/include/uhd/types/ranges.hpp
  host/lib/types/ranges.cpp
  host/tests/ranges_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: ranges: Add test for clip in initalizer list test
  host/tests/ranges_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Avoid using braced-initializers for meta ranges
  host/lib/usrp/dboard/fbx/fbx_dboard.cpp
  host/lib/usrp/dboard/fbx/fbx_dboard_init.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control_lo.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix compiler warnings around usage of abs()
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: dram_utils: Fix warning around unused variable
  host/lib/rfnoc/dram/dram_helper.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Format dram_utils.py
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Speed up dram utils receiver
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Fix alignment of first sample
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_tx_core.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Update C++ version to 20
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add wait time between resend init and do flow control.
  host/lib/include/uhdlib/rfnoc/chdr_tx_data_xport.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: rework the download of data from replay
  host/lib/rfnoc/dram/dram_helper.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update CHANGELOG
  CHANGELOG
Due: none

rfnoc: python API: update rfnoc_graph functions
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_graph: add function for listing transport adapters
  host/include/uhd/rfnoc_graph.hpp
  host/lib/rfnoc/rfnoc_graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

update changelog for v4.9.0.1
  CHANGELOG
Due: none

mpm: Bump C++ version to 20
  mpm/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: Add timeout per build attempt
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix warning in create_newmod.yml
  host/cmake/Modules/create_newmod.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ad9361: fix rounding bug on RF PLL tuning calculations
  host/lib/usrp/common/ad9361_driver/ad9361_device.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Moved FPGA manual content to host/docs
  fpga/docs/Doxyfile
  fpga/docs/Ettus_Logo.png
  fpga/docs/Makefile
  fpga/docs/usrp2/build_instructions.md
  fpga/docs/usrp2/customize_signal_chain.md
  fpga/docs/usrp3/simulation.md
  host/docs/06_fpga.md
  host/docs/CMakeLists.txt
  host/docs/devices/usrp_b200.dox
  host/docs/driver_usage/images.dox
  host/docs/fpga/.gitignore
  host/docs/fpga/usrp1/usrp1_build_instructions.md
  host/docs/fpga/usrp2/build_instructions.md
  host/docs/fpga/usrp3/build_instructions.md
  host/docs/fpga/usrp3/sim/legacy_testbenches.md
  host/docs/fpga/usrp3/sim/libs_axi.md
  host/docs/fpga/usrp3/sim/libs_general.md
  host/docs/fpga/usrp3/sim/running_testbenches.md
  host/docs/fpga/usrp3/sim/simulation_libraries.md
  host/docs/fpga/usrp3/sim/writing_sim_makefile.md
  host/docs/fpga/usrp3/sim/writing_sim_top.md
  host/docs/fpga/usrp3/sim/writing_testbenches.md
  host/docs/fpga/usrp3/simulation.md
  host/docs/fpga/usrp3/usrp3_build_sim_instructions.md
  host/docs/fpga/usrp3/vivado_env_utils.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: Examples: Add error check for open failures
  host/examples/rx_samples_c.c
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: analyze changeset: automatically resolve git toplevel
  tools/changeset_testlist.py
Due: none

docs: moved manpages from host/docs to host/docs/manpages
  host/docs/CMakeLists.txt
  host/docs/manpages/rfnoc_image_builder.1
  host/docs/manpages/rfnoc_modtool.1
  host/docs/manpages/uhd_adc_self_cal.1
  host/docs/manpages/uhd_cal_rx_iq_balance.1
  host/docs/manpages/uhd_cal_tx_dc_offset.1
  host/docs/manpages/uhd_cal_tx_iq_balance.1
  host/docs/manpages/uhd_config_info.1
  host/docs/manpages/uhd_find_devices.1
  host/docs/manpages/uhd_image_loader.1
  host/docs/manpages/uhd_images_downloader.1
  host/docs/manpages/uhd_usrp_probe.1
  host/docs/manpages/usrp2_card_burner.1
  host/docs/manpages/usrp_n2xx_simple_net_burner.1
  host/docs/manpages/usrpctl.1
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

doc: Fix link to B206 getting started tutorials
  host/docs/usrp_b200.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

doc: Fix B206 getting started link name
  host/docs/getting_started/gsg_devices.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: extend stream cmd to support TX to RX trigger
  host/include/uhd/types/stream_cmd.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/types/types.cpp
  host/lib/types/types_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: add TX to RX trigger in radio core
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_regs.vh
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: add x440 testcase for TX to RX trigger
  host/tests/devtest/devtest_x440.py
  host/tests/devtest/trigger_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

log: Fix C++ 20 warnings
  host/include/uhd/utils/log.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
