Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make_trace
  ...

uhd: Allow pass raw IQ data array to tone generator
  host/python/uhd/usrp/cal/tone_gen.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: transport: Check if streamers are connected in send() and recv()
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/tx_streamer_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: X410: Set correct tuning word
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_aux.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: Add atomic item size property for RFNoC blocks
  host/docs/properties.dox
  host/include/uhd/rfnoc/defaults.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/include/uhdlib/rfnoc/rfnoc_rx_streamer.hpp
  host/lib/include/uhdlib/rfnoc/rfnoc_tx_streamer.hpp
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/tx_streamer_impl.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: support multiple streamers in benchmark_rate
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

RFNoC: Fix DSP frequency accuracy
  host/lib/include/uhdlib/usrp/cores/dsp_core_utils.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/usrp/cores/dsp_core_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e3xx: Fix frequency querying
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: update git://github.com references to https
  fpga/usrp3/lib/vivado_ipi/axi_dmac/axi_dmac.v
  fpga/usrp3/lib/vivado_ipi/util_axis_fifo/util_axis_fifo.v
  fpga/usrp3/lib/vivado_ipi/util_axis_resize/util_axis_resize.v
  host/cmake/debian/control
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: tests: Make x4xx unit test support GPIO
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Make get_mb_controller public
  host/include/uhd/rfnoc/noc_block_base.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: clang-format
  host/lib/usrp/x300/x300_clock_ctrl.cpp
  host/lib/usrp/x300/x300_device_args.hpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_image_loader.cpp
  host/lib/usrp/x300/x300_mb_controller.cpp
  host/lib/usrp/x300/x300_mb_controller.hpp
  host/lib/usrp/x300/x300_mb_eeprom.cpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/lib/usrp/x300/x300_pcie_mgr.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Fix LED configuration for TwinRX
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix non-standard function name macros
  host/include/uhd/config.hpp
  host/include/uhd/exception.hpp
  host/include/uhd/utils/log.hpp
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/transport/libusb1_base.cpp
  host/lib/usrp/gps_ctrl.cpp
  host/lib/usrp/multi_usrp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Fix rfnoc_image_core.vh path
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

fixup! uhd: Allow pass raw IQ data array to tone generator
  host/python/uhd/usrp/cal/tone_gen.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Always clear response queue in ctrlport_endpoint
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: hls: Add version to generated HLS IP
  fpga/usrp3/tools/scripts/viv_generate_hls_ip.tcl
Due: none

fpga: tools: Fix adding directories for HDL source
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: none

SPI: Implement SPI engine for x410
  host/docs/x400_gpio_api.dox
  host/include/uhd/features/discoverable_feature.hpp
  host/include/uhd/features/spi_getter_iface.hpp
  host/lib/include/uhdlib/usrp/cores/gpio_port_mapper.hpp
  host/lib/include/uhdlib/usrp/cores/spi_core_4000.hpp
  host/lib/usrp/cores/CMakeLists.txt
  host/lib/usrp/cores/spi_core_4000.cpp
  host/lib/usrp/x400/x400_gpio_control.cpp
  host/lib/usrp/x400/x400_gpio_control.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.hpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix build with DPDK v21.11 LTS
  host/lib/transport/udp_dpdk_link.cpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Separate pipeline builds for different os
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

SPI: Add SPI example
  host/examples/CMakeLists.txt
  host/examples/spi.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Demote WARNING on minor compat mismatch to DEBUG
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml

deps: rpclib: Replace distutils.dir_util with shutil
  host/lib/deps/import_rpclib.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Replace distutils with CMake for version checks
  host/CMakeLists.txt
  host/cmake/Modules/UHDPython.cmake
  host/python/CMakeLists.txt
  mpm/CMakeLists.txt
  mpm/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Replace distutils.sysconfig with sysconfig
  host/python/CMakeLists.txt
  mpm/python/CMakeLists.txt
  tools/gr-usrptest/cmake/Modules/GrPython.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Use setup from setuptools
  host/utils/setup.py.in
  tools/gr-usrptest/python/setup.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Improve page on RFNoC block properties
  host/docs/properties.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

lib: Make simple_claimer atomic
  host/lib/include/uhdlib/utils/atomic.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fix image build scripts to more recent python3.
  firmware/fx2/utils/build_eeprom.py
  firmware/fx2/utils/edit-gpif-b100.py
  firmware/fx2/utils/edit-gpif.py
Due: none

tests: disable x4xx_radio_block_test on macOS
  host/lib/usrp/x400/x400_radio_control.cpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: set dynamic_lookup and flat_namespace
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add embedded builds to uhd mono pipeline
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! cmake: Replace distutils.sysconfig with sysconfig
  host/python/CMakeLists.txt
  mpm/python/CMakeLists.txt
  tools/gr-usrptest/cmake/Modules/GrPython.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add displayNames to parameters
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Implement nameless_gain_mixin
  host/lib/include/uhdlib/rfnoc/rf_control/nameless_gain_mixin.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/rfnoc/rf_control/CMakeLists.txt
  host/lib/rfnoc/rf_control/nameless_gain_mixin.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix build with DPDK v21.11 LTS
  host/docs/dpdk.dox
  host/lib/CMakeLists.txt
  host/lib/include/uhdlib/transport/dpdk/udp.hpp
  host/lib/transport/udp_dpdk_link.cpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: uhdboost: Fix check for UHD_BOOST_REQUIRED being set
  host/cmake/Modules/UHDBoost.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Ignore errors in ctrlport response packets if ACKs not wanted
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add shim Sphinx config for readthedocs
  .readthedocs.yaml
  host/docs/sphinx/.gitignore
  host/docs/sphinx/Makefile
  host/docs/sphinx/environment.yml
  host/docs/sphinx/source/conf.py
  host/docs/sphinx/source/index.rst
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
