Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

sim: Update chdr_16sc_to_sc12 testbench
  fpga/usrp3/lib/vita_200/chdr_16sc_to_12sc_tb.v
Due: none

fpga: Re-order error and data packets
  fpga/usrp3/lib/radio_200/radio_legacy.v
Due: none

mpm: Expose motherboard regs for debugging
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

N320: Reduce PLL lock time
  mpm/python/usrp_mpm/dboard_manager/lmk_rh.py
Due: .ci/oe-x4xx-packages.yml

n3xx: Add support for rev 10
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml

B200: Fix overflow handling
  host/lib/usrp/b200/b200_io_impl.cpp
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: transport: Mark typecast as intended
  host/lib/transport/nirio/rpc/rpc_client.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: transport: Initialize _hshake_args_server
  host/lib/transport/nirio/rpc/rpc_client.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Adding FIFO SIZE parameter for width conv
  fpga/usrp3/lib/axi/axis_width_conv.v
Due: none

rfnoc: duc: Remove stale references to CORDIC
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/rfnoc_block_duc.v
Due: none

fpga: lib: Clean up and document lib files
  fpga/usrp3/lib/rfnoc/axi_sync.v
  fpga/usrp3/lib/rfnoc/axi_tag_time.v
  fpga/usrp3/lib/rfnoc/dds_freq_tune.v
Due: none

fpga: sim: Add PkgComplex, PkgMath, and PkgRandom
  fpga/usrp3/sim/packages/Makefile.srcs
  fpga/usrp3/sim/packages/PkgComplex.sv
  fpga/usrp3/sim/packages/PkgMath.sv
  fpga/usrp3/sim/packages/PkgRandom.sv
  fpga/usrp3/tools/make/viv_sim_preamble.mak
Due: none

fpga: rfnoc: Fix EOB loss in DUC
  fpga/usrp3/lib/ip/dds_sin_cos_lut_only/dds_sin_cos_lut_only.xci
  fpga/usrp3/lib/rfnoc/Makefile.srcs
  fpga/usrp3/lib/rfnoc/dds_freq_tune_duc.v
  fpga/usrp3/lib/rfnoc/dds_timed.v
  fpga/usrp3/lib/rfnoc/dds_wrapper.v
  fpga/usrp3/lib/rfnoc/sim/dds_timed_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/dds_timed_tb/dds_timed_tb.sv
Due: none

lib: rfnoc: Change enum node_type to enum class
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Make implicit typecasts explicit
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix sc16 to sc12 converter
  fpga/usrp3/lib/vita_200/chdr_16sc_to_12sc.v
Due: none

X300: Initialize struct variable before using it
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: streamer: Restore original recv(0) semantics
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add recv(0) case to rx_streamer_test
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: remove duplicate entry in LIBUHD_PYTHON_GEN_SOURCE
  host/lib/ic_reg_maps/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add Fedora 34 and remove Fedora 32
  .ci/docker/uhd-builder-fedora34.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix Xilinx bitfile parser for Python 3
  fpga/usrp3/tools/scripts/xil_bitfile_parser.py
Due: none

uhd: Remove Boost version checks for Boost 1.61
  host/lib/utils/paths.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: add X410 support for 250e6 master clock rate
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml

mpm: x4xx: update mboard_max_rev
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

uhd: Prepare branch for 4.1.0.2-rc3 release
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: rebuild docker images weekly
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Fix sfpp_io_core tuser width
  fpga/usrp3/top/x300/x300_sfpp_io_core.v
Due: none

cmake: Add check for libatomic linking requirement
  host/cmake/Modules/UHDAtomics.cmake
  host/lib/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add x400/x410 target to RFNoC example
  host/examples/rfnoc-example/cmake/Modules/run_testbench.sh.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Set default part for sim in setupenv.sh
  fpga/usrp3/tools/make/viv_sim_preamble.mak
  fpga/usrp3/top/e31x/setupenv.sh
  fpga/usrp3/top/e320/setupenv.sh
  fpga/usrp3/top/n3xx/setupenv.sh
  fpga/usrp3/top/x300/setupenv.sh
  fpga/usrp3/top/x400/setupenv.sh
Due: none

python: Add new method bindings to noc_block_base
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
