Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

examples: Amend tx_waveforms.py to use DramTransmitter
  host/examples/python/tx_waveforms.py
  host/python/uhd/dsp/signals.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x440: Move clock info logging out of policy
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

SelfCal: Add startup_tile() for cal_mode selection
  host/lib/usrp/x400/adc_self_calibration.cpp
  mpm/include/mpm/rfdc/rfdc_ctrl.hpp
  mpm/lib/rfdc/rfdc_ctrl.cpp
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Add 'const' to get_continuous_tone(); improve sanity-checks
  host/python/uhd/dsp/signals.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Explicitly pass MCR values to set_sync_source()
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: Add DramTransmitter class
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: filter MCR list
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_lookup.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

SelfCal: Trigger if clocking has changed
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/usrp/mpmd/mpmd_impl.cpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

SelfCal: Expose config parameters
  host/include/uhd/features/adc_self_calibration_iface.hpp
  host/include/uhd/utils/cast.hpp
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/usrp/x400/adc_self_calibration.cpp
  host/lib/usrp/x400/adc_self_calibration.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Add master_clock_rates argument to _set_ref_clock_freq()
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Remove spurious print
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Add intermediate clock settings to clock policy
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: add intermediate clocking setting
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Include cstdint for uintXX_t
  host/lib/include/uhdlib/utils/compat_check.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

usrp: Help choose uhd::time_spec_t constructor
  host/lib/usrp/dboard_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: remove benchmark_rate test for x440
  host/tests/devtest/devtest_x410.py
  host/tests/devtest/devtest_x440.py
  host/tests/devtest/run_testsuite.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Fix PRC divider register map
  fpga/usrp3/top/x400/doc/X410/X410_FPGA_right.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA_right.htm
  fpga/usrp3/top/x400/x4xx_global_regs.v
Due: none

Исправить пути
  firmware/kintex7sdr/apps/txrx_uhd.c
  firmware/kintex7sdr/kintex7sdrp/CMakeLists.txt
  firmware/kintex7sdr/kintex7sdrp/bootloader/CMakeLists.txt
  firmware/kintex7sdr/kintex7sdrp/bootloader_utils.c
  firmware/kintex7sdr/kintex7sdrp/ethernet.c.old
  firmware/kintex7sdr/kintex7sdrp/udp_fw_update.c
  firmware/kintex7sdr/lib/udp_fw_update.h
Due: none

host: Add cstdint include to fix gcc-13 compile.
  host/lib/include/uhdlib/utils/compat_check.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Убрать упоминания usrp2
  firmware/kintex7sdr/kintex7sdr/CMakeLists.txt
  firmware/kintex7sdr/kintex7sdrp/.cproject
  firmware/kintex7sdr/kintex7sdrp/.project
  firmware/kintex7sdr/kintex7sdrp/bootloader/.cproject
  firmware/kintex7sdr/kintex7sdrp/bootloader/.project
  firmware/kintex7sdr/kintex7sdrp/bootloader/CMakeLists.txt
  firmware/kintex7sdr/kintex7sdrp/eth_phy.h.old
  firmware/kintex7sdr/kintex7sdrp/ethernet.c.old
  firmware/kintex7sdr/kintex7sdrp/udp_fw_update.c
  firmware/kintex7sdr/lib/eeprom.c
  firmware/kintex7sdr/lib/eth_addrs.c
  firmware/kintex7sdr/lib/u2_init.c
  firmware/kintex7sdr/lib/udp_fw_update.h
Due: none

Исправить компилятор
  firmware/kintex7sdr/CMakeLists.txt
Due: none

Исправить байты приветствия
  host/lib/usrp/kintex7sdr/fw_common.h
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Исправить kintex7sdr_image_loader Использование: args="type=kintex7sdr"
  host/lib/usrp/kintex7sdr/kintex7sdr_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Удалить usrp-owl
  host/lib/usrp/usrp-owl/clock_ctrl.cpp
  host/lib/usrp/usrp-owl/clock_ctrl.hpp
  host/lib/usrp/usrp-owl/codec_ctrl.hpp
  host/lib/usrp/usrp-owl/fw_common.h
  host/lib/usrp/usrp-owl/mb_eeprom.cpp
  host/lib/usrp/usrp-owl/usrp2_fifo_ctrl.cpp
  host/lib/usrp/usrp-owl/usrp2_fifo_ctrl.hpp
  host/lib/usrp/usrp-owl/usrp2_iface.cpp
  host/lib/usrp/usrp-owl/usrp2_iface.hpp
  host/lib/usrp/usrp-owl/usrp2_impl.cpp
  host/lib/usrp/usrp-owl/usrp2_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Disable PR runs for draft PRs
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Changed the include to not be a relative path
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_add_udp.sv
Due: none

ci: add step for x440 embedded runs
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add power controls to rx_ascii_art_dft.cpp
  host/examples/rx_ascii_art_dft.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! mpm: Add LogRuntimeError class
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: b200: Improve docs (auto MCR, GPIOs)
  host/docs/usrp_b200.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

lib: tests: Mark mock pop_host_tasks() as override
  host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Add default virtual dtor to filter_node
  host/include/uhd/rfnoc/filter_node.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: max287x: Remove unused class attributes
  host/lib/include/uhdlib/usrp/common/max287x.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: fbx: Remove unused lambda captures
  host/lib/usrp/dboard/fbx/fbx_dboard_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix linking DPDK when installed at non-standard location
  host/cmake/Modules/FindDPDK.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Update CLA Assistant to v2.3.0
  .github/workflows/cla.yml
Due: none

#WIP
  .github/workflows/EttusCLA.md
Due: none

Fix setting start_time having no effect due to not setting has_time_spec and stream_now when using Python bindings.
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

SelfCal: Remove self-cal from boot and fpga update
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.hpp
  mpm/systemd/CMakeLists.txt
  mpm/systemd/system/usrp-adc-self-cal.service.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
