Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

ci: Build init_usrp example for macOS
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: call powerbtn multiple times to power on
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Fix generation of man pages
  host/docs/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: x400: zbx: Add support for XO3 CPLD variant.
  fpga/usrp3/tools/make/diamond_design_builder.mak
  fpga/usrp3/tools/make/diamond_preamble.mak
  fpga/usrp3/top/x400/cpld/reconfig_engine.v
  fpga/usrp3/top/x400/dboards/ctrlport_byte_deserializer.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/.gitignore
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile.zbx_cpld.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_left.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_right.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/build.tcl
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll.ipx
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll.lpc
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/ip/pll/pll_tmpl.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.ldf
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.lpf
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.sty
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/basic_regs.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/dsa_control.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/led_control.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/register_endpoints/switch_control.v
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/basic_regs_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/zbx_top_cpld.v
Due: none

fpga: lib: Add read-only strategy for port B in 2-port RAM
  fpga/usrp3/lib/control/ram_2port.v
  fpga/usrp3/lib/control/ram_2port_impl.vh
Due: none

doc: Remove ZBX phase sync documentation
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Increase devtest job timeout to 90 minutes
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: flash x310 fpga
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cal: add method to get the current power cal tracking mode
  host/lib/include/uhdlib/usrp/common/pwr_cal_mgr.hpp
  host/lib/usrp/common/pwr_cal_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: xportmgr_udp: Include iface name in info
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

mpm: udp: Fix Pylint warnings in UDP-related files
  mpm/python/usrp_mpm/ethdispatch.py
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

ci: Only include rpm files in the Fedora installer artifacts
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Mark devtest as failure on SucceededWithIssues
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Factor out transport API into PeriphManagerBase
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

mpm: add support for lattice zbx cpld
  mpm/python/usrp_mpm/dboard_manager/zbx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

x300: Fix invalid GPIO source bank error message
  host/lib/usrp/x300/x300_mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Fix AXI/LBUS testbench names
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/axi_lbus_tb.sv
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/lbus_axi_tb.sv
Due: none

rfnoc: Fix warnings in replay_block_control
  host/lib/rfnoc/replay_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add devtest e320 support
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/rhombus-labgrid/crossbar/places.yaml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-e320-0.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
  .ci/utils/httpd.py
  .ci/utils/mutex_hardware.py
  .ci/utils/tftp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Update error call for undefined RW mode
  fpga/usrp3/lib/control/ram_2port_impl.vh
Due: none

ci: Set n310 and n321 to specific agents
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update README.md
  README.md
Due: none

e3xx: change radio_control_impl mutex to be a recursive_mutex
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.cpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add n310 into devtests
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/rhombus-labgrid/crossbar/places.yaml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-n310-0.yml
  .ci/templates/tests/rhombus-labgrid/docker-compose.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: refactor get_all_addrs to remove duplicates
  host/lib/ic_reg_maps/gen_zbx_cpld_regs.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest with latest cpld firmware
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add LUA based dissector
  tools/dissectors/lua/color_rules.rfnoc
  tools/dissectors/lua/rfnoc.lua
Due: none

fpga: Add READMEs describing Lattice and ADI IP sourcing
  fpga/usrp3/lib/vivado_ipi/README.adi
  fpga/usrp3/lib/white_rabbit/wr_cores_v4_2/ip_cores/general-cores/modules/wishbone/wb_lm32/README.lattice
Due: none

examples: Fix rfnoc_replay_samples_from_file
  host/examples/rfnoc_replay_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Make get_chdr_link_types() more generic
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

ci: Enable root privileges for non-DPDK streaming tests
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Build init_usrp example for Windows
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-msbuild.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

REVERT images: zbx lattice cpld image manifest
  fpga/usrp3/tools/utils/image_package_mapping.py
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add n321 to devtest
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/tests/rhombus-labgrid/crossbar/places.yaml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-n321-0.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: gpio: output before end of stream
  host/examples/gpio.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtests: fix knownhost entry
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: set meta-ettus-dev repo to zeus-ci
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: change gr-ettus ref to master
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: fix minor typo when querying tx sensors property tree
  host/lib/usrp/multi_usrp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Make Windows installer job self-contained
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
