Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

lib: Add get_send_frame_size() call to chdr_ctrl_xport
  host/lib/include/uhdlib/rfnoc/chdr_ctrl_xport.hpp
  host/lib/rfnoc/chdr_ctrl_xport.cpp
  host/lib/rfnoc/chdr_rx_data_xport.cpp
  host/lib/rfnoc/chdr_tx_data_xport.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/x300/x300_mb_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Remove mtu argument from chdr_packet_writer*
  host/lib/include/uhdlib/rfnoc/chdr_ctrl_xport.hpp
  host/lib/include/uhdlib/rfnoc/chdr_packet_writer.hpp
  host/lib/include/uhdlib/rfnoc/chdr_rx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/chdr_tx_data_xport.hpp
  host/lib/rfnoc/chdr_ctrl_endpoint.cpp
  host/lib/rfnoc/chdr_packet_writer.cpp
  host/lib/rfnoc/chdr_tx_data_xport.cpp
  host/lib/rfnoc/chdr_types.cpp
  host/lib/rfnoc/mgmt_portal.cpp
  host/lib/utils/chdr/chdr_packet.cpp
  host/tests/rfnoc_chdr_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: oot: Remove make_args_t destructors
  host/examples/rfnoc-gain/tests/gain_block_test.cpp
  host/python/uhd/rfnoc_utils/templates/blocktool/template_block_test.cpp.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Make make_args_t fully opaque
  host/include/uhd/rfnoc/noc_block_base.hpp
  host/include/uhd/rfnoc/noc_block_make_args.hpp
  host/lib/include/uhdlib/rfnoc/noc_block_make_args.hpp
  host/lib/rfnoc/mock_block.cpp
  host/lib/rfnoc/noc_block_base.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/tests/complex_gain_3000_test.cpp
  host/tests/rfnoc_block_tests/addsub_block_test.cpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_mock.hpp
  host/tests/rfnoc_block_tests/fft_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test_v2.cpp
  host/tests/rfnoc_block_tests/fir_filter_block_test.cpp
  host/tests/rfnoc_block_tests/fosphor_block_test.cpp
  host/tests/rfnoc_block_tests/keep_one_in_n_test.cpp
  host/tests/rfnoc_block_tests/lc_block_test.cpp
  host/tests/rfnoc_block_tests/logpwr_block_test.cpp
  host/tests/rfnoc_block_tests/moving_average_block_test.cpp
  host/tests/rfnoc_block_tests/null_block_test.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
  host/tests/rfnoc_block_tests/siggen_block_test.cpp
  host/tests/rfnoc_block_tests/split_stream_block_test.cpp
  host/tests/rfnoc_block_tests/switchboard_block_test.cpp
  host/tests/rfnoc_block_tests/vector_iir_block_test.cpp
  host/tests/rfnoc_block_tests/window_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: installer: Pass release flag to new installer step templates
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: test: add conditional import of x4xx test
  mpm/python/tests/run_unit_tests.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: remove unused default values for x400 FPGA builds
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga-all.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix buffer fullness tracking in ctrlport_endpoint
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Improve logging of ctrlport_endpoint
  host/lib/include/uhdlib/rfnoc/ctrlport_endpoint.hpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix ctrl_payload.to_string()
  host/lib/rfnoc/chdr_types.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add SKIP_WR_ACK_WAIT mode to axis_ctrl_master
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_master.v
  fpga/usrp3/lib/rfnoc/core/ctrlport_endpoint.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Fix payload size calculation for ctrl packets
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add unit test for ctrlport_endpoint
  host/tests/CMakeLists.txt
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add get_stats() API call to register_iface
  host/include/uhd/rfnoc/mock_block.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/register_iface_holder.cpp
  host/lib/rfnoc/rfnoc_python.hpp
  host/tests/ctrlport_endpoint_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add SKIP_WR_ACK_WAIT parameter to radio
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/noc_shell_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  fpga/usrp3/lib/rfnoc/core/axis_ctrl_master.v
  host/include/uhd/rfnoc/blocks/radio.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rpc: Use perfect forwarding in rpc code
  host/lib/deps/rpclib/include/rpc/client.inl
  host/lib/deps/rpclib/include/rpc/detail/call.h
  host/lib/deps/rpclib/include/rpc/detail/log.h
  host/lib/deps/rpclib/include/rpc/msgpack/adaptor/detail/cpp11_msgpack_tuple.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/detail/cpp11_zone.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rpc: Fix operators in object class
  host/lib/deps/rpclib/include/rpc/msgpack/object.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add minimal documentation for GPIO access from RFNoC blocks
  host/docs/devices/gpio_api.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

mpm: Move tile startup after DB startup
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fix byte alignment
  host/lib/convert/avx2_fc32_to_sc16.cpp
  host/lib/convert/avx2_fc32_to_sc8.cpp
  host/lib/convert/avx2_fc64_to_sc16.cpp
  host/lib/convert/avx2_fc64_to_sc8.cpp
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: align timeout on upload and wait_for_buffer_complete
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: remove duplicated CPLD yml file
  .ci/fpga/templates/job-cpld-build.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: adjust file names in changeset after rename
  tools/changeset_testlist.yaml
Due: none

fpga: x4xx: fix typo in DIO pin mapping description
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/x4xx_dio.v
  fpga/usrp3/top/x400/x4xx_gpio_atr.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update CHANGELOG
  CHANGELOG
Due: none

ci: windows: Support for building UHD installers with Visual Studio 2026
  .ci/docker/scripts/check-url.ps1
  .ci/docker/uhd-builder-vs2026-v145-x64.Dockerfile
  .ci/docker/vcpkg/vcpkg-vc2026.txt
  .ci/docker/vcpkg/vcpkg-vs2026.json
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-msbuild.yml
  .ci/uhd-build-docker-container.yml
  .ci/utils/extract-vs-version.bat
  host/cmake/Modules/UHDPackage.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Surround all open() calls with with-statement
  fpga/usrp2/top/extract_usage.py
  fpga/usrp2/top/python/check_timing.py
  fpga/usrp3/tools/scripts/xil_bitfile_parser.py
  fpga/usrp3/top/python/check_timing.py
  host/lib/convert/gen_convert_general.py
  host/lib/deps/pybind11/remove_comments.py
  host/lib/transport/gen_vrt_if_packet.py
  host/utils/usrp2_card_burner.py
  mpm/python/usrp_mpm/bist.py
  mpm/python/usrp_mpm/sys_utils/sysfs_gpio.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Add MinGW support
  host/cmake/Modules/UHDBoost.cmake
  host/lib/CMakeLists.txt
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Add explicit underlying storage types to enums
  host/include/uhd/rfnoc/graph_edge.hpp
  host/include/uhd/types/serial.hpp
  host/include/uhd/types/stream_cmd.hpp
  host/include/uhd/usrp/dboard_iface.hpp
  host/lib/usrp/b100/codec_ctrl.hpp
  host/lib/usrp/b200/b200_iface.hpp
  host/lib/usrp/usrp1/codec_ctrl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Check for BOOST_HAS_PTHREADS in set_thread_name()
  host/lib/utils/thread.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Include <cstdint> where it was missing
  host/include/uhd/rfnoc/graph_edge.hpp
  host/include/uhd/types/stream_cmd.hpp
  host/lib/usrp/b100/codec_ctrl.hpp
  host/lib/usrp/usrp1/codec_ctrl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Correctly use _WIN32 vs. UHD_MSVC
  host/lib/utils/paths.cpp
  host/lib/utils/pathslib.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Include gps_iface.hpp in uhd features
  host/include/uhd/features/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Improve set_thread_name() capabilities
  host/lib/utils/CMakeLists.txt
  host/lib/utils/thread.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

convert: Add AVX2 converters
  host/lib/convert/avx2_fc32_to_sc16.cpp
  host/lib/convert/avx2_fc32_to_sc8.cpp
  host/lib/convert/avx2_fc64_to_sc16.cpp
  host/lib/convert/avx2_fc64_to_sc8.cpp
  host/lib/convert/avx2_sc16_to_fc32.cpp
  host/lib/convert/avx2_sc16_to_fc64.cpp
  host/lib/convert/avx2_sc16_to_sc16.cpp
  host/lib/convert/avx2_sc8_to_fc32.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Allow using ENABLE_AVX2 to enable AVX2 converters
  host/lib/convert/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Add AVX2 support for uhd::convert
  host/examples/CMakeLists.txt
  host/examples/convert_benchmark.cpp
  host/lib/convert/CMakeLists.txt
  host/lib/convert/avx2_fc32_to_sc16.cpp
  host/lib/convert/avx2_fc32_to_sc8.cpp
  host/lib/convert/avx2_fc64_to_sc16.cpp
  host/lib/convert/avx2_fc64_to_sc8.cpp
  host/lib/convert/avx2_sc16_to_fc32.cpp
  host/lib/convert/avx2_sc16_to_fc64.cpp
  host/lib/convert/avx2_sc16_to_sc16.cpp
  host/lib/convert/avx2_sc8_to_fc32.cpp
  host/lib/convert/convert_common.hpp
  host/lib/convert/convert_impl.cpp
  host/lib/convert/simd_features.hpp
  host/lib/convert/sse2_fc32_to_sc16.cpp
  host/lib/convert/sse2_fc32_to_sc8.cpp
  host/lib/convert/sse2_fc64_to_sc16.cpp
  host/lib/convert/sse2_fc64_to_sc8.cpp
  host/lib/convert/sse2_sc16_to_fc32.cpp
  host/lib/convert/sse2_sc16_to_fc64.cpp
  host/lib/convert/sse2_sc16_to_sc16.cpp
  host/lib/convert/sse2_sc8_to_fc32.cpp
  host/lib/convert/sse2_sc8_to_fc64.cpp
  host/lib/convert/ssse3_pack_sc12.cpp
  host/lib/convert/ssse3_unpack_sc12.cpp
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
