Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

fpga: utils: Use default image core name
  fpga/usrp3/tools/utils/update_image_cores.sh
Due: none

rfnoc: image builder: Add project save option to image builder
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add Vivado project option to USRP FPGA builds
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

fpga: tools: Add option to save Vivado project
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/make/viv_preamble.mak
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: none

rfnoc: image builder: Add make jobs option
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: image builder: Add option to build IP only
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add option to build IP only
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

fpga: Add option to specify build output directory
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/make/viv_preamble.mak
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

rfnoc: image builder: Add option to specify build output directory
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: zbx: Change abs to std abs
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: add access for db_iface from property_tree
  host/lib/property_tree_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: x300: Add missing <string> include
  host/lib/usrp/x300/x300_mb_controller.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Clarify docs around setting clock source and side-effects
  host/include/uhd/rfnoc/mb_controller.hpp
  host/include/uhd/usrp/multi_usrp.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ubx: Fix width of gain register
  host/lib/usrp/dboard/db_ubx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add edge style to dot output of graph
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: mono pipeline: deactivate building packages for fedora39
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add Fedora 38 and 39, drop Fedora 36
  .ci/docker/uhd-builder-fedora38.Dockerfile
  .ci/docker/uhd-builder-fedora39.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: build GNU Radio 3.10 for all OS except Ubuntu 18.04
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-gr-ettus-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: UHD make: tolerate warning deprecated-declarations
  .ci/templates/steps-build-uhd-make.yml
  .ci/templates/steps-build-uhd-ninja.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix compiling with gcc 13.2
  host/tests/isatty_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host/lib: uhd-dpdk: fix issue compiling with gcc 13.2
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: uhd ubuntu deb: mark as compatile to noble
  tools/debs/uhd_ubuntu_deb.py
Due: none

ci: add parameter to build linux/windows containers conditionally
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add Ubuntu-2404-builder
  .ci/docker/uhd-builder-ubuntu2404.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix rx_gain_estimate_power
  host/examples/rfnoc-example/examples/rx_gain_estimate_power.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Remove usage of boost::process::child::wait_for
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "ci: UHD make: tolerate warning deprecated-declarations"
  .ci/templates/steps-build-uhd-make.yml
  .ci/templates/steps-build-uhd-ninja.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: ic_reg_maps: Fix Python warning regarding \w
  host/lib/ic_reg_maps/common.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Replace deprecated boost::filesystem usage
  host/lib/usrp/mpmd/mpmd_image_loader.cpp
  host/lib/usrp/x300/x300_image_loader.cpp
  host/lib/usrp_clock/octoclock/octoclock_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

readme: fix srsRAN URL
  README.md
Due: none

tests: Add unit test for ADF535x PLLs
  host/tests/CMakeLists.txt
  host/tests/adf535x_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: adf5356: Fix FRAC2 calculation
  host/lib/include/uhdlib/usrp/common/adf535x.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix VIVADO_PROJECT variable
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: none

tools: Remove mega_fft
  tools/mega_fft/MegaFFT-3.7.grc
  tools/mega_fft/README.md
  tools/mega_fft/mega_fft.py
  tools/mega_fft/mega_fft_2ch.py
Due: none

ci: Allow for using PR Pipeline for FPGA source
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use fpga pipeline artifacts for streaming testing
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add option for using FPGA pipeline images for testing
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-rf-tests-pebbles.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use fpga pipeline artifacts for x4xx testing
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix outstanding clang-format issues
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/lib/rfnoc/rfnoc_python.hpp
  host/utils/query_gpsdo_sensors.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
