Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

N3xx: Include FPGA images with White Rabbit fix
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e3xx: Enable AGC property tree nodes
  host/lib/usrp/dboard/e3xx/e3xx_radio_ctrl_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Replace CMAKE_{SOURCE,BINARY}_DIR with UHD_*_DIR
  host/CMakeLists.txt
  host/cmake/Modules/CodeCoverage.cmake
  host/cmake/Modules/UHDPackage.cmake
  host/cmake/Modules/UHDUnitTest.cmake
  host/cmake/Modules/UHDVersion.cmake
  host/docs/CMakeLists.txt
  host/docs/Doxyfile.in
  host/lib/CMakeLists.txt
  host/lib/rfnoc/nocscript/CMakeLists.txt
  host/lib/transport/nirio/lvbitx/CMakeLists.txt
  host/python/CMakeLists.txt
  host/tests/CMakeLists.txt
  host/tests/common/CMakeLists.txt
  host/tests/devtest/CMakeLists.txt
  mpm/CMakeLists.txt
  mpm/lib/CMakeLists.txt
  mpm/lib/catalina/CMakeLists.txt
  mpm/lib/chips/CMakeLists.txt
  mpm/lib/mykonos/CMakeLists.txt
  mpm/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

b200: Add a prop tree node usb_version
  host/lib/usrp/b200/b200_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix rfnoc-example (CMake paths)
  host/examples/rfnoc-example/CMakeLists.txt
  host/examples/rfnoc-example/apps/CMakeLists.txt
  host/examples/rfnoc-example/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Improve txrx_loopback_to_file (late recv, Boost, timing)
  host/examples/txrx_loopback_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ad9361: Modify set-tx-gain procedure to update gain in one go
  host/lib/usrp/common/ad9361_driver/ad9361_device.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: zbx: Prevent TX antenna config from disrupting RX
  host/lib/usrp/dboard/zbx/zbx_cpld_ctrl.cpp
  host/tests/zbx_cpld_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.3 release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! N3xx: Include FPGA images with White Rabbit fix
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: streamer: Restore original recv(0) semantics
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

X300: Initialize struct variable before using it
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

chdr: Rename var max_size_bytes to avoid confusion
  host/include/uhd/rfnoc/chdr_types.hpp
  host/lib/rfnoc/chdr_types.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Improve docs for rx_streamer::recv() on overruns
  host/include/uhd/stream.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: Add receive stability test to B2xx devtest
  host/tests/devtest/devtest_b2xx.py
  host/tests/devtest/python_rx_stability_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: Add receive stability test
  host/tests/devtest/recv_stability_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix dropped-sample calculation in benchmark_rate.py
  host/examples/python/benchmark_rate.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dissectors: Fix inclusion of glib.h and Python version
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
  tools/dissectors/epan/zpu/packet-zpu.c
  tools/dissectors/make-plugin-reg.py
Due: none

dissectors: Fix whitespace formatting in CMake files
  tools/dissectors/CMakeLists.txt
  tools/dissectors/epan/rfnoc/CMakeLists.txt
Due: none

docs: x410: Fix info on loading SD card images with bmaptool
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.4 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: tests: Add build-python path to PYTHONPATH
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: n3xx: Update synchronizer constraint
  fpga/usrp3/top/n3xx/mb_timing.xdc
Due: none

python: Add new method bindings to noc_block_base
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Create C++ wrappers for MPM RPC calls
  host/lib/include/CMakeLists.txt
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
  host/lib/usrp/mpmd/mpmd_mboard_impl.cpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix Xilinx bitfile parser for Python 3
  fpga/usrp3/tools/scripts/xil_bitfile_parser.py
Due: none

fpga: lib: Update example constraint in synchronizer
  fpga/usrp3/lib/control/synchronizer.v
Due: none

uhd: Remove Boost version checks for Boost 1.61
  host/lib/utils/paths.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Replace CMAKE_{SOURCE,BINARY}_DIR with UHD_*_DIR
  host/CMakeLists.txt
  host/cmake/Modules/CMakeRC.cmake
  host/cmake/Modules/CodeCoverage.cmake
  host/cmake/Modules/UHDPackage.cmake
  host/cmake/Modules/UHDUnitTest.cmake
  host/cmake/Modules/UHDVersion.cmake
  host/docs/CMakeLists.txt
  host/docs/Doxyfile.in
  host/lib/CMakeLists.txt
  host/lib/cal/CMakeLists.txt
  host/lib/transport/nirio/lvbitx/CMakeLists.txt
  host/python/CMakeLists.txt
  host/tests/CMakeLists.txt
  host/tests/common/CMakeLists.txt
  host/tests/devtest/CMakeLists.txt
  mpm/CMakeLists.txt
  mpm/lib/CMakeLists.txt
  mpm/lib/catalina/CMakeLists.txt
  mpm/lib/chips/CMakeLists.txt
  mpm/lib/mykonos/CMakeLists.txt
  mpm/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: ddc: Improve unit tests and documentation
  host/include/uhd/rfnoc/ddc_block_control.hpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Export RPC token and mb_args to the property tree
  host/lib/usrp/mpmd/mpmd_impl.hpp
  host/lib/usrp/mpmd/mpmd_mboard_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Add check for libatomic linking requirement
  host/cmake/Modules/UHDAtomics.cmake
  host/lib/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: duc: Fix frequency range for DUC block
  host/include/uhd/rfnoc/duc_block_control.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Update synchronizer constraint
  fpga/usrp3/top/x300/timing.xdc
Due: none

fpga: tools: Add UHD_FPGA_DIR definition to synthesis
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/make/viv_simulator.mak
  fpga/usrp3/tools/scripts/viv_sim_project.tcl
Due: none

uhd: mpm: Expose filesystem version information on MPM tree
  host/lib/usrp/mpmd/mpmd_prop_tree.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Fix MAX_RATE_1GIGE value
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Fix check in link_test
  host/tests/link_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Fix sfpp_io_core tuser width
  fpga/usrp3/top/x300/x300_sfpp_io_core.v
Due: none

uhd: transport: Avoid exceptions in disconnect_receiver()
  host/lib/transport/inline_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
