Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

rfnoc: python API: fix argument names for "connect" function
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: added to_pp_string and strevent functions to async_metadata_t
  host/include/uhd/types/metadata.hpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/types/metadata.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

common: add tmp468 sensor
  host/lib/include/uhdlib/usrp/common/tmp468.hpp
  host/lib/usrp/common/CMakeLists.txt
  host/lib/usrp/common/tmp468.cpp
  host/tests/CMakeLists.txt
  host/tests/tmp468_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: add function pop_all to bounded_buffer
  host/include/uhd/transport/bounded_buffer.hpp
  host/include/uhd/transport/bounded_buffer.ipp
  host/tests/buffer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: fix import uhd errors
  host/python/uhd/__init__.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: add support for max287x for debug panels
  host/lib/include/uhdlib/usrp/common/max287x_python.hpp
  host/python/CMakeLists.txt
  host/python/pyuhd.cpp
  host/python/uhd/usrp/chips/__init__.py
  host/python/uhd/usrp/chips/max287x.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cal: allow for gain control in cal utils
  host/docs/uhd_cal_rx_iq_balance.1
  host/docs/uhd_cal_tx_dc_offset.1
  host/docs/uhd_cal_tx_iq_balance.1
  host/lib/usrp/multi_usrp_rfnoc.cpp
  host/utils/uhd_cal_rx_iq_balance.cpp
  host/utils/uhd_cal_tx_dc_offset.cpp
  host/utils/uhd_cal_tx_iq_balance.cpp
  host/utils/usrp_cal_utils.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: use ignore_cal_file correctly
  host/lib/usrp/x300/x300_mb_controller.hpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Fix add-gr-oot command name
  host/python/uhd/rfnoc_utils/modtool_commands/add-gr-oot.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Correctly describe inheritance in Python blocks
  host/examples/rfnoc-gain/lib/gain_block_control_python.hpp
  host/python/uhd/rfnoc_utils/templates/blocktool/template_block_control_python.hpp.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Add add-gr-block command
  host/docs/rfnoc_modtool.1
  host/python/uhd/rfnoc_utils/modtool_commands/add-gr-block.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: modtool: step_executor: Improve find_file and run_subprocess
  host/python/uhd/rfnoc_utils/step_executor.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: make compat_check.hpp part of uhd include files
  host/include/uhd/utils/CMakeLists.txt
  host/include/uhd/utils/compat_check.hpp
  host/lib/include/uhdlib/usrp/cores/xport_adapter_ctrl.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/rfnoc/fft_block_control.cpp
  host/lib/rfnoc/fir_filter_block_control.cpp
  host/lib/rfnoc/lc_block_control.cpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/x300/x300_defaults.hpp
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/usrp/x300/x300_impl.hpp
  host/lib/usrp/x300/x300_prop_tree.cpp
  host/lib/utils/compat_check.cpp
  host/tests/CMakeLists.txt
  host/tests/compat_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Align with gr_modtool output
  host/examples/rfnoc-gain/gr-rfnoc_gain/include/gnuradio/rfnoc_gain/rfnoc_gain.h
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove references to UHD_RFNOC_DIR
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add HDL-based complex multiply
  fpga/usrp3/lib/dsp/Makefile.srcs
  fpga/usrp3/lib/dsp/complex_multiply.sv
  fpga/usrp3/lib/dsp/complex_multiply_iq.sv
  fpga/usrp3/lib/sim/dsp/complex_multiply_iq/Makefile
  fpga/usrp3/lib/sim/dsp/complex_multiply_iq/complex_multiply_iq_all_tb.sv
  fpga/usrp3/lib/sim/dsp/complex_multiply_iq/complex_multiply_iq_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: add rounding mode to round()
  fpga/usrp3/sim/packages/PkgMath.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: add parametrized class for complex types
  fpga/usrp3/sim/packages/PkgComplex.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Create 'rfnoc' install component and use it
  host/cmake/Modules/UHDComponent.cmake
  host/include/uhd/rfnoc/blocks/CMakeLists.txt
  host/include/uhd/rfnoc/core/CMakeLists.txt
  host/include/uhd/rfnoc/modules/CMakeLists.txt
  host/include/uhd/rfnoc/transport_adapters/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Change install rule for headers when ENABLE_LIBUHD=OFF
  host/cmake/Modules/UHDComponent.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docu: updated build from source instructions for windows
  host/docs/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

uhd: Deprecate pimpl.hpp
  host/include/uhd/usrp/dboard_base.hpp
  host/include/uhd/utils/pimpl.hpp
  host/lib/usrp/b200/b200_impl.hpp
  host/lib/usrp/dboard_base.cpp
  host/lib/usrp/usrp1/io_impl.cpp
  host/lib/usrp/usrp1/usrp1_impl.hpp
  host/lib/usrp/usrp2/io_impl.cpp
  host/lib/usrp/usrp2/usrp2_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: BiST: Add LMX tests for ZBX
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: remove benchmark_streamer
  host/examples/CMakeLists.txt
  host/examples/benchmark_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: zbx: change routing settings in project
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.sty
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: zbx: add missing constraint
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.lpf
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: fix various warnings in CPLD related code
  fpga/usrp3/lib/control/reset_sync.v
  fpga/usrp3/lib/control/simple_spi_core_64bit.v
  fpga/usrp3/top/x400/cpld/common/spi_slave.v
  fpga/usrp3/top/x400/cpld/common/spi_slave_to_ctrlport_master.v
  fpga/usrp3/top/x400/dboards/ctrlport_byte_deserializer.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: error out on unconstrained paths for diamond builds
  fpga/usrp3/tools/make/diamond_design_builder.mak
  fpga/usrp3/tools/scripts/diamond_check_variables.py
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: avoid late responses of combiner to be forwarded
  fpga/usrp3/lib/rfnoc/utils/ctrlport_if_combiner.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: refactor round and clip to save resources
  fpga/usrp3/lib/rfnoc/axi_round.v
  fpga/usrp3/lib/rfnoc/axi_round_and_clip.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: add registers for activity monitoring to ease timing closure
  fpga/usrp3/lib/rfnoc/transport_adapters/rfnoc_ta_x4xx_eth/x4xx_mgt_io_core.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: add ubuntu 25.04 container
  .ci/docker/uhd-builder-ubuntu2504.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x400: Update GPIO SPI frequency
  host/docs/x400_gpio_api.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

utils: image_builder: make OPTIMIZE parameter of crossbar editable
  host/python/uhd/rfnoc_utils/templates/rfnoc_image_core.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: add CPLD compile job
  .ci/fpga/scripts/cleanup_incomplete_ip_builds.py
  .ci/fpga/scripts/merge_modelsim_ini.py
  .ci/fpga/scripts/run_setup.sh
  .ci/fpga/templates/job-build-cpld.yml
  .ci/fpga/templates/mb_cpld_build.yml
  .ci/fpga/templates/zbx_cpld_build.yml
  .ci/hwtools/root.py
  .ci/templates/stages-uhd-pipeline.yml
  fpga/.ci/fpga-pipeline.yml
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: register timestamp in radio cores
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_tx_core.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Update register documentation
  fpga/usrp3/top/x400/cpld_interface.v
  fpga/usrp3/top/x400/rf/400m/rf_core_400m.v
  fpga/usrp3/top/x400/rf/common/rfdc_info_pkg.sv
  fpga/usrp3/top/x400/rf/full/rf_core_full.sv
  fpga/usrp3/top/x400/x4xx.sv
  fpga/usrp3/top/x400/x4xx_core_common.v
  fpga/usrp3/top/x400/x4xx_versioning_regs.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: fbx: Update register documentation
  fpga/usrp3/top/x400/dboards/fbx/clock_en_control.v
  fpga/usrp3/top/x400/dboards/fbx/db_gpio_interface.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: zbx: Update register documentation
  fpga/usrp3/top/x400/dboards/zbx/cpld/zbx_top_cpld.v
  fpga/usrp3/top/x400/dboards/zbx/db_gpio_interface.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add register documentation to radio
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
