Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make_trace
  ...

rfnoc: Fix back-edge consistency check
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Make radio_control constants an enum
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: remove bmaptool instructions for writing filesystems
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.5 release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Fix time register readback
  fpga/usrp3/top/x300/bus_int.v
Due: none

examples: Fix tx_bursts bandwidth/freq/gain reporting
  host/examples/tx_bursts.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Amend page on RFNoC properties
  host/docs/properties.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Fix block_id::get_tree_root()
  host/lib/rfnoc/block_id.cpp
  host/tests/block_id_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix RFNoC-capable detection in uhd_usrp_probe
  host/utils/uhd_usrp_probe.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix MathJax formulae rendering
  host/docs/Doxyfile.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

tools: Add check for SEP with ctrl enabled to rfnoc_image_builder
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: nsis: Remove broken shortcuts in Windows installer
  host/cmake/Modules/NSIS.template.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Add the utilization report for X410 images (X4_200)
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: none

dpdk: support new MTU discovery
  host/lib/transport/dpdk_simple.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: graph: make topology failure more descriptive
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: correct MTU warning message
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Clear out code from days of yore
  images/Makefile
  images/create_imgs_package.py
  images/populate_images.py
  images/uhdimgs.py
Due: none

docs: Fix page on GPIO
  host/docs/gpio_api.dox
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

host: Add char* overload for device_addr_t
  host/include/uhd/types/device_addr.hpp
  host/lib/include/uhdlib/usrp/constrained_device_args.hpp
  host/lib/types/device_addr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: docs: Fix incorrect usage in GPIO docs
  host/docs/x400_gpio_api.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Remove tcp_zero_copy
  host/include/uhd/transport/CMakeLists.txt
  host/include/uhd/transport/tcp_zero_copy.hpp
  host/lib/transport/CMakeLists.txt
  host/lib/transport/tcp_zero_copy.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Remove superfluous includes of udp_zero_copy.hpp
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Implement operator<< for data_reader_t
  host/lib/include/uhdlib/experts/expert_nodes.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Make core_iface inheritence virtual
  host/lib/include/uhdlib/rfnoc/rf_control/dboard_iface.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: rf_control: Add internal antenna API abstraction.
  host/lib/include/uhdlib/rfnoc/rf_control/antenna_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/rfnoc/rf_control/CMakeLists.txt
  host/lib/rfnoc/rf_control/antenna.cpp
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: tests: Add unit test for ZBX antenna API
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add divider constructor to spi_config_t
  host/include/uhd/types/serial.hpp
  host/lib/types/serial.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Set debug to -Og for Clang builds
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: refactor dockerOSName to buildOSName
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: build on macOS
  .ci/templates/job-get-latest-uhd-docker.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Fix comment in radio_control_impl
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: SSPH: Fix comment for convert_to_in_buff()
  host/lib/transport/super_send_packet_handler.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: ddc/duc: Improve variable name for _set_freq()
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: multi_usrp: Merge set_tx_subdev_spec and set_rx_subdev_spec
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: e320/e31x: Fix lo-lock sensors
  mpm/python/usrp_mpm/dboard_manager/e31x_db.py
  mpm/python/usrp_mpm/dboard_manager/neon.py
Due: .ci/oe-x4xx-packages.yml

e31x/e320: Amend LO-locked sensor names
  host/docs/usrp_e3xx.dox
  mpm/python/usrp_mpm/dboard_manager/e31x_db.py
  mpm/python/usrp_mpm/dboard_manager/neon.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x410: Fix docstrings related to GPS sensors
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_gps_mgr.py
Due: .ci/oe-x4xx-packages.yml

fpga: e320: Remove copy/paste from N310 code
  fpga/usrp3/top/e320/mb_pins.xdc
Due: none

fpga: e320: Connect CTRL_IN pins to FPGA
  fpga/usrp3/top/e320/e320.v
  fpga/usrp3/top/e320/mb_pins.xdc
Due: none

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
