Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

fpga: Clear clang-format settings for FPGA code
  fpga/.clang-format
Due: none

docs: add python package requirement for usrpctl MPM reset
  host/docs/usrpctl.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

tests: fix when the rx cmd's stream_now is set
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: add updated msgpack rpc package
  host/docs/usrpctl.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

lib: rfnoc: Fix linter issue regarding virtual dtor
  host/include/uhd/rfnoc/mb_controller.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add page on timed commands
  host/docs/devices.dox
  host/docs/timed_cmd.dox
  host/docs/usrp_x3x0.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! docs: Improve documentation on timekeepers
  host/docs/timed_cmd.dox
  host/docs/usrp_x4xx.dox
  host/include/uhd/rfnoc/mb_controller.hpp
  host/include/uhd/usrp/multi_usrp.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Improve documentation on timekeepers
  host/docs/usrp_x4xx.dox
  host/include/uhd/rfnoc/mb_controller.hpp
  host/include/uhd/usrp/multi_usrp.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: Normalize name for gps_locked sensor
  host/docs/usrp_n3xx.dox
  mpm/python/usrp_mpm/gpsd_iface.py
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_aux.py
  mpm/python/usrp_mpm/periph_manager/x4xx_gps_mgr.py
  mpm/python/x4xx_bist
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: x440: Extend X4x0 Usage Manual for x440
  host/docs/fbx.dox
  host/docs/res/FBX_simplified_blockdiagram.png
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: x440: Added FBX to UM daughterboards page
  host/docs/dboards.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Prepare for 4.5.0.0 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/libuhd4.5.0.install
  host/cmake/debian/rules
  images/manifest.txt
  tools/debs/upload_debs.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: update remote streaming supported version
  host/docs/stream.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: x440: Fixed incorrect use of paragraph elements
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

x4xx_bist: replace set_clock_source for x440
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: modify default sfp0 and reboot
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: allow for mpm device to tell host to reboot mpm
  host/lib/usrp/mpmd/mpmd_impl.hpp
  host/lib/usrp/mpmd/mpmd_mboard_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x4xx: pass reboot mpm command to host on new clock config for x440
  host/docs/usrp_x4xx.dox
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

devtest: remove API calls that now error
  host/tests/devtest/multi_usrp_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: move pop_host_tasks to PeriphManagerBase
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/usrp/mpmd/mpmd_impl.cpp
  host/lib/usrp/x400/x400_radio_control.cpp
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: restrict analyze changeset pool
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x4xx: get bool for force_reinit arg
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

SelfCal: Lower threshold for signal recognition
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

SelfCal: improve fbx input spur performance
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_dboard.hpp
  host/utils/x4xx_query_adc_threshold.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

4.5.0.0 Release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x440: cpld: led control cleanup
  fpga/usrp3/top/x400/cpld/sim/led_control_tb.v
  fpga/usrp3/top/x400/cpld/x440/led_control.v
  fpga/usrp3/top/x400/cpld/x440/mb_cpld.v
Due: none

fpga: x400: Update PL DRAM speed bin
  fpga/usrp3/top/x400/ip/ddr4_64bits/ddr4_64bits.xci
  fpga/usrp3/top/x400/ip/ddr4_64bits_x440/ddr4_64bits_x440.xci
Due: none

docs: X440: Add FBX to daughterboard list
  host/docs/devices.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: X440: Corrected web link syntax in FBX doc.
  host/docs/fbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fixup! rfnoc: Enable SEP throttle register
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use build farm for windows builds
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
  .ci/templates/steps-build-uhd-msbuild.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga/usrp3: Fix DC truncation bias by adding rounding to DDC chain.
  fpga/usrp3/lib/dsp/ddc_chain.v
  fpga/usrp3/lib/dsp/hb_dec.v
  fpga/usrp3/lib/dsp/small_hb_dec.v
Due: none

ci: only build docker images once per week
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tx_waveforms fixes. Fixed power bug. Changed loop style to 'for each' in order to avoid this issue in the future
  host/examples/tx_waveforms.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tx_samples_from_file fixes and improvements. Fixed bug where channels 1 and higher could not be configured correctly. Added the 'power' argument. Added support for multiple channels.
  host/examples/tx_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tx_samples_from_file improvements. Re-added 'channel' argument for backwards compatibility. Added additional error checking. Changed help descriptions to match other example apps.
  host/examples/tx_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Run clang format on tx_waveforms and tx_samples_from_file
  host/examples/tx_samples_from_file.cpp
  host/examples/tx_waveforms.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: fix timekeeper misalignment
  host/include/uhd/rfnoc/mb_controller.hpp
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: propagate testLength to RF ATS
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

deb: copyright file update to eliminate errors and warnings
  host/cmake/debian/copyright
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
