Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

rfnoc: duc: Fix frequency range for DUC block
  host/include/uhd/rfnoc/duc_block_control.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: ddc: Improve unit tests and documentation
  host/include/uhd/rfnoc/ddc_block_control.hpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: transport: Avoid exceptions in disconnect_receiver()
  host/lib/transport/inline_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Fix check in link_test
  host/tests/link_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Add discoverable feature for trig i/o mode
  host/include/uhd/features/discoverable_feature.hpp
  host/include/uhd/features/trig_io_mode_iface.hpp
  host/include/uhd/types/trig_io_mode.hpp
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x4xx_bist: use get_mpm_client in gpio bist
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml

fpga: Fix sc16 to sc12 converter
  fpga/usrp3/lib/vita_200/chdr_16sc_to_12sc.v
Due: none

fpga: Re-order error and data packets
  fpga/usrp3/lib/radio_200/radio_legacy.v
Due: none

sim: Update chdr_16sc_to_sc12 testbench
  fpga/usrp3/lib/vita_200/chdr_16sc_to_12sc_tb.v
Due: none

uhd: streamer: Restore original recv(0) semantics
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add recv(0) case to rx_streamer_test
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! tests: Add recv(0) case to rx_streamer_test
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

B200: Fix overflow handling
  host/lib/usrp/b200/b200_io_impl.cpp
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Update template to use checkout_meta_ettus
  .ci/oe-for-host.yml
  .ci/oe-x4xx-packages.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add gnuradio gr-ettus to oe builds
  .ci/oe-x4xx-packages.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Device wait to redlock scope for Vivado close
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Fix MAX_RATE_1GIGE value
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Show how to use in-tree Verilog header
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain.v
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add UHD_FPGA_DIR definition to synthesis
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/make/viv_simulator.mak
  fpga/usrp3/tools/scripts/viv_sim_project.tcl
Due: none

fpga: Remove stale references to UHD_FPGA_DIR
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_logpwr/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_vector_iir/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_window/Makefile
  fpga/usrp3/top/x400/rf/sim/Makefile
Due: none

cmake: tests: Add build-python path to PYTHONPATH
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rh: Fix auto DC-offset correction and auto-IQ balance APIs
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

radio: Improve log messages for non-implemented corrections
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Fix overloaded function definition
  host/lib/usrp/multi_usrp_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: mpm: Expose filesystem version information on MPM tree
  host/lib/usrp/mpmd/mpmd_prop_tree.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.2 release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add vivado-path to rfnoc_image_builder
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Update help message for setupenv.sh
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: none

cmake: Replace CMAKE_{SOURCE,BINARY}_DIR with UHD_*_DIR
  host/CMakeLists.txt
  host/cmake/Modules/CMakeRC.cmake
  host/cmake/Modules/CodeCoverage.cmake
  host/cmake/Modules/UHDPackage.cmake
  host/cmake/Modules/UHDUnitTest.cmake
  host/cmake/Modules/UHDVersion.cmake
  host/docs/CMakeLists.txt
  host/docs/Doxyfile.in
  host/examples/rfnoc-example/CMakeLists.txt
  host/examples/rfnoc-example/apps/CMakeLists.txt
  host/examples/rfnoc-example/lib/CMakeLists.txt
  host/lib/CMakeLists.txt
  host/lib/cal/CMakeLists.txt
  host/lib/transport/nirio/lvbitx/CMakeLists.txt
  host/python/CMakeLists.txt
  host/tests/CMakeLists.txt
  host/tests/common/CMakeLists.txt
  host/tests/devtest/CMakeLists.txt
  mpm/CMakeLists.txt
  mpm/lib/CMakeLists.txt
  mpm/lib/catalina/CMakeLists.txt
  mpm/lib/chips/CMakeLists.txt
  mpm/lib/mykonos/CMakeLists.txt
  mpm/python/CMakeLists.txt
  mpm/python/usrp_mpm/chips/ic_reg_maps/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Update example constraint in synchronizer
  fpga/usrp3/lib/control/synchronizer.v
Due: none

fpga: x300: Update synchronizer constraint
  fpga/usrp3/top/x300/timing.xdc
Due: none

fpga: n3xx: Update synchronizer constraint
  fpga/usrp3/top/n3xx/mb_timing.xdc
Due: none

x300: Remove unused variables in x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

X300: Fix error message for wrong reference frequency
  host/lib/usrp/x300/x300_clock_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix issues with static builds and CMRC
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: sync: Update page on synchronization
  host/docs/sync.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: zbx: Prevent TX antenna config from disrupting RX
  host/lib/usrp/dboard/zbx/zbx_cpld_ctrl.cpp
  host/tests/zbx_cpld_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
