Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

debian: Integrate uhd-doc and uhd-host package changes from community source
  host/cmake/debian/rules
  host/cmake/debian/uhd-doc.install
  host/cmake/debian/uhd-host.dirs
  host/cmake/debian/uhd_doc.docs
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Enable building man pages without full manual (i.e. doxygen)
  host/docs/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

python: Remove obsolete license classifiers and update license field
  host/examples/rfnoc-gain/python/setup.py.in
  host/python/pyproject.toml.in
  host/python/setup.py.in
  mpm/python/setup.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Integrate python3-uhd package changes from community source
  host/cmake/debian/python3-uhd.install
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: upload_debs: more strictly check for clean repository
  tools/debs/upload_debs.sh
Due: none

tools: upload_debs: add selected fpga subdirectories to sources
  tools/debs/upload_debs.sh
Due: none

ci: adapt rules for X420 tests
  .ci/templates/stages-uhd-pipeline.yml
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest, streaming: force all b2xx tests to one agent
  .ci/templates/job-uhd-devtest-s175.yml
  .ci/templates/job-uhd-streaming-tests-s175.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: x420: Add devtests to pipeline
  .ci/templates/tests/job-uhd-x420-hardware-tests-s156.yml
  host/tests/devtest/devtest_x420.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix TX to RX trigger for DDC in dram_utils
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: test: Add X420 devtest target and doc
  host/docs/driver_usage/rd_testing.dox
  host/tests/devtest/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Prepare for 4.10.0.0 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/control.focal
  host/cmake/debian/control.jammy
  host/cmake/debian/libuhd4.10.0.install
  host/cmake/debian/rules
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: examples: Fix duration arg in tx_waveforms
  host/examples/python/tx_waveforms.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add pkgconf to focal and jammy containers
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

host: hbx: Add warning for RX manual gain profile
  host/lib/usrp/dboard/hbx/hbx_dboard_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: hbx: Shorten TX gain map
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Remove obsolete distribution specific control files.
  host/cmake/debian/control.focal
  host/cmake/debian/control.jammy
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Fix syntax-error-in-dep5-copyright
  host/cmake/debian/copyright
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: hbx: Improve log IDs
  host/lib/include/uhdlib/usrp/common/admv1320.hpp
  host/lib/include/uhdlib/usrp/common/admv1420.hpp
  host/lib/include/uhdlib/usrp/common/lmx2572.hpp
  host/lib/include/uhdlib/usrp/common/ltc5594.hpp
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_admv1320_ctrl.hpp
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_admv1420_ctrl.hpp
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_demod_ctrl.hpp
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_lo_ctrl.hpp
  host/lib/usrp/common/admv1320.cpp
  host/lib/usrp/common/admv1420.cpp
  host/lib/usrp/common/lmx2572.cpp
  host/lib/usrp/common/ltc5594.cpp
  host/lib/usrp/dboard/hbx/hbx_admv1320_ctrl.cpp
  host/lib/usrp/dboard/hbx/hbx_admv1420_ctrl.cpp
  host/lib/usrp/dboard/hbx/hbx_dboard_init.cpp
  host/lib/usrp/dboard/hbx/hbx_demod_ctrl.cpp
  host/lib/usrp/dboard/hbx/hbx_lo_ctrl.cpp
  host/tests/admv1320_test.cpp
  host/tests/admv1420_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: x420: change to release x420 in ats
  .ci/templates/tests/job-uhd-x410-hardware-tests-s156.yml
  .ci/templates/tests/job-uhd-x420-hardware-tests-s156.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-s156.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: gain: Fixed rx actual rate printout
  host/examples/rfnoc-gain/examples/rx_gain_estimate_power.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: Update SYSREF LMK delay to improve RFDC Multi-Tile Sync
  fpga/usrp3/top/x400/constraints/timing/x410.xdc
  fpga/usrp3/top/x400/constraints/timing/x420.xdc
  fpga/usrp3/top/x400/constraints/timing/x440.xdc
  mpm/python/usrp_mpm/periph_manager/x4xx_sample_pll.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add rpc_version key in device find routine
  host/lib/usrp/mpmd/mpmd_find.cpp
  host/lib/usrp/mpmd/mpmd_impl.cpp
  host/lib/usrp/mpmd/mpmd_impl.hpp
  mpm/python/usrp_mpm/discovery.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest for v4.10.0.0-rc2
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Fix rpc_version key check for multiple devices
  host/lib/usrp/mpmd/mpmd_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: fix OOT dependencies for targets other than bin
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Update minimum Boost version on Windows
  host/docs/installation/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

cmake: Update minimum MSVC version to 16.0 (VS2019)
  host/cmake/Modules/UHDMinDepVersions.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Use NEW policy CMP0167 when using cmake 3.30 or later.
  host/cmake/Modules/UHDBoost.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest for v4.10.0.0-rc3
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

stream: Add get_stream_info() API calls
  host/include/uhd/stream.hpp
  host/lib/include/uhdlib/rfnoc/chdr_rx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/chdr_tx_data_xport.hpp
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/rx_streamer_zero_copy.hpp
  host/lib/include/uhdlib/transport/tx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/tx_streamer_zero_copy.hpp
  host/lib/rfnoc/chdr_rx_data_xport.cpp
  host/lib/rfnoc/chdr_tx_data_xport.cpp
  host/lib/stream_python.hpp
  host/lib/transport/super_recv_packet_handler.hpp
  host/lib/transport/super_send_packet_handler.hpp
  host/lib/usrp/b100/io_impl.cpp
  host/lib/usrp/b200/b200_io_impl.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/usrp1/io_impl.cpp
  host/lib/usrp/usrp2/io_impl.cpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/tests/rx_streamer_test.cpp
  host/tests/streamer_benchmark.cpp
  host/tests/tx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

usrp1: Remove (almost) all Boost usage
  host/lib/usrp/usrp1/codec_ctrl.cpp
  host/lib/usrp/usrp1/io_impl.cpp
  host/lib/usrp/usrp1/usrp1_calc_mux.hpp
  host/lib/usrp/usrp1/usrp1_iface.cpp
  host/lib/usrp/usrp1/usrp1_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Remove boost::thread_group usage
  host/examples/benchmark_rate.cpp
  host/examples/test_clock_synch.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Remove spurious Boost include in rx_vita_core_3000
  host/lib/usrp/cores/rx_vita_core_3000.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Fix ctrlport_endpoint_tb for Questa
  fpga/usrp3/lib/rfnoc/sim/ctrlport_endpoint_tb/ctrlport_endpoint_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: enable execution of chdr_crossbar_nxn_all_tb
  .ci/hwtools/X420/vsmakesettings.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: rfnoc: crossbar: add complex test case based on X440
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn_tb/chdr_crossbar_nxn_all_tb.sv
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn_tb/chdr_crossbar_nxn_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: rfnoc: crossbar: compress AXI mux output signals
  fpga/usrp3/lib/rfnoc/crossbar/Makefile.srcs
  fpga/usrp3/lib/rfnoc/crossbar/chdr_crossbar_nxn.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: rfnoc: replace CHDR ingress FIFO with large AXI FIFO
  fpga/usrp3/lib/rfnoc/core/chdr_stream_endpoint.v
  fpga/usrp3/lib/rfnoc/core/chdr_stream_input.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
