Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

docs: Update X4xx manual wrt. self-cal
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

SelfCal: Enable parameters in self-cal executable
  host/utils/uhd_adc_self_cal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Update CLA Assistant to v2.3.0
  .github/workflows/cla.yml
Due: none

devtest: gpio test updates
  host/tests/devtest/devtest_x410.py
  host/tests/devtest/devtest_x440.py
  host/tests/devtest/gpio_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fixes issues with modelsim DE 2022.3
  fpga/usrp3/lib/axi4s_sv/axi4s_add_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_width_conv.sv
Due: none

tools: Add changeset analyzer
  tools/changeset_testlist.py
  tools/changeset_testlist.yaml
Due: none

ci: Auto-detect conditionals for pipeline stages
  .ci/templates/job-analyze-changeset.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Changes to fix warning with divide by zero
  fpga/usrp3/lib/axi/axis_width_conv.v
  fpga/usrp3/lib/axi4s_sv/axi4s_width_conv.sv
Due: none

ci: Add conditions for embedded builds, HW tests
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix time-cast for dboard_iface::sleep()
  host/lib/usrp/dboard_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix build with DPDK v22.11 LTS
  host/lib/include/uhdlib/transport/dpdk/common.hpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix & improve EAL args for DPDK v21.11
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: improve DPDK frame_size error message
  host/lib/transport/udp_dpdk_link.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host/python: Update last_gain at end of run_rx_cal loop
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x440: fbx: clean up I2C triggers
  fpga/usrp3/top/x400/dboards/fbx/ctrlport_to_i2c_sync_ctrl.v
Due: none

ci: Allow internal fileserver usage for MS installer builds
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: disable rx_samples_to_file_test for x440
  host/tests/devtest/devtest_x440.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: add devtest rule for changeset_analyzer
  tools/changeset_testlist.yaml
Due: none

devtest: correct docstrings with example being run
  host/tests/devtest/python_api_test.py
  host/tests/devtest/tx_bursts_test.py
  host/tests/devtest/tx_waveforms_test.py
  host/tests/devtest/usrp_probe_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix RFNoC OOT Makefile inclusion
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

ci: fixup typo in x440 sdr-test0 template
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: select docker registry based on branch
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-package-src.yml
  .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-vars.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add revE support to zbx_update_cpld
  mpm/python/usrp_mpm/dboard_manager/zbx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: select docker image repo directly at container endpoint definitions
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-package-src.yml
  .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-vars.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: update FPGA build docs
  fpga/docs/fpga.md
  fpga/docs/usrp3/build_instructions.md
  host/docs/images.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: x400: Fix SPI trigger clock crossing
  fpga/usrp3/top/x400/x4xx_gpio_spi.v
Due: none

devtest: fix typo in error message
  host/tests/devtest/rx_multi_spc_timed_commands_test.py
  host/tests/devtest/tx_multi_spc_timed_commands_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: run all tests for manifest update
  tools/changeset_testlist.yaml
Due: none

images: bump x4xx fpga images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: docs: Add system memory recommendations
  fpga/docs/usrp3/build_instructions.md
Due: none

fpga: docs: Clarify design tool requirements
  fpga/docs/usrp3/build_instructions.md
Due: none

images: update FPGA images for E3xx, X3xx, N3xx
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: update docs for reset command
  host/docs/usrpctl.1
  host/docs/usrpctl.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

usrpctl: add reset command
  host/python/uhd/usrpctl/commands/__init__.py
  host/python/uhd/usrpctl/commands/reset.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Modify files for treatment with clang-format
  host/lib/transport/nirio/lvbitx/template_lvbitx.cpp
  host/lib/transport/nirio/lvbitx/template_lvbitx.hpp
  host/lib/usrp/common/ad9361_driver/ad9361_filter_taps.h
  host/lib/usrp/x300/cdecode.c
  host/tests/common/chdr_resource/format_trace.py
  host/tests/common/chdr_resource/hardcoded_packets.cpp
  host/tests/common/chdr_resource/rfnoc_packets_ctrl_mgmt.cpp
  host/tests/common/chdr_resource/rfnoc_packets_data.cpp
  host/utils/b100_eeprom.h
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Add clang-formatting tools
  .clang-format-ignore
  tools/clang-formatter.sh
  tools/run-clang-format.py
Due: none

Update clang-format for version 14
  .clang-format
Due: none

host: doc: Add documentation for tertiary, quaternary QSFP adapter
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: fix typo and consistency in usrpctl docs
  host/docs/usrpctl.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
