Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

uhd: Bump minimum Python version to 3.7
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use python 3.7 for ubuntu 18.04 docker images
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/templates/steps-build-gnuradio-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: don't hardcode vivado directory
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Update UHDPython.cmake
  host/CMakeLists.txt
  host/cmake/Modules/UHDPython.cmake
  host/cmake/debian/control
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Update build info
  host/docs/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: utils: Add update_image_cores.sh
  fpga/usrp3/tools/utils/update_image_cores.sh
Due: none

ci: fix name for saison dutMatrix
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Fix RFNoC graph action queue lockup on action exceptions
  host/lib/rfnoc/graph.cpp
  host/tests/actions_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Add ENABLE_PYMOD_UTILS option, fix venv
  host/CMakeLists.txt
  host/cmake/Modules/UHDPython.cmake
  host/python/CMakeLists.txt
  host/utils/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

multi_usrp: Fix setters for ALL_CHANS
  host/lib/usrp/multi_usrp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

n3xx: Add comments on clock_source=external,time_source=gpsdo
  fpga/usrp3/top/n3xx/n3xx_clocking.v
  host/docs/sync.dox
  host/docs/usrp_n3xx.dox
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: give extra time after DUT reboot
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Update tooling to use image builder instead of make
  fpga/usrp3/tools/utils/repeat_fpga_build.py
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Explicitly list .mako files as part of Python package
  host/python/setup.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Drop fetchDepth to 1
  fpga/.ci/templates/job-build-fpga.yml
Due: none

ci: Use rfnoc_image_builder in FPGA pipelines
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

uhd: Demote safe call logging to warning
  host/include/uhd/utils/safe_call.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Change ENABLE_PYMOD_UTILS default to ON
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Amend rx_to_file.py to use DramReceiver
  host/examples/python/rx_to_file.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Add DramReceiver class
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add Python support to rfnoc-example
  host/examples/rfnoc-example/CMakeLists.txt
  host/examples/rfnoc-example/cmake/Modules/UHDPython.cmake
  host/examples/rfnoc-example/examples/rx_gain_estimate_power.py
  host/examples/rfnoc-example/lib/gain_block_control_python.hpp
  host/examples/rfnoc-example/python/CMakeLists.txt
  host/examples/rfnoc-example/python/pyrfnoc-example.cpp
  host/examples/rfnoc-example/python/rfnoc_example/__init__.py
  host/examples/rfnoc-example/python/setup.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Make block_controller_factory_python.hpp public
  host/include/uhd/rfnoc/CMakeLists.txt
  host/include/uhd/rfnoc/block_controller_factory_python.hpp
  host/lib/rfnoc/ddc_block_control_python.hpp
  host/lib/rfnoc/duc_block_control_python.hpp
  host/lib/rfnoc/fft_block_control_python.hpp
  host/lib/rfnoc/fir_filter_block_control_python.hpp
  host/lib/rfnoc/fosphor_block_control_python.hpp
  host/lib/rfnoc/keep_one_in_n_block_control_python.hpp
  host/lib/rfnoc/moving_average_block_control_python.hpp
  host/lib/rfnoc/null_block_control_python.hpp
  host/lib/rfnoc/radio_control_python.hpp
  host/lib/rfnoc/replay_block_control_python.hpp
  host/lib/rfnoc/siggen_block_control_python.hpp
  host/lib/rfnoc/switchboard_block_control_python.hpp
  host/lib/rfnoc/vector_iir_block_control_python.hpp
  host/lib/rfnoc/window_block_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: x440: Update stream.dox with X440 streaming capability
  host/docs/stream.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: cmake: Verify find_library
  host/cmake/Modules/UHDConfig.cmake.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add ability to query dot representation of graph
  host/include/uhd/rfnoc_graph.hpp
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/rfnoc/graph.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: zbx: Improve Lattice make flow
  fpga/usrp3/tools/make/diamond_design_builder.mak
  fpga/usrp3/tools/make/diamond_preamble.mak
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile
  fpga/usrp3/top/x400/dboards/zbx/cpld/Makefile.zbx_cpld.inc
  fpga/usrp3/top/x400/dboards/zbx/cpld/lattice/zbx_top_cpld.ldf
Due: none

examples: fix rx_samples_to_file fail for multichannel fullpath
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Improve wording for streamers
  host/include/uhd/device.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: make changes for test_selector change in ATS
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: viv_ip_utils to update hdl_sources.tcl
  fpga/usrp3/tools/scripts/viv_ip_utils.tcl
Due: none

fpga: x4xx: add option for incremental Vivado build
  fpga/usrp3/tools/make/viv_design_builder.mak
  fpga/usrp3/tools/scripts/viv_strategies.tcl
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/build_x4xx.tcl
Due: none

fpga: rfnoc: Add EOB to source port of null_src_sink block
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_null_src_sink/rfnoc_block_null_src_sink_tb.sv
Due: none

rfnoc: image builder: Allow additional properties in schema
  host/include/uhd/rfnoc/core/rfnoc_imagebuilder_args.json
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix -quiet in modify_bdtcl
  fpga/usrp3/tools/scripts/viv_ip_utils.tcl
Due: none

fpga: ci: trigger fpga builds based on changeset
  fpga/.ci/devices/job-build-e31x.yml
  fpga/.ci/devices/job-build-e320.yml
  fpga/.ci/devices/job-build-n3xx.yml
  fpga/.ci/devices/job-build-x300.yml
  fpga/.ci/devices/job-build-x400.yml
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/templates/changeset_build_list.yaml
  fpga/.ci/templates/job-analyze-changeset.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
Due: none

fpga: Update x3xx/e3xx RFNoC image core files
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.v
  fpga/usrp3/top/e320/e320_rfnoc_image_core.v
  fpga/usrp3/top/x300/x300_rfnoc_image_core.v
  fpga/usrp3/top/x300/x310_rfnoc_image_core.v
Due: none

fpga: Add incremental to strategies for e3xx, n3xx, x3xx
  fpga/usrp3/top/e31x/build_e31x.tcl
  fpga/usrp3/top/e320/build_e320.tcl
  fpga/usrp3/top/n3xx/build_n3xx.tcl
  fpga/usrp3/top/x300/build_x300.tcl
Due: none

fpga: ci: Fix release pipeline triggers
  fpga/.ci/devices/job-build-x400.yml
  fpga/.ci/templates/changeset_build_list.yaml
Due: none

fpga: ci: Update n3xx BIST image cores
  fpga/.ci/devices/job-build-n3xx.yml
Due: none

fpga: n3xx: Rename BIST image cores
  fpga/usrp3/top/n3xx/n300_bist_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n300_bist_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n300_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n310_bist_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n310_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_rfnoc_image_core.v
  fpga/usrp3/top/n3xx/n320_bist_rfnoc_image_core.vh
  fpga/usrp3/top/n3xx/n320_bist_rfnoc_image_core.yml
Due: none
