Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

host: Release GIL for find
  host/docs/pythonapi.dox
  host/lib/device_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update the twinrx device in rhombus
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: add default fpga target for device x410 and x440
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc-modtool: fix multi_rename
  host/python/uhd/rfnoc_utils/step_executor.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: Require requests requisition
  fpga/.ci/templates/job-analyze-changeset.yml
Due: none

fpga: ci: move patches to IT owned share
  fpga/.ci/scripts/run_setup.sh
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/job-run-testbenches.yml
Due: none

ci: remove the CBX from rhombus
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: deps: rpclib: Fix future C++ compatibility
  host/lib/deps/rpclib/include/rpc/msgpack/cpp_config.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/detail/cpp03_zone.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/detail/cpp11_zone.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/object.hpp
  host/lib/deps/rpclib/include/rpc/msgpack/unpack.hpp
  host/lib/deps/rpclib/lib/rpc/client.cc
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix deprecated conversions of enums
  host/lib/usrp/b200/b200_iface.cpp
  host/lib/usrp/dboard/db_dbsrx2.cpp
  host/lib/usrp/dboard/zbx/zbx_expert.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: re-run UHD build if toplevel CMakeLists.txt changed
  tools/changeset_testlist.yaml
Due: none

cmake: Increase C++ standard to 17
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add additional checks for duplicate connections
  host/python/uhd/rfnoc_utils/connections.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Factor out connection-check code
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/common.py
  host/python/uhd/rfnoc_utils/connections.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: Fix Linter issue
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

MPM: Init DSP only if there is a radio frontend
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Update usrp_x4xx.dox for x440 MMPX
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: add a note about using the device arguments with the GPSDO
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: Remove duplicates in uhd::device::find result
  host/lib/device.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add SYNTH and CHECK build options
  host/python/uhd/rfnoc_utils/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest: abort execution if uhd_find_devices failed
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Docu: Extend install instructions for libUSB on Windows
  host/docs/install.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

examples: Remove unused constants
  host/examples/gpio.cpp
  host/examples/spi.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix warnings about unused variables
  host/include/uhd/transport/nirio/rpc/usrprio_rpc_common.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/utils/latency/lib/Responder.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Fix max287x_test compiler warnings
  host/tests/max287x_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix unused-capture warning in x300_radio_control
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

deps: rpclib: Silence comments on unused constexpr lambda captures
  host/lib/deps/rpclib/lib/rpc/client.cc
  host/lib/deps/rpclib/lib/rpc/detail/server_session.cc
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add nodevice argument to get_module_list()
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Fix linter issues
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve clock connection checks
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/templates/modules/rfnoc_block.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/transport_adapter.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: Fix compatibility with DPDK version >= 22.11 (2)
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming test: test different DPDK versions
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: removed Fedora 38 builder
  .ci/docker/uhd-builder-fedora38.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: added Fedora 41 builder
  .ci/docker/uhd-builder-fedora41.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Add macros for checking for -W(deprecated-)volatile
  host/include/uhd/config.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: dpdk: Fix compiler warning on virtual dtor
  host/lib/include/uhdlib/transport/udp_dpdk_link.hpp
  host/lib/transport/udp_dpdk_link.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: dpdk: Suppress DPDK-based compiler warnings
  host/lib/include/uhdlib/transport/dpdk/common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: dpdk: Fix compiler warning around dpdk_frame_buff
  host/lib/include/uhdlib/transport/dpdk/common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: Remove unused variables and functions
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
  host/tests/dpdk_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Use RADIO_NIPC parameter
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_UC_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_X4_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_XG_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_CG_1600_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_1600_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_200_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x440_X4_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/yaml_include/x410_radio_base.yml
  fpga/usrp3/top/x400/yaml_include/x440_radio_base.yml
  host/examples/rfnoc-gain/icores/x410_XG_200_rfnoc_image_core.yml
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/core/e310_bsp.yml
  host/include/uhd/rfnoc/core/n320_bsp.yml
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve parameter resolution
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
