Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

mpm: x400: Align FPGA revision
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

images: bump x4xx fpga images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Prepare for 4.6.0.0 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/libuhd4.6.0.install
  host/cmake/debian/rules
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add tests for module_serial field
  host/tests/devtest/multi_usrp_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

multi_usrp: Added module_serial to info
  host/lib/usrp/multi_usrp.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix make_x410 and make_x440 targets
  host/tests/devtest/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x400: make PRC a multiple of both rfdc rates
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fixup! examples: L band capture example using dual rate
  host/examples/python/x440_L_band_capture.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add clock IDs to X440 200 MHz image
  fpga/usrp3/top/x400/x440_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x440_200_rfnoc_image_core.yml
Due: none

fpga: x400: rfdc timing cleanup
  fpga/usrp3/top/x400/rfdc_timing_control.v
Due: none

mpm: Improve fall-back behavior for dual-rate
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

images: update filesystems to rc2
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: update non-x4xx images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update to changelogs
  CHANGELOG
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: x440: Highlight new X440 features and replay block behavior changes
  CHANGELOG
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Add dual-rate documentation
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: fixing the readthedocs builds
  .readthedocs.yaml
  host/docs/sphinx/environment.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

images: update x4xx fpga images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

4.6.0.0 Release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: add default declaration for DRAM_BANKS
  fpga/usrp3/top/x400/x4xx_core.v
Due: none

fpga: lib: Add default wiretypes to synchronizer
  fpga/usrp3/lib/control/synchronizer.v
  fpga/usrp3/lib/control/synchronizer_impl.v
Due: none

docs: fix yml formatting for rtd
  host/docs/sphinx/environment.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: Correct typo for X3x0 reference clock power
  host/docs/usrp_x3x0.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

doc: x440: Fix error in master clock table for 1000MHz mcr.
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

mpm: Enable multiple LMK VCO rates per MCR
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_lookup.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Add warning for bad conv rate order
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Use greatest converter rate for sysref rate
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

test: Add inverted rates test
  mpm/python/tests/x440_clock_tests.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

test: Correct sysref divider
  mpm/python/tests/x440_clock_tests.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

image builder: Remove superfluous entries from block YAMLs
  host/examples/rfnoc-example/blocks/gain.yml
  host/include/uhd/rfnoc/blocks/addsub.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo.yml
  host/include/uhd/rfnoc/blocks/ddc.yml
  host/include/uhd/rfnoc/blocks/duc.yml
  host/include/uhd/rfnoc/blocks/fft_1x64.yml
  host/include/uhd/rfnoc/blocks/fir_filter.yml
  host/include/uhd/rfnoc/blocks/fosphor.yml
  host/include/uhd/rfnoc/blocks/keep_one_in_n.yml
  host/include/uhd/rfnoc/blocks/logpwr.yml
  host/include/uhd/rfnoc/blocks/moving_avg.yml
  host/include/uhd/rfnoc/blocks/null_src_sink.yml
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/blocks/replay.yml
  host/include/uhd/rfnoc/blocks/siggen.yml
  host/include/uhd/rfnoc/blocks/split_stream.yml
  host/include/uhd/rfnoc/blocks/switchboard.yml
  host/include/uhd/rfnoc/blocks/vector_iir.yml
  host/include/uhd/rfnoc/blocks/window.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update the serial on the x440 in sdr-test0
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fix build with new DPDK 23.11
  host/lib/transport/uhd-dpdk/dpdk_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

multi_usrp: Improve dual-rate behavior
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Fix issue with undefined HOME or XDG_CONFIG_HOME
  host/lib/include/uhdlib/utils/paths.hpp
  host/lib/utils/paths.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Improve tx examples and fix some issues
  host/examples/tx_samples_from_file.cpp
  host/examples/tx_waveforms.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Replace references to python -> python3
  fpga/usrp3/build.py
  fpga/usrp3/lib/io_port2/create-lvbitx.py
  fpga/usrp3/tools/utils/package_images.py
  fpga/usrp3/tools/utils/rfnoc-system-sim/rfnocsim.py
  fpga/usrp3/top/Makefile.common
  fpga/usrp3/top/python/check_inout.py
  fpga/usrp3/top/python/check_timing.py
  fpga/usrp3/top/x300/Makefile
Due: none

fpga: ci: Change agent pool
  fpga/.ci/hwtools/root.py
  fpga/.ci/scripts/run_setup.sh
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/job-package-images.yml
  fpga/.ci/templates/job-run-testbenches.yml
Due: none

fpga: Add more spurious files to gitignore
  fpga/.gitignore
  fpga/usrp3/.gitignore
Due: none
