Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

rfnoc: Move detection of TAs post-LSM-init
  host/lib/include/uhdlib/rfnoc/link_stream_manager.hpp
  host/lib/rfnoc/graph_stream_manager.cpp
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add logging to some throw statements
  host/lib/rfnoc/chdr_rx_data_xport.cpp
  host/lib/rfnoc/chdr_tx_data_xport.cpp
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fix UHDAtomics.cmake to read custom Boost install prefix
  host/cmake/Modules/UHDAtomics.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: lsm: Improve logging/error messages
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: remote_rx: Add --mac-address argument
  host/examples/python/remote_rx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Require AR76780 for X3xx and E3xx
  fpga/usrp3/top/e31x/setupenv.sh
  fpga/usrp3/top/e320/setupenv.sh
  fpga/usrp3/top/x300/setupenv.sh
Due: none

Revert "cmake: Cache UHD_VERSION in all cases"
  host/cmake/Modules/UHDVersion.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Pull UHD version from UHDConfigVersion.cmake
  .ci/templates/job-uhd-package-src.yml
  host/cmake/Modules/UHDConfigVersion.cmake.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: Better error message for multiple assigned MACs
  mpm/python/usrp_mpm/sys_utils/net.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: increase timeout for x4xx hardware test job
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

8bit or 16 bit data collection
  host/examples/rfnoc-convertb/.gitignore
  host/examples/rfnoc-convertb/CMakeLists.txt
  host/examples/rfnoc-convertb/README.md
  host/examples/rfnoc-convertb/apps/CMakeLists.txt
  host/examples/rfnoc-convertb/apps/init_convert_block.cpp
  host/examples/rfnoc-convertb/blocks/CMakeLists.txt
  host/examples/rfnoc-convertb/blocks/bitdown.yml
  host/examples/rfnoc-convertb/cmake/Modules/run_testbench.sh.in
  host/examples/rfnoc-convertb/cmake/cmake_uninstall.cmake.in
  host/examples/rfnoc-convertb/fpga/CMakeLists.txt
  host/examples/rfnoc-convertb/fpga/Makefile.srcs
  host/examples/rfnoc-convertb/fpga/ip/cmplx_mul/Makefile.inc
  host/examples/rfnoc-convertb/fpga/ip/cmplx_mul/cmplx_mul.xci
  host/examples/rfnoc-convertb/fpga/ip/ila_0/Makefile.inc
  host/examples/rfnoc-convertb/fpga/ip/ila_0/ila_0.xci
  host/examples/rfnoc-convertb/fpga/ip/vio_0/Makefile.inc
  host/examples/rfnoc-convertb/fpga/ip/vio_0/vio_0.xci
  host/examples/rfnoc-convertb/fpga/rfnoc_block_convert/CMakeLists.txt
  host/examples/rfnoc-convertb/fpga/rfnoc_block_convert/Makefile
  host/examples/rfnoc-convertb/fpga/rfnoc_block_convert/Makefile.srcs
  host/examples/rfnoc-convertb/fpga/rfnoc_block_convert/noc_shell_bitdown.v
  host/examples/rfnoc-convertb/fpga/rfnoc_block_convert/rfnoc_block_bitdown.v
  host/examples/rfnoc-convertb/fpga/rfnoc_block_convert/rfnoc_block_bitdown_tb.sv
  host/examples/rfnoc-convertb/icores/CMakeLists.txt
  host/examples/rfnoc-convertb/icores/x300_rfnoc_image_core.v
  host/examples/rfnoc-convertb/icores/x300_static_router.hex
  host/examples/rfnoc-convertb/icores/x310_rfnoc_image_core.v
  host/examples/rfnoc-convertb/icores/x310_rfnoc_image_core.yml
  host/examples/rfnoc-convertb/include/rfnoc/example/CMakeLists.txt
  host/examples/rfnoc-convertb/include/rfnoc/example/bitdown.h
  host/examples/rfnoc-convertb/include/rfnoc/example/bitdown_block_ctrl.hpp
  host/examples/rfnoc-convertb/lib/CMakeLists.txt
  host/examples/rfnoc-convertb/lib/bitdown_block_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: rpc server: Capture claim token value before releasing state lock
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Add a lock to the rpc server timer
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Fix rpc process shared state and port argument positions
  mpm/python/usrp_hwd.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

examples: Upgrade RFNoC example to Vivado 2021.1
  host/examples/rfnoc-example/fpga/ip/cmplx_mul/cmplx_mul.xci
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

add space
  host/examples/rfnoc-convertb/fpga/Makefile.srcs
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Adding tarfile member sanitization to extractall()
  tools/debs/uhd_ubuntu_deb.py
Due: none

Deleted "this->peek32(0)" from usrp2 destructor - fixes "RuntimeError: fifo ctrl timed out looking for acks"
  host/lib/usrp/usrp2/usrp2_fifo_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

octoclock: Fix type of eeprom object in property_tree
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: add support for 10-100GB x410 raw udp
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/conftest.py
  host/tests/pytests/test_nic_utils.py
  host/tests/pytests/test_raw_udp_streaming.py
  host/tests/pytests/uhd_configs/uhd_dpdk_100GbE.conf
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: add ramdisk cfg option to streaming setup
  host/tests/streaming_performance/setup.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: python: Make DeviceAddr behave like dict
  host/lib/types/types_python.hpp
  host/tests/CMakeLists.txt
  host/tests/device_addr_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: python: Bind {separate,combine}_device_addr{s}
  host/lib/types/types_python.hpp
  host/python/uhd/types.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: When separating device_addr_t, keep indexed values
  host/lib/types/device_addr.cpp
  host/tests/addr_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Move parse_encoded_git_hash() to mpmutils
  mpm/python/usrp_mpm/dboard_manager/zbx.py
  mpm/python/usrp_mpm/mpmutils.py
  mpm/python/usrp_mpm/periph_manager/x4xx_mb_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Fix RfnocGraph pybind binding for get_tree
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Change MIG arbitration to RD_PRI_REG
  fpga/usrp3/top/x300/ip/ddr3_32bit/mig_xc7k325tffg900-2.prj
  fpga/usrp3/top/x300/ip/ddr3_32bit/mig_xc7k410tffg900-2.prj
Due: none

fpga: e320 Change MIG arbitration to RD_PRI_REG
  fpga/usrp3/top/e320/ip/ddr3_32bit/mig_xc7z045ffg900-3.prj
Due: none

cmake: fix UHDAtomics.cmake to read custom Boost install prefix
  host/cmake/Modules/UHDAtomics.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

n3xx: Increase tune timeout
  host/lib/usrp/dboard/magnesium/magnesium_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

C API: Fix double-free issue with sensor values
  host/include/uhd/types/sensors.h
  host/lib/types/sensors_c.cpp
  host/lib/usrp/usrp_c.cpp
  host/lib/usrp_clock/usrp_clock_c.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Fix inferred latch in chdr_strip_header
  fpga/usrp3/lib/rfnoc/utils/chdr_strip_header.sv
Due: none

ci: Filter uhd_find_devices checks by device type
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.1.0.6 release
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Create local copy of patches to use
  fpga/.ci/scripts/run_setup.sh
Due: none

e320: Allow internal GPSDO to be powered-down via UHD session args
  host/docs/configuration.dox
  host/docs/usrp_e3xx.dox
  host/lib/usrp/mpmd/mpmd_impl.cpp
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Phase noise consideration when using external clock with E320
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: lib: Fix inferred latch in ep_autonegotiation
  fpga/usrp3/lib/white_rabbit/wr_cores_v4_2/modules/wr_endpoint/ep_autonegotiation.vhd
Due: none

fpga: tools: Detect check_timing issues during build
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: none

fpga: Cosmetic changes to rx_frontend_gen3_tb
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rx_frontend_gen3_tb/rx_frontend_gen3_tb.sv
Due: none
