Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

python: Add __init__ to uhd.utils
  host/python/uhd/utils/__init__.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix Doxygen warnings
  host/docs/Doxyfile.in
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: x400: Add x410_400_128_rfnoc_image_core
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_400_128_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_400_128_static_router.hex
Due: none

docs: Update manual for new X410 default targets
  fpga/docs/usrp3/build_instructions.md
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: ci: Add stages-based pipeline
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/oss_testbenches.yml
  fpga/.ci/scripts/refresh_ip.sh
  fpga/.ci/scripts/run_setup.sh
  fpga/.ci/templates/check_clean_repo_steps.yml
  fpga/.ci/templates/fpga_build.yml
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/job-package-images.yml
  fpga/.ci/templates/job-run-testbenches.yml
  fpga/.ci/templates/stages-fpga-pipeline.yml
  fpga/.ci/x4xx-pr-check.yml
Due: none

fpga: ci: Ignore objects in hwtools
  fpga/.ci/hwtools/.gitignore
Due: none

fpga: tools: Add CG_400 image to X410 binaries package
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: none

fpga: ci: Improve IP build caching
  fpga/.ci/templates/job-build-ip.yml
Due: none

fpga: ci: Schedule weekly FPGA pipeline run
  fpga/.ci/fpga-pipeline-pr.yml
Due: none

host: Add power_reference_iface::sptr declaration
  host/include/uhd/rfnoc/rf_control/power_reference_iface.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Factor out common code between E31x_db and Neon classes
  mpm/python/usrp_mpm/dboard_manager/CMakeLists.txt
  mpm/python/usrp_mpm/dboard_manager/__init__.py
  mpm/python/usrp_mpm/dboard_manager/ad936x_db.py
  mpm/python/usrp_mpm/dboard_manager/e31x_db.py
  mpm/python/usrp_mpm/dboard_manager/neon.py
Due: .ci/oe-x4xx-packages.yml

mpm: e3xx: Fix Pylint warnings in periph_mgr classes
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
Due: .ci/oe-x4xx-packages.yml

docs: Update sfp port config location
  host/docs/usrp_e3xx.dox
  host/docs/usrp_n3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Update instructions for changing hostname
  host/docs/usrp_e3xx.dox
  host/docs/usrp_n3xx.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fixup! docs: Update instructions for changing hostname
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Improve table on 'identification'
  host/docs/identification.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: e31x: Update DRAM IP simulation
  fpga/usrp3/top/e31x/sim/dram_test/Makefile
Due: none

fpga: e31x: Fix DRAM traffic gen IP name
  fpga/usrp3/top/e31x/ip/ddr3_16bit/Makefile.inc
Due: none

Fix handling of discontinuities in power calibration data
  host/lib/rc/cal/x4xx_pwr_zbx_rx_0_rx1.cal
  host/lib/rc/cal/x4xx_pwr_zbx_rx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_zbx_rx_1_rx1.cal
  host/lib/rc/cal/x4xx_pwr_zbx_rx_1_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_zbx_tx_0_tx+rx0.cal
  host/lib/rc/cal/x4xx_pwr_zbx_tx_1_tx+rx0.cal
  host/lib/usrp/common/pwr_cal_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x410: Cache GPIO source in mb_controller
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Remove GPIO classic mode register
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
Due: .ci/oe-x4xx-packages.yml

host: x410: Emulate GPIO classic ATR mode using new mode
  host/lib/usrp/x400/x400_gpio_control.cpp
  host/lib/usrp/x400/x400_gpio_control.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: devtest: Add GPIO tests for reading back ATR settings
  host/tests/devtest/devtest_x4x0.py
  host/tests/devtest/gpio_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: n3xx: Recommend reboot USRP after BIST
  mpm/python/n3xx_bist
Due: .ci/oe-x4xx-packages.yml

test: add support for new benchmark_rate args
  host/tests/streaming_performance/parse_benchmark_rate.py
  host/tests/streaming_performance/run_benchmark_rate.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest and compat number for X410
  images/manifest.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: speed up reading gps mboard sensors
  mpm/python/usrp_mpm/gpsd_iface.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: fir filter: Add support for multiple channels to block controller
  host/include/uhd/rfnoc/fir_filter_block_control.hpp
  host/lib/rfnoc/fir_filter_block_control.cpp
  host/tests/rfnoc_block_tests/fir_filter_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Add general purpose tool for USRP configuration
  host/docs/CMakeLists.txt
  host/docs/devices.dox
  host/docs/uhd_cal_rx_iq_balance.1
  host/docs/uhd_cal_tx_dc_offset.1
  host/docs/uhd_cal_tx_iq_balance.1
  host/docs/uhd_config_info.1
  host/docs/uhd_find_devices.1
  host/docs/uhd_image_loader.1
  host/docs/uhd_images_downloader.1
  host/docs/uhd_usrp_probe.1
  host/docs/usrp2_card_burner.1
  host/docs/usrp_n2xx_simple_net_burner.1
  host/docs/usrpctl.1
  host/docs/usrpctl.dox
  host/python/uhd/__init__.py
  host/python/uhd/usrpctl/__init__.py
  host/python/uhd/usrpctl/commands/__init__.py
  host/python/uhd/usrpctl/commands/command.py
  host/python/uhd/usrpctl/commands/find.py
  host/python/uhd/usrpctl/commands/probe.py
  host/utils/CMakeLists.txt
  host/utils/usrpctl.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

test: x410: Add GPIO tests to X410 devtest
  host/tests/devtest/bitbang_test.py
  host/tests/devtest/devtest_x4x0.py
  host/tests/devtest/gpio_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: devtest: Allow getting mgmt_addr in tests
  host/tests/devtest/usrp_probe.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Fix control packet byte enable in CHDR dissector
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
Due: none

docs: rfnoc: Add doxygen tag for missing parameter
  host/include/uhd/rfnoc/fir_filter_block_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x4xx: Remove redundant GPIO section
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: n3xx: Fix clock frequency comments
  fpga/usrp3/top/n3xx/n3xx_clocking.v
Due: none

tests: use new args for x410 streaming tests
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! uhd: add support for max10 variants
  mpm/python/usrp_mpm/chips/max10_cpld_flash_ctrl.py
Due: .ci/oe-x4xx-packages.yml

mpm: e3xx: Simplify code referring to self.dboards
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
Due: .ci/oe-x4xx-packages.yml

mpm: Make default clock/time source values state-less
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

docs: Update E320 docs
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml
