Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

image builder: Improve IO port compat check
  host/python/uhd/rfnoc_utils/connections.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Allow default clocks in domain checks
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: x440: Correct statement about RF connection - X440 uses MMPX
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

github: Clarify purpose of issue tracker
  .github/ISSUE_TEMPLATE.md
Due: none

rfnoc: Add Tune Request in RFNoC blocks
  host/include/uhd/rfnoc/actions.hpp
  host/include/uhd/rfnoc/defaults.hpp
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/include/uhd/stream.hpp
  host/include/uhd/types/tune_result.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/include/uhdlib/rfnoc/rfnoc_rx_streamer.hpp
  host/lib/include/uhdlib/rfnoc/rfnoc_tx_streamer.hpp
  host/lib/rfnoc/actions.cpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/lib/transport/super_recv_packet_handler.hpp
  host/lib/transport/super_send_packet_handler.hpp
  host/lib/usrp/usrp1/io_impl.cpp
  host/lib/usrp/usrp1/soft_time_ctrl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc: Add Tune Requests to examples
  host/examples/rfnoc_replay_samples_from_file.cpp
  host/examples/rfnoc_rx_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

test: rfnoc: Add tests for Tune Requests
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
  host/tests/rx_streamer_test.cpp
  host/tests/streamer_benchmark.cpp
  host/tests/tx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix X440 BSP (number of ports)
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve error reporting for invalid connections
  host/python/uhd/rfnoc_utils/connections.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Fix error message for missing control SEP
  host/python/uhd/rfnoc_utils/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Re-implement GRC support
  host/python/uhd/rfnoc_utils/grc.py
  host/python/uhd/rfnoc_utils/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Accept ~ and ~user on command line
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add reload_dict() and read_yaml() to yaml_utils
  host/python/uhd/rfnoc_utils/yaml_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fpga: make changeset analyzer verbose
  fpga/.ci/templates/job-analyze-changeset.yml
Due: none

ci: fpga: Adapted changeset to include RFNoC core BSP files
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/templates/changeset_build_list.yaml
Due: none

lib: rfnoc ddc/duc: Fix fractional frequency offset
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

BuildSystem: Update RPath and version handling
  host/CMakeLists.txt
  host/cmake/Modules/FindDPDK.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

BuildSystem: Minor Formatting
  host/CMakeLists.txt
  host/cmake/Modules/UHDConfig.cmake.in
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: Fix a few compiler warnings
  host/include/uhd/rfnoc/chdr_types.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
  host/lib/utils/thread.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added comment in CMake
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: add rf core ctrlport
  fpga/usrp3/top/x400/regmap/radio_ctrlport_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.sv
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
Due: none

ci: added pipeline for weekly test runs based on hardware dev pipeline
  .ci/uhd-hardware-test-weekly-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: hardware tests: remove hard-coded uartSerial
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming tests: remove hard-coded parameters
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: filesystem build: set machine parameter as list
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: assemble x410/x440-version-info.dtsi in BUILD_DIR
  fpga/usrp3/top/x400/.gitignore
  fpga/usrp3/top/x400/Makefile
Due: none

ci: update usb serial for the n310 in pebbles
  .ci/templates/tests/pebbles-labgrid/exporter-conf/exporter.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: remove hardcoded serial for the n310 in pebbles
  .ci/templates/job-uhd-rf-tests-pebbles.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update cmake version to the min. version required by UHD
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

Update CHANGELOG
  CHANGELOG
Due: none

mg: Fix LO query API for lowband LO
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: rfnoc: Clarify radio_control tuning capabilities
  host/include/uhd/rfnoc/rf_control/core_iface.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fixed python version used by readthedocs to 3.12
  host/docs/sphinx/environment.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: tools: Add --ignore-warnings to repeat_fpga_build
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none

docs: Lock python version to 3.12 used by readthedocs build
  host/docs/sphinx/environment.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: x4xx: Fix ATR helpers
  host/lib/include/uhdlib/usrp/dboard/fbx/fbx_constants.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_constants.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Split test stages by test systems
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci/tools: Update changeset analyzer tool
  tools/changeset_testlist.yaml
Due: none

ci: Refactor display names of test stages
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add --verbose to changeset analyzer
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
