Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

mpm: x4xx: Add function to map from gpio src list indices
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
Due: .ci/oe-x4xx-packages.yml

ci: Upload devtest logs as artifact
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Build uhd_test library as static when `-DBUILD_SHARED_LIBS=ON`
  host/tests/common/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Remove references to N230
  fpga/usrp3/tools/utils/image_package_mapping.py
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fix building with split tinfo
  host/examples/CMakeLists.txt
  host/utils/latency/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: fix ref_locked sensor on n320
  mpm/python/usrp_mpm/dboard_manager/eiscat.py
  mpm/python/usrp_mpm/dboard_manager/rhodium.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml

docs: Update n3xx tuning notes
  host/docs/usrp_n3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: cmake: Remove installation of non-relevant EEPROM tools
  mpm/tools/CMakeLists.txt
  mpm/tools/tlv_eeprom/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml

mpm: eeprom: Improve E320 and N3x0 EEPROM code/comments
  mpm/python/usrp_mpm/eeprom.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml

fpga: e320: Add DRAM ports
  fpga/usrp3/top/e320/e320_core.v
Due: none

n3xx: Support clock_source=external with time_source=gpsdo
  fpga/usrp3/top/n3xx/n3xx_clocking.v
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml

mpm: xportmgr_udp: Match DNAT arguments to manpage
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml

docs: x310: Remove reference to ORC
  host/docs/usrp_x3x0_config.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: fix negligible copy/paste typos in rhodium radio control
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control_init.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Remove FSRU-related files
  fpga/usrp3/top/n3xx/setupenv.sh
  host/lib/usrp/dboard/CMakeLists.txt
  mpm/python/usrp_mpm/dboard_manager/CMakeLists.txt
  mpm/python/usrp_mpm/dboard_manager/__init__.py
  mpm/python/usrp_mpm/dboard_manager/eiscat.py
  mpm/python/usrp_mpm/dboard_manager/lmk_eiscat.py
  mpm/python/usrp_mpm/dboard_manager/unknown.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: speed up reading gps mboard sensors
  mpm/python/usrp_mpm/gpsd_iface.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: Remove references to nocscript from YAML files
  host/examples/rfnoc-example/blocks/gain.yml
  host/include/uhd/rfnoc/blocks/addsub.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo_2x64.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo_4x64.yml
  host/include/uhd/rfnoc/blocks/ddc.yml
  host/include/uhd/rfnoc/blocks/duc.yml
  host/include/uhd/rfnoc/blocks/fft_1x64.yml
  host/include/uhd/rfnoc/blocks/fir_filter.yml
  host/include/uhd/rfnoc/blocks/fosphor.yml
  host/include/uhd/rfnoc/blocks/keep_one_in_n.yml
  host/include/uhd/rfnoc/blocks/logpwr.yml
  host/include/uhd/rfnoc/blocks/moving_avg.yml
  host/include/uhd/rfnoc/blocks/null_src_sink.yml
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/blocks/radio_1x64.yml
  host/include/uhd/rfnoc/blocks/radio_2x64.yml
  host/include/uhd/rfnoc/blocks/replay.yml
  host/include/uhd/rfnoc/blocks/siggen.yml
  host/include/uhd/rfnoc/blocks/split_stream.yml
  host/include/uhd/rfnoc/blocks/switchboard.yml
  host/include/uhd/rfnoc/blocks/vector_iir.yml
  host/include/uhd/rfnoc/blocks/window.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add SPDX license identifier
  fpga/usrp3/lib/io_port2/LvFpga_Chinch_Interface.v
Due: none

ci: Remove obsolete x4xx pipelines
  .ci/oe-for-host.yml
  .ci/oe-x4xx-packages.yml
  .ci/x4xx-devtests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

firmware: Remove N230 firmware
  firmware/usrp3/CMakeLists.txt
  firmware/usrp3/n230/CMakeLists.txt
  firmware/usrp3/n230/n230_burner.py
  firmware/usrp3/n230/n230_debug.py
  firmware/usrp3/n230/n230_eeprom.c
  firmware/usrp3/n230/n230_eth_handlers.c
  firmware/usrp3/n230/n230_eth_handlers.h
  firmware/usrp3/n230/n230_fw_comm_protocol.c
  firmware/usrp3/n230/n230_init.c
  firmware/usrp3/n230/n230_init.h
  firmware/usrp3/n230/n230_main.c
Due: none

e320: mpm: Remove monitor thread
  mpm/python/usrp_mpm/periph_manager/e320.py
Due: .ci/oe-x4xx-packages.yml

python: Read number of ports from grc file in image builder
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix RuntimeError: dictionary changed size during iteration
  host/python/uhd/imgbuilder/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: ncurses: fix building with split tinfo
  host/examples/CMakeLists.txt
  host/utils/latency/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: doxygen: Make MATHJAX_RELPATH configurable via CMake
  host/docs/CMakeLists.txt
  host/docs/Doxyfile.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Remove superfluous stylesheet
  host/docs/style.css
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: graph_utils: Add ability to declare back-edges
  host/include/uhd/utils/graph_utils.hpp
  host/lib/utils/graph_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: rfnoc: Add connect_through_blocks() and get_block_chain()
  host/lib/rfnoc/rfnoc_python.hpp
  host/python/uhd/rfnoc.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: replay: Add action handler for stream commands
  host/lib/rfnoc/replay_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Improve documentation for replay block
  host/include/uhd/rfnoc/replay_block_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Set continue on error and reduce timeout to 60
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: eeprom: Fix default values in EEPROM utilities
  mpm/tools/README.md
  mpm/tools/eeprom-id.c
  mpm/tools/eeprom-init.c
  mpm/tools/eeprom-pids.h
  mpm/tools/eeprom.h
Due: .ci/oe-x4xx-packages.yml

fpga: x400: Set replay SEP buffers to twice MTU
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
Due: none

conversion: Saturate transmit IQ levels on NEON architectures.
  host/lib/convert/convert_with_neon.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Force converter tests to be run with all available prios
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

convert: Make narrowing conversions saturate
  host/lib/convert/convert_common.hpp
  host/lib/convert/gen_convert_general.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

convert: Add benchmarking abilities
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add saturating test cases
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add conversion benchmarking tests
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
