Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

uhd: Fix spelling errors
  host/lib/usrp/dboard/twinrx/twinrx_experts.cpp
  host/lib/utils/ihex.cpp
  host/utils/b2xx_fx3_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

responder: Fix printw function arguments
  host/utils/latency/lib/Responder.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

siggen: Fix direction of rotation
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/rfnoc_block_siggen_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/rfnoc_block_siggen_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/rfnoc_block_siggen_tb.sv
  fpga/usrp3/lib/rfnoc/sine_tone.v
  host/lib/rfnoc/siggen_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: gpio: Create gpio_atr_offsets to store GPIO registers
  host/lib/include/uhdlib/usrp/cores/gpio_atr_3000.hpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/cores/gpio_atr_3000.cpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_init.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control_init.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control_init.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Shorten line length for Launchpad linter
  fpga/usrp3/top/b200/planahead/planahead.runs/impl_1/rundef.js
Due: none

debs: Update upload_debs script
  tools/debs/upload_debs.sh
Due: none

fpga: lib: Clean up axi_mux
  fpga/usrp3/lib/fifo/axi_mux.v
Due: none

fpga: rfnoc: Add documentation to chdr_xb_routing_table
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_routing_table.v
Due: none

fpga: rfnoc: Add labels to chdr_mgmt_pkt_handler
  fpga/usrp3/lib/rfnoc/core/chdr_mgmt_pkt_handler.v
Due: none

fpga: rfnoc: Add labels to axi_switch generate blocks
  fpga/usrp3/lib/rfnoc/crossbar/axis_switch.v
Due: none

uhd: update num_recv_frames calculation for ctrl links
  host/lib/include/uhdlib/transport/udp_common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x410: correct 100GbE link speed
  fpga/usrp3/top/x400/dts/x410-100gbe-port0.dtsi
  fpga/usrp3/top/x400/dts/x410-100gbe-port1.dtsi
Due: none

docs: Align dependencies and bump deb package versions
  host/docs/build.dox.in
  host/docs/install.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Remove cruft from UHD 3 (constants)
  host/examples/rfnoc_rx_to_file.cpp
  host/include/uhd/rfnoc/constants.hpp
  host/lib/include/uhdlib/rfnoc/mgmt_portal.hpp
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add GPIO functions to MPM RPC shim
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! host: x4xx: Implement GPIO API
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: gpio: Separate bank and port arguments
  host/examples/gpio.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x4xx: Implement GPIO API
  host/lib/usrp/x400/CMakeLists.txt
  host/lib/usrp/x400/x400_gpio_control.cpp
  host/lib/usrp/x400/x400_gpio_control.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.hpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: add DIO GPIO API configuration methods
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml

fixup! mpm: x4xx: add DIO GPIO API configuration methods
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

fpga: rfnoc: Add RFNoC CHDR resize module
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/chdr_resize_all_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/chdr_resize_tb.sv
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/chdr_convert_down.v
  fpga/usrp3/lib/rfnoc/utils/chdr_convert_up.v
  fpga/usrp3/lib/rfnoc/utils/chdr_resize.v
Due: none

fpga: rfnoc: Add CHDR management util functions
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_internal_utils.vh
Due: none

mpm: x4xx: Allow GPIO0 and GPIO1 as port names
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

host: python: Return mb_controller with reference_internal
  host/lib/usrp/multi_usrp_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Make IQ order clear in gain RFNoC block
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain.v
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Test all variants in gain testbench
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/Makefile
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain_all_tb.sv
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain_tb.sv
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add RPC calls for GPIO voltage
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add gpio_voltage discoverable feature
  host/include/uhd/features/discoverable_feature.hpp
  host/include/uhd/features/gpio_power_iface.hpp
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Allow retrieving external power state
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

host: python: Add gpio_voltage python API
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: blocks: Minor cleanup (whitespace, typos)
  host/include/uhd/rfnoc/fir_filter_block_control.hpp
  host/include/uhd/rfnoc/siggen_block_control.hpp
  host/include/uhd/rfnoc/split_stream_block_control.hpp
  host/include/uhd/rfnoc/switchboard_block_control.hpp
  host/include/uhd/rfnoc/vector_iir_block_control.hpp
  host/include/uhd/rfnoc/window_block_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Collect all RFNoC block controllers in a module in the manual
  host/docs/group_defs.dox
  host/include/uhd/rfnoc/addsub_block_control.hpp
  host/include/uhd/rfnoc/block_control.hpp
  host/include/uhd/rfnoc/ddc_block_control.hpp
  host/include/uhd/rfnoc/dmafifo_block_control.hpp
  host/include/uhd/rfnoc/duc_block_control.hpp
  host/include/uhd/rfnoc/fft_block_control.hpp
  host/include/uhd/rfnoc/fir_filter_block_control.hpp
  host/include/uhd/rfnoc/fosphor_block_control.hpp
  host/include/uhd/rfnoc/keep_one_in_n_block_control.hpp
  host/include/uhd/rfnoc/logpwr_block_control.hpp
  host/include/uhd/rfnoc/null_block_control.hpp
  host/include/uhd/rfnoc/radio_control.hpp
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/include/uhd/rfnoc/siggen_block_control.hpp
  host/include/uhd/rfnoc/split_stream_block_control.hpp
  host/include/uhd/rfnoc/switchboard_block_control.hpp
  host/include/uhd/rfnoc/vector_iir_block_control.hpp
  host/include/uhd/rfnoc/window_block_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x410: Document GPIO API and capabilities
  host/docs/gpio_api.dox
  host/docs/res/HDMI_Connector_Pinout.svg
  host/docs/usrp_x4xx.dox
  host/docs/x400_gpio_api.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpmd: Increase UHD-side MTU cap for 10 GbE and 1 GbE
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
  mpm/python/usrp_mpm/discovery.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Let make keep building upon failure
  .ci/templates/steps-build-uhd-make.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: fix typo
  host/include/uhd/types/tune_request.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Add testbench pipeline
  fpga/.ci/hwtools/root.py
  fpga/.ci/oss_testbenches.yml
Due: none

docs: Fix typo in ZBX Block Diagram
  host/docs/res/ZBX_simplified_blockdiagram.svg
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

lib: Add various missing includes
  host/lib/usrp/common/ad936x_manager.cpp
  host/lib/usrp/common/lmx2592.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add clang as a compiler to all Fedora and Ubuntu containers
  .ci/docker/uhd-builder-fedora32.Dockerfile
  .ci/docker/uhd-builder-fedora33.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml
