Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

host: x4xx: Fix NCO reset
  host/lib/include/uhdlib/usrp/common/x400_rfdc_control.hpp
  host/lib/usrp/x400/x400_rfdc_control.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: Fix NCO reset
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/constraints/timing/common.xdc
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/x410_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/hdl_sources.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/regmap/rfdc_timing_regmap_utils.vh
  fpga/usrp3/top/x400/rf/common/Makefile.srcs
  fpga/usrp3/top/x400/rf/common/rf_nco_reset.vhd
  fpga/usrp3/top/x400/rf/common/rf_nco_reset_controller.sv
  fpga/usrp3/top/x400/rf/common/rf_nco_reset_wrapper.v
  fpga/usrp3/top/x400/rf/sim/tb_rf_nco_reset.vhd
  fpga/usrp3/top/x400/rfdc_timing_control.sv
  fpga/usrp3/top/x400/rfdc_timing_control.v
  fpga/usrp3/top/x400/x4xx.sv
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_core_common.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Add ENABLE_RFNOC_DEV target
  host/CMakeLists.txt
  host/cmake/Modules/stage_rfnoc_dev_sources.py
  host/cmake/debian/uhd-host.install
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: rfnoc_image_builder: Find HDL sources in install prefix
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: analyze changeset: Fix triggering of FPGA build
  tools/changeset_testlist.yaml
Due: none

tools: Drop support for Ubuntu bionic
  tools/debs/uhd_ubuntu_deb.py
Due: none

ci: Remove Fedora 39 conditions
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-uhd-installer-fedora-rpm.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove Ubuntu 18.04 support in the pipelines
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/steps-build-gr-ettus-make.yml
  .ci/templates/steps-build-uhd-installer-ubuntu-deb.yml
  .ci/templates/steps-build-volk-make.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove rhombus-labgrid files
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/tests/rhombus-labgrid/crossbar/places.yaml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-e320-0.yml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-n310-0.yml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-n321-0.yml
  .ci/templates/tests/rhombus-labgrid/docker-compose.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: allow multiple repeats for play command of replay block
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/replay_block_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: add option to stop chdr stream input on sequence error
  fpga/usrp3/lib/rfnoc/core/chdr_stream_input.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add retransmission capabilities to tx streamer
  host/cmake/Modules/UHDPython.cmake
  host/docs/configuration.dox
  host/include/uhd/rfnoc/chdr_types.hpp
  host/include/uhd/types/metadata.hpp
  host/lib/include/uhdlib/rfnoc/chdr_tx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/tx_flow_ctrl_state.hpp
  host/lib/include/uhdlib/transport/tx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/tx_streamer_zero_copy.hpp
  host/lib/rfnoc/chdr_tx_data_xport.cpp
  host/lib/rfnoc/chdr_types.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/python/uhd/types.py
  host/tests/rfnoc_chdr_test.cpp
  host/tests/streamer_benchmark.cpp
  host/tests/tx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add missing Python binding for replay_block_control::get_record_position
  host/lib/rfnoc/replay_block_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Move ignore of build folders into top level
  .gitignore
  firmware/fx2/.gitignore
  firmware/octoclock/.gitignore
  firmware/usrp2/.gitignore
  firmware/usrp3/.gitignore
  fpga/usrp2/top/.gitignore
  fpga/usrp2/top/B100/.gitignore
  fpga/usrp2/top/N2x0/.gitignore
  fpga/usrp2/top/USRP2/.gitignore
  fpga/usrp3/.gitignore
  fpga/usrp3/lib/io_port2/.gitignore
  fpga/usrp3/top/b200/.gitignore
  fpga/usrp3/top/b2xxmini/.gitignore
  fpga/usrp3/top/e31x/.gitignore
  fpga/usrp3/top/e320/.gitignore
  fpga/usrp3/top/n3xx/.gitignore
  fpga/usrp3/top/n3xx/dboards/rh/cpld/.gitignore
  fpga/usrp3/top/x300/.gitignore
  fpga/usrp3/top/x400/.gitignore
  fpga/usrp3/top/x400/cpld/.gitignore
  host/.gitignore
  host/docs/sphinx/.gitignore
  host/examples/extension_example/.gitignore
  host/examples/init_usrp/.gitignore
  host/examples/rfnoc-gain/.gitignore
  host/examples/rfnoc-gain/gr-rfnoc_gain/python/rfnoc_gain/.gitignore
  images/.gitignore
  mpm/.gitignore
  tools/dissectors/.gitignore
  tools/kitchen_sink/.gitignore
  tools/nirio_programmer/.gitignore
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: chdr: Mask stream_info of recv pkt in chdr_stream_endpoint_tb
  fpga/usrp3/lib/rfnoc/sim/chdr_stream_endpoint_tb/chdr_stream_endpoint_tb.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: example: Add new python example that uses matplotlib for spectrum
  host/examples/python/CMakeLists.txt
  host/examples/python/rx_spectrum_to_pyplot.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: extended manual with b2xx getting started section
  host/docs/usrp_b200.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

rfnoc: fix function documentation typo
  host/include/uhd/rfnoc/detail/graph.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: test: fix devtest x4xx make targets
  host/tests/devtest/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

experts: add print for device_addr_t
  host/include/uhd/experts/expert_nodes.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

usrp: Add support for OBX daughterboard
  .ci/fpga/templates/job-cpld-build.yml
  .ci/fpga/templates/setup_steps.yml
  .ci/hwtools/root.py
  .ci/templates/job-uhd-devtest-x310-obx.yml
  .ci/templates/job-uhd-rf-tests-x310-obx.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
  CHANGELOG
  fpga/usrp3/top/x300/dboards/obx/cpld/.gitignore
  fpga/usrp3/top/x300/dboards/obx/cpld/Makefile
  fpga/usrp3/top/x300/dboards/obx/cpld/Makefile.obx_cpld.inc
  fpga/usrp3/top/x300/dboards/obx/cpld/obx_cpld.sv
  fpga/usrp3/top/x300/dboards/obx/cpld/obx_register_endpoints.sv
  fpga/usrp3/top/x300/dboards/obx/cpld/quartus/obx_cpld.qpf
  fpga/usrp3/top/x300/dboards/obx/cpld/quartus/obx_cpld.qsf
  fpga/usrp3/top/x300/dboards/obx/cpld/quartus/obx_cpld.sdc
  fpga/usrp3/top/x300/dboards/obx/cpld/quartus/raw_conversion.cof
  fpga/usrp3/top/x300/dboards/obx/cpld/regmap/obx_cpld_regs_utils.vh
  fpga/usrp3/top/x300/dboards/obx/cpld/sim/obx_register_endpoints/Makefile
  fpga/usrp3/top/x300/dboards/obx/cpld/sim/obx_register_endpoints/obx_register_endpoints_tb.sv
  fpga/usrp3/top/x300/dboards/obx/cpld/sim/obx_spi_passthrough/Makefile
  fpga/usrp3/top/x300/dboards/obx/cpld/sim/obx_spi_passthrough/obx_spi_passthrough_tb.sv
  fpga/usrp3/top/x300/dboards/obx/cpld/sim/obx_spi_passthrough/timescale.v
  host/docs/calibration.dox
  host/docs/dboards.dox
  host/docs/sync.dox
  host/lib/usrp/dboard/CMakeLists.txt
  host/lib/usrp/dboard/db_obx.cpp
  host/lib/usrp/dboard/db_obx.hpp
  host/lib/usrp/dboard/obx/obx_cpld_ctrl.cpp
  host/lib/usrp/dboard/obx/obx_cpld_ctrl.hpp
  host/lib/usrp/dboard/obx/obx_expert.cpp
  host/lib/usrp/dboard/obx/obx_expert.hpp
  host/lib/usrp/dboard/obx/obx_gpio_ctrl.cpp
  host/lib/usrp/dboard/obx/obx_gpio_ctrl.hpp
  host/lib/usrp/x300/x300_impl.cpp
  host/utils/usrp_cal_utils.hpp
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Remove network_relay
  CHANGELOG
  host/examples/CMakeLists.txt
  host/examples/network_relay.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "ci: docker: pin gcc version to 15.0.1 for Fedora 42 builder"
  .ci/docker/uhd-builder-fedora42.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

uhd: Add asio abstraction header
  host/lib/deps/rpclib/include/rpc/detail/async_writer.h
  host/lib/deps/rpclib/include/rpc/detail/server_session.h
  host/lib/deps/rpclib/lib/rpc/client.cc
  host/lib/deps/rpclib/lib/rpc/server.cc
  host/lib/include/uhdlib/asio.hpp
  host/lib/include/uhdlib/transport/nirio/rpc/rpc_client.hpp
  host/lib/include/uhdlib/transport/udp_boost_asio_link.hpp
  host/lib/include/uhdlib/transport/udp_common.hpp
  host/lib/usrp/cores/xport_adapter_ctrl.cpp
  host/lib/usrp/mpmd/mpmd_find.cpp
  host/lib/usrp/usrp1/mb_eeprom.cpp
  host/lib/usrp/usrp2/dboard_iface.cpp
  host/lib/usrp/usrp2/io_impl.cpp
  host/lib/usrp/usrp2/usrp2_fifo_ctrl.cpp
  host/lib/usrp/usrp2/usrp2_iface.cpp
  host/lib/usrp/usrp2/usrp2_impl.cpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_mb_eeprom.cpp
  host/lib/usrp_clock/octoclock/octoclock_eeprom.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/lib/usrp_clock/octoclock/octoclock_uart.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: rfnoc_utils: Move render_wire_width() to template
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/template.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Render IO ports for new blocks
  host/python/uhd/rfnoc_utils/modtool_commands/add.yml
  host/python/uhd/rfnoc_utils/step_executor.py
  host/python/uhd/rfnoc_utils/templates/blocktool/rfnoc_block_template.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: adding cpu_host_type as demand for windows
  .ci/templates/job-uhd-build-installer.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: example: documentation fix
  host/examples/python/rx_spectrum_to_asciiplot.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest: temporarily excluding E320 tests
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: cpack: windows: Integrated applying inf win drivers into NSIS template
  host/cmake/Modules/NSIS.template.in
  host/cmake/Modules/UHDPackage.cmake
  host/cmake/Modules/ettus_256x256.ico
  host/cmake/msvc/stdbool.h
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: tests: Fixed syntax warning in macro UHD_ADD_RFNOC_BLOCK_NONAPI_TEST
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: added python 3.13 build support under windows
  host/python/pyproject.toml.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: update user manual devtest section
  host/docs/rd_testing.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

host: utils: fix cast from str to size_t
  host/lib/utils/cast.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: deb: Fix linting errors for Ubuntu 24.04
  host/cmake/debian/control.focal
  host/cmake/debian/control.jammy
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: debs: support for version-specific files
  tools/debs/uhd_ubuntu_deb.py
Due: none

ci: fpga: fix build condition for e320 FPGA
  .ci/fpga/devices/job-build-fpga-e320.yml
  fpga/.ci/fpga-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Prepare for 4.9.0.0 release
  CHANGELOG
  README.md
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/control.focal
  host/cmake/debian/control.jammy
  host/cmake/debian/libuhd4.9.0.install
  host/cmake/debian/rules
  images/manifest.txt
  tools/debs/upload_debs.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: update filesystems to v4.9.0.0-rc1
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: ddc: fix strobe_dds_clip assignment
  fpga/usrp3/lib/rfnoc/ddc.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
