Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  jobs:
  - job: build_image_linux
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

rfnoc: Enable remote UDP streaming
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: n3xx: Enable raw UDP streaming
  mpm/python/usrp_mpm/periph_manager/n3xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: xports: Add XportAdapterMgr class
  mpm/python/usrp_mpm/xports/CMakeLists.txt
  mpm/python/usrp_mpm/xports/__init__.py
  mpm/python/usrp_mpm/xports/xport_adapter_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

doc: Update manual on streaming
  host/docs/stream.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

images: update manifest for raw udp streaming
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add remote RX streaming example
  host/examples/python/CMakeLists.txt
  host/examples/python/remote_rx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: update to uniform SPDX license identifier
  host/lib/include/CMakeLists.txt
  host/lib/include/uhdlib/utils/paths.hpp
  host/lib/include/uhdlib/utils/prefs.hpp
  host/lib/include/uhdlib/utils/system_time.hpp
  host/lib/rfnoc/block_controller_factory_python.hpp
  host/lib/utils/pathslib.cpp
  host/lib/utils/prefs.cpp
  host/lib/utils/system_time.cpp
  host/tests/system_time_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: n3xx: Remove unused USE_REPLAY parameter
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/n3xx/dboards/mg/n3xx.v
  fpga/usrp3/top/n3xx/dboards/rh/n3xx.v
  fpga/usrp3/top/n3xx/n3xx_core.v
Due: none

fpga: lib: Add MTU parameter to eth_internal
  fpga/usrp3/lib/rfnoc/xport/eth_internal.v
Due: none

fpga: e31x: Add PROTOVER to eth_internal
  fpga/usrp3/top/e31x/e31x.v
Due: none

fpga: e31x: Cleanup MTU parameters
  fpga/usrp3/top/e31x/e31x.v
  fpga/usrp3/top/e31x/e31x_core.v
Due: none

fpga: n3xx: Add PROTOVER to n3xx_mgt_wrapper
  fpga/usrp3/top/n3xx/n3xx_mgt_channel_wrapper.v
Due: none

fpga: n3xx: Cleanup MTU parameters
  fpga/usrp3/top/n3xx/dboards/mg/n3xx.v
  fpga/usrp3/top/n3xx/dboards/rh/n3xx.v
  fpga/usrp3/top/n3xx/n3xx_core.v
  fpga/usrp3/top/n3xx/n3xx_mgt_channel_wrapper.v
  fpga/usrp3/top/n3xx/n3xx_mgt_wrapper.v
Due: none

fpga: e320: Cleanup MTU parameters
  fpga/usrp3/top/e320/e320.v
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/e320/e320_sfp_wrapper.v
Due: none

fpga: x300: Cleanup MTU parameters
  fpga/usrp3/top/x300/bus_int.v
Due: none

MPMD: Limit 1GbE MTU discovery to 1500
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Clarify live install and remove version
  host/docs/install.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: docs: Document known issue in Vivado 2021.1
  fpga/docs/usrp3/build_instructions.md
Due: none

images: update fpgas for mtu cleanup changes
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Workaround Ubuntu 18.04 systemd bug 1988563
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

uhd: Prepare for 4.3.0.0-rc1 release
  CHANGELOG
  host/cmake/debian/README.Debian
  host/cmake/debian/changelog
  host/cmake/debian/control
  host/cmake/debian/libuhd4.3.0.install
  host/cmake/debian/rules
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

changelog: forward port 4.2.0.1 changes
  CHANGELOG
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: set required capability for windows builds
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer-signing.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Enable branch naming on Azure Pipelines
  host/cmake/Modules/UHDVersion.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add XQ testing to n321
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add known issue for Xilinx AR 76681
  fpga/docs/usrp3/build_instructions.md
Due: none

fpga: Fix Vivado version check in viv_hardware_utils
  fpga/usrp3/tools/scripts/viv_hardware_utils.tcl
Due: none

host: if monotonic don't run monotonic algo
  host/lib/types/ranges.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Revert Raw UDP Host Changes
  host/docs/stream.dox
  host/examples/python/CMakeLists.txt
  host/examples/python/remote_rx.py
  host/lib/include/uhdlib/rfnoc/graph_stream_manager.hpp
  host/lib/include/uhdlib/rfnoc/link_stream_manager.hpp
  host/lib/include/uhdlib/rfnoc/mb_iface.hpp
  host/lib/include/uhdlib/rfnoc/mgmt_portal.hpp
  host/lib/include/uhdlib/rfnoc/topo_graph.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/graph_stream_manager.cpp
  host/lib/rfnoc/link_stream_manager.cpp
  host/lib/rfnoc/mgmt_portal.cpp
  host/lib/rfnoc/topo_graph.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.hpp
  host/lib/usrp/x300/x300_impl.hpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/tests/CMakeLists.txt
  host/tests/rfnoc_topograph_test.cpp
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/rpc_server.py
  mpm/python/usrp_mpm/xports/CMakeLists.txt
  mpm/python/usrp_mpm/xports/__init__.py
  mpm/python/usrp_mpm/xports/xport_adapter_ctrl.py
  mpm/python/usrp_mpm/xports/xport_adapter_mgr.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Prepare branch for 4.3.0.0-rc2 release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update filesystem images to point to 4.3.0.0-rc2
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! ci: set required capability for windows builds
  .ci/templates/job-uhd-build-installer-signing.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

First pass at something resembling an ~okay~ way to do extra GPS commands
  host/include/uhd/rfnoc/mb_controller.hpp
  host/include/uhd/usrp/gps_ctrl.hpp
  host/lib/usrp/gps_ctrl.cpp
  host/lib/usrp/x300/x300_mb_controller.cpp
  host/lib/usrp/x300/x300_mb_controller.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Prepare branch for 4.3.0.0 release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e3xx: add support for power calibration api
  host/docs/usrp_e3xx.dox
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.cpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_init.cpp
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e320: Allow internal GPSDO to be powered-down via UHD session args
  host/docs/configuration.dox
  host/docs/usrp_e3xx.dox
  mpm/python/usrp_mpm/periph_manager/e320.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Phase noise consideration when using external clock with E320
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Add a slightly smarter send command structure that returns output maybe?
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added safety logic for send_cmd
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "uhd: Revert Raw UDP Host Changes"
  host/docs/stream.dox
  host/examples/python/CMakeLists.txt
  host/examples/python/remote_rx.py
  host/lib/include/uhdlib/rfnoc/graph_stream_manager.hpp
  host/lib/include/uhdlib/rfnoc/link_stream_manager.hpp
  host/lib/include/uhdlib/rfnoc/mb_iface.hpp
  host/lib/include/uhdlib/rfnoc/mgmt_portal.hpp
  host/lib/include/uhdlib/rfnoc/topo_graph.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/graph_stream_manager.cpp
  host/lib/rfnoc/link_stream_manager.cpp
  host/lib/rfnoc/mgmt_portal.cpp
  host/lib/rfnoc/topo_graph.cpp
  host/lib/usrp/mpmd/mpmd_impl.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.hpp
  host/lib/usrp/x300/x300_impl.hpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/tests/CMakeLists.txt
  host/tests/rfnoc_topograph_test.cpp
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/rpc_server.py
  mpm/python/usrp_mpm/xports/CMakeLists.txt
  mpm/python/usrp_mpm/xports/__init__.py
  mpm/python/usrp_mpm/xports/xport_adapter_ctrl.py
  mpm/python/usrp_mpm/xports/xport_adapter_mgr.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
