Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

BuildSystem: Minor Formatting
  host/CMakeLists.txt
  host/cmake/Modules/UHDConfig.cmake.in
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Added comment in CMake
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: Fix a few compiler warnings
  host/include/uhd/rfnoc/chdr_types.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
  host/lib/utils/thread.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "mpm: cmake: Fix Boost components"
  mpm/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Adressing MR comments and more fixes
  host/cmake/Modules/UHDBoost.cmake
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/rfnoc_graph.cpp
  host/tests/rfnoc_block_tests/fft_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test_v2.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: stream: Bring back zero-latency recv() calls
  CHANGELOG
  host/include/uhd/stream.hpp
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/rx_streamer_zero_copy.hpp
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use the IP address found in the pipeline steps for the pytests
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Move all transport/nirio files into lib/
  host/lib/include/uhdlib/transport/nirio/nifpga_lvbitx.h
  host/lib/include/uhdlib/transport/nirio/nirio_driver_iface.h
  host/lib/include/uhdlib/transport/nirio/nirio_err_template.h
  host/lib/include/uhdlib/transport/nirio/nirio_fifo.h
  host/lib/include/uhdlib/transport/nirio/nirio_fifo.ipp
  host/lib/include/uhdlib/transport/nirio/nirio_quirks.h
  host/lib/include/uhdlib/transport/nirio/nirio_resource_manager.h
  host/lib/include/uhdlib/transport/nirio/niriok_proxy.h
  host/lib/include/uhdlib/transport/nirio/niriok_proxy_impl_v1.h
  host/lib/include/uhdlib/transport/nirio/niriok_proxy_impl_v2.h
  host/lib/include/uhdlib/transport/nirio/niusrprio_session.h
  host/lib/include/uhdlib/transport/nirio/rpc/rpc_client.hpp
  host/lib/include/uhdlib/transport/nirio/rpc/rpc_common.hpp
  host/lib/include/uhdlib/transport/nirio/rpc/usrprio_rpc_client.hpp
  host/lib/include/uhdlib/transport/nirio/rpc/usrprio_rpc_common.hpp
  host/lib/include/uhdlib/transport/nirio/status.h
  host/lib/include/uhdlib/transport/nirio_link.hpp
  host/lib/include/uhdlib/transport/nirio_zero_copy.hpp
  host/lib/transport/nirio/lvbitx/template_lvbitx.hpp
  host/lib/transport/nirio/nifpga_lvbitx.cpp
  host/lib/transport/nirio/nirio_driver_iface_linux.cpp
  host/lib/transport/nirio/nirio_driver_iface_unsupported.cpp
  host/lib/transport/nirio/nirio_driver_iface_win.cpp
  host/lib/transport/nirio/nirio_resource_manager.cpp
  host/lib/transport/nirio/niriok_proxy.cpp
  host/lib/transport/nirio/niriok_proxy_impl_v1.cpp
  host/lib/transport/nirio/niriok_proxy_impl_v2.cpp
  host/lib/transport/nirio/niusrprio_session.cpp
  host/lib/transport/nirio/rpc/rpc_client.cpp
  host/lib/transport/nirio/rpc/usrprio_rpc_client.cpp
  host/lib/transport/nirio/status.cpp
  host/lib/transport/nirio_zero_copy.cpp
  host/lib/usrp/x300/x300_fw_ctrl.cpp
  host/lib/usrp/x300/x300_image_loader.cpp
  host/lib/usrp/x300/x300_pcie_mgr.hpp
  tools/nirio_programmer/CMakeLists.txt
  tools/nirio_programmer/nirio_programmer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Move gps_ctrl.hpp into uhdlib
  host/include/uhd/usrp/CMakeLists.txt
  host/lib/include/uhdlib/usrp/gps_ctrl.hpp
  host/lib/usrp/b200/b200_impl.hpp
  host/lib/usrp/gps_ctrl.cpp
  host/lib/usrp/usrp2/usrp2_impl.hpp
  host/lib/usrp/x300/x300_mb_controller.hpp
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Handle version range only in CMake >= 3.19
  host/cmake/Modules/FindDPDK.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fix non-simple version of DPDK search call
  host/cmake/Modules/FindDPDK.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix a few compiler warnings
  host/include/uhd/rfnoc/chdr_types.hpp
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
  host/lib/utils/thread.cpp
  host/tests/rfnoc_block_tests/fft_block_test.cpp
  host/tests/rfnoc_block_tests/fft_block_test_v2.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Improve formatting, comments and Apple DPDK support
  host/CMakeLists.txt
  host/cmake/Modules/FindDPDK.cmake
  host/cmake/Modules/UHDConfig.cmake.in
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Revert "Get rid of unnecessary bash wrappers in subprocesses.Popen"
  fpga/usrp3/tools/utils/repeat_fpga_build.py
  host/python/uhd/rfnoc_utils/image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: x4xx test: Add printouts for dut ip addresses in each hw test step
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: x4xx: Allow parallel execution of devtests on sdr-test0.
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: x4xx test: Apply network config without rebooting
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove minimum CMake version from CMakeRC.cmake
  host/cmake/Modules/CMakeRC.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: Add send_cmd() API to the GPS iface feature
  CHANGELOG
  host/include/uhd/features/gps_iface.hpp
  host/lib/include/uhdlib/usrp/gps_ctrl.hpp
  host/lib/rfnoc/rfnoc_python.hpp
  host/lib/usrp/gps_ctrl.cpp
  host/lib/usrp/x300/x300_mb_controller.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x3x0: Add gps_iface feature
  host/lib/usrp/x300/x300_mb_controller.cpp
  host/lib/usrp/x300/x300_mb_controller.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: x3x0: Update gpsdo sub-page
  host/docs/gpsdo_x3x0.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

uhd: gps_ctrl: Minor refactoring
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: features: Add gps_iface
  host/include/uhd/features/discoverable_feature.hpp
  host/include/uhd/features/gps_iface.hpp
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: changeset analyzer: Gracefully recover fail to get labels
  tools/changeset_testlist.py
Due: none

fpga: sim: Add coerce function to PkgMath
  fpga/usrp3/sim/packages/PkgMath.sv
Due: none

fpga: rfnoc: Fix DDC overflow issue
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/rfnoc_block_ddc_tb.sv
  fpga/usrp3/lib/rfnoc/ddc.v
Due: none

test: Add dev test for multiple stream commands to RX radio
  host/tests/devtest/devtest_x3x0.py
  host/tests/devtest/rx_stream_cmds_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Merge FPGA pipelines into mono pipelines
  .ci/fpga/devices/job-build-fpga-e31x.yml
  .ci/fpga/devices/job-build-fpga-e320.yml
  .ci/fpga/devices/job-build-fpga-n3xx.yml
  .ci/fpga/devices/job-build-fpga-x300.yml
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/scripts/cleanup_incomplete_ip_builds.py
  .ci/fpga/scripts/refresh_ip.sh
  .ci/fpga/scripts/run_setup.sh
  .ci/fpga/templates/check_clean_repo_steps.yml
  .ci/fpga/templates/job-build-fpga.yml
  .ci/fpga/templates/job-build-ip.yml
  .ci/fpga/templates/job-package-images.yml
  .ci/fpga/templates/job-run-testbenches.yml
  .ci/fpga/templates/mb_cpld_build.yml
  .ci/fpga/templates/regmap.yml
  .ci/fpga/templates/setup_steps.yml
  .ci/fpga/templates/stages-fpga-pipeline.yml
  .ci/fpga/templates/zbx_cpld_build.yml
  .ci/hwtools/.gitignore
  .ci/hwtools/root.py
  .ci/templates/job-rfnoc_modtool-test-testbenches.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/templates/changeset_build_list.yaml
  fpga/.ci/templates/job-analyze-changeset.yml
  fpga/.ci/templates/setup_steps.yml
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Merge FPGA- with rest of pipeline
  .ci/fpga/devices/job-build-fpga-e31x.yml
  .ci/fpga/devices/job-build-fpga-e320.yml
  .ci/fpga/devices/job-build-fpga-n3xx.yml
  .ci/fpga/devices/job-build-fpga-x300.yml
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga.yml
  .ci/fpga/templates/job-guarantee-artifacts.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-rf-tests-pebbles.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-sdr-test0.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-saison.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-hardware-test-weekly-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove X4xx target matrix from mono pipeline build
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Change NUM_DRAM_BANKS to 2 on X410 X4_400 image
  fpga/usrp3/top/x400/x410_X4_400_rfnoc_image_core.yml
Due: none

ci: add requirements for mutex_hardware.py
  .ci/utils/requirements.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Use a venv for devtests
  .ci/templates/job-uhd-devtest.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: dpdk: add error check for valid dpdk_lcore
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

test: host: Replace hardcoded raw udp streaming target ip addresses
  host/tests/pytests/test_raw_udp_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Remove DMA FIFO id from pool
  host/lib/include/uhdlib/transport/nirio_link.hpp
  host/lib/transport/nirio_link.cpp
  host/lib/usrp/x300/x300_pcie_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: use agent with high CPU performance for FPGA builds
  .ci/fpga/templates/job-build-fpga.yml
  .ci/fpga/templates/job-build-ip.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Added subsection Network Troubleshooting Tips for x4xx
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: added notes for tuning multiple channels using a shared LO
  host/docs/general.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

n300/n310: fix frequency querying
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
