Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

examples: rx_samples_to_file: multi_streamer option
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Always prefer register-based time access
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Update upload_debs.sh script
  tools/debs/upload_debs.sh
Due: none

tools: Remove fpga directory from Debian build
  tools/debs/upload_debs.sh
Due: none

UBX: Add VCO band calibration and map access
  host/docs/dboards.dox
  host/lib/include/uhdlib/usrp/common/max287x.hpp
  host/lib/usrp/dboard/db_ubx.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

UHD: doc: Add documentation for ADC self calibration
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

docs: x410: Document UC_200 image flavor
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

mpm: periph_manager: Remove vestigial Python-six
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Move get_dboard_class_from_pid()
  mpm/python/usrp_mpm/mpmutils.py
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: bist: Improve --help message
  mpm/python/usrp_mpm/bist.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

tests: add packet capture raw udp tests
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/test_raw_udp_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: dboard_manager: Fix linter issues in dboard_manager/base.py
  mpm/python/usrp_mpm/dboard_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Move common DB tasks from ZBX class to mixin
  mpm/python/usrp_mpm/dboard_manager/CMakeLists.txt
  mpm/python/usrp_mpm/dboard_manager/base.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/dboard_manager/zbx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Move MB CPLD creation to factory
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_mb_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: mb_cpld: Add missing bitfields
  mpm/python/usrp_mpm/periph_manager/x4xx_mb_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

utils: Fix usrp2_recovery.py for Python3
  host/utils/usrp2_recovery.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Add throttle to replay_capture.py
  host/examples/python/replay_capture.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Document throttle stream arg
  host/docs/configuration.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: rfnoc: Add throttle to stream endpoints
  fpga/usrp3/lib/rfnoc/core/chdr_stream_endpoint.v
Due: none

rfnoc: Enable SEP throttle register
  host/lib/include/uhdlib/rfnoc/chdr_rx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/mgmt_portal.hpp
  host/lib/rfnoc/chdr_rx_data_xport.cpp
  host/lib/rfnoc/mgmt_portal.cpp
  host/lib/usrp/mpmd/mpmd_mb_iface.cpp
  host/lib/usrp/x300/x300_mb_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add axis_pkt_throttle.sv
  fpga/usrp3/lib/axi/Makefile.srcs
  fpga/usrp3/lib/axi/axis_pkt_throttle.sv
  fpga/usrp3/lib/sim/axis_pkt_throttle/Makefile
  fpga/usrp3/lib/sim/axis_pkt_throttle/axis_pkt_throttle_tb.sv
Due: none

Fix typos in block yml (io_ports)
  host/examples/rfnoc-example/blocks/gain.yml
  host/include/uhd/rfnoc/blocks/fft_1x64.yml
  host/include/uhd/rfnoc/blocks/null_src_sink.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: rfnoc: Fix logic in can_connect_device_to_device()
  host/lib/include/uhdlib/rfnoc/link_stream_manager.hpp
  host/lib/rfnoc/link_stream_manager.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Fix swallowed return codes in CI script steps
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add pytest args option to test dev pipeline
  .ci/templates/job-uhd-rf-tests-pebbles.yml
  .ci/templates/job-uhd-rf-tests.yml
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-pebbles.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Make default SPP a multiple of max CHDR width
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Coerce replay packets to atomic item size
  host/include/uhd/rfnoc/replay_block_control.hpp
  host/lib/rfnoc/replay_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: replay: Make default IPP a multiple of max CHDR width
  host/lib/rfnoc/replay_block_control.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add set_command_time and clear_command_time binding to Python API.
  host/lib/rfnoc/rfnoc_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Set QSFP LEDs on startup
  fpga/usrp3/top/x400/qsfp_led_controller.v
Due: none

lib/mpm: Add MPM synchronization API
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Move get_master_clock_rate() to DB-RPC
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/usrp/x400/x400_radio_control.cpp
  mpm/python/usrp_mpm/dboard_manager/base.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Bump compat number to 5.0
  host/lib/usrp/mpmd/mpmd_impl.cpp
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: e3xx: Fix inheritance order for DB classes
  mpm/python/usrp_mpm/dboard_manager/e31x_db.py
  mpm/python/usrp_mpm/dboard_manager/neon.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Add in OpenBSD support to uhd::path_expandvars
  host/lib/utils/pathslib.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

extension: windows: Fixed linking extension example to uhd.lib
  host/docs/extension.dox
  host/examples/extension_example/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add dboard_info to db_iface initialization
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Conditionally initialize DB flash
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
  mpm/python/usrp_mpm/dboard_manager/zbx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: dboard_iface: Remove {set/get}_if_freq() APIs
  mpm/python/usrp_mpm/dboard_manager/dboard_iface.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cmake: Fix auto-detection of Python install directory
  host/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
