Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}

uhd: Allow pass raw IQ data array to tone generator
  host/python/uhd/usrp/cal/tone_gen.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: hls: Add version to generated HLS IP
  fpga/usrp3/tools/scripts/viv_generate_hls_ip.tcl
Due: none

uhd: nsis: Remove broken shortcuts in Windows installer
  host/cmake/Modules/NSIS.template.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Demote WARNING on minor compat mismatch to DEBUG
  mpm/python/usrp_mpm/mpmutils.py
Due: .ci/oe-x4xx-packages.yml

fixup! uhd: Allow pass raw IQ data array to tone generator
  host/python/uhd/usrp/cal/tone_gen.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: graph: make topology failure more descriptive
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e3xx: Fix frequency querying
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Replace distutils with CMake for version checks
  host/CMakeLists.txt
  host/cmake/Modules/UHDPython.cmake
  host/python/CMakeLists.txt
  mpm/CMakeLists.txt
  mpm/python/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

RFNoC: Fix DSP frequency accuracy
  host/lib/include/uhdlib/usrp/cores/dsp_core_utils.hpp
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
  host/lib/usrp/cores/dsp_core_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: multi_usrp: Merge set_tx_subdev_spec and set_rx_subdev_spec
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix tx_bursts bandwidth/freq/gain reporting
  host/examples/tx_bursts.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Fix LED configuration for TwinRX
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Separate pipeline builds for different os
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Add the utilization report for X410 images (X4_200)
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: none

e31x/e320: Amend LO-locked sensor names
  host/docs/usrp_e3xx.dox
  mpm/python/usrp_mpm/dboard_manager/e31x_db.py
  mpm/python/usrp_mpm/dboard_manager/neon.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

lib: SSPH: Fix comment for convert_to_in_buff()
  host/lib/transport/super_send_packet_handler.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Fix time register readback
  fpga/usrp3/top/x300/bus_int.v
Due: none

rfnoc: radio: Fix comment in radio_control_impl
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: support multiple streamers in benchmark_rate
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Set debug to -Og for Clang builds
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Replace distutils.sysconfig with sysconfig
  host/python/CMakeLists.txt
  mpm/python/CMakeLists.txt
  tools/gr-usrptest/cmake/Modules/GrPython.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

MPM: X410: Set correct tuning word
  mpm/python/usrp_mpm/periph_manager/x4xx_clk_aux.py
Due: .ci/oe-x4xx-packages.yml

lib: Make simple_claimer atomic
  host/lib/include/uhdlib/utils/atomic.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix adding directories for HDL source
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: none

ci: refactor dockerOSName to buildOSName
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x410: Fix docstrings related to GPS sensors
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_gps_mgr.py
Due: .ci/oe-x4xx-packages.yml

dpdk: support new MTU discovery
  host/lib/transport/dpdk_simple.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! lib: Make simple_claimer atomic
  host/lib/include/uhdlib/utils/atomic.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: e320: Connect CTRL_IN pins to FPGA
  fpga/usrp3/top/e320/e320.v
  fpga/usrp3/top/e320/mb_pins.xdc
Due: none

docs: Fix page on GPIO
  host/docs/gpio_api.dox
  host/docs/usrp_e3xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

fpga: x400: Fix rfnoc_image_core.vh path
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

uhd: Fix RFNoC-capable detection in uhd_usrp_probe
  host/utils/uhd_usrp_probe.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: ddc/duc: Improve variable name for _set_freq()
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Always clear response queue in ctrlport_endpoint
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Clear out code from days of yore
  images/Makefile
  images/create_imgs_package.py
  images/populate_images.py
  images/uhdimgs.py
Due: none

fpga: e320: Remove copy/paste from N310 code
  fpga/usrp3/top/e320/mb_pins.xdc
Due: none

ci: Remove streaming stage from pipeline for UHD-4.1
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: b2xx: Generate utilization report files
  fpga/usrp3/top/b200/Makefile
  fpga/usrp3/top/b2xxmini/Makefile
Due: none

mpm: add device name to discovery process
  mpm/python/usrp_mpm/discovery.py
  mpm/python/usrp_mpm/mpmtypes.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml

docs: Remove full path names from Doxygen generation
  host/docs/Doxyfile.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
