Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

fpga: e31x/e320/n3xx: use glitch_free_mux for GPIO muxing
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/n3xx_core.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: pass parameters additional_setup_steps and rfnoc_include_dir
  .ci/fpga/devices/job-build-fpga-e31x.yml
  .ci/fpga/devices/job-build-fpga-e320.yml
  .ci/fpga/devices/job-build-fpga-n3xx.yml
  .ci/fpga/devices/job-build-fpga-x300.yml
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga-all.yml
  .ci/fpga/templates/job-build-fpga.yml
  .ci/fpga/templates/job-build-ip.yml
  .ci/fpga/templates/jobs-provide-fpga-artifacts.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: remove output buffering for FP gpio
  fpga/usrp3/top/x300/x300.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Implement GPIO mux for user logic
  fpga/usrp3/top/x300/bus_int.v
  fpga/usrp3/top/x300/x300_core.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: x300: add support for GPIO source "USER_APP"
  host/lib/usrp/x300/x300_mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: add gpio IO signature
  host/include/uhd/rfnoc/core/io_signatures.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: connect front-panel GPIO
  fpga/usrp3/top/x400/x4xx_core.v
  host/include/uhd/rfnoc/core/x410_bsp.yml
  host/include/uhd/rfnoc/core/x440_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: add connections for front-panel GPIO
  host/examples/rfnoc-gain/icores/x310_rfnoc_image_core.yml
  host/examples/rfnoc-gain/icores/x410_XG_200_rfnoc_image_core.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: slightly relax timing after introducing mux
  fpga/usrp3/top/x300/timing.xdc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: add radio_state IO signature
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/core/io_signatures.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: add pps IO signature for all targets
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/n3xx_core.v
  fpga/usrp3/top/x300/bus_int.v
  host/include/uhd/rfnoc/core/e310_bsp.yml
  host/include/uhd/rfnoc/core/e320_bsp.yml
  host/include/uhd/rfnoc/core/n300_bsp.yml
  host/include/uhd/rfnoc/core/n310_bsp.yml
  host/include/uhd/rfnoc/core/n320_bsp.yml
  host/include/uhd/rfnoc/core/x300_bsp.yml
  host/include/uhd/rfnoc/core/x310_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: e31x/e320/n3xx: add "USER_APP" as GPIO source
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e31x_periphs.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/e320_periphs.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/n3xx_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Use wire type for fp_gpio_out/ddr in x300_core
  fpga/usrp3/top/x300/x300.v
  fpga/usrp3/top/x300/x300_core.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: e310/e320/n3xx: implement User mux for GPIO
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e320/e320_core.v
  fpga/usrp3/top/n3xx/n3xx_core.v
  host/include/uhd/rfnoc/core/e310_bsp.yml
  host/include/uhd/rfnoc/core/e320_bsp.yml
  host/include/uhd/rfnoc/core/n300_bsp.yml
  host/include/uhd/rfnoc/core/n310_bsp.yml
  host/include/uhd/rfnoc/core/n320_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: connect RFNoC image core to user logic
  fpga/usrp3/top/x300/bus_int.v
  host/include/uhd/rfnoc/core/x300_bsp.yml
  host/include/uhd/rfnoc/core/x310_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x4xx: remove unused JTAG engine from PS BD
  fpga/usrp3/top/x400/doc/X410/X410_FPGA.htm
  fpga/usrp3/top/x400/doc/X440/X440_FPGA.htm
  fpga/usrp3/top/x400/dts/x4xx-common.dtsi
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/common/regmap/common_regs.v
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x410_ps_rfdc_bd/x410_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/ip/x4xx_ps_rfdc_bd/x440_ps_rfdc_bd/x440_ps_rfdc_bd.tcl
  fpga/usrp3/top/x400/x4xx.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: correct log level documentation
  host/include/uhd/utils/log.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Flag lmx2572_impl::get_output_enabled() as override
  host/lib/usrp/common/lmx2572.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove or declare-unused constants
  host/lib/include/uhdlib/usrp/cores/complex_gain_3000.hpp
  host/lib/usrp/cores/complex_gain_3000.cpp
  host/lib/usrp/x400/x400_gpio_control.cpp
  host/tests/actions_test.cpp
  host/tests/complex_gain_3000_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_image_builder: fix connection check in case of invalid ports
  host/python/uhd/rfnoc_utils/connections.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fixed missing evaluation of cmake_args parameter for ninja builds
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-ninja.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add Ubuntu 25.10 builder, drop Ubuntu 25.04 builder
  .ci/docker/uhd-builder-ubuntu2510.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: debs: support Ubuntu 25.10 (questing) installer creation
  tools/debs/uhd_ubuntu_deb.py
Due: none

uhd: Remove all usage of boost::array
  host/lib/usrp/dboard/db_tvrx.cpp
  host/lib/usrp/dboard/db_tvrx2.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Allow asynchronous action handling
  host/include/uhd/rfnoc/node.hpp
  host/include/uhd/rfnoc/node_accessor.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/rfnoc/graph.cpp
  host/lib/rfnoc/node.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Make post_action() calls in RFNoC rx streamer async
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Make post_action() calls asynchronous
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: ddc/duc: Make post_action() calls asynchronous
  host/lib/rfnoc/ddc_block_control.cpp
  host/lib/rfnoc/duc_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

sim: bringup usrp simulator
  host/lib/device.cpp
  mpm/python/usrp_mpm/periph_manager/sim.py
  mpm/python/usrp_mpm/simulator/noc_block_regs.py
  mpm/python/usrp_mpm/simulator/sim_dboard.py
  mpm/python/usrp_mpm/simulator/stream_ep_regs.py
  mpm/python/usrp_mpm/sys_utils/net.py
  mpm/python/usrp_mpm/sys_utils/uio.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: pin Doxygen to version 1.9.8 for install on Windows
  .ci/docker/uhd-builder-vs2019-v142-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2019-v142-x64-py312.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py310.Dockerfile
  .ci/docker/uhd-builder-vs2022-v143-x64-py312.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

ci: Add script to extract variables from cmake sources
  .ci/utils/extract_cmake_var.py
  .ci/utils/tests/get_var_from_cmake.bat
  .ci/utils/tests/get_var_from_cmake.sh
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add script to extract UHD version from cmake source
  .ci/utils/extract_uhdversion_from_uhdversion-cmake.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: installer: Replace hard coded targetFolder values with variables
  .ci/templates/steps-build-uhd-installer-msbuild-nsis.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Integrate SBOM generation for installer packages
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fixup: Integrate SBOM generation for installer packages
  .ci/templates/job-uhd-build-installer.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Surround all open calls with with-statement
  mpm/python/usrp_mpm/dboard_manager/neon.py
  mpm/python/usrp_mpm/sys_utils/dtoverlay.py
  mpm/python/usrp_mpm/sys_utils/uio.py
  mpm/python/usrp_mpm/test_bfrfs.py
  mpm/python/usrp_mpm/user_eeprom.py
  mpm/python/usrp_update_fs
  mpm/tools/program_x4xx_clkaux_lmk05318.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Include gps_iface.hpp in uhd features
  host/include/uhd/features/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove boost:: from chdr_packet and update docs
  host/include/uhd/utils/chdr/chdr_packet.hpp
  host/include/uhd/utils/chdr/chdr_packet.ipp
  host/lib/utils/chdr/chdr_packet.cpp
  host/lib/utils/utils_python.hpp
  host/tests/common/chdr_resource/hardcoded_packets.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Remove boost::optional from CHDR types
  host/include/uhd/rfnoc/actions.hpp
  host/include/uhd/rfnoc/chdr_types.hpp
  host/include/uhd/rfnoc/mock_block.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/lib/include/uhdlib/rfnoc/chdr_packet_writer.hpp
  host/lib/include/uhdlib/rfnoc/chdr_rx_data_xport.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/rfnoc/actions.cpp
  host/lib/rfnoc/chdr_packet_writer.cpp
  host/lib/rfnoc/chdr_types.cpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/register_iface_holder.cpp
  host/lib/utils/chdr/chdr_packet.cpp
  host/tests/rfnoc_chdr_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: endianness: Replace Boost macros with CMake
  host/include/uhd/types/CMakeLists.txt
  host/include/uhd/types/endianness.hpp.in
  host/tests/byteswap_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
