Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

fpga: sim: Allow DATA_WIDTH that's not a multiple of 8
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: none

fpga: rfnoc: fft: Use DEFAULT on reset in axis_cp_list
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/axis_cp_list.sv
Due: none

fpga: sim: Add get methods for stall probability
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
Due: none

mpm: x400: prevent LMK sync raise conditions
  mpm/python/usrp_mpm/chips/lmk04832.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: apply linting on lmk04832.py
  mpm/python/usrp_mpm/chips/lmk04832.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: x400: avoid false PPS rising edge on switching sources
  fpga/usrp3/top/x400/x4xx_pps_sync.v
Due: none

fpga: rfnoc: fft: Support multiple samples per cycle
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/cp_removal.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_core.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_core_regs_pkg.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_pipeline.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_pipeline_wrapper.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/fft_post_processing.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/noc_shell_fft.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft_tb.sv
Due: none

examples: Add 400 MHz FFT to fft_loopback
  host/examples/python/fft_loopback.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add new FPGA parameters to fft.yml
  host/include/uhd/rfnoc/blocks/fft.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add FFT parameters to on-target test
  host/tests/rfnoc_block_tests_on_target/x410_fft_block_test.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: fft: Add support for multiple items per clock
  host/include/uhd/rfnoc/fft_block_control.hpp
  host/lib/rfnoc/fft_block_control.cpp
  host/lib/rfnoc/fft_block_control_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Start benchmark_rate threads at the same time
  host/examples/benchmark_rate.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Reference hwtools repo in UHD pipeline
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Automatically run rfnoc_modtool tests
  .ci/templates/fpga_setup_steps.yml
  .ci/templates/job-rfnoc_modtool-test-sw.yml
  .ci/templates/job-rfnoc_modtool-test-testbenches.yml
  .ci/templates/stages-uhd-pipeline.yml
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Remove vivado_lab support
  fpga/usrp3/tools/scripts/launch_vivado.py
  fpga/usrp3/tools/scripts/launch_vivado.sh
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: none

tests: Add test_modtool script
  host/tests/test_modtool.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc-gain: Fix whitespace in CMakeLists.txt
  host/examples/rfnoc-gain/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Factor out num_ports identification
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/connections.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Replace uhd::math::gcd,lcm with std::gcd,lcm
  CHANGELOG
  host/include/uhd/utils/math.hpp
  host/lib/include/uhdlib/usrp/common/adf535x.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/replay_block_control.cpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer_replay_buffered.cpp
  host/lib/usrp/b100/clock_ctrl.cpp
  host/lib/usrp/b200/b200_io_impl.cpp
  host/tests/math_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Skip most tests on image builder changes
  tools/changeset_testlist.yaml
Due: none

image builder: grc import: Improve clock connection identification
  host/python/uhd/rfnoc_utils/grc.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Use /dev/zero for disk rate check
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: pytest: allow dut_type to be all lowercase
  host/tests/pytests/conftest.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: use X310 jtag serial from environment variable
  .ci/templates/job-uhd-streaming-tests-beauty.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fix X310 bitfile loading in streaming tests
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: utils: Fixed python script paths under utils for windows
  host/lib/utils/paths.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Refactor viv_ip_xci_editor.py
  fpga/usrp3/tools/scripts/viv_ip_xci_editor.py
Due: none

fpga: rfnoc: radio: Improve underflow handling
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_tx_core.v
Due: none

rfnoc: Fix missing override warning
  host/lib/rfnoc/rfnoc_graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: remove schedule from PR pipeline
  fpga/.ci/fpga-pipeline-pr.yml
Due: none

mpm: Add helper method to register chained signals
  mpm/python/usrp_mpm/mpmutils.py
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Set names for all MPM processes
  mpm/python/usrp_mpm/discovery.py
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Add timeout parameter for event_wait
  mpm/python/usrp_mpm/sys_utils/gpio.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: Fix linter issue
  mpm/python/usrp_mpm/discovery.py
  mpm/python/usrp_mpm/mpmutils.py
  mpm/python/usrp_mpm/periph_manager/x4xx_dio_control.py
  mpm/python/usrp_mpm/rpc_server.py
  mpm/python/usrp_mpm/sys_utils/gpio.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: lib: Update simple_spi_core documentation
  fpga/usrp3/lib/control/simple_spi_core.v
Due: none

fpga: rfnoc: radio: move arithmetic away from timestamp for timing
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_tx_core.v
Due: none

host: include cstdint before boost/lockfree/queue.hpp
  host/cmake/Modules/UHDAtomics.cmake
  host/lib/include/uhdlib/rfnoc/tx_async_msg_queue.hpp
  host/lib/transport/offload_io_service.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: cmake: Declare minimum CMake as 3.12
  mpm/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: lib: remove reset on non-control signals of ctrlport modules
  fpga/usrp3/lib/rfnoc/utils/ctrlport_combiner.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_decoder.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_decoder_param.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_gate.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_resp_combine.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_splitter.v
Due: none

fpga: rfnoc: Fix info FIFO overflow
  fpga/usrp3/lib/rfnoc/core/axis_data_to_chdr.v
Due: none

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
