Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

image builder: Improve missing-connection logging
  host/python/uhd/imgbuilder/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Provide default for -K
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/templates/keyfile.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve error checking during build
  host/python/uhd/imgbuilder/builder_config.py
  host/python/uhd/imgbuilder/image_builder.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve logging
  host/python/uhd/imgbuilder/builder_config.py
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/yaml_utils.py
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Add ability to run checks on BSP level
  host/python/uhd/imgbuilder/builder_config.py
  host/python/uhd/imgbuilder/yaml_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Improve several block YAMLs
  host/include/uhd/rfnoc/blocks/license_check.yml
  host/include/uhd/rfnoc/blocks/radio.yml
  host/include/uhd/rfnoc/modules/device_dna.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: centralizing common setup steps and add nuget clean task
  fpga/.ci/templates/job-build-fpga.yml
  fpga/.ci/templates/job-build-ip.yml
  fpga/.ci/templates/job-run-testbenches.yml
  fpga/.ci/templates/setup_steps.yml
Due: none

images: update x440 FPGA image
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Don't do timed commands for X410 in tx_waveform examples
  host/examples/python/tx_waveforms.py
  host/examples/tx_waveforms.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Allow missing connections
  fpga/usrp3/top/x300/yaml_include/x3xx_radio_base.yml
  host/python/uhd/imgbuilder/builder_config.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Fix warnings from building N3xx AA images
  fpga/usrp3/top/n3xx/n300_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_rfnoc_image_core.yml
Due: none

examples: Move setup time in tx_waveforms after tuning
  host/examples/tx_waveforms.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Update description of partitions
  host/docs/usrp_e3xx.dox
  host/docs/usrp_n3xx.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

4.7.0.0 Release
  CHANGELOG
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Corrected errors in release CHANGELOGs for UHD 4.7.0.0
  CHANGELOG
  host/cmake/debian/changelog
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Improve colors
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

image builder: Fix linter and formatting
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

coding guidelines: use reference-style link brackets for ni-python
  CODING.md
Due: none

Fix binary file reading in bin_to_coe.py
  firmware/usrp3/utils/bin_to_coe.py
Due: none

images: Update create_imgs_package.py
  images/create_imgs_package.py
Due: none

tests: Modify include order in isatty_test
  host/tests/isatty_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc-example: Modify default build paths
  host/examples/rfnoc-example/CMakeLists.txt
  host/examples/rfnoc-example/icores/x310_rfnoc_image_core.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: added Fedora 40 builder
  .ci/docker/uhd-builder-fedora40.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: removed Fedora 37 builder
  .ci/docker/uhd-builder-fedora37.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: fix typo in default frequency range
  host/utils/uhd_cal_rx_iq_balance.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

include: Apply include-what-you-need on include files
  host/include/uhd/cal/database.hpp
  host/include/uhd/cal/dsa_cal.hpp
  host/include/uhd/cal/iq_cal.hpp
  host/include/uhd/cal/pwr_cal.hpp
  host/include/uhd/convert.hpp
  host/include/uhd/device.hpp
  host/include/uhd/exception.hpp
  host/include/uhd/experts/expert_factory.hpp
  host/include/uhd/extension/extension.hpp
  host/include/uhd/property_tree.hpp
  host/include/uhd/rfnoc/actions.hpp
  host/include/uhd/rfnoc/mb_controller.hpp
  host/include/uhd/rfnoc/register_iface.hpp
  host/include/uhd/stream.hpp
  host/include/uhd/transport/buffer_pool.hpp
  host/include/uhd/transport/udp_simple.hpp
  host/include/uhd/types/byte_vector.hpp
  host/include/uhd/types/device_addr.hpp
  host/include/uhd/types/dict.hpp
  host/include/uhd/types/filters.hpp
  host/include/uhd/types/serial.hpp
  host/include/uhd/usrp/dboard_iface.hpp
  host/include/uhd/utils/chdr/chdr_packet.hpp
  host/include/uhd/utils/gain_group.hpp
  host/include/uhd/utils/math.hpp
  host/include/uhd/utils/scope_exit.hpp
  host/lib/include/uhdlib/usrp/common/max287x.hpp
  host/lib/include/uhdlib/utils/interpolation.hpp
  host/lib/rfnoc/mb_controller.cpp
  host/lib/transport/libusb1_base.hpp
  host/lib/types/device_addr.cpp
  host/lib/usrp/b100/usb_zero_copy_wrapper.cpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/cores/gpio_core_200.cpp
  host/lib/usrp/cores/rx_dsp_core_200.cpp
  host/lib/usrp/cores/rx_dsp_core_3000.cpp
  host/lib/usrp/cores/tx_dsp_core_200.cpp
  host/lib/usrp/cores/tx_dsp_core_3000.cpp
  host/lib/usrp/dboard/twinrx/twinrx_experts.cpp
  host/lib/usrp/x300/x300_mb_eeprom.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: imgbuilder: Trigger fpga pipelines on rfnoc_image_builder changes
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
Due: none

fixup! image builder: Improve colors
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: remove color coding from FPGA bitfile name
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none

image builder: Disable colors for non-TTYs by default
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Edit in DSP tuning section
  host/docs/general.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

devtest: fix python formatting for tests
  host/tests/devtest/benchmark_rate_test.py
  host/tests/devtest/bitbang_test.py
  host/tests/devtest/devtest_b2xx.py
  host/tests/devtest/devtest_e320.py
  host/tests/devtest/devtest_e3xx.py
  host/tests/devtest/devtest_n3x0.py
  host/tests/devtest/devtest_x3x0.py
  host/tests/devtest/devtest_x410.py
  host/tests/devtest/devtest_x440.py
  host/tests/devtest/gpio_test.py
  host/tests/devtest/list_sensors_test.py
  host/tests/devtest/multi_usrp_test.py
  host/tests/devtest/python_api_test.py
  host/tests/devtest/python_rx_stability_test.py
  host/tests/devtest/recv_stability_test.py
  host/tests/devtest/rx_multi_spc_timed_commands_test.py
  host/tests/devtest/rx_samples_to_file_test.py
  host/tests/devtest/test_messages_test.py
  host/tests/devtest/test_pps_test.py
  host/tests/devtest/tx_bursts_test.py
  host/tests/devtest/tx_multi_spc_timed_commands_test.py
  host/tests/devtest/tx_waveforms_test.py
  host/tests/devtest/usrp_probe_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: fix python formatting for device patterns
  host/tests/devtest/devtest_b2xx.py
  host/tests/devtest/devtest_e320.py
  host/tests/devtest/devtest_e3xx.py
  host/tests/devtest/devtest_n3x0.py
  host/tests/devtest/devtest_x3x0.py
  host/tests/devtest/devtest_x410.py
  host/tests/devtest/devtest_x440.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Convert convert_changelog.py to Python3
  tools/debs/convert_changelog.py
Due: none

docs: Update FPGA build instructions regarding image builder
  fpga/docs/usrp3/build_instructions.md
  host/docs/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Updated manual with some info for the lattice CPLD since this is the version we ship currently
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

adding notes to updater argument after and adressing feedback
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

image builder: Apply Python autoformatting
  host/python/uhd/imgbuilder/__init__.py
  host/python/uhd/imgbuilder/builder_config.py
  host/python/uhd/imgbuilder/grc.py
  host/python/uhd/imgbuilder/image_builder.py
  host/python/uhd/imgbuilder/utils.py
  host/python/uhd/imgbuilder/yaml_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e320: Ensure consistent sequencing when powering on/off GPSDO
  mpm/python/usrp_mpm/periph_manager/e320_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: ci: Remove unused parameters
  fpga/.ci/devices/job-build-e31x.yml
  fpga/.ci/devices/job-build-e320.yml
  fpga/.ci/devices/job-build-n3xx.yml
  fpga/.ci/devices/job-build-x300.yml
  fpga/.ci/devices/job-build-x400.yml
Due: none
