Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  jobs:
  - job: set_uhd_docker_image_version
    displayName: Set UHD Docker Image Version
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      skip_rule_checking: ${{ parameters.skip_rule_checking }}
      custom_boost_version: ${{ parameters.custom_boost_version }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      add_tests: ${{ parameters.add_tests }}
      remove_tests: ${{ parameters.remove_tests }}
      release_binaries: ${{ parameters.release_binaries }}
      testLength: ${{ parameters.testLength }}
  ...

uhd: Add to_str() utility function
  host/include/uhd/utils/cast.hpp
  host/tests/cast_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: generate patch out of clean repo check if needed
  .ci/fpga/templates/check_clean_repo_steps.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: N3xx/X3xx: Added non-RF tests along with existing RF tests
  .ci/templates/job-uhd-rf-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

multi-usrp set_master_clock_rate function sets the duc output/ddc input rates
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: redefine hwtools changes impact on testlist
  tools/changeset_testlist.yaml
Due: none

Remove runtime dispatch for converters and fix alignment for avx2 converters
  host/lib/convert/CMakeLists.txt
  host/lib/convert/avx2_fc32_to_sc16.cpp
  host/lib/convert/avx2_fc32_to_sc8.cpp
  host/lib/convert/avx2_fc64_to_sc16.cpp
  host/lib/convert/avx2_fc64_to_sc8.cpp
  host/lib/convert/avx2_sc16_to_fc32.cpp
  host/lib/convert/avx2_sc16_to_fc64.cpp
  host/lib/convert/avx2_sc16_to_sc16.cpp
  host/lib/convert/avx2_sc8_to_fc32.cpp
  host/lib/convert/convert_common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Optimize convert&scale by eliminating extra instructions for splitting data into 128 bit halves
  host/lib/convert/avx2_sc16_to_fc32.cpp
  host/lib/convert/avx2_sc16_to_fc64.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Delete convert_benchmark and add batch option to converter_benchmark.cpp
  host/examples/CMakeLists.txt
  host/examples/convert_benchmark.cpp
  host/utils/converter_benchmark.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Remove runtime dispatch for converter residues
  host/lib/convert/convert_common.hpp
  host/lib/convert/convert_impl.cpp
  host/lib/convert/simd_features.hpp
  host/lib/convert/sse2_fc32_to_sc16.cpp
  host/lib/convert/sse2_fc32_to_sc8.cpp
  host/lib/convert/sse2_fc64_to_sc16.cpp
  host/lib/convert/sse2_fc64_to_sc8.cpp
  host/lib/convert/sse2_sc16_to_fc32.cpp
  host/lib/convert/sse2_sc16_to_fc64.cpp
  host/lib/convert/sse2_sc16_to_sc16.cpp
  host/lib/convert/sse2_sc8_to_fc32.cpp
  host/lib/convert/sse2_sc8_to_fc64.cpp
  host/lib/convert/ssse3_pack_sc12.cpp
  host/lib/convert/ssse3_unpack_sc12.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Remove runtime dispatch related comments
  host/lib/convert/CMakeLists.txt
  host/lib/convert/convert_common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Remove redundant priority on convert test
  host/tests/convert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool create: Make new files read-writable
  host/python/uhd/rfnoc_utils/step_executor.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: skip output buffer flushing when wait_for_buffer_complete is False
  host/python/uhd/usrp/dram_utils.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: win: Restore ability to compile against pre-build Boost binaries
  host/CMakeLists.txt
  host/cmake/Modules/UHDBoost.cmake
  host/docs/installation/build.dox.in
  host/lib/CMakeLists.txt
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add support for USRP X420 (20 GHz USRP)
  mpm/lib/rfdc/rfdc_ctrl.cpp
  mpm/python/CMakeLists.txt
  mpm/python/usrp_mpm/chips/ic_reg_maps/CMakeLists.txt
  mpm/python/usrp_mpm/chips/lmx2572.py
  mpm/python/usrp_mpm/dboard_manager/CMakeLists.txt
  mpm/python/usrp_mpm/dboard_manager/__init__.py
  mpm/python/usrp_mpm/dboard_manager/dboard_iface.py
  mpm/python/usrp_mpm/dboard_manager/hbx.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_iface.py
  mpm/python/usrp_mpm/dboard_manager/x4xx_db_update_cpld.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_lookup.py
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_policy.py
  mpm/python/usrp_mpm/periph_manager/x4xx_mb_cpld.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_regs.py
  mpm/python/usrp_mpm/periph_manager/x4xx_update_cpld.py
  mpm/python/usrp_mpm/rpc_server.py
  mpm/python/x4xx_bist
  mpm/tools/tlv_eeprom/eeprom-pids.c
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add support for USRP X420 (20 GHz USRP)
  .ci/fpga/devices/job-build-fpga-x400.yml
  .ci/fpga/templates/job-build-fpga-all.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/job-uhd-x410-hardware-tests-s156.yml
  .ci/templates/tests/job-uhd-x420-hardware-tests-s156.yml
  .ci/templates/tests/job-uhd-x440-hardware-tests-s156.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
  .ci/uhd-hardware-test-dev.yml
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
  fpga/.ci/fpga-pipeline.yml
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: add list of NI-provided NoC blocks. Add FFT NoC block documentation.
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fft/rfnoc_block_fft.sv
  host/docs/07_rfnoc.dox
  host/docs/Doxyfile.in
  host/docs/DoxygenLayout.xml
  host/docs/res/rfnoc_fft_dsp.svg
  host/docs/res/rfnoc_fft_impl.svg
  host/docs/res/rfnoc_fft_pipelines.svg
  host/docs/res/rfnoc_fft_scs_ddc.svg
  host/docs/res/rfnoc_fft_scs_no_ddc.svg
  host/docs/res/rfnoc_fft_timestamp.svg
  host/docs/res/rfnoc_fft_xilinx.png
  host/docs/rfnoc/fpga_ip_blocks.dox
  host/docs/rfnoc/rfnoc_blocks.dox
  host/include/uhd/rfnoc/blocks/fft.yml
  host/include/uhd/rfnoc/fft_block_control.hpp
  host/include/uhd/rfnoc/moving_average_block_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Add missing include in chdr_tx_data_xport.hpp
  host/include/uhd/utils/cast.hpp
  host/lib/include/uhdlib/rfnoc/chdr_tx_data_xport.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Add subdev_spec_pair_t::to_string()
  host/include/uhd/usrp/subdev_spec.hpp
  host/lib/usrp/subdev_spec.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: cast: Amend to_str() functionality
  host/include/uhd/utils/cast.hpp
  host/tests/cast_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove usage of boost::lexical_cast
  host/examples/tx_samples_from_file.cpp
  host/include/uhd/types/device_addr.hpp
  host/include/uhd/types/dict.ipp
  host/include/uhd/utils/assert_has.ipp
  host/lib/include/uhdlib/usrp/constrained_device_args.hpp
  host/lib/rfnoc/block_id.cpp
  host/lib/types/device_addr.cpp
  host/lib/usrp/b200/b200_iface.cpp
  host/lib/usrp/b200/b200_image_loader.cpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/common/validate_subdev_spec.cpp
  host/lib/usrp/dboard/db_ubx.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/dboard_eeprom.cpp
  host/lib/usrp/dboard_id.cpp
  host/lib/usrp/usrp2/usrp2_iface.cpp
  host/lib/usrp/x300/x300_mboard_type.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/lib/utils/eeprom_utils.cpp
  host/utils/b2xx_fx3_utils.cpp
  host/utils/converter_benchmark.cpp
  host/utils/uhd_usrp_probe.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: cast: Add from_str() for more types
  host/include/uhd/utils/cast.hpp
  host/lib/utils/cast.cpp
  host/tests/cast_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: test: Add HBX radio block test
  host/tests/CMakeLists.txt
  host/tests/rfnoc_block_tests/hbx_radio_block_test.cpp
  host/tests/rfnoc_block_tests/hbx_radio_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_hbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: hbx: Fix cornercases of IQ DC compensation
  host/lib/include/uhdlib/usrp/common/apply_corrections.hpp
  host/lib/include/uhdlib/usrp/dboard/hbx/hbx_expert.hpp
  host/lib/usrp/common/apply_corrections.cpp
  host/lib/usrp/dboard/hbx/hbx_dboard.cpp
  host/lib/usrp/dboard/hbx/hbx_dboard_init.cpp
  host/lib/usrp/dboard/hbx/hbx_expert.cpp
  host/python/uhd/usrp/cal/iq_dc_compensation.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

convert: Add AVX2 converters
  host/lib/convert/avx2_fc32_to_sc16.cpp
  host/lib/convert/avx2_fc32_to_sc8.cpp
  host/lib/convert/avx2_fc64_to_sc16.cpp
  host/lib/convert/avx2_fc64_to_sc8.cpp
  host/lib/convert/avx2_sc16_to_fc32.cpp
  host/lib/convert/avx2_sc16_to_fc64.cpp
  host/lib/convert/avx2_sc16_to_sc16.cpp
  host/lib/convert/avx2_sc8_to_fc32.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: Update converter_benchmark
  host/utils/converter_benchmark.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Allow using ENABLE_AVX2 to enable AVX2 converters
  host/lib/convert/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: test: Fix Windows build of HBX block tests
  host/tests/rfnoc_block_tests/hbx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove ineffective chmod on file(GENERATE) output
  host/cmake/Modules/UHDUnitTest.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: xportmgr_udp: add support for forwarding using nftables
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: adopt sys_utils.gpio to gpiod version 2.0.2
  mpm/python/usrp_mpm/sys_utils/gpio.py
  mpm/python/usrp_mpm/sys_utils/gpio_v1_x.py
  mpm/python/usrp_mpm/sys_utils/gpio_v2_x.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: adopt sys_utils.net to pyroute2 version 0.7.0
  mpm/python/usrp_mpm/sys_utils/net.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: rfdc: applied patch to fix C++ compilation issue
  mpm/include/mpm/rfdc/xrfdc.h
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: include missing header in mykonos lib
  mpm/lib/mykonos/ad937x_device_types.hpp
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: sysfs_gpio: return error early if GPIO was not created
  mpm/python/usrp_mpm/sys_utils/sysfs_gpio.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_image_builder: Fix generic module support
  host/include/uhd/rfnoc/core/rfnoc_imagebuilder_args.json
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/templates/modules/module.v.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Remove obsolete files
  host/cmake/debian/postinst.in
  host/cmake/debian/postrm.in
  host/cmake/debian/preinst.in
  host/cmake/debian/prerm.in
  host/docs/CMakeLists.txt
  host/docs/manpages/usrp_n2xx_simple_net_burner.1
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debian: Integrate patches from debian gnuradio packages
  host/cmake/debian/patches/debian-images-installation-path
  host/cmake/debian/patches/debian-mathjax-relpath
  host/cmake/debian/patches/doxygen-pdf
  host/cmake/debian/patches/series
  host/cmake/debian/patches/update-to-doxyfile-1.9.8
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
