Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

examples: rfnoc-gain: Add CE clock to gain block
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/noc_shell_gain.v
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/rfnoc_block_gain.v
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/rfnoc_block_gain_tb.sv
  host/examples/rfnoc-gain/icores/x310_rfnoc_image_core.yml
  host/examples/rfnoc-gain/icores/x410_XG_200_rfnoc_image_core.yml
  host/examples/rfnoc-gain/rfnoc/blocks/gain.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: add octoclock python api
  host/lib/usrp_clock/multi_usrp_clock_python.cpp
  host/lib/usrp_clock/multi_usrp_clock_python.hpp
  host/python/CMakeLists.txt
  host/python/pyuhd.cpp
  host/python/uhd/__init__.py.in
  host/python/uhd/usrp_clock/__init__.py
  host/python/uhd/usrp_clock/multi_usrp_clock.py
  host/tests/devtest/multi_usrp_clock_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: update the rhombus n310
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Put dependencies first in Makefile SRCS list
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x400/Makefile.x4xx.inc
Due: none

image builder: Put dependencies first in Makefile SRCS list
  host/python/uhd/rfnoc_utils/templates/Makefile.inc.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Align max payload size between radio and streamer
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Test: Add a parameter to align data in TX streamer
  host/examples/benchmark_rate.cpp
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: streamers: Fix AIS/spp calculation
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: modtool: Fix generation of NoC shells
  host/python/uhd/rfnoc_utils/templates/blocktool/modules/axis_data_wires_template.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Remove build-usrp dirs when cleaning builds
  fpga/usrp3/top/x300/Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

fpga: x400: Make DTS output match bitstream name
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/x400/Makefile
Due: none

fpga: ci: Fix target_name for X3xx and X4xx
  fpga/.ci/devices/job-build-x300.yml
  fpga/.ci/devices/job-build-x400.yml
  fpga/.ci/fpga-pipeline-pr.yml
Due: none

fpga: x400: use parameter for RFDC info in RF core full
  fpga/usrp3/top/x400/rf/full/rf_core_full.sv
Due: none

doc: use mender show-artifact to query Mender artifact name
  host/docs/usrp_e3xx.dox
  host/docs/usrp_n3xx.dox
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: fpga: Adapted changeset analyzer rules to folder name change
  fpga/.ci/fpga-pipeline-pr.yml
  fpga/.ci/fpga-pipeline.yml
  fpga/.ci/templates/changeset_build_list.yaml
Due: none

cmake: mpm: correct libpyusrp_periphs install path
  mpm/python/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: e31x/e320/n3xx/x400: Rework device tree file generation
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e31x/dts/E310_SG1.dts
  fpga/usrp3/top/e31x/dts/E310_SG1_IDLE.dts
  fpga/usrp3/top/e31x/dts/E310_SG3.dts
  fpga/usrp3/top/e31x/dts/E310_SG3_IDLE.dts
  fpga/usrp3/top/e320/Makefile
  fpga/usrp3/top/e320/dts/E320_1G.dts
  fpga/usrp3/top/e320/dts/E320_AA.dts
  fpga/usrp3/top/e320/dts/E320_XG.dts
  fpga/usrp3/top/n3xx/Makefile
  fpga/usrp3/top/n3xx/dts/N300_AA.dts
  fpga/usrp3/top/n3xx/dts/N300_HA.dts
  fpga/usrp3/top/n3xx/dts/N300_HG.dts
  fpga/usrp3/top/n3xx/dts/N300_WX.dts
  fpga/usrp3/top/n3xx/dts/N300_XA.dts
  fpga/usrp3/top/n3xx/dts/N300_XG.dts
  fpga/usrp3/top/n3xx/dts/N310_AA.dts
  fpga/usrp3/top/n3xx/dts/N310_HA.dts
  fpga/usrp3/top/n3xx/dts/N310_HG.dts
  fpga/usrp3/top/n3xx/dts/N310_WX.dts
  fpga/usrp3/top/n3xx/dts/N310_XA.dts
  fpga/usrp3/top/n3xx/dts/N310_XG.dts
  fpga/usrp3/top/n3xx/dts/N320_AA.dts
  fpga/usrp3/top/n3xx/dts/N320_AQ.dts
  fpga/usrp3/top/n3xx/dts/N320_HG.dts
  fpga/usrp3/top/n3xx/dts/N320_WX.dts
  fpga/usrp3/top/n3xx/dts/N320_XG.dts
  fpga/usrp3/top/n3xx/dts/N320_XQ.dts
  fpga/usrp3/top/x400/Makefile
Due: none

Fix instances of sim preamble
  fpga/docs/usrp3/sim/writing_sim_makefile.md
  fpga/usrp3/export/x300/radio/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_keep_one_in_n/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_license_check/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_logpwr/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_moving_avg/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rx_frontend_gen3_tb/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_split_stream/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_switchboard/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_vector_iir/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_window/Makefile
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/eth_ipv4_interface_tb/Makefile
  fpga/usrp3/lib/sim/control/gearbox_2x1/Makefile
  fpga/usrp3/lib/sim/io_cap_gen/cat_io_lvds_dual_mode_tb/Makefile
  fpga/usrp3/lib/sim/packet_proc/chdr_dechunker/Makefile
  fpga/usrp3/top/e31x/sim/dram_test/Makefile
  fpga/usrp3/top/e31x/sim/e310_io_tb/Makefile
  fpga/usrp3/top/n3xx/sim/arm_to_sfp_loopback/Makefile
  fpga/usrp3/top/n3xx/sim/aurora_loopback/Makefile
  fpga/usrp3/top/n3xx/sim/dram_fifo/Makefile
  fpga/usrp3/top/n3xx/sim/dram_fifo_bist/Makefile
  fpga/usrp3/top/n3xx/sim/one_gig_eth_loopback/Makefile
  fpga/usrp3/top/n3xx/sim/ten_gig_eth_loopback/Makefile
  fpga/usrp3/top/x300/sim/aurora_loopback/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo_bist/Makefile
  fpga/usrp3/top/x300/sim/x300_pcie_int/Makefile
  fpga/usrp3/top/x400/dboards/fbx/sim/clock_en_control/Makefile
  fpga/usrp3/top/x400/dboards/fbx/sim/i2c_sync_ctrl/Makefile
  fpga/usrp3/top/x400/rf/sim/Makefile
  host/examples/rfnoc-gain/fpga/gain/rfnoc_block_gain/Makefile
  host/python/uhd/rfnoc_utils/templates/blocktool/Makefile.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: apply python styleguide on x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: adding debug access to the RFDC registers
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: tools: add diamond build sanity checks
  fpga/usrp3/tools/make/diamond_design_builder.mak
Due: none

docs: Fix typo in pybind11 link
  host/docs/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

examples: rfnoc-gain: Make use of modules.d
  host/examples/rfnoc-gain/CMakeLists.txt
  host/examples/rfnoc-gain/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Add module.d support
  host/lib/include/uhdlib/utils/paths.hpp
  host/lib/utils/load_modules.cpp
  host/lib/utils/paths.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

utils: added DPDK version to uhd_config_info
  host/include/uhd/build_info.hpp
  host/lib/build_info.cpp
  host/utils/uhd_config_info.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: find DPDK using pkg-config
  host/cmake/Modules/FindDPDK.cmake
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: Fix compatibility with DPDK version >= 22.11
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: enable setting custom DPDK directory
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-x440.yml
  .ci/templates/job-uhd-streaming-tests.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: fix usage of rx_samples_to_file with use_dpdk=1
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

dpdk: set DPDK compile and linker flags at libuhd toplevel
  host/lib/CMakeLists.txt
  host/lib/transport/CMakeLists.txt
  host/lib/transport/uhd-dpdk/CMakeLists.txt
  host/lib/usrp/mpmd/CMakeLists.txt
  host/lib/usrp/x300/CMakeLists.txt
  host/lib/usrp/x400/CMakeLists.txt
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add windows x64 VS2022 docker file to build docker pipeline
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add docker file for VS 2022 on windows 64
  .ci/docker/uhd-builder-vs2022-v143-x64.Dockerfile
  .ci/docker/vcpkg/vcpkg-vs2022.json
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

image builder: Coerce exit code to valid range
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Specify Vivado path for FPGA build
  fpga/.ci/templates/job-build-fpga.yml
Due: none

image builder: Add --image-core-name option
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Add parallel FPGA build support
  fpga/usrp3/tools/utils/repeat_fpga_build.py
Due: none

fpga: tools: Add do file for ModelSim
  fpga/usrp3/tools/scripts/launch_modelsim.sh
  fpga/usrp3/tools/scripts/modelsim.do
Due: none

python: Add bindings for (timed_)wb_iface and get_user_settings_iface()
  host/lib/types/types_python.hpp
  host/lib/usrp/multi_usrp_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Read Github labels in changeset analyzer
  .ci/templates/job-analyze-changeset.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci/tools: Update changeset analyzer tool
  .ci/templates/job-analyze-changeset.yml
  tools/changeset_testlist.py
  tools/changeset_testlist.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
