Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

rh: Fix auto DC-offset correction and auto-IQ balance APIs
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix set_sync_source() call
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: remove duplicate entry in LIBUHD_PYTHON_GEN_SOURCE
  host/lib/ic_reg_maps/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Add recv(0) case to rx_streamer_test
  host/tests/rx_streamer_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Set default part for sim in setupenv.sh
  fpga/usrp3/tools/make/viv_sim_preamble.mak
  fpga/usrp3/top/e31x/setupenv.sh
  fpga/usrp3/top/e320/setupenv.sh
  fpga/usrp3/top/n3xx/setupenv.sh
  fpga/usrp3/top/x300/setupenv.sh
Due: none

fpga: Remove stale references to UHD_FPGA_DIR
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_addsub/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_ddc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_duc/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_logpwr/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_vector_iir/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_window/Makefile
Due: none

examples: Show how to use in-tree Verilog header
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain.v
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ad9361: Add comment re overclocking
  host/lib/usrp/common/ad9361_driver/ad9361_device.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

libusb: Remove unused context variable
  host/lib/transport/libusb1_zero_copy.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fixes to allow multithreaded calls
  fpga/usrp3/sim/rfnoc/PkgAxiLiteBfm.sv
Due: none

python: multi_usrp: Fix issues in send_waveform()
  host/examples/python/tx_waveforms.py
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: Clarify data type in multi_usrp_test::send_waveform()
  host/tests/devtest/multi_usrp_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Fix issues with recv_num_samps()
  host/python/uhd/usrp/multi_usrp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

X300: Fix error message for wrong reference frequency
  host/lib/usrp/x300/x300_clock_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: sync: Update page on synchronization
  host/docs/sync.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

x300: Remove unused variables in x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

B200: Fix overflow handling
  host/lib/usrp/b200/b200_io_impl.cpp
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Fix issues with static builds and CMRC
  host/lib/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

bug: fix channel indexing when reading USRP power
  host/examples/python/usrp_power_meter.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: rfdc: Tear down RFDC on teardown
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: mgmt_portal: Remove two unused variables
  host/lib/rfnoc/mgmt_portal.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

conversion: Saturate transmit IQ levels on NEON architectures.
  host/lib/convert/convert_with_neon.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix handling of rfic_digital_loopback argument
  mpm/python/usrp_mpm/dboard_manager/mg_init.py
Due: .ci/oe-x4xx-packages.yml

cmake: use LooseVersion to ensure correct version comparisons
  host/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

spelling
  host/lib/rfnoc/blockdef_xml_impl.cpp
  host/lib/usrp/dboard/twinrx/twinrx_experts.cpp
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/utils/ihex.cpp
  host/utils/b2xx_fx3_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

spelling
  host/lib/usrp/dboard/twinrx/twinrx_experts.cpp
  host/lib/utils/ihex.cpp
  host/utils/b2xx_fx3_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

responder format
  host/utils/latency/lib/Responder.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

use reference type to prevent copying
  host/lib/rfnoc/async_msg_handler.cpp
  host/lib/rfnoc/sink_block_ctrl_base.cpp
  host/lib/rfnoc/source_block_ctrl_base.cpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/dboard/db_tvrx.cpp
  host/lib/usrp/n230/n230_impl.cpp
  host/lib/usrp/x300/x300_radio_ctrl_impl.cpp
  host/tests/blockdef_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

remove spurious template from property destructor
  host/include/uhd/property_tree.hpp
  host/include/uhd/property_tree.ipp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: math: Replace wrap-frequency math with a single function
  host/include/uhd/utils/math.hpp
  host/lib/usrp/cores/dsp_core_utils.cpp
  host/lib/usrp/usrp1/codec_ctrl.cpp
  host/lib/usrp/usrp1/io_impl.cpp
  host/tests/math_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lib: Remove all remaining usage of boost::numeric::bounds<>
  host/lib/usrp/cores/dsp_core_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: math: Add a sign() function
  host/include/uhd/utils/math.hpp
  host/tests/math_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Replace Boost mutexes and locks with standard options
  host/examples/network_relay.cpp
  host/include/uhd/transport/bounded_buffer.ipp
  host/include/uhd/transport/nirio/nirio_fifo.h
  host/include/uhd/transport/nirio/nirio_fifo.ipp
  host/include/uhd/transport/nirio/niusrprio_session.h
  host/include/uhd/transport/nirio/rpc/rpc_client.hpp
  host/include/uhd/utils/soft_register.hpp
  host/lib/device.cpp
  host/lib/error_c.cpp
  host/lib/experts/expert_container.cpp
  host/lib/include/uhdlib/experts/expert_container.hpp
  host/lib/include/uhdlib/experts/expert_nodes.hpp
  host/lib/include/uhdlib/usrp/common/recv_packet_demuxer_3000.hpp
  host/lib/property_tree.cpp
  host/lib/transport/libusb1_base.cpp
  host/lib/transport/libusb1_control.cpp
  host/lib/transport/libusb1_zero_copy.cpp
  host/lib/transport/muxed_zero_copy_if.cpp
  host/lib/transport/nirio/niusrprio_session.cpp
  host/lib/transport/nirio/rpc/rpc_client.cpp
  host/lib/transport/nirio_link.cpp
  host/lib/usrp/b100/usb_zero_copy_wrapper.cpp
  host/lib/usrp/b200/b200_radio_ctrl_core.cpp
  host/lib/usrp/common/recv_packet_demuxer.cpp
  host/lib/usrp/cores/i2c_core_200.cpp
  host/lib/usrp/cores/user_settings_core_3000.cpp
  host/lib/usrp/dboard/db_ubx.cpp
  host/lib/usrp/dboard/twinrx/twinrx_ctrl.cpp
  host/lib/usrp/dboard/twinrx/twinrx_io.hpp
  host/lib/usrp/gps_ctrl.cpp
  host/lib/usrp/usrp1/soft_time_ctrl.cpp
  host/lib/usrp/usrp2/io_impl.cpp
  host/lib/usrp/usrp2/usrp2_fifo_ctrl.cpp
  host/lib/usrp/usrp2/usrp2_iface.cpp
  host/lib/usrp/usrp_c.cpp
  host/lib/usrp/x300/x300_fw_ctrl.cpp
  host/lib/usrp/x300/x300_fw_uart.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.hpp
  host/lib/usrp_clock/usrp_clock_c.cpp
  host/lib/utils/tasks.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update image packager script for Python 3
  images/create_imgs_package.py
Due: none

docs: Fix GPIO documentation example
  host/docs/gpio_api.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Clarify set/get_gpio_attr() and GPIO banks
  host/include/uhd/usrp/multi_usrp.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tests: Use reference type to prevent copy
  host/tests/blockdef_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove spurious template from property dtor
  host/include/uhd/property_tree.hpp
  host/include/uhd/property_tree.ipp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
