Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make_trace
  ...

python: Fix dropped-sample calculation in benchmark_rate.py
  host/examples/python/benchmark_rate.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: Add receive stability test
  host/tests/devtest/recv_stability_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Fix handling of rfic_digital_loopback argument
  mpm/python/usrp_mpm/dboard_manager/mg_init.py
Due: .ci/oe-x4xx-packages.yml

ad9361: Add comment re overclocking
  host/lib/usrp/common/ad9361_driver/ad9361_device.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Clarify set/get_gpio_attr() and GPIO banks
  host/include/uhd/usrp/multi_usrp.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

responder: Fix printw function arguments
  host/utils/latency/lib/Responder.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Test all variants in gain testbench
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/Makefile
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain_all_tb.sv
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain_tb.sv
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Clean up axi_mux
  fpga/usrp3/lib/fifo/axi_mux.v
Due: none

uhd: Remove spurious template from property dtor
  host/include/uhd/property_tree.hpp
  host/include/uhd/property_tree.ipp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add CHDR management util functions
  fpga/usrp3/lib/rfnoc/core/rfnoc_chdr_internal_utils.vh
Due: none

examples: Make IQ order clear in gain RFNoC block
  host/examples/rfnoc-example/fpga/rfnoc_block_gain/rfnoc_block_gain.v
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add labels to chdr_mgmt_pkt_handler
  fpga/usrp3/lib/rfnoc/core/chdr_mgmt_pkt_handler.v
Due: none

fixup! mpm: x4xx: add DIO GPIO API configuration methods
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

host: x4xx: Implement GPIO API
  host/lib/usrp/x400/CMakeLists.txt
  host/lib/usrp/x400/x400_gpio_control.cpp
  host/lib/usrp/x400/x400_gpio_control.hpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.hpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: python: Return mb_controller with reference_internal
  host/lib/usrp/multi_usrp_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix spelling errors
  host/lib/usrp/dboard/twinrx/twinrx_experts.cpp
  host/lib/utils/ihex.cpp
  host/utils/b2xx_fx3_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: gpio: Create gpio_atr_offsets to store GPIO registers
  host/lib/include/uhdlib/usrp/cores/gpio_atr_3000.hpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/cores/gpio_atr_3000.cpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_init.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control_init.cpp
  host/lib/usrp/dboard/rhodium/rhodium_radio_control_init.cpp
  host/lib/usrp/x300/x300_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

debs: Update upload_debs script
  tools/debs/upload_debs.sh
Due: none

fpga: rfnoc: Add RFNoC CHDR resize module
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/Makefile
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/chdr_resize_all_tb.sv
  fpga/usrp3/lib/rfnoc/sim/chdr_resize_tb/chdr_resize_tb.sv
  fpga/usrp3/lib/rfnoc/utils/Makefile.srcs
  fpga/usrp3/lib/rfnoc/utils/chdr_convert_down.v
  fpga/usrp3/lib/rfnoc/utils/chdr_convert_up.v
  fpga/usrp3/lib/rfnoc/utils/chdr_resize.v
Due: none

example: gpio: Separate bank and port arguments
  host/examples/gpio.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

siggen: Fix direction of rotation
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/rfnoc_block_siggen_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/rfnoc_block_siggen_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_siggen/rfnoc_block_siggen_tb.sv
  fpga/usrp3/lib/rfnoc/sine_tone.v
  host/lib/rfnoc/siggen_block_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add documentation to chdr_xb_routing_table
  fpga/usrp3/lib/rfnoc/crossbar/chdr_xb_routing_table.v
Due: none

mpm: x4xx: Allow GPIO0 and GPIO1 as port names
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml

docs: Align dependencies and bump deb package versions
  host/docs/build.dox.in
  host/docs/install.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: Shorten line length for Launchpad linter
  fpga/usrp3/top/b200/planahead/planahead.runs/impl_1/rundef.js
Due: none

uhd: update num_recv_frames calculation for ctrl links
  host/lib/include/uhdlib/transport/udp_common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add labels to axi_switch generate blocks
  fpga/usrp3/lib/rfnoc/crossbar/axis_switch.v
Due: none

tests: Use reference type to prevent copy
  host/tests/blockdef_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x410: correct 100GbE link speed
  fpga/usrp3/top/x400/dts/x410-100gbe-port0.dtsi
  fpga/usrp3/top/x400/dts/x410-100gbe-port1.dtsi
Due: none

mpm: x4xx: add DIO GPIO API configuration methods
  mpm/python/usrp_mpm/periph_manager/x4xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml

fixup! host: x4xx: Implement GPIO API
  host/lib/usrp/x400/x400_radio_control.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add GPIO functions to MPM RPC shim
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: x4xx: Document configuring eth0 static IP
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

python: multi_usrp: Add set_rx_spp()
  host/lib/usrp/multi_usrp_python.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix spelling errors
  host/lib/rfnoc/blockdef_xml_impl.cpp
  host/lib/usrp/dboard/twinrx/twinrx_experts.cpp
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/utils/ihex.cpp
  host/utils/b2xx_fx3_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Fix printw function arguments
  host/utils/latency/lib/Responder.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Use reference type to prevent copy
  host/lib/rfnoc/async_msg_handler.cpp
  host/lib/rfnoc/sink_block_ctrl_base.cpp
  host/lib/rfnoc/source_block_ctrl_base.cpp
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/dboard/db_tvrx.cpp
  host/lib/usrp/n230/n230_impl.cpp
  host/lib/usrp/x300/x300_radio_ctrl_impl.cpp
  host/tests/blockdef_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

B200: Re-sync times
  host/lib/usrp/b200/b200_impl.cpp
  host/lib/usrp/b200/b200_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

tools: Fix rfnoc dissector build
  tools/dissectors/epan/rfnoc/packet-rfnoc.cpp
Due: none

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker
