Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - job: build
    timeoutInMinutes: 600
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        qemux86-64: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    variables:
      MENDER_ARTIFACT_NAME: $(Build.BuildNumber)_$(System.JobName)
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - job: Build_OE_packages
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 10
    strategy:
      matrix:
        x4xx-rev2: {}
    pool:
      name: de-dre-lab
      demands:
      - openembedded
      - Agent.Name -equals oss-build3
    steps:
    - script: env
      displayName: Print environment
  ...

.ci/uhd-pipeline.yml:
  stages:
  - stage: build_uhd_stage
    displayName: Build UHD
    jobs:
    - template: templates/job-get-latest-uhd-docker.yml
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: make
    - template: templates/job-uhd-build-src.yml
      parameters:
        toolset: ninja
  ...

images: Update manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml

tests: Make python_api_test.py always explicitly call Python
  host/tests/devtest/python_api_test.py
  host/tests/devtest/uhd_test_base.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: gpsd_iface: Make GPGGA generation more robust
  mpm/python/usrp_mpm/gpsd_iface.py
Due: .ci/oe-x4xx-packages.yml

rfnoc: Fix post action behavior of nodes
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

dboard_iface: Fix sleep()
  host/lib/usrp/dboard_iface.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

multi_usrp: Factor out make_overall_tune_range() and fix limits
  host/lib/include/uhdlib/usrp/multi_usrp_utils.hpp
  host/lib/usrp/multi_usrp.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

devtest: benchmark_rate: Add support for rx and tx only tests
  host/tests/devtest/benchmark_rate_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cal: Fix minor issues in the calibration utilities
  host/python/uhd/usrp/cal/meas_device.py
  host/python/uhd/usrp/cal/switch.py
  host/python/uhd/usrp/cal/usrp_calibrator.py
  host/utils/uhd_power_cal.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

cal: Add min_freq and max_freq attributes to USRPCalibratorBase
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix part selection in setupenv
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: none

uhd: x400: Honor ENABLE_X400 component flag
  host/lib/usrp/x400/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: x4xx_bist: run spi_flash tests on both DBs
  mpm/python/x4xx_bist
Due: .ci/oe-x4xx-packages.yml

mpm: install cpld update scripts in runtime dir
  mpm/python/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml

docs: zbx: improve cpld update docs
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: usrp_x4xx: improve mb cpld update docs
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Update version
  host/cmake/Modules/UHDVersion.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

fpga: Update submodule pointer
  .gitmodules
Due: none

fpga: Update testbenches to work in ModelSim
  fpga/usrp3/lib/axi4s_sv/axi4s_remove_bytes_tb/axi4s_remove_bytes_tb.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/eth_ifc_all_tb.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/eth_ifc_tb.sv
  fpga/usrp3/top/n3xx/sim/dram_fifo/Makefile
  fpga/usrp3/top/n3xx/sim/dram_fifo_bist/Makefile
  fpga/usrp3/top/x300/sim/aurora_loopback/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo/Makefile
  fpga/usrp3/top/x300/sim/dram_fifo_bist/Makefile
  fpga/usrp3/top/x400/ip/eth_100g_bd/lbus_tb/Makefile
  fpga/usrp3/top/x400/sim/x4xx_qsfp_wrapper/Makefile
  fpga/usrp3/top/x400/sim/x4xx_qsfp_wrapper/x4xx_qsfp_wrapper_tb.sv
Due: none

fpga: tools: Add modelsim.ini to ModelSim calls
  fpga/usrp3/tools/make/viv_simulator.mak
  fpga/usrp3/tools/scripts/launch_modelsim.sh
  fpga/usrp3/tools/scripts/launch_vlint.sh
  fpga/usrp3/tools/scripts/setupenv_base.sh
Due: none

fpga: tools: Fix python2 reference in viv_ip_builder.mak
  fpga/usrp3/tools/make/viv_ip_builder.mak
Due: none

fpga: sim: Check for empty packet in clear_unused_bytes
  fpga/usrp3/sim/rfnoc/PkgEthernet.sv
Due: none

fpga: x400: Add makefiles for RF testbenches
  fpga/usrp3/tools/utils/testbenches.excludes
  fpga/usrp3/top/x400/rf/100m/Makefile.srcs
  fpga/usrp3/top/x400/rf/200m/Makefile.srcs
  fpga/usrp3/top/x400/rf/400m/Makefile.srcs
  fpga/usrp3/top/x400/rf/common/Makefile.srcs
  fpga/usrp3/top/x400/rf/testbench/Makefile
  fpga/usrp3/top/x400/rf/testbench/rf_all_tb.sv
Due: none

fpga: tools: Add ip target to simulation makefiles
  fpga/docs/usrp3/sim/running_testbenches.md
  fpga/usrp3/tools/make/viv_simulator.mak
Due: none

fpga: tools: Detect assertions in ModelSim simulation
  fpga/usrp3/tools/scripts/launch_modelsim.sh
Due: none

fpga: tools: Add features to run_testbenches.py
  fpga/usrp3/tools/utils/run_testbenches.py
Due: none

fpga: tools: Add modelsim.excludes
  fpga/usrp3/tools/utils/modelsim.excludes
Due: none

fpga: tools: Support new FPGA types in viv_simulator.mak
  fpga/usrp3/tools/make/viv_simulator.mak
Due: none

fpga: tools: Put SIM_SRCS at end of compile order
  fpga/usrp3/tools/scripts/launch_vlint.sh
Due: none

x400: sim: Move testbenches to sim folder
  fpga/usrp3/top/x400/rf/sim/Makefile
  fpga/usrp3/top/x400/rf/sim/rf_all_tb.sv
  fpga/usrp3/top/x400/rf/sim/tb_adc_gearbox_2x1.vhd
  fpga/usrp3/top/x400/rf/sim/tb_adc_gearbox_2x4.vhd
  fpga/usrp3/top/x400/rf/sim/tb_adc_gearbox_8x4.vhd
  fpga/usrp3/top/x400/rf/sim/tb_capture_sysref.vhd
  fpga/usrp3/top/x400/rf/sim/tb_dac_gearbox_12x8.vhd
  fpga/usrp3/top/x400/rf/sim/tb_dac_gearbox_4x2.vhd
  fpga/usrp3/top/x400/rf/sim/tb_dac_gearbox_6x12.vhd
  fpga/usrp3/top/x400/rf/sim/tb_ddc_400m_saturate.vhd
  fpga/usrp3/top/x400/rf/sim/tb_duc_400m_saturate.vhd
  fpga/usrp3/top/x400/rf/sim/tb_rf_nco_reset.vhd
  fpga/usrp3/top/x400/rf/sim/tb_rf_reset_controller.vhd
Due: none

usrp2: Fix Boost headers
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

uhd: Add callback for setting sync_sources
  host/include/uhd/rfnoc/mb_controller.hpp
  host/lib/include/uhdlib/usrp/common/mpmd_mb_controller.hpp
  host/lib/rfnoc/mb_controller.cpp
  host/lib/usrp/mpmd/mpmd_mb_controller.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

test: add DPDK option for max streaming rate tests
  host/tests/streaming_performance/run_E3xx_max_rate_tests.py
  host/tests/streaming_performance/run_N3xx_max_rate_tests.py
  host/tests/streaming_performance/run_X3xx_max_rate_tests.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

mpm: tests: Add lib/ to library load path
  mpm/python/tests/CMakeLists.txt
Due: .ci/oe-x4xx-packages.yml

uhd: Add missing channel parameter when reading power ref keys
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: usrp_x4xx: apply minor corrections in docs
  host/docs/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: zbx: update cpld source code location
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

usrp2: Apply minor cleanups to Boost usage in usrp2
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Fix typos
  host/include/uhd/property_tree.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

usrp2: Replace boost::math::iround/math::sign with std::lround
  host/lib/usrp/usrp2/usrp2_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

docs: Fix python3-ruamel.yaml name on RPM based OS
  host/docs/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline.yml: any of: host, .ci/uhd-pipeline.yml
