Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

ci: change gr-ettus ref to master
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: radio: Make spp depend on atomic item size
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Remove ZBX phase sync documentation
  host/docs/zbx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

rfnoc: Rename property_propagation_active to is_forward_edge
  host/include/uhd/rfnoc/graph_edge.hpp
  host/lib/include/uhdlib/rfnoc/graph.hpp
  host/lib/rfnoc/graph.cpp
  host/lib/rfnoc/rfnoc_python.hpp
  host/tests/rfnoc_block_tests/ddc_block_test.cpp
  host/tests/rfnoc_block_tests/duc_block_test.cpp
  host/tests/rfnoc_block_tests/fir_filter_block_test.cpp
  host/tests/rfnoc_block_tests/fosphor_block_test.cpp
  host/tests/rfnoc_block_tests/moving_average_block_test.cpp
  host/tests/rfnoc_block_tests/replay_block_test.cpp
  host/tests/rfnoc_block_tests/window_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_detailgraph_test.cpp
  host/tests/rfnoc_propprop_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Add CompatNumber utility class
  mpm/python/tests/compatnum_tests.py
  mpm/python/tests/run_unit_tests.py
  mpm/python/usrp_mpm/__init__.py.in
  mpm/python/usrp_mpm/compat_num.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

cal: add method to get the current power cal tracking mode
  host/lib/include/uhdlib/usrp/common/pwr_cal_mgr.hpp
  host/lib/usrp/common/pwr_cal_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: xportmgr_udp: Include iface name in info
  mpm/python/usrp_mpm/xports/xportmgr_udp.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

examples: Fix rfnoc_replay_samples_from_file
  host/examples/rfnoc_replay_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

doc: Fix generation of man pages
  host/docs/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

multi_usrp.cpp cleanup: removed commented out code
  host/lib/usrp/multi_usrp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: log: Add UHD_LOG_THROW() macro
  host/include/uhd/utils/log.hpp
  host/tests/log_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: Introduce fpga_features set
  mpm/python/usrp_mpm/periph_manager/base.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

images: Update manifest with latest cpld firmware
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: call powerbtn multiple times to power on
  .ci/utils/mutex_hardware.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Update README.md
  README.md
Due: none

mpm: Factor out transport API into PeriphManagerBase
  mpm/python/usrp_mpm/periph_manager/base.py
  mpm/python/usrp_mpm/periph_manager/e31x.py
  mpm/python/usrp_mpm/periph_manager/e320.py
  mpm/python/usrp_mpm/periph_manager/n3xx.py
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

lib: Add compat_num class
  host/lib/include/uhdlib/utils/compat_check.hpp
  host/tests/CMakeLists.txt
  host/tests/compat_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fixup! uhd: add support for max10 variants
  mpm/python/usrp_mpm/chips/max10_cpld_flash_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

mpm: add support for lattice zbx cpld
  mpm/python/usrp_mpm/dboard_manager/zbx_update_cpld.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

REVERT images: zbx lattice cpld image manifest
  fpga/usrp3/tools/utils/image_package_mapping.py
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

N320: Revert PLL lock time reduction
  mpm/python/usrp_mpm/dboard_manager/lmk_rh.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml

uhd: Prepare branch for 4.1.0.6-rc1 release
  CHANGELOG
  host/cmake/Modules/UHDVersion.cmake
  host/cmake/debian/changelog
  images/manifest.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

e3xx: change radio_control_impl mutex to be a recursive_mutex
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.cpp
  host/lib/usrp/dboard/e3xx/e3xx_radio_control_impl.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

spi: Replace old signal names with up to date ones
  host/docs/x400_gpio_api.dox
  host/examples/spi.cpp
  host/include/uhd/features/spi_getter_iface.hpp
  host/lib/include/uhdlib/usrp/cores/spi_core_4000.hpp
  host/lib/usrp/cores/spi_core_4000.cpp
  host/lib/usrp/x400/x400_radio_control.cpp
  host/lib/usrp/x400/x400_radio_control.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: Add READMEs describing Lattice and ADI IP sourcing
  fpga/usrp3/lib/vivado_ipi/README.adi
  fpga/usrp3/lib/white_rabbit/wr_cores_v4_2/ip_cores/general-cores/modules/wishbone/wb_lm32/README.lattice
Due: none

ci: add devtest e320 support
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/tests/rhombus-labgrid/crossbar/places.yaml
  .ci/templates/tests/rhombus-labgrid/device-configs/rhombus-e320-0.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
  .ci/utils/httpd.py
  .ci/utils/mutex_hardware.py
  .ci/utils/tftp.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ifaces: Publish antenna_iface and nameless_gain_mixin
  host/include/uhd/rfnoc/rf_control/CMakeLists.txt
  host/include/uhd/rfnoc/rf_control/antenna_iface.hpp
  host/include/uhd/rfnoc/rf_control/nameless_gain_mixin.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/rfnoc/rf_control/antenna.cpp
  host/lib/rfnoc/rf_control/nameless_gain_mixin.cpp
  host/tests/CMakeLists.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Use error_code instead of return_code in stderr
  host/examples/rx_samples_c.c
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Update error call for undefined RW mode
  fpga/usrp3/lib/control/ram_2port_impl.vh
Due: none

fixup! uhd: change default into option flag in register definition
  host/lib/ic_reg_maps/common.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: zbx: Update HTML regmap
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_right.htm
Due: none

experts: Move expert framework into public API
  host/include/uhd/CMakeLists.txt
  host/include/uhd/experts/CMakeLists.txt
  host/include/uhd/experts/expert_container.hpp
  host/include/uhd/experts/expert_factory.hpp
  host/include/uhd/experts/expert_nodes.hpp
  host/lib/experts/expert_container.cpp
  host/lib/experts/expert_factory.cpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_expert.hpp
  host/lib/usrp/dboard/db_twinrx.cpp
  host/lib/usrp/dboard/twinrx/twinrx_experts.hpp
  host/lib/usrp/dboard/zbx/zbx_dboard_init.cpp
  host/tests/expert_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
