Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

.ci/oe-for-host.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - qemux86_64
      checkout_meta_ettus: true
      targets:
      - $(Image)
      - package-index
      - package-feed
      auto_conf: $AUTO_CONF
      prebuild_steps:
      - script: rm -f $AUTO_CONF
  ...

.ci/oe-x4xx-packages.yml:
  jobs:
  - template: .ci/templates/job_build_package.yml@meta-ettus
    parameters:
      machines:
      - x4xx
      checkout_meta_ettus: true
      targets:
      - uhd:do_package_write_ipk
      - uhd:do_run_tests
      - mpmd:do_package_write_ipk
      - gnuradio:do_package_write_ipk
  ...

.ci/uhd-build-docker-container.yml:
  schedules:
  - cron: 0 18 * * SAT
    displayName: Weekly Docker Build master branch
    branches:
      include:
      - master
    always: true
  - cron: 0 22 * * SAT
    displayName: Weekly Docker Build UHD-4.1 branch
    branches:
      include:
      - UHD-4.1
    always: true
  - cron: 0 2 * * SUN
  ...

.ci/uhd-pipeline-pr.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      custom_boost_version: ${{ parameters.custom_boost_version }}
      custom_boost_version_url: ${{ parameters.custom_boost_version_url }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

.ci/uhd-pipeline.yml:
  extends:
    template: templates/stages-uhd-pipeline.yml
    parameters:
      build_linux: ${{ parameters.build_linux }}
      build_mac: ${{ parameters.build_mac }}
      build_win: ${{ parameters.build_win }}
      release_binaries: ${{ parameters.release_binaries }}
  ...

fpga: Fix overflows in quarterrate downconverter
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/quarter_rate_downconverter.v
Due: none

ci: Replace Rhombus E320
  .ci/templates/job-uhd-devtest-rhombus.yml
  .ci/templates/tests/rhombus-labgrid/exporter-conf/exporter.yaml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Fix typo in Python API dox file
  host/docs/pythonapi.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

rfnoc: streamers: Fix scaling factor
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: rfdc: Add X4xx 125e6 master clock rate
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

examples: rx_samples_to_file: Add multichannel option
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: devtest: Test E320 1G FPGA Image
  .ci/templates/job-uhd-devtest-rhombus.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix build with DPDK v22.11 LTS
  host/lib/include/uhdlib/transport/dpdk/common.hpp
  host/lib/transport/uhd-dpdk/dpdk_common.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rx_samples_to_file: Add disk write speed check
  host/examples/rx_samples_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add clang-format 14.0 to the Ubuntu 22.04 container
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml

host: ADC cal: Add ability to set calibration mode explicitly
  host/lib/include/uhdlib/usrp/common/rpc.py
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/usrp/x400/adc_self_calibration.cpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
  mpm/python/usrp_mpm/periph_manager/x4xx_rfdc_ctrl.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: cal: Rearrange ADC self calibration routine
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/null_dboard.hpp
  host/lib/include/uhdlib/usrp/dboard/x400_dboard_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_dboard.hpp
  host/lib/usrp/dboard/zbx/zbx_dboard.cpp
  host/lib/usrp/x400/adc_self_calibration.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Add align_samples module
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/Makefile.srcs
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/align_samples.sv
Due: none

fpga: lib: Support time and data updates in sim_radio_gen
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/sim_radio_gen.sv
Due: none

fpga: rfnoc: Add timed sample alignment to radio
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_rx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_tx_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
Due: none

fpga: sim: Fix typo in clk_wait_f
  fpga/usrp3/sim/rfnoc/sim_clock_gen.sv
Due: none

lib: Fix warning in ctrlport_endpoint.cpp
  host/lib/rfnoc/ctrlport_endpoint.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: rfnoc: Fix Doxygen warnings on chdr_packet::set_metadata()
  host/include/uhd/utils/chdr/chdr_packet.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: Add multi-spc timed command tests
  host/tests/devtest/devtest_e320.py
  host/tests/devtest/devtest_e3xx.py
  host/tests/devtest/devtest_n3x0.py
  host/tests/devtest/devtest_x3x0.py
  host/tests/devtest/devtest_x4x0.py
  host/tests/devtest/rx_multi_spc_timed_commands_test.py
  host/tests/devtest/tx_multi_spc_timed_commands_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest - timed sample alignment in RFNoC
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Fix build with GCC 13 (add missing <cstdint> include)
  host/include/uhd/cal/database.hpp
  host/include/uhd/rfnoc/defaults.hpp
  host/include/uhd/types/eeprom.hpp
  host/include/uhd/usrp/zbx_tune_map_item.hpp
  host/lib/usrp/dboard/magnesium/magnesium_constants.hpp
  host/lib/usrp/dboard/rhodium/rhodium_constants.hpp
  host/lib/utils/serial_number.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: docs: Fix AR76780 dependency
  fpga/docs/usrp3/build_instructions.md
Due: none

lib: topo graph: Fix rule-of-3 related compiler warnings
  host/lib/include/uhdlib/rfnoc/topo_graph.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Remove references to white rabbit
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

ci: Update docker repo location
  .ci/templates/job-gnuradio-grettus-build-src.yml
  .ci/templates/job-uhd-build-installer.yml
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/job-uhd-package-src.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Fix error detection in run_testbenches.py
  fpga/usrp3/tools/utils/run_testbenches.py
Due: none

fpga: lib: Add verilog-compatible wrapper for eth_ipv4_chdr_adapter
  fpga/usrp3/lib/rfnoc/xport_sv/Makefile.srcs
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter_wrapper.sv
Due: none

fpga: lib: Add ZPU support to SV transport adapter
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/eth_ifc_all_tb.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_interface_tb/eth_ifc_tb.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_adapter.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_chdr_dispatch.sv
  fpga/usrp3/lib/rfnoc/xport_sv/eth_ipv4_interface.sv
Due: none

fpga: lib: Update header for AXI4S add/remove bytes
  fpga/usrp3/lib/axi4s_sv/axi4s_add_bytes.sv
  fpga/usrp3/lib/axi4s_sv/axi4s_remove_bytes.sv
Due: none

fpga: lib: Fix indentation in setting_reg.v
  fpga/usrp3/lib/control/setting_reg.v
Due: none

fpga: x300: Bump FPGA compat to 39.1
  fpga/usrp3/top/x300/bus_int.v
Due: none

x300: Respect X300_FW_COMMS_FLAGS_ARP_FAIL flag
  host/lib/usrp/x300/x300_fw_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Update firmware for TA control
  firmware/usrp3/x300/x300_defs.h
  firmware/usrp3/x300/x300_init.c
  firmware/usrp3/x300/x300_main.c
  fpga/usrp3/top/x300/ip/bootram/bootram.coe
  host/lib/usrp/x300/x300_fw_common.h
  host/lib/usrp/x300/x300_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Enable use of advanced transport adapters
  host/lib/usrp/x300/x300_impl.cpp
  host/lib/usrp/x300/x300_impl.hpp
  host/lib/usrp/x300/x300_mb_iface.cpp
  host/lib/usrp/x300/x300_regs.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x300: Support advanced transport adapter
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x300/bus_int.v
  fpga/usrp3/top/x300/x300_eth_interface.v
Due: none

usrp: Add xport_adapter_ctrl core
  host/lib/include/uhdlib/usrp/cores/xport_adapter_ctrl.hpp
  host/lib/usrp/cores/CMakeLists.txt
  host/lib/usrp/cores/xport_adapter_ctrl.cpp
  host/tests/CMakeLists.txt
  host/tests/xport_adapter_ctrl_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Update manual for X3x0 raw UDP streaming
  host/docs/stream.dox
  host/docs/usrp_x3x0.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

manifest: Update FPGA images
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: rfnoc: Add align_samples testbench
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/align_samples_tb/Makefile
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/align_samples_tb/align_samples_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/align_samples_tb/align_samples_tb.sv
Due: none

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
