Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

ci: Disable building installer packages for ubuntu questing
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_modtool: Fix make_var entry in YAML wizard
  host/python/uhd/rfnoc_utils/templates/blocktool/descriptor.yml.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: hwtest: x420: enable nonRF + systemimage tests
  .ci/templates/tests/job-uhd-x420-hardware-tests-s175.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix missing db_idx to sample/pcr rate rpc calls
  host/lib/include/uhdlib/usrp/common/x400_rpc_iface.hpp
  host/lib/include/uhdlib/usrp/dboard/debug_dboard.hpp
  host/lib/usrp/common/mpm_server.proto
  host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_hbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: phase-coherency test: disabled
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Add reset behaviour for AXIS BFM master
  fpga/usrp3/sim/rfnoc/PkgAxiStreamBfm.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

common: add c++ support for lmk04832
  host/lib/include/uhdlib/usrp/common/lmk04832.hpp
  host/lib/usrp/common/CMakeLists.txt
  host/lib/usrp/common/lmk04832.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lmk04832: add note about code duplication
  host/lib/usrp/common/lmk04832.cpp
  mpm/python/usrp_mpm/chips/lmk04832.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lmk05318: add sleep before busy check
  host/lib/usrp/common/lmk05318.cpp
  mpm/python/usrp_mpm/chips/lmk05318.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

lmk05318: add note about code duplication
  host/lib/usrp/common/lmk05318.cpp
  mpm/python/usrp_mpm/chips/lmk05318.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

common: add c++ support for lmk05318
  host/lib/include/uhdlib/usrp/common/lmk05318.hpp
  host/lib/usrp/common/CMakeLists.txt
  host/lib/usrp/common/lmk05318.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: increase timeout for non-JL chips
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: update regex to not require comma
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps: add member for flushing buffer
  host/lib/include/uhdlib/usrp/gps_ctrl.hpp
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

gps_ctrl: accept other constellation messages
  host/lib/usrp/gps_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

common: add support for UBLOX communication
  host/lib/include/uhdlib/usrp/common/ublox_msg_helper.hpp
  host/lib/usrp/common/CMakeLists.txt
  host/lib/usrp/common/ublox_msg_helper.cpp
  host/tests/CMakeLists.txt
  host/tests/ublox_msg_helper_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

common: add implementation for ina231 monitor
  host/lib/include/uhdlib/usrp/common/ina231.hpp
  host/lib/usrp/common/CMakeLists.txt
  host/lib/usrp/common/ina231.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: rfnoc-gain: Remove IN_TREE_IP option
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/Makefile
  host/examples/rfnoc-gain/rfnoc/fpga/gain/rfnoc_block_gain/rfnoc_block_gain.sv
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga/usrp3: Remove various unused IP
  fpga/usrp3/lib/ip/Makefile.inc
  fpga/usrp3/lib/ip/complex_multiplier/Makefile.inc
  fpga/usrp3/lib/ip/complex_multiplier/complex_multiplier.xci
  fpga/usrp3/lib/ip/dds/Makefile.inc
  fpga/usrp3/lib/ip/dds/dds.xci
  fpga/usrp3/lib/rfnoc/Makefile.srcs
  fpga/usrp3/lib/rfnoc/cmul.v
  fpga/usrp3/top/e31x/ip/Makefile.inc
  fpga/usrp3/top/e320/ip/Makefile.inc
  fpga/usrp3/top/n3xx/ip/Makefile.inc
  fpga/usrp3/top/x300/ip/Makefile.inc
  fpga/usrp3/top/x300/ip/input_sample_fifo/Makefile.inc
  fpga/usrp3/top/x300/ip/input_sample_fifo/input_sample_fifo.xci
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x4xx: SelfCal: honor skip_adc_selfcal during clock reconfiguration
  mpm/python/usrp_mpm/periph_manager/x4xx_clock_mgr.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

i2c: allow for multi-byte eeprom offset
  host/lib/include/uhdlib/usrp/cores/i2c_core_100_wb32.hpp
  host/lib/usrp/cores/i2c_core_100_wb32.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

i2c: fix class name duplication
  host/lib/usrp/cores/i2c_core_100_wb32.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

i2c: allow for setting custom i2c_datarate
  host/lib/include/uhdlib/usrp/cores/i2c_core_100_wb32.hpp
  host/lib/usrp/cores/i2c_core_100_wb32.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: macos: build grpc before building UHD
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: Use VHDL 2008 in Vivado
  fpga/usrp3/tools/scripts/viv_ip_utils.tcl
  fpga/usrp3/tools/scripts/viv_sim_project.tcl
  fpga/usrp3/tools/scripts/viv_utils.tcl
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: Fix coherency issues in ctrlport_reg
  fpga/usrp3/lib/rfnoc/utils/ctrlport_reg_ro.v
  fpga/usrp3/lib/rfnoc/utils/ctrlport_reg_rw.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: check-filesystem: correct condition for mpm init successful
  mpm/tools/check-filesystem
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: fix intermittent "Socket closed" / "Invalid token" RPC failures
  host/lib/usrp/common/mpm_client.cpp.mako
  host/lib/usrp/common/mpm_client.hpp.mako
  host/lib/usrp/mpmd/mpmd_mboard_impl.cpp
  host/tests/rfnoc_block_tests/x4xx_fbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_hbx_mpm_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_zbx_mpm_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: enable phase-coherency test
  .ci/templates/stages-uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Fix SPI pin offset for Port B
  host/lib/include/uhdlib/usrp/cores/spi_core_4000.hpp
  host/lib/usrp/cores/spi_core_4000.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x420: lower FPGA max input delay on GPIO interface
  fpga/usrp3/top/x400/constraints/timing/shared_constants.sdc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add script to dynamically derive subsets of matrix variables
  .ci/utils/derive_docker_image_matrix.py
  .ci/utils/tests/inputs/DockerImageNames/DockerImageNames
  .ci/utils/tests/test_derive_docker_image_matrix.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Use python script to create some filtered matrix variable values
  .ci/templates/job-get-latest-uhd-docker.yml
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: lib: add Xilinx parameterized macro version of axi_fifo_2clk
  fpga/usrp3/lib/fifo/Makefile.srcs
  fpga/usrp3/lib/fifo/axi_fifo_2clk.v
  fpga/usrp3/lib/fifo/fifo_xpm_2clk.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Fix cleanup waterfall memory leak in rx_samples_c
  host/examples/rx_samples_c.c
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc_image_core: configurable CHDR block width per streaming endpoint
  host/docs/rfnoc/rfnoc_tools.md
  host/include/uhd/rfnoc/core/rfnoc_imagebuilder_args.json
  host/python/uhd/rfnoc_utils/builder_config.py
  host/python/uhd/rfnoc_utils/templates/modules/rfnoc_block.v.mako
  host/python/uhd/rfnoc_utils/templates/modules/stream_endpoints.v.mako
  host/python/uhd/rfnoc_utils/templates/rfnoc_image_core.sv.mako
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: update with gRPC documentation
  host/docs/devices/usrpctl.dox
  host/docs/installation/build.dox.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

CHANGELOG: add RPC migration to gRPC
  CHANGELOG
Due: none

host: cmake: add gprc/protobuf min version
  host/cmake/Modules/UHDMinDepVersions.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: docker: add gRPC/protobuf version in vcpkg.txt
  .ci/docker/vcpkg/vcpkg-vc2026.txt
  .ci/docker/vcpkg/vcpkg.txt
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml
