Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-pipeline-pr.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, .ci, images/manifest.txt, but not: .ci/docker

uhd: rfnoc: Let connect_through_blocks() return edge list
  host/include/uhd/utils/graph_utils.hpp
  host/lib/utils/graph_utils.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Change yaml dependency to ruamel
  .ci/docker/uhd-builder-fedora34.Dockerfile
  .ci/docker/uhd-builder-fedora35.Dockerfile
  .ci/docker/uhd-builder-ubuntu1804.Dockerfile
  .ci/docker/uhd-builder-ubuntu2004.Dockerfile
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

ci: Add support for Ubuntu 22.04
  .ci/docker/uhd-builder-ubuntu2204.Dockerfile
  .ci/uhd-build-docker-container.yml
  tools/debs/uhd_ubuntu_deb.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Remove Fedora 33 and add Fedora 35
  .ci/docker/uhd-builder-fedora35.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

systemd: enable tx flow control automatically
  mpm/systemd/network/sfp0.network
  mpm/systemd/network/sfp1.network
Due: .ci/oe-x4xx-packages.yml

math: fp_compare: Adapt fp_compare_epsilon API to actual use
  host/include/uhd/utils/fp_compare_epsilon.ipp
  host/include/uhd/utils/math.hpp
  host/tests/fp_compare_epsilon_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Harmonize fuzzy frequency comparisons
  host/include/uhd/utils/math.hpp
  host/lib/usrp/dboard/e3xx/e3xx_bands.cpp
  host/lib/usrp/dboard/magnesium/magnesium_bands.cpp
  host/lib/usrp/dboard/magnesium/magnesium_radio_control.cpp
  host/lib/usrp/dboard/rhodium/rhodium_bands.cpp
  host/lib/usrp/dboard/rhodium/rhodium_constants.hpp
  host/lib/usrp/dboard/rhodium/rhodium_cpld_ctrl.cpp
  host/lib/usrp/x300/x300_clock_ctrl.cpp
  host/tests/fp_compare_epsilon_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

images: Update manifest
  images/manifest.txt
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x4xx: Update FPGA minor compat number
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml

fpga: x400: Add axi_inter_4x64_512_bd IP
  fpga/usrp3/top/x400/ip/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_4x64_512_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_4x64_512_bd/axi_inter_4x64_512_bd.tcl
Due: none

fpga: x400: Add DRAM support
  fpga/usrp3/top/x400/Makefile
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/x4xx.v
  fpga/usrp3/top/x400/x4xx_core.v
  fpga/usrp3/top/x400/x4xx_dram.v
  host/include/uhd/rfnoc/core/x410_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: ci: Increase PR pipeline timeout
  fpga/.ci/x4xx-pr-check.yml
Due: none

fpga: x400: Bump minor version
  fpga/usrp3/top/x400/doc/X4XX_FPGA_right.htm
  fpga/usrp3/top/x400/regmap/versioning_regs_regmap_utils.vh
  fpga/usrp3/top/x400/x4xx.v
Due: none

fpga: x400: Update rfnoc_image_core files
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_100_static_router.hex
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.vh
  fpga/usrp3/top/x400/x410_200_static_router.hex
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.v
  fpga/usrp3/top/x400/x410_400_rfnoc_image_core.vh
Due: none

utils: Add space to rfnoc_image_builder help
  host/utils/rfnoc_image_builder.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Add Replay to 100 and 200 MHz images
  fpga/usrp3/top/x400/x410_100_rfnoc_image_core.yml
  fpga/usrp3/top/x400/x410_200_rfnoc_image_core.yml
Due: none

fpga: x400: Set DRAM speed to 2.0 GT/s
  fpga/usrp3/top/x400/ip/ddr4_64bits/ddr4_64bits.xci
Due: none

fpga: x400: Add axi_inter_2x128_512_bd IP
  fpga/usrp3/top/x400/ip/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_2x128_512_bd/Makefile.inc
  fpga/usrp3/top/x400/ip/axi_inter_2x128_512_bd/axi_inter_2x128_512_bd.tcl
Due: none

rfnoc: Rename and enlarge axi4_mm IO signature
  host/include/uhd/rfnoc/blocks/axi_ram_fifo.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo_2x64.yml
  host/include/uhd/rfnoc/blocks/axi_ram_fifo_4x64.yml
  host/include/uhd/rfnoc/blocks/replay.yml
  host/include/uhd/rfnoc/core/e320_bsp.yml
  host/include/uhd/rfnoc/core/io_signatures.yml
  host/include/uhd/rfnoc/core/n300_bsp.yml
  host/include/uhd/rfnoc/core/n310_bsp.yml
  host/include/uhd/rfnoc/core/n320_bsp.yml
  host/include/uhd/rfnoc/core/x300_bsp.yml
  host/include/uhd/rfnoc/core/x310_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cmake: Remove libatomic check on macOS
  host/cmake/Modules/UHDAtomics.cmake
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Minor cleanups in property_tree code
  host/include/uhd/property_tree.hpp
  host/include/uhd/property_tree.ipp
  host/lib/property_tree.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Throw exception when accessing properties with incorrect type
  host/include/uhd/property_tree.hpp
  host/include/uhd/property_tree.ipp
  host/lib/property_tree.cpp
  host/tests/property_test.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Add mpm folder to triggers
  .ci/uhd-pipeline-pr.yml
  .ci/uhd-pipeline.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: flash fpga on x410 ATS runs
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-pebbles.yml
  .ci/templates/tests/job-uhd-x4xx-hardware-tests-sdr-test0.yml
  .ci/templates/tests/templates/job-uhd-x4xx-hardware-tests.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Enable ctest on macOS builds
  .ci/templates/job-uhd-build-src.yml
  .ci/templates/steps-build-uhd-make-homebrew-macos.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: add device name to discovery process
  mpm/python/usrp_mpm/discovery.py
  mpm/python/usrp_mpm/mpmtypes.py
  mpm/python/usrp_mpm/rpc_server.py
Due: .ci/oe-x4xx-packages.yml

images: Revert x4xx manifest and FPGA compat update
  images/manifest.txt
  mpm/python/usrp_mpm/periph_manager/x4xx.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: cpld: Bump CMI wrapper copyright
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmi.vhd
  fpga/usrp3/top/x400/cpld/ip/cmi/PcieCmiWrapper.vhd
Due: none

fpga: x400: zbx: cpld: Bump ZBX regmap copyright
  fpga/usrp3/top/x400/dboards/zbx/cpld/doc/ZBX_CPLD_right.htm
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/atr_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/basic_regs_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/db_control_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/dsa_setup_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/gpio_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/led_setup_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/lo_control_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/power_regs_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/spi_regmap_utils.vh
  fpga/usrp3/top/x400/dboards/zbx/cpld/regmap/switch_setup_regmap_utils.vh
Due: none

fpga: b2xx: Generate utilization report files
  fpga/usrp3/top/b200/Makefile
  fpga/usrp3/top/b2xxmini/Makefile
Due: none

images: Add utilization report files to B2xx image files
  fpga/usrp3/tools/utils/image_package_mapping.py
Due: none

fpga: x400: Add DRAM enable macro
  fpga/usrp3/top/x400/x4xx_core.v
Due: none

fpga: rfnoc: Add BLANK_OUTPUT to FIR filter block's parameters
  fpga/usrp3/lib/rfnoc/axi_fir_filter.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/rfnoc_block_fir_filter.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_fir_filter/rfnoc_fir_filter_core.v
  host/include/uhd/rfnoc/blocks/fir_filter.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: e31x: Add DRAM support
  fpga/usrp3/top/e31x/Makefile
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.v
  fpga/usrp3/top/e31x/e310_rfnoc_image_core.vh
  fpga/usrp3/top/e31x/e31x.v
  fpga/usrp3/top/e31x/e31x_core.v
  fpga/usrp3/top/e31x/e31x_dram.v
  fpga/usrp3/top/e31x/ip/Makefile.inc
  fpga/usrp3/top/e31x/ip/axi_inter_2x64_128_bd/Makefile.inc
  fpga/usrp3/top/e31x/ip/axi_inter_2x64_128_bd/axi_inter_2x64_128_bd.tcl
  fpga/usrp3/top/e31x/ip/ddr3_16bit/Makefile.inc
  fpga/usrp3/top/e31x/ip/ddr3_16bit/ddr3_16bit.xci
  fpga/usrp3/top/e31x/ip/ddr3_16bit/mig_xc7z020clg484-1.prj
  fpga/usrp3/top/e31x/ip/ddr3_16bit/mig_xc7z020clg484-3.prj
  fpga/usrp3/top/e31x/ip/mig_7series_0/Makefile.inc
  host/include/uhd/rfnoc/core/e310_bsp.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Expose buffer parameters for DRAM FIFO block
  host/include/uhd/rfnoc/blocks/axi_ram_fifo.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: n3xx: Fix DRAM FIFO address alignment
  fpga/usrp3/top/n3xx/n300_bist_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_image_core.yml
Due: none

fpga: rfnoc: Change AWIDTH default for axi_ram_fifo
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_axi_ram_fifo/rfnoc_block_axi_ram_fifo.v
Due: none

docs: Remove full path names from Doxygen generation
  host/docs/Doxyfile.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline.yml

rfnoc: Fix spelling in property resolution error message
  host/lib/rfnoc/graph.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: Propagate downloader errors and lower timeout
  .ci/templates/steps-build-uhd-msbuild.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
