Repository EttusResearch/uhd: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Path conditions:
  .ci/oe-for-host.yml: any of: .ci, host
  .ci/oe-x4xx-packages.yml: any of: .ci, host, mpm, images/manifest.txt
  .ci/uhd-build-docker-container.yml: any of: .ci/docker, .ci/uhd-build-docker-container.yml
  .ci/uhd-pipeline-pr.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md
  .ci/uhd-pipeline.yml: any of: host, mpm, fpga, .ci, images/manifest.txt, but not: .ci/docker, host/docs, host/LICENSE, host/README.md

cal: Revert E320 tune time
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cal: Fix support for non-default sampling rate
  host/python/uhd/usrp/cal/meas_device.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cal: Fix missing input power clamp during RX power calibration
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

cal: Fix default E320 LO offset to keep signal within passband
  host/python/uhd/usrp/cal/usrp_calibrator.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: drop Fedora 40 builder
  .ci/docker/uhd-builder-fedora40.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add Fedora 43 builder
  .ci/docker/uhd-builder-fedora43.Dockerfile
  .ci/uhd-build-docker-container.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-build-docker-container.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Allow SubdevSpec to be implied from a string
  host/lib/usrp/subdev_spec_python.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: transport: Fix MTU cap in calculate_udp_link_params()
  host/lib/include/uhdlib/transport/udp_common.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Amend section on RFNoC block YAML files
  host/docs/rfnoc/rfnoc_tools.md
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

Step added to new mod test to run from read-only sources, adding a change of permission on copied files.
  host/cmake/Modules/create_newmod.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Replace boost::filesystem with with std::filesystem
  host/examples/CMakeLists.txt
  host/examples/txrx_loopback_to_file.cpp
  host/include/uhd/utils/paths.hpp
  host/lib/cal/database.cpp
  host/lib/image_loader.cpp
  host/lib/include/uhdlib/utils/paths.hpp
  host/lib/transport/nirio/lvbitx/template_lvbitx.cpp
  host/lib/usrp/b200/b200_iface.cpp
  host/lib/usrp/common/apply_corrections.cpp
  host/lib/usrp/mpmd/mpmd_image_loader.cpp
  host/lib/usrp/usrp2/n200_image_loader.cpp
  host/lib/usrp/usrp2/usrp2_iface.cpp
  host/lib/usrp/x300/x300_image_loader.cpp
  host/lib/usrp_clock/octoclock/octoclock_image_loader.cpp
  host/lib/usrp_clock/octoclock/octoclock_impl.cpp
  host/lib/utils/load_modules.cpp
  host/lib/utils/paths.cpp
  host/lib/utils/prefs.cpp
  host/tests/cal_database_test.cpp
  host/utils/CMakeLists.txt
  host/utils/b2xx_fx3_utils.cpp
  host/utils/latency/lib/Responder.cpp
  host/utils/query_gpsdo_sensors.cpp
  host/utils/uhd_image_loader.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

devtest: Increase offset cycles by complex gain latency for trigger_test
  host/tests/devtest/trigger_test.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Complex gain example using multi_usrp
  host/examples/CMakeLists.txt
  host/examples/txrx_complex_gain.cpp
  host/include/uhd/usrp/multi_usrp.hpp
  host/lib/usrp/multi_usrp.cpp
  host/lib/usrp/multi_usrp_python.cpp
  host/lib/usrp/multi_usrp_rfnoc.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Add complex gain feature
  host/include/uhd/features/CMakeLists.txt
  host/include/uhd/features/complex_gain_iface.hpp
  host/include/uhd/features/discoverable_feature.hpp
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/include/uhdlib/usrp/cores/complex_gain_3000.hpp
  host/lib/rfnoc/CMakeLists.txt
  host/lib/rfnoc/complex_gain_iface.cpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/lib/rfnoc/radio_control_python.hpp
  host/lib/usrp/cores/CMakeLists.txt
  host/lib/usrp/cores/complex_gain_3000.cpp
  host/tests/CMakeLists.txt
  host/tests/complex_gain_3000_test.cpp
  host/tests/rfnoc_block_tests/ferrum_radio_mock.hpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: fpga: radio: Add complex multiplier
  fpga/usrp3/lib/dsp/Makefile.srcs
  fpga/usrp3/lib/dsp/complex_multiply_stb.sv
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/Makefile
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/strobe_data_bfm_pkg.sv
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/strobe_data_if.sv
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/timed_complex_gain_tb.sv
  fpga/usrp3/lib/dsp/sim/timed_complex_gain_tb/timed_complex_gain_tb_all.sv
  fpga/usrp3/lib/dsp/timed_complex_gain.sv
  fpga/usrp3/lib/dsp/timed_complex_gain_regs.svh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/radio_core.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio.v
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_all_tb.sv
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_regs.vh
  fpga/usrp3/lib/rfnoc/blocks/rfnoc_block_radio/rfnoc_block_radio_tb.sv
  fpga/usrp3/sim/rfnoc/PkgCtrlIfaceBfm.sv
  fpga/usrp3/sim/rfnoc/PkgRfnocBlockCtrlBfm.sv
  fpga/usrp3/top/e31x/Makefile.e31x.inc
  fpga/usrp3/top/e320/Makefile.e320.inc
  fpga/usrp3/top/n3xx/Makefile.n3xx.inc
  fpga/usrp3/top/n3xx/n300_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n300_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n310_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_bist_rfnoc_image_core.yml
  fpga/usrp3/top/n3xx/n320_rfnoc_image_core.yml
  fpga/usrp3/top/x300/Makefile.x300.inc
  fpga/usrp3/top/x300/yaml_include/x3xx_radio_base.yml
  fpga/usrp3/top/x400/Makefile.x4xx.inc
  fpga/usrp3/top/x400/x440_X4_400_rfnoc_image_core.yml
  fpga/usrp3/top/x400/yaml_include/x410_radio_base.yml
  fpga/usrp3/top/x400/yaml_include/x440_radio_base.yml
  host/include/uhd/rfnoc/blocks/radio.yml
  host/lib/include/uhdlib/rfnoc/radio_control_impl.hpp
  host/lib/rfnoc/radio_control_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: Add timed complex gain to documentation
  CHANGELOG
  fpga/usrp3/top/x400/x440_X4_400_rfnoc_image_core.yml
  host/docs/devices/usrp_x4xx.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add tests for complex gain feature
  host/include/uhd/features/complex_gain_iface.hpp
  host/lib/rfnoc/radio_control_impl.cpp
  host/tests/complex_gain_3000_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_block_test.cpp
  host/tests/rfnoc_block_tests/x4xx_radio_mock.hpp
  host/tests/rfnoc_block_tests_on_target/test_radio_control_complex_gain.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: rfnoc block test: limit to fft block tests
  .ci/templates/steps-rfnoc-block-test.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

rfnoc: Add `mtu` stream argument
  CHANGELOG
  host/docs/driver_usage/stream.dox
  host/docs/driver_usage/transport.dox
  host/lib/include/uhdlib/transport/rx_streamer_impl.hpp
  host/lib/include/uhdlib/transport/rx_streamer_zero_copy.hpp
  host/lib/include/uhdlib/transport/tx_streamer_impl.hpp
  host/lib/rfnoc/rfnoc_rx_streamer.cpp
  host/lib/rfnoc/rfnoc_tx_streamer.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpmd: Enable `force_mtu` device argument
  host/docs/devices/usrp_e3xx.dox
  host/docs/devices/usrp_n3xx.dox
  host/docs/devices/usrp_x4xx.dox
  host/docs/driver_usage/configuration.dox
  host/lib/usrp/mpmd/mpmd_link_if_ctrl_udp.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

x300: Enable `force_mtu` device argument
  host/docs/devices/usrp_x3x0.dox
  host/lib/usrp/x300/x300_device_args.hpp
  host/lib/usrp/x300/x300_eth_mgr.cpp
  host/lib/usrp/x300/x300_eth_mgr.hpp
  host/lib/usrp/x300/x300_pcie_mgr.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: streaming: b200: add type to device arguments
  .ci/templates/job-uhd-streaming-tests-beauty.yml
  .ci/templates/job-uhd-streaming-tests-s175.yml
  .ci/templates/job-uhd-streaming-tests.yml
  host/tests/pytests/test_streaming.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

uhd: Remove remaining boost/assign.hpp includes
  host/lib/usrp/b200/b200_image_loader.cpp
  host/lib/usrp/b200/b200_impl.hpp
  host/utils/uhd_image_loader.cpp
  host/utils/usrp_burn_db_eeprom.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

docs: remove duplicate entry for system_ref_rate
  host/docs/driver_usage/configuration.dox
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml

example: cpp: Enhanced documentation for selected examples
  host/examples/benchmark_rate.cpp
  host/examples/latency_test.cpp
  host/examples/test_messages.cpp
  host/examples/test_timed_commands.cpp
  host/examples/tx_bursts.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

usrp1: Fix name of converters in property tree
  host/lib/usrp/usrp1/usrp1_impl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

example: Fixed check for LO lock on configured channels
  host/examples/txrx_loopback_to_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: tools: refactor Quartus warning check
  fpga/usrp3/tools/make/quartus_design_builder.mak
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

python: Fix license identifiers in Python projects
  host/python/pyproject.toml.in
  host/python/setup.py.in
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: add b210 to dre-s175 tests
  .ci/templates/job-uhd-devtest-s175.yml
  .ci/templates/job-uhd-devtest.yml
  .ci/templates/job-uhd-streaming-tests-s175.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x410: add regmap dummy for 100 MHz RF core
  fpga/usrp3/top/x400/rf/100m/rf_core_100m.v
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

host: Move ZBX LO power out of LO driver
  host/lib/include/uhdlib/usrp/common/lmx2572.hpp
  host/lib/include/uhdlib/usrp/dboard/zbx/zbx_lo_ctrl.hpp
  host/lib/usrp/common/lmx2572.cpp
  host/lib/usrp/dboard/zbx/zbx_lo_ctrl.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

mpm: x400: Add missing QSFP port configurations
  mpm/python/usrp_mpm/periph_manager/x4xx_periphs.py
Due: .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: fix channels default value
  host/examples/python/rx_to_file.py
  host/examples/python/tx_waveforms.py
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

ci: fix FPGA download for uhdlvtest
  .ci/templates/job-uhd-usrp-tests-uhdlvtest.yml
  .ci/templates/job-uhd-usrp-tests.yml
  .ci/templates/stages-uhd-pipeline.yml
  .ci/uhd-hardware-test-dev.yml
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

examples: Added continuous streaming to tx_samples_from_file.cpp
  host/examples/tx_samples_from_file.cpp
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: RPC: Fix double free in rpclib call function
  host/lib/deps/rpclib/include/rpc/client.h
  host/lib/deps/rpclib/include/rpc/client.inl
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

Host: format rpc client files before applying changes to it
  host/lib/deps/rpclib/include/rpc/client.h
  host/lib/deps/rpclib/include/rpc/client.inl
Due: .ci/oe-for-host.yml, .ci/oe-x4xx-packages.yml, .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: x400: Unset MGT LOC constraints before replacing them
  fpga/usrp3/top/x400/constraints/pins/qsfp0_0.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp0_1.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp0_2.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp0_3.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_0.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_1.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_2.xdc
  fpga/usrp3/top/x400/constraints/pins/qsfp1_3.xdc
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml

fpga: sim: Add wait_all_tb task to PkgTestExec
  fpga/usrp3/sim/rfnoc/PkgTestExec.sv
Due: .ci/uhd-pipeline-pr.yml, .ci/uhd-pipeline.yml
